{% extends "main.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W5HDZ7Z');</script>
  <!-- End Google Tag Manager -->
</head>


{% block content %}
<main class="auth layout">

  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <!-- <h1 style="font-family: 'Staatliches', cursive; text-align: left;">thethe9.com</h1> -->
          <h3>Login</h3>
        </div>
      </div>


      <div class="layout__body">

        
        

        {% get_providers as socialaccount_providers %}


        <form class="form" method="POST" action="{% url 'login' %}">
          {% csrf_token %}

          <div class="form__group form__group">
            <label for="id_login">ID</label>
            <input type="text" name="login" placeholder="e.g. thethe9" autocomplete="username" maxlength="150" required="" id="id_login">
          </div>

          <div class="form__group">
            <label for="id_password">비밀번호:</label>
            <input type="password" name="password" placeholder="••••••••" autocomplete="current-password" required="" id="id_password">
          </div>


          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <button class="btn btn--main" type="submit">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>lock</title>
              <path
                d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z">
              </path>
              <path d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"></path>
            </svg>
          
            Login
          </button>

        </form>

        <br>
        
        <div style="font-size: 1.2rem;">
      
          <!-- <a href="/naver/login/?process=login" role="button" class="btn btn btn-light" style="display:block"><i class="fab fa-naver"></i> Login with Naver</a> -->
          <!-- <a href="/google/login/?process=login" role="button" class="btn btn btn-light" style="display:block"><img src="{% static 'images/web_dark_sq_SU@4x.png' %}"  /></a> -->

          <!-- <a href="#/accouns/signup/?process=login&{{ redirect_field_name }}={{ redirect_field_value }}" role="button" class="btn btn btn-light my-1" style="display:block"><i class="far fa-envelope"></i> Sign
            Up by Email</a>
          -->
      
        </div>

        <!-- <div class="auth__action">
          <p>아직 회원가입을 안하셨다면?</p>
          <a href="{% url 'register' %}" class="btn btn--link">회원 가입</a>
        </div> -->
        <div class="auth__action">
          <p>서버 이슈로 당분간 '신규 회원가입' 기능을 제한합니다.
            <br>기존 회원분들은 로그인 후 이용해 주세요.
          </p>
          <p>&nbsp;</p>
        </div>
          
      </div>

      

    </div>
  </div>

</main>
{% endblock %}