<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />


  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>thethe9.com</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/number-9.png' %}" />

  <style>
    #visitor-count {
      position: fixed;
      bottom: 0;
      right: 0;
      padding: 10px;
      /* background-color: #f5f5f5; */
      font-weight: bold;
    }
  </style>


</head>

<body>
  <div id="visitor-count">v {{ t_count }}</div>
  {% include 'navbar.html' %}

  <!-- {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    <li>{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %} -->

  {% block content %}
  

  
  {% endblock %}


  </body>
  {% include 'footer.html' %}

  <script src="{% static 'js/script.js' %}"></script>

</html>






