<div class="room__top">
  <div class="room__topLeft">

    <a href="{% url 'prediction_race' exp011s.rcity[0] exp011s.rdate[0] exp011s.rno[0]|add:-1 0 0 %}">
      <span class="tooltip" style="color:blue; font-size: 1.5rem;">⬅️
        <span class="tooltip-text" style="font-size:1.4rem; text-align: right; font-family: Arial;">
          이전 경주
        </span>
      </span>
    </a>
    <span class="tooltip" style="font-size: 1.5rem;">🏇</span>
    <a href="{% url 'prediction_race' exp011s.rcity exp011s.rdate exp011s.rno|add:1 0 0 %}">
      <span class="tooltip" style="color:blue; font-size: 1.5rem;">➡️
        <span class="tooltip-text" style="font-size:1.4rem; text-align: right; font-family: Arial;">
          다음 경주
        </span>
      </span>
    </a>

  </div>

  <div class="room__topRight" style="color: var(--color-main); font-weight: 600;">
    <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{exp011s.rcity}}</span>
    <span
      style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{exp011s.rdate|slice:"0:4"}}.{{exp011s.rdate|slice:"4:6"}}.{{exp011s.rdate|slice:"6:8"}}</span>

    <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;"><span
        class="blink">{{exp011s.rno}}R</span></span>
    <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{exp011s.grade|slice:"0:2"}}</span>
    <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{exp011s.dividing}}</span>
    <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{exp011s.rname}} </span>


  </div>


</div>