<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>
  <!-- End Google tag -->
  
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/number-9.png' %}" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>상금수득 현황(기수)</title>

  <form class="header__search" method="GET" action="{% url 'award_status_jockey' %}">
    <label> 
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>search</title>
        <path
          d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
        </path>
      </svg>
      마요일을 선택하십시오 :
      <input style=" width: 12rem;" type="date" value={{fdate}} name="q" >

      관심기수 :
      <input style="width: 5rem; color:var(--color-main-light);" type="text" value='{{jname1}}' placeholder="세영" name="j1">
      <input style="width: 5rem; color:var(--color-main-light);" type="text" value='{{jname2}}' placeholder="안토니오" name="j2">
      <input style="width: 5rem; color:var(--color-main-light);" type="text" value='{{jname3}}' placeholder="이혁" name="j3">

      <button class="btn" style="background: var(--color-main);">Submit</button>
      
      {% for message in messages %}
      {{ message.tag }}
      {{ message }}
      {% endfor %}
    </label>
  </form>
  
  
</head>




{% load mathfilters %}
{% load humanize %}

{% block content %}

<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script>

<script>
  $(document).ready(function () {

    $('ul.tabs1 li').click(function () {
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs1 li').removeClass('current');
      $('.tab-content1').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    })

  })
</script>

<div class="loader"></div>

<div class="container">
  <ul class="tabs1">
    <li class="tab-link current" data-tab="tab-right1" style="padding: 6px 25px; border-radius: 4px;">서울</li>
    <li class="tab-link" data-tab="tab-right2" style="padding: 6px 25px; border-radius: 4px;">부산</li>
  </ul>

  <div id="tab-right1" class="tab-content1 current">
    <table class="fold-table" style="border-radius: 7px;">
      <thead>
        <tr>
          <th rowspan="2" colspan="2" style="width:36%; text-transform:capitalize; vertical-align: middle; padding-top: 1.00rem; padding-bottom: 1.00rem; border-right: solid 1px gray;">
            Jockey<br>(최근1년)</th>
          <th colspan="4" style="width:32%; border-right: solid 1px gray;"><span style="text-transform:capitalize;">This Week</span></th>
          <th colspan="4" style="width:32%; border-right: solid 1px gray;"><span style="text-transform:capitalize;">직전 경마주간</span></th>
        </tr>

        <tr>
          <th style="border-right: solid 1px gray;"><span>R</span></th>
          <th><span>1</span></th>
          <th><span>2</span></th>
          <th style="border-right: solid 1px gray;"><span>3</span></th>
          <th style="border-right: solid 1px gray;"><span>R</span></th>
          <th><span>1</span></th>
          <th><span>2</span></th>
          <th style="border-right: solid 1px gray;"><span>3</span></th>
          
        </tr>
      </thead>

      <tbody>
        {% for rcity, jockey, rcnt, rr123cnt, rr1, rr2, rr3, wrace, w1st, w2nd, w3rd, w3, tot_1st, year_1st, from, to in week %}
        {% if rcity == '서울' %}
        
        <tr class="view" align="center">
          <td>
            <div style="font-size: 1.2rem;">
              <span>{{jockey|slice:"0:3"}}</span>
            </div>
          </td>
          <td align="right" style="border-right: solid 1px gray;">
            <a href="{% url 'jt_analysis' '%' to|sub:10000 to jockey '%' '%' '%' '1' '99' '1' '1' '0' '0' '0' %}" onclick="window.open(this.href, 'jt_analysis_jockey', 'width=1250, height=1400, top=0, toolbars=no, scrollbars=yes'); return false;">
              {% if tot_1st|mod:100 >= 96 %}
              <span style="font-family: Arial; font-size: 1.15rem; padding: 2px 4px; color: var(--color-light); border-radius: 5px; background-color: var(--color-r1);">{{year_1st}}</span>
              {% elif tot_1st|mod:100 >= 91 and tot_1st|mod:100 < 96 %}
              <span style="font-family: Arial; font-size: 1.15rem; padding: 2px 4px; color: var(--color-bg); border-radius: 5px; background-color: var(--color-r3);">{{year_1st}}</span>
              {% else %}
              <span style="font-family: Arial; font-size: 1.15rem; padding: 2px 4px; color: var(--color-light-gray); border-radius: 5px; background-color: var(--color-bg);">{{year_1st}}</span>
              {% endif %}
            </a>
          </td>
          <td style="border-right: solid 1px gray;">
            <a href="{% url 'jt_analysis' '%' from to jockey '%' '%' '%' '1' '99' '1' '99' '0' '0' '0' %}" onclick="window.open(this.href, 'jt_analysis_jockey', 'width=1250, height=1400, top=0, toolbars=no, scrollbars=yes'); return false;">
              <div style="font-size: 1.2rem; font-family: Arial; background-color: var(--color-bg); border-radius: 7px;">
                <span style="font-family: Arial; border-bottom:1px solid var(--color-gray); border-radius: 5px; padding: 2px 4px;">{{rcnt}}</span>
              </div>
            </a>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              {% if rr1 == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r1); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{rr1}}</span>
              {% endif %}
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              {% if rr2 == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r2); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{rr2}}</span>
              {% endif %}
            </div>
          </td>
          <td style="border-right: solid 1px gray;">
            <div style="font-size: 1.2rem;">
              {% if rr3 == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r3); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{rr3}}</span>
              {% endif %}
            </div>
          </td>
          <td style="border-right: solid 1px gray;">
            <a href="{% url 'jt_analysis' '%' from to jockey '%' '%' '%' '1' '99' '1' '99' '0' '0' '0' %}" onclick="window.open(this.href, 'jt_analysis_jockey', 'width=1250, height=1400, top=0, toolbars=no, scrollbars=yes'); return false;">
              <div style="font-size: 1.2rem; font-family: Arial; background-color: var(--color-dark-light); color:var(--color-main); border-radius: 7px; border-bottom:1px solid var(--color-gray);">
                {% if wrace %}
                <span style="font-family: Arial; padding: 2px 4px;">{{wrace}}</span>
                {% else %}
                <span style="font-family: Arial; padding: 2px 4px; font-size: 0.9rem;">🚫</span>
                {% endif %}
              </div>
            </a>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              {% if w1st == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r1); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{w1st}}</span>
              {% endif %}
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              {% if w2nd == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r2); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{w2nd}}</span>
              {% endif %}
            </div>
          </td>
          <td style="border-right: solid 1px gray;">
            <div style="font-size: 1.2rem;">
              {% if w3rd == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r3); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{w3rd}}</span>
              {% endif %}
            </div>
          
        </tr>

        <tr class="fold">

          <td colspan="10">
            <div class="fold-content" style="position:static">
              {# 재결사항 #}
              <table class="small-friendly" style="z-index: 0;">
                <thead>
                  <tr style="background-color:var(--color-dark-medium); color:var(--color-light-gray);">
                    <th width="12%"><span class="visible-big" style="padding-bottom: 3px; font-size: 1.1rem; width: 3rem;">📅</span></th>
                    <th colspan="2">
                      <span class="visible-big" style="padding-bottom: 3px; font-size: 1.15rem; color:var(--color-r3); text-align: left;">🐴&nbsp;{{jockey}} 기수&nbsp;&nbsp;최근 30일 재결</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for rcity, rdate, rno, horse, jockey_b, trainer, t_sort, t_type, t_detail, t_reason in judged_jockey %}
                  {% if jockey == jockey_b %}
              
                  <tr>
          
                    <td align="left">
                      <a style="text-decoration:underline" href="{% url 'race_result' rcity rdate rno horse 0 0 0 %}"
                        onclick="window.open(this.href, 'w_result', 'width=1000, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
                        <div style="font-size:1.0rem; font-family: Arial, Helvetica, sans-serif; text-align: left;">
                          '{{rdate|slice:"2:4"}}.{{rdate|slice:"4:6"}}
                        </div>
                        <div style="font-size:1.1rem; font-family: Arial, Helvetica, sans-serif; text-align: right;">
                          '{{rdate|slice:"6:8"}}
                        </div>
                        
                      </a>
                    </td>
                    <td align="center">
                      <div style="font-size:1.1rem;">{{t_type}}</div>
                    </td>
                    <td align="left">
                      <div style="font-size:1.1rem; color:var(--color-r1);">
                        {{t_detail}}
                      </div>
                      <div style="font-size:1.1rem;">
                        {{t_reason}}
                      </div>
                    </td>
                    
                  </tr>
                {% endif %}

                {% endfor %}
              
                </tbody>
              </table>

            </div>
          </td>

        </tr>
  
        {%endif%}
        {% endfor %}
    
      </tbody>
    </table>

    <table>aaa</table>
  </div>

  <div id="tab-right2" class="tab-content1">

    <table class="fold-table" style="border-radius: 7px;">
      <thead>
        <tr>
          <th rowspan="2" colspan="2" style="width:36%; text-transform:capitalize; vertical-align: middle; padding-top: 1.00rem; padding-bottom: 1.00rem; border-right: solid 1px gray;">
            Jockey<br>(최근1년)</th>
          <th colspan="4" style="width:32%; border-right: solid 1px gray;"><span style="text-transform:capitalize;">This Week</span></th>
          <th colspan="4" style="width:32%; border-right: solid 1px gray;"><span style="text-transform:capitalize;">직전 경마주간</span></th>
        </tr>

        <tr>
          <th style="border-right: solid 1px gray;"><span>R</span></th>
          <th><span>1</span></th>
          <th><span>2</span></th>
          <th style="border-right: solid 1px gray;"><span>3</span></th>
          <th style="border-right: solid 1px gray;"><span>R</span></th>
          <th><span>1</span></th>
          <th><span>2</span></th>
          <th style="border-right: solid 1px gray;"><span>3</span></th>
          
        </tr>
      </thead>

      <tbody>
        {% for rcity, jockey, rcnt, rr123cnt, rr1, rr2, rr3, wrace, w1st, w2nd, w3rd, w3, tot_1st, year_1st, from, to in week %}
        {% if rcity == '부산' %}

        <tr class="view" align="center">
          <td>
            <div style="font-size: 1.2rem;">
              <span>{{jockey|slice:"0:3"}}</span>
            </div>
          </td>
          <td align="right" style="border-right: solid 1px gray;">
            <a href="{% url 'jt_analysis' '%' to|sub:10000 to jockey '%' '%' '%' '1' '99' '1' '1' '0' '0' '0' %}" onclick="window.open(this.href, 'jt_analysis_jockey', 'width=1250, height=1400, top=0, toolbars=no, scrollbars=yes'); return false;">
              {% if tot_1st|mod:100 >= 96 %}
              <span style="font-family: Arial; font-size: 1.15rem; padding: 2px 4px; color: var(--color-light); border-radius: 5px; background-color: var(--color-r1);">{{year_1st}}</span>
              {% elif tot_1st|mod:100 >= 91 and tot_1st|mod:100 < 96 %}
              <span style="font-family: Arial; font-size: 1.15rem; padding: 2px 4px; color: var(--color-bg); border-radius: 5px; background-color: var(--color-r3);">{{year_1st}}</span>
              {% else %}
              <span style="font-family: Arial; font-size: 1.15rem; padding: 2px 4px; color: var(--color-light-gray); border-radius: 5px; background-color: var(--color-bg);">{{year_1st}}</span>
              {% endif %}
            </a>
          </td>
          <td style="border-right: solid 1px gray;">
            <a href="{% url 'jt_analysis' '%' from to jockey '%' '%' '%' '1' '99' '1' '99' '0' '0' '0' %}" onclick="window.open(this.href, 'jt_analysis_jockey', 'width=1250, height=1400, top=0, toolbars=no, scrollbars=yes'); return false;">
              <div style="font-size: 1.2rem; font-family: Arial; background-color: var(--color-bg); border-radius: 7px;">
                <span style="font-family: Arial; border-bottom:1px solid var(--color-gray); border-radius: 5px; padding: 2px 4px;">{{rcnt}}</span>
              </div>
            </a>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              {% if rr1 == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r1); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{rr1}}</span>
              {% endif %}
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              {% if rr2 == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r2); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{rr2}}</span>
              {% endif %}
            </div>
          </td>
          <td style="border-right: solid 1px gray;">
            <div style="font-size: 1.2rem;">
              {% if rr3 == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r3); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{rr3}}</span>
              {% endif %}
            </div>
          </td>
          <td style="border-right: solid 1px gray;">
            <a href="{% url 'jt_analysis' '%' from to jockey '%' '%' '%' '1' '99' '1' '99' '0' '0' '0' %}" onclick="window.open(this.href, 'jt_analysis_jockey', 'width=1250, height=1400, top=0, toolbars=no, scrollbars=yes'); return false;">
              <div style="font-size: 1.2rem; font-family: Arial; background-color: var(--color-dark-light); color:var(--color-main); border-radius: 7px; border-bottom:1px solid var(--color-gray);">
                {% if wrace %}
                <span style="font-family: Arial; padding: 2px 4px;">{{wrace}}</span>
                {% else %}
                <span style="font-family: Arial; padding: 2px 4px; font-size: 0.9rem;">🚫</span>
                {% endif %}
              </div>
            </a>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              {% if w1st == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r1); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{w1st}}</span>
              {% endif %}
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              {% if w2nd == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r2); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{w2nd}}</span>
              {% endif %}
            </div>
          </td>
          <td style="border-right: solid 1px gray;">
            <div style="font-size: 1.2rem;">
              {% if w3rd == 0 %}
              <span style="font-family: Arial; padding:2px 4px;">&nbsp;</span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-r3); background-color: var(--color-bg); padding:2px 4px; border-radius: 7px;">{{w3rd}}</span>
              {% endif %}
            </div>
          
        </tr>

        <tr class="fold">

          <td colspan="10">
            <div class="fold-content" style="position:static">
              {# 재결사항 #}
              <table class="small-friendly" style="z-index: 0;">
                <thead>
                  <tr style="background-color:var(--color-dark-medium); color:var(--color-light-gray);">
                    <th width="12%"><span class="visible-big" style="padding-bottom: 3px; font-size: 1.1rem; width: 3rem;">📅</span></th>
                    <th colspan="2">
                      <span class="visible-big" style="padding-bottom: 3px; font-size: 1.15rem; color:var(--color-r3); text-align: left;">🐴&nbsp;{{jockey}} 기수&nbsp;&nbsp;최근 30일 재결</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for rcity, rdate, rno, horse, jockey_b, trainer, t_sort, t_type, t_detail, t_reason in judged_jockey %}
                  {% if jockey == jockey_b %}
              
                  <tr>
          
                    <td align="left">
                      <a style="text-decoration:underline" href="{% url 'race_result' rcity rdate rno horse 0 0 0 %}"
                        onclick="window.open(this.href, 'w_result', 'width=1000, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
                        <div style="font-size:1.0rem; font-family: Arial, Helvetica, sans-serif; text-align: left;">
                          '{{rdate|slice:"2:4"}}.{{rdate|slice:"4:6"}}
                        </div>
                        <div style="font-size:1.1rem; font-family: Arial, Helvetica, sans-serif; text-align: right;">
                          '{{rdate|slice:"6:8"}}
                        </div>
                        
                      </a>
                    </td>
                    <td align="center">
                      <div style="font-size:1.1rem;">{{t_type}}</div>
                    </td>
                    <td align="left">
                      <div style="font-size:1.1rem; color:var(--color-r1);">
                        {{t_detail}}
                      </div>
                      <div style="font-size:1.1rem;">
                        {{t_reason}}
                      </div>
                    </td>
                    
                  </tr>
                {% endif %}

                {% endfor %}
              
                </tbody>
              </table>

            </div>
          </td>

        </tr>
  
        {%endif%}
        {% endfor %}
    
      </tbody>
    </table>

  </div>

</div>
<div>aaa</div>
<script>
  $(window).on('load', function () {
    $('.loader').fadeOut();
  });
</script>

</main>
{% endblock %}

</html>