<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>
  <!-- End Google tag -->
  
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/number-9.png' %}" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>상금수득 현황(기수)</title>

  <form class="header__search" method="GET" action="{% url 'award_status_jockey' %}">
    <label> 
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>search</title>
        <path
          d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
        </path>
      </svg>
      마요일을 선택하십시오 :
      <input style=" width: 12rem;" type="date" value={{fdate}} name="q" >

      관심기수 :
      <input style="width: 5rem; color:var(--color-main-light);" type="text" value='{{jname1}}' placeholder="세영" name="j1">
      <input style="width: 5rem; color:var(--color-main-light);" type="text" value='{{jname2}}' placeholder="안토니오" name="j2">
      <input style="width: 5rem; color:var(--color-main-light);" type="text" value='{{jname3}}' placeholder="이혁" name="j3">

      <button class="btn" style="background: var(--color-main);">Submit</button>
      
      {% for message in messages %}
      {{ message.tag }}
      {{ message }}
      {% endfor %}
    </label>
  </form>
  
  
</head>




{% load mathfilters %}
{% load humanize %}

{% block content %}

<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script>

<script>
  $(document).ready(function () {

      $('ul.tabs li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
      })

    })
</script>

<div class="loader"></div>

<!-- <div class="roomListRoom"> -->
<div>
  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">서울</li>
    <li class="tab-link" data-tab="tab-2">부산</li>
  </ul>

  <div id="tab-1" class="tab-content current">
    <table class="fold-table">
      <thead>
    
        <tr>
          <th rowspan="2" colspan="1"><span class="visible-big">&nbsp;<br>Jockey<br>&nbsp;</span></th>
          <th rowspan="2" colspan="1"><span class="visible-big">체<br>중<br>⚖️</span></th>
          <th rowspan="1" colspan="3"><span class="visible-big">1위 횟수</span></th>
          <th colspan="2" align="center"><span class="visible-big">출주횟수</span></th>
          <th colspan="6"><span class="visible-big">최근 3개월 상금현황(천원)</span></th>
          <th colspan="8"><span class="visible-big">최근 2주간 성적</span></th>
        </tr>
        <tr>
          <th rowspan="1" colspan="1"><span class="visible-big">Tot</span></th>
          <th rowspan="1" colspan="1"><span class="visible-big">1Y</span></th>
          <th rowspan="1" colspan="1"><span class="visible-big">'{{fdate|slice:"2:4"}}</span></th>
          <th><span class="visible-big">토</span></th>
          <th><span class="visible-big">일</span></th>
          
          <th><span class="visible-big">당월</span></th>
          <th></span><span class="visible-big">전월</span></th>
          <th><span class="visible-big">전전월</span>

          <th><span class="visible-big">3개월 합</span></th>
          <th colspan="2"><span class="visible-big">1~5 순위별 횟수</span></th>
          <th><span class="visible-big">월평균</span></th>

          <th><span class="visible-big">2주상금</span>
          <th colspan="3"><span class="visible-big">1주전 총/1/2/3</span></th>
          <th colspan="3"><span class="visible-big">2주전 총/1/2/3</span></th>
        </tr>
    
      </thead>
      <tbody>
        {% for rcity, rcity_in, awardee, rcnt, r1cnt, r2cnt, r3cnt, r4cnt, r5cnt, rmonth1, rmonth2, rmonth3, rdate1, rdate2, rdate3, lw1_fri1, lw1_fri2, lw1_fri3, lw1_fri, lw1_sat1, lw1_sat2, lw1_sat3, lw1_sat, lw1_sun1, lw1_sun2, lw1_sun3, lw1_sun,lw2_fri1, lw2_fri2, lw2_fri3, lw2_fri, lw2_sat1, lw2_sat2, lw2_sat3, lw2_sat,lw2_sun1, lw2_sun2, lw2_sun3, lw2_sun, award, year_per, wcnt in weeks %}
        {% if rcity == '서울' %}

        <tr class="view">
          <td>
            <a href="{% url 'training_awardee' rdate 'jockey' awardee %}" onclick="window.open(this.href, 'w_training_awardee', 'width=1120, height=800, toolbars=no, scrollbars=yes'); return false;">

              <div>
              {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 15000 and rmonth1 < rmonth2|add:rmonth3|div:2 %}
              
                {% if jname1|slice:"-2:" == awardee|slice:"-2:" or jname2|slice:"-2:" == awardee|slice:"-2:" or jname3|slice:"-2:" == awardee|slice:"-2:" %}
                <span style="font-size:1.23rem; color:tomato; font-weight: 700;" class = "blink">{{awardee}}</span>
                {% else %}
                <span style="font-size:1.23rem; color:tomato; font-weight: 700;">{{awardee}}</span>
                {% endif %}

              {% else %}
                {% if jname1|slice:"-2:" == awardee|slice:"-2:" or jname2|slice:"-2:" == awardee|slice:"-2:" or jname3|slice:"-2:" == awardee|slice:"-2:" %}
                <span style="font-size:1.23rem;" class="blink">{{awardee}}</span>
                {% else %}
                <span style="font-size:1.23rem;">{{awardee}}</span>
                {% endif %}
              {% endif %}
              </div>
            </a>

            
          </td>
          
          <td align="center">
            {% for flag, jockey, tot_1st, load_in in loadin %}
            {% if flag == 'J' and awardee == jockey %}
              {% if load_in >= '53' %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-main-light); border-radius: 5px; background-color: var(--color-bg);">{{load_in}}</span>
              {% elif load_in >= '50' and load_in < '53' %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-gray); border-radius: 5px; background-color: var(--color-bg);">{{load_in}}</span>
              {% else %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r3); border-radius: 5px; background-color: var(--color-bg);">{{load_in}}</span>
              {% endif %}
            {% endif %}
            {% endfor %}
          </td>

          <td align="right">
            
            {% for flag, jockey, tot_1st, load_in in loadin %}
            {% if flag == 'J' and awardee == jockey %}
              {% if tot_1st|mod:100 >= 96 %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r1); border-radius: 5px; background-color: var(--color-bg);">{{tot_1st}}</span>
              {% elif tot_1st|mod:100 >= 91 and tot_1st|mod:100 < 96 %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r3); border-radius: 5px; background-color: var(--color-bg);">{{tot_1st}}</span>
              {% else %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-gray); border-radius: 5px; background-color: var(--color-bg);">{{tot_1st}}</span>
              {% endif %}
            {% endif %}
            {% endfor %}
          </td>
          
          <td align="right">
            {% if year_per >= 50 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r1); border-radius: 5px; background-color: var(--color-bg);">{{year_per}}</span>
            {% elif year_per >= 40 and year_per < 50 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r3); border-radius: 5px; background-color: var(--color-bg);">{{year_per}}</span>
            {% elif year_per >= 30 and year_per < 40 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r5); border-radius: 5px; background-color: var(--color-bg);">{{year_per}}</span>
            {% else %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-gray); border-radius: 5px; background-color: var(--color-bg);">{{year_per}}</span>
            {% endif %}
          </td>

          <td align="right">
            {% if wcnt >= 50 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 2px 3px; color: var(--color-r1); border-radius: 5px; background-color: var(--color-bg);">{{wcnt}}</span>
            {% elif wcnt >= 40 and wcnt < 50 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 2px 3px; color: var(--color-r3); border-radius: 5px; background-color: var(--color-bg);">{{wcnt}}</span>
            {% elif wcnt >= 30 and wcnt < 40 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 2px 3px; color: var(--color-r5); border-radius: 5px; background-color: var(--color-bg);">{{wcnt}}</span>
            {% else %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 2px 3px; color: var(--color-gray); border-radius: 5px; background-color: var(--color-bg);">{{wcnt}}</span>
            {% endif %}
          </td>

          
          <td align="center" style="font-family: Arial; font-size: 1.23rem;">{% if rdate2 > 0 %}{{rdate2}}{% else %}-{% endif %}</td>
          <td align="center" style="font-family: Arial; font-size: 1.23rem;">{% if rdate3 > 0 %}{{rdate3}}{% else %}-{% endif %}</td>
          
          {% if rmonth1 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem ">0</td>
          {%else%}
            {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 10000 and rmonth1 > rmonth2|add:rmonth3|div:2 %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:rgb(0, 128, 255); font-weight: 700;">{{rmonth1|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray);">{{rmonth1|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rmonth2 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem ">0</td>
          {%else%}
            {% if rmonth2|add:rmonth3|div:2 > 200000 and rmonth2 > 200000 %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:tomato; font-weight: 700;">{{rmonth2|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray);">{{rmonth2|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rmonth3 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem ">0</td>
          {%else%}
            {% if rmonth2|add:rmonth3|div:2 > 200000 and rmonth3 > 200000 %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:tomato; font-weight: 700;">{{rmonth3|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray);">{{rmonth3|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rmonth1|add:rmonth2|add:rmonth3 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem ">0</td>
          {%else%}
            {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 15000  %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:rgb(0, 128, 255); font-weight: 700;">{{rmonth1|add:rmonth2|add:rmonth3|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray);">{{rmonth1|add:rmonth2|add:rmonth3|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rcnt == None %}
          <td>-</td>
          <td>-</td>
          {%else%}
          <td align="right" style="font-family: Arial; font-size: 1.23rem ">
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 2px 3px; color: var(--color-gray); border-radius: 5px; background-color: var(--color-bg);">{{rcnt}}</span>
          </td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem; color:var(--color-gray); ">{{r1cnt}}-{{r2cnt}}-{{r3cnt}}-{{r4cnt}}-{{r5cnt}}</td>
          {%endif%}

          {% if rmonth1|add:rmonth2|add:rmonth3 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem ">0</td>
          {%else%}
            {% if rmonth1|add:rmonth2|add:rmonth3|div:3 > 200000  %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:rgb(0, 128, 255); font-weight: 700;">{{rmonth1|add:rmonth2|add:rmonth3|div:3|floatformat:0|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray);">{{rmonth1|add:rmonth2|add:rmonth3|div:3|floatformat:0|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if award > rmonth1|add:rmonth2|add:rmonth3|div:3  %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem; color:rgb(0, 128, 255) ">{{award|floatformat:0|intcomma}}</td>
          {% elif award < rmonth1|add:rmonth2|add:rmonth3|div:6  %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-r1) ">{{award|floatformat:0|intcomma}}</td>
          {% else %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray) ">{{award|floatformat:0|intcomma}}</td>
          {% endif %}

            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-main-light); font-style: italic; ">{{lw1_sat|add:lw1_sun}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-main-light); font-style: italic; ">{{lw1_sat1|add:lw1_sun1|add:lw1_sat2|add:lw1_sun2|add:lw1_sat3|add:lw1_sun3}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-gray); font-style: italic; ">{{lw1_sat1|add:lw1_sun1}}-{{lw1_sat2|add:lw1_sun2}}-{{lw1_sat3|add:lw1_sun3}}</td>

            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-main-light); font-style: italic; ">{{lw2_sat|add:lw2_sun}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-main-light); font-style: italic; ">{{lw2_sat1|add:lw2_sun1|add:lw2_sat2|add:lw2_sun2|add:lw2_sat3|add:lw2_sun3}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-gray); font-style: italic; ">{{lw2_sat1|add:lw2_sun1}}-{{lw2_sat2|add:lw2_sun2}}-{{lw2_sat3|add:lw2_sun3}}</td>

        </tr>
        <tr class="fold">
          <td colspan="21">
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>
  </div>

  <div id="tab-2" class="tab-content">
    <table class="fold-table">
      <thead>
      
        <tr>
          <th rowspan="2" colspan="1"><span class="visible-big">&nbsp;<br>Jockey<br>&nbsp;</span></th>
          <th rowspan="2" colspan="1"><span class="visible-big">체<br>중<br>⚖️</span></th>
          <th rowspan="1" colspan="3"><span class="visible-big">1위 횟수</span></th>
          <th colspan="2" align="center"><span class="visible-big">출주횟수</span></th>
          <th colspan="6"><span class="visible-big">최근 3개월 상금현황(천원)</span></th>
          <th colspan="8"><span class="visible-big">최근 2주간 성적</span></th>
        </tr>
        <tr>
          <th rowspan="1" colspan="1"><span class="visible-big">Tot</span></th>
          <th rowspan="1" colspan="1"><span class="visible-big">1Y</span></th>
          <th rowspan="1" colspan="1"><span class="visible-big">'{{fdate|slice:"2:4"}}</span></th>
          <th><span class="visible-big">금</span></th>
          <th><span class="visible-big">일</span></th>
        
          <th><span class="visible-big">당월</span></th>
          <th></span><span class="visible-big">전월</span></th>
          <th><span class="visible-big">전전월</span>
        
          <th><span class="visible-big">3개월 합</span></th>
          <th colspan="2"><span class="visible-big">1~5 순위별 횟수</span></th>
          <th><span class="visible-big">월평균</span></th>
        
          <th><span class="visible-big">2주상금</span>
          <th colspan="3"><span class="visible-big">1주전 총/1/2/3</span></th>
          <th colspan="3"><span class="visible-big">2주전 총/1/2/3</span></th>
        </tr>
      
      </thead>

      <tbody>
        {% for rcity, rcity_in, awardee, rcnt, r1cnt, r2cnt, r3cnt, r4cnt, r5cnt, rmonth1, rmonth2, rmonth3, rdate1, rdate2, rdate3, lw1_fri1, lw1_fri2, lw1_fri3, lw1_fri, lw1_sat1, lw1_sat2, lw1_sat3, lw1_sat, lw1_sun1, lw1_sun2, lw1_sun3, lw1_sun,lw2_fri1, lw2_fri2, lw2_fri3, lw2_fri, lw2_sat1, lw2_sat2, lw2_sat3, lw2_sat,lw2_sun1, lw2_sun2, lw2_sun3, lw2_sun, award, year_per, wcnt in weeks %}
        {% if rcity == '부산' %}
        <tr class="view">
          <td>
            <a href="{% url 'training_awardee' rdate 'jockey' awardee %}" onclick="window.open(this.href, 'w_training_awardee', 'width=1120, height=800, toolbars=no, scrollbars=yes'); return false;">
              <div>
              {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 15000 and rmonth1 < rmonth2|add:rmonth3|div:2 %}
              
                {% if jname1|slice:"-2:" == awardee|slice:"-2:" or jname2|slice:"-2:" == awardee|slice:"-2:" or jname3|slice:"-2:" == awardee|slice:"-2:" %}
                <span style="font-size:1.23rem; color:tomato; font-weight: 700;" class = "blink">{{awardee}}</span>
                {% else %}
                <span style="font-size:1.23rem; color:tomato; font-weight: 700;">{{awardee}}</span>
                {% endif %}

              {% else %}
                {% if jname1|slice:"-2:" == awardee|slice:"-2:" or jname2|slice:"-2:" == awardee|slice:"-2:" or jname3|slice:"-2:" == awardee|slice:"-2:" %}
                <span style="font-size:1.23rem;" class="blink">{{awardee}}</span>
                {% else %}
                <span style="font-size:1.23rem;">{{awardee}}</span>
                {% endif %}
              {% endif %}
              </div>
            </a>
          </td>
          
          <td align="center">
            {% for flag, jockey, tot_1st, load_in in loadin %}
            {% if flag == 'J' and awardee == jockey %}
              {% if load_in >= '53' %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-main-light); border-radius: 5px; background-color: var(--color-bg);">{{load_in}}</span>
              {% elif load_in >= '50' and load_in < '53' %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-gray); border-radius: 5px; background-color: var(--color-bg);">{{load_in}}</span>
              {% else %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r3); border-radius: 5px; background-color: var(--color-bg);">{{load_in}}</span>
              {% endif %}
            {% endif %}
            {% endfor %}
          </td>

          <td align="right">
            
            {% for flag, jockey, tot_1st, load_in in loadin %}
            {% if flag == 'J' and awardee == jockey %}
              {% if tot_1st|mod:100 >= 96 %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r1); border-radius: 5px; background-color: var(--color-bg);">{{tot_1st}}</span>
              {% elif tot_1st|mod:100 >= 91 and tot_1st|mod:100 < 96 %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r3); border-radius: 5px; background-color: var(--color-bg);">{{tot_1st}}</span>
              {% else %}
              <span style="font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-gray); border-radius: 5px; background-color: var(--color-bg);">{{tot_1st}}</span>
              {% endif %}
            {% endif %}
            {% endfor %}
          </td>
          
          <td align="right">
            {% if year_per >= 50 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r1); border-radius: 5px; background-color: var(--color-bg);">{{year_per}}</span>
            {% elif year_per >= 40 and year_per < 50 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r3); border-radius: 5px; background-color: var(--color-bg);">{{year_per}}</span>
            {% elif year_per >= 30 and year_per < 40 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r5); border-radius: 5px; background-color: var(--color-bg);">{{year_per}}</span>
            {% else %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-gray); border-radius: 5px; background-color: var(--color-bg);">{{year_per}}</span>
            {% endif %}
          </td>

          <td align="right">
            {% if wcnt >= 50 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r1); border-radius: 5px; background-color: var(--color-bg);">{{wcnt}}</span>
            {% elif wcnt >= 40 and wcnt < 50 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r3); border-radius: 5px; background-color: var(--color-bg);">{{wcnt}}</span>
            {% elif wcnt >= 30 and wcnt < 40 %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 1px; color: var(--color-r5); border-radius: 5px; background-color: var(--color-bg);">{{wcnt}}</span>
            {% else %}
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 2px 3px; color: var(--color-gray); border-radius: 5px; background-color: var(--color-bg);">{{wcnt}}</span>
            {% endif %}
          </td>
          
          <td align="center" style="font-family: Arial; font-size: 1.23rem;">{% if rdate1 > 0 %}{{rdate1}}{% else %}-{% endif %}</td>
          <td align="center" style="font-family: Arial; font-size: 1.23rem;">{% if rdate3 > 0 %}{{rdate3}}{% else %}-{% endif %}</td>
          
          {% if rmonth1 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem ">0</td>
          {%else%}
            {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 10000 and rmonth1 > rmonth2|add:rmonth3|div:2 %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:rgb(0, 128, 255); font-weight: 700;">{{rmonth1|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray);">{{rmonth1|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rmonth2 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem ">0</td>
          {%else%}
            {% if rmonth2|add:rmonth3|div:2 > 200000 and rmonth2 > 200000 %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:tomato; font-weight: 700;">{{rmonth2|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray);">{{rmonth2|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rmonth3 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem ">0</td>
          {%else%}
            {% if rmonth2|add:rmonth3|div:2 > 200000 and rmonth3 > 200000 %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:tomato; font-weight: 700;">{{rmonth3|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray);">{{rmonth3|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rmonth1|add:rmonth2|add:rmonth3 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem ">0</td>
          {%else%}
            {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 15000  %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:rgb(0, 128, 255); font-weight: 700;">{{rmonth1|add:rmonth2|add:rmonth3|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray);">{{rmonth1|add:rmonth2|add:rmonth3|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rcnt == None %}
          <td>-</td>
          <td>-</td>
          {%else%}
          <td align="right" style="font-family: Arial; font-size: 1.23rem ">
            <span style="text-align:center; font-family: Arial; font-size: 1.2rem; padding: 2px 3px; color: var(--color-gray); border-radius: 5px; background-color: var(--color-bg);">{{rcnt}}</span>
          </td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem; color:var(--color-gray); ">{{r1cnt}}-{{r2cnt}}-{{r3cnt}}-{{r4cnt}}-{{r5cnt}}</td>
          {%endif%}

          {% if rmonth1|add:rmonth2|add:rmonth3 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem ">0</td>
          {%else%}
            {% if rmonth1|add:rmonth2|add:rmonth3|div:3 > 200000  %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:rgb(0, 128, 255); font-weight: 700;">{{rmonth1|add:rmonth2|add:rmonth3|div:3|floatformat:0|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray);">{{rmonth1|add:rmonth2|add:rmonth3|div:3|floatformat:0|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if award > rmonth1|add:rmonth2|add:rmonth3|div:3  %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem; color:rgb(0, 128, 255) ">{{award|floatformat:0|intcomma}}</td>
          {% elif award < rmonth1|add:rmonth2|add:rmonth3|div:6  %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-r1) ">{{award|floatformat:0|intcomma}}</td>
          {% else %}
            <td align="right" style="font-family: Arial; font-size: 1.23rem; color:var(--color-light-gray) ">{{award|floatformat:0|intcomma}}</td>
          {% endif %}

            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-main-light); font-style: italic; ">{{lw1_fri|add:lw1_sun}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-main-light); font-style: italic; ">{{lw1_fri1|add:lw1_sun1|add:lw1_fri2|add:lw1_sun2|add:lw1_fri3|add:lw1_sun3}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-gray); font-style: italic; ">{{lw1_fri1|add:lw1_sun1}}-{{lw1_fri2|add:lw1_sun2}}-{{lw1_fri3|add:lw1_sun3}}</td>

            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-main-light); font-style: italic; ">{{lw2_fri|add:lw2_sun}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-main-light); font-style: italic; ">{{lw2_fri1|add:lw2_sun1|add:lw2_fri2|add:lw2_sun2|add:lw2_fri3|add:lw2_sun3}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.23rem; color:var(--color-gray); font-style: italic; ">{{lw2_fri1|add:lw2_sun1}}-{{lw2_fri2|add:lw2_sun2}}-{{lw2_fri3|add:lw2_sun3}}</td>

        </tr>
        <tr class="fold">
          <td colspan="21">
            <div class="fold-content">

            </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>
  </div>

</div>

<script>
  $(window).on('load', function () {
    $('.loader').fadeOut();
  });
</script>

</main>
{% endblock %}

</html>