<!DOCTYPE html>

{% load static %}

<html lang="en-us">

<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  
  <title>Let's Enjoy! - 경주속보 입력</title>

</head>

<body>

  <form class="header__search" method="GET" action="{% url 'data_breakingnews' %}" >
    <label> 
      <input style="width: 12rem;" type="date" value={{rdate}} name="rdate">
      <fieldset align="center" style="width: 14rem;">
        
        서울<input style="width: 3rem;" type="radio" name="rcity" value="서울" {% if rcity == "서울" %} checked {% endif %}>
        부산<input style="width: 3rem;" type="radio" name="rcity" value="부산" {% if rcity == "부산" %} checked {% endif %}>
        
      </fieldset>
        <select name="title" style="color:white; background-color: black;">  
          <option value="%">📨 경주속보 선택 --</option>
          <option value="경주마취소" {% if title == '경주마취소' %} selected {% endif %}>경주마취소</option>
          <option value="기수변경" {% if title == '기수변경' %} selected {% endif %}>기수변경</option>
          <option value="기승불가기수" {% if title == '기승불가기수' %} selected {% endif %}>기승불가기수</option>
          <option value="경주성적" {% if title == '경주성적' %} selected {% endif %}>경주성적</option>

        </select>

    </label>

    <div class="form__group">
      <label for="room_description">Breaking News Description</label>
      <textarea name="description" cols="400" rows="100" id="id_description" style="height: 40rem; font-weight: 500; font-size: 1.3rem;"></textarea>
    </div>
    
    <div class="form__action">
      <a class="btn btn--dark" href="index.html">Cancel</a>
      <button class="btn btn--main" type="submit">Submit</button>
    </div>

  </form>

</body>

</html>