{% load mathfilters %}
{% load humanize %}

<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script>

<script>
  $(document).ready(function () {

      $('ul.tabs li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
      })

    })
</script>

<!-- <div class="roomListRoom"> -->
<div>
  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">서울</li>
    <li class="tab-link" data-tab="tab-2">부산</li>
    <li class="tab-link" data-tab="tab-3">세번째 메뉴</li>
  </ul>

  <div id="tab-1" class="tab-content current">
    <table class="fold-table">
      <thead>
    
        <tr>
          <th rowspan="2"><span class="visible-small" title="Jockey">Jockey.</span><span class="visible-big">Jockey</span></th>
          <th colspan="2" align="center"><span class="visible-small" title="rmonth1">출주.</span><span class="visible-big">출주횟수</span></th>
          <th colspan="3"><span class="visible-small" title="rmonth1">상금현황.</span><span class="visible-big">최근 3개월 상금현황(천원)</span></th>
          <th colspan="6"><span class="visible-small" title="rmonth1">최근 3개월 상금수득 순위별 횟수.</span><span class="visible-big">최근 3개월 상금수득 순위별 횟수</span></th>
        </tr>
        <tr>
          <th><span class="visible-small" title="rmonth2">토.</span><span class="visible-big">토.</span></th>
          <th><span class="visible-small" title="rmonth3">일.</span><span class="visible-big">일.</span></th>
          <th><span class="visible-small" title="rmonth1">당월.</span><span class="visible-big">당월</span></th>
          <th><span class="visible-small" title="rmonth2">전월.</span><span class="visible-big">전월</span></th>
          <th><span class="visible-small" title="rmonth3">전전월</span><span class="visible-big">전전월</span>
          <th><span class="visible-small" title="rmonth3">총.</span><span class="visible-big">총.</span></th>
          <th><span class="visible-small" title="rmonth3">1.</span><span class="visible-big">1.</span></th>
          <th><span class="visible-small" title="rmonth3">2.</span><span class="visible-big">2.</span></th>
          <th><span class="visible-small" title="rmonth3">3.</span><span class="visible-big">3.</span></th>
          <th><span class="visible-small" title="rmonth3">4.</span><span class="visible-big">4.</span></th>
          <th><span class="visible-small" title="rmonth3">5.</span><span class="visible-big">5.</span></th>
          
        </tr>
    
      </thead>
      <tbody>
        {% for rcity, rcity_in, jockey, rcnt, r1cnt, r2cnt, r3cnt, r4cnt, r5cnt, rmonth1, rmonth2, rmonth3, rdate1, rdate2, rdate3 in weeks %}
        {% if rcity == '서울' %}
        <tr class="view">
          {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 10000 and rmonth1 < rmonth2|add:rmonth3|div:2 %}
          <td style="font-size:1.4rem; color:tomato; font-weight: 700;" >{{jockey}}</td>
          {% else %}
          <td style="font-size:1.4rem;" >{{jockey}}</td>
          {% endif %}
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{rdate2}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{rdate3}}</td>

          {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 10000 and rmonth1 > rmonth2|add:rmonth3|div:2 %}
          <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:rgb(0, 128, 255); font-weight: 700;">{{rmonth1|intcomma}}</td>
          {% else %}
          <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem;">{{rmonth1|intcomma}}</td>
          {% endif %}
          {% if rmonth2|add:rmonth3|div:2 > 200000 and rmonth2 > 200000 %}
          <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:tomato; font-weight: 700;">{{rmonth2|intcomma}}</td>
          {% else %}
          <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem;">{{rmonth2|intcomma}}</td>
          {% endif %}
          {% if rmonth2|add:rmonth3|div:2 > 200000 and rmonth3 > 200000 %}
          <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:tomato; font-weight: 700;">{{rmonth3|intcomma}}</td>
          {% else %}
          <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem;">{{rmonth3|intcomma}}</td>
          {% endif %}

          {% if rcnt == None %}
          <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
          {%else%}
          <td align="center" style="font-family: Arial; font-size: 1.4rem; color:var(--color-main-light) ">{{rcnt}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem ">{{r1cnt}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem ">{{r2cnt}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem ">{{r3cnt}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem ">{{r4cnt}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem ">{{r5cnt}}</td>
          {%endif%}

        </tr>
        <tr class="fold">
          <td colspan="12">
            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr>
                    <th><span class="visible-small" title="t_rday111">요일</span><span class="visible-big">요일</span></th>
                    <th><span class="visible-small" title="Customer number">No</span><span class="visible-big">No</span></th>
                    <th><span class="visible-small" title="Customer name">Gate</span><span class="visible-big">Gate</span></th>
                    <th><span class="visible-small" title="Insurance number">경주마</span><span class="visible-big">경주마</span></th>
                    <th><span class="visible-small" title="Strategy">조교사</span><span class="visible-big">조교사</span></th>
                    <th>마주</th>
                    <th>최근 7경주 순위</th>
                    <th><span class="visible-small" title="Current">인기도</span><span class="visible-big">인기도</span></th>

                    <th><span class="visible-small" title="Current">예상</span><span class="visible-big">예상</span></th>
                    <th><span class="visible-small" title="Current">결과</span><span class="visible-big">결과</span></th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for rcity, j_name, rdate, rday, rno, gate, rank, r_rank, horse, remark, t_name, h_name, r_pop in race %}
                  {% if jockey == j_name %}
                  
                  <tr>
                    {% if rday == '일' %}
                    <td align="center" data-th="경주 요일" style="font-size: 1.2rem; color:blue">{{rday}}</td>
                    {%else%}
                    <td align="center" data-th="경주 요일" style="font-size: 1.2rem; color:darkslateblue">{{rday}}</td>
                    {%endif%}
                    
                    <td align="center" data-th="경주 번호"  style="font-size: 1.2rem">
                      <a href="{% url 'prediction_race' rcity rdate rno horse 'awardee' %}">{{rno}}ᴿ</a>
                    </td>
                    <td align="center" data-th="Gate" style="font-size: 1.2rem">{{gate}}</td>
                    <td data-th="경주마" style="font-size: 1.2rem">{{horse}}</td>
                    <td data-th="조교사" style="font-size: 1.2rem">{{t_name}}</td>
                    <td data-th="마주" style="font-size: 1.2rem"><span class="cur">{{h_name|slice:"0:6"}}</span></td>
                    <td align="center" data-th="최근 7경주 순위" style="font-size: 1.2rem"><span class="cur">{% if rank == 98 %}-{%else%}{{remark}}{%endif%}</span></td>
                    <td align="center" data-th="인기도" style="font-size: 1.2rem">
                      <span style="color:blue">
                        {% if r_pop > 80 %}★
                        {% elif r_pop > 60 and r_pop <= 80 %}◎
                        {% elif r_pop > 40 and r_pop <= 60 %}○
                        {% elif r_pop > 20 and r_pop <= 20 %}▲
                        {% elif r_pop > 0 %}※
                        {% else %}−
                        {% endif %}
                      </span>
                    </td>

                    <td align="center" data-th="예상" style="font-size: 1.2rem"><span class="cur">{% if rank == 98 %}New{%else%}{{rank}}{%endif%}</span></td>
                    <td align="center" data-th="결과" style="font-size: 1.2rem"><span class="cur">{% if r_rank == 0 %}-{% else %}{{r_rank}}{%endif%}</span></td>


                    
                  </tr>
                  
                  {% endif %}
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>
  </div>

  <div id="tab-2" class="tab-content">
    <table class="fold-table">
      <thead>
    
        <tr>
          <th rowspan="2"><span class="visible-small" title="Jockey">Jockey.</span><span class="visible-big">Jockey</span>
          </th>
          <th colspan="2" align="center"><span class="visible-small" title="rmonth1">출주.</span><span
              class="visible-big">출주횟수</span></th>
          <th colspan="3"><span class="visible-small" title="rmonth1">상금현황.</span><span class="visible-big">최근3개월 상금현황(천원)</span></th>
          <th colspan="6">최근3개월 상금수득 총출주횟수/순위별 횟수 </th>
        </tr>
        <tr>
          <th><span class="visible-small" title="rmonth2">금.</span><span class="visible-big">금.</span></th>
          <th><span class="visible-small" title="rmonth3">일.</span><span class="visible-big">일.</span></th>
          <th><span class="visible-small" title="rmonth1">당월.</span><span class="visible-big">당월</span></th>
          <th><span class="visible-small" title="rmonth2">전월.</span><span class="visible-big">전월</span></th>
          <th><span class="visible-small" title="rmonth3">전전월</span><span class="visible-big">전전월</span>
          <th><span class="visible-small" title="rmonth3">총.</span><span class="visible-big">총.</span></th>
          <th><span class="visible-small" title="rmonth3">1.</span><span class="visible-big">1.</span></th>
          <th><span class="visible-small" title="rmonth3">2.</span><span class="visible-big">2.</span></th>
          <th><span class="visible-small" title="rmonth3">3.</span><span class="visible-big">3.</span></th>
          <th><span class="visible-small" title="rmonth3">4.</span><span class="visible-big">4.</span></th>
          <th><span class="visible-small" title="rmonth3">5.</span><span class="visible-big">5.</span></th>
    
        </tr>
    
      </thead>
      <tbody>
        {% for rcity, rcity_in, jockey, rcnt, r1cnt, r2cnt, r3cnt, r4cnt, r5cnt, rmonth1, rmonth2, rmonth3, rdate1, rdate2, rdate3 in weeks %}
        {% if rcity == '부산' %}
        <tr class="view">
          {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 9000 and rmonth1|add:rmonth2 < rmonth3 %} <td style="font-size:1.4rem; color:tomato; font-weight: 700;">{{jockey}}</td>
            {% else %}
            <td style="font-size:1.4rem;">{{jockey}}</td>
            {% endif %}
            <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{rdate1}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{rdate3}}</td>
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.4rem;">{{rmonth1|intcomma}}</td>
            {% if rmonth2|add:rmonth3 > 300000 and rmonth2 < rmonth3 %} <td class="cur" align="right"
              style="font-family: Arial; font-size: 1.4rem; color:tomato; font-weight: 700;">{{rmonth2|intcomma}}</td>
              {% else %}
              <td class="cur" align="right" style="font-family: Arial; font-size: 1.4rem;">{{rmonth2|intcomma}}</td>
              {% endif %}
              <td class="cur" align="right" style="font-family: Arial; font-size: 1.4rem;">{{rmonth3|intcomma}}</td>
              {% if rcnt == None %}
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">0</td>
              {%else%}
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">{{rcnt}}</td>
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">{{r1cnt}}</td>
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">{{r2cnt}}</td>
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">{{r3cnt}}</td>
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">{{r4cnt}}</td>
              <td align="center" style="font-family: Arial; font-size: 1.4rem ">{{r5cnt}}</td>
              {%endif%}
    
        </tr>
        <tr class="fold">
          <td colspan="12">
            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr>
                    <th><span class="visible-small" title="t_rday111">요일</span><span class="visible-big">요일</span></th>
                    <th><span class="visible-small" title="Customer number">No</span><span class="visible-big">No</span>
                    </th>
                    <th><span class="visible-small" title="Customer name">Gate</span><span class="visible-big">Gate</span>
                    </th>
                    <th><span class="visible-small" title="Insurance number">경주마</span><span class="visible-big">경주마</span>
                    </th>
                    <th><span class="visible-small" title="Strategy">조교사</span><span class="visible-big">조교사</span></th>
                    <th>마주</th>
                    <th>최근 7경주 순위</th>
                    <th><span class="visible-small" title="Current">인기도</span><span class="visible-big">인기도</span></th>
    
                    <th><span class="visible-small" title="Current">예상</span><span class="visible-big">예상</span></th>
                    <th><span class="visible-small" title="Current">결과</span><span class="visible-big">결과</span></th>
    
                  </tr>
                </thead>
                <tbody>
                  {% for rcity, j_name, rdate, rday, rno, gate, rank, r_rank, horse, remark, t_name, h_name, r_pop in race %}
                  {% if jockey == j_name %}
    
                  <tr>
                    <td align="center" data-th="경주 요일" style="font-size: 1.2rem">{{rday}}</td>
    
                    <td align="center" data-th="경주 번호" style="font-size: 1.2rem">
                      <a href="{% url 'prediction_race' rcity rdate rno horse 'awardee' %}">{{rno}}ᴿ</a>
                    </td>
                    <td align="center" data-th="Gate" style="font-size: 1.2rem">{{gate}}</td>
                    <td data-th="경주마" style="font-size: 1.2rem">{{horse}}</td>
                    <td data-th="조교사" style="font-size: 1.2rem">{{t_name}}</td>
                    <td data-th="마주" style="font-size: 1.2rem"><span class="cur">{{h_name|slice:"0:6"}}</span></td>
                    <td align="center" data-th="최근 7경주 순위" style="font-size: 1.2rem"><span class="cur">{% if rank == 98 %}-{%else%}{{remark}}{%endif%}</span></td>
                    <td align="center" data-th="인기도" style="font-size: 1.2rem">
                      <span style="color:blue">
                        {% if r_pop > 80 %}★
                        {% elif r_pop > 60 and r_pop <= 80 %}◎
                        {% elif r_pop > 40 and r_pop <= 60 %}○ 
                        {% elif r_pop > 20 and r_pop <= 20 %}▲ 
                        {% elif r_pop > 0 %}※
                        {% else %}−
                        {% endif %}
                      </span>
                    </td>
    
                    <td align="center" data-th="예상" style="font-size: 1.2rem"><span class="cur">{% if rank == 98%}New{%else%}{{rank}}{%endif%}</span></td>
                    <td align="center" data-th="결과" style="font-size: 1.2rem"><span class="cur">{% if r_rank == None %}{%else %}{{r_rank}}{%endif%}</span></td>

                  </tr>
    
                  {% endif %}
                  {% endfor %}
    
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>
  </div>

  <div id="tab-3" class="tab-content">
    세번째 메뉴의 내용이 들어갑니다
  </div>

</div>

  




