{% load humanize %}
{% load mathfilters %}


<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script>

<script>
  $(document).ready(function () {

    $('ul.tabs li').click(function () {
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    })

  })
</script>

<div clss="roomListRoom">

  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1" style="padding: 6px 25px;">금요경마</li>
    <li class="tab-link" data-tab="tab-2" style="padding: 6px 25px;">토요경마</li>
    <li class="tab-link" data-tab="tab-3" style="padding: 6px 25px;">일요경마</li>
  </ul>

  <div id="tab-1" class="tab-content current">

    <table class="rwd-table">
      
        <tr>
          <th colspan="2" rowspan="2" align="center" style="font-size:1.3rem; padding: 3.0em; text-transform:capitalize; border-right: 1px solid gray;">&nbsp;<br>Race<br>&nbsp;</th>
          <!-- <th colspan="5" rowspan="1" align="center" style="font-size:1.3rem; padding: 1.0em; text-transform:capitalize;">
            {{race.0.1|slice:"0:4"}}.{{race.0.1|slice:"4:6"}}.{{race.0.1|slice:"6:8"}}&nbsp; ({{race.0.2}})
          </th> -->
          <th colspan="24" align="center" style="font-size:1.3rem; padding: 1.0em; text-transform:capitalize;">
            Program Expected Ranking (부담중량 증감 : ⊖ 🟥 ✚ 🟦)
          </th>
        </tr>
        <tr>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R1</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R2</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R3</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R4</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R5</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R6</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R7</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R8</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R9</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R10</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R11</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">r12</th>
        </tr>
        {% for r_rcity, r_rdate, r_rday, r_rno, rtime, distance, r2alloc, r333alloc, r123alloc in race %}
        {% if r_rday == '금' %}
        <tr>
      
          <td>
            <a href="{% url 'prediction_race' r_rcity r_rdate r_rno 0 'awardee' %}">
              <div style="font-size:1.0rem; text-align:left; font-weight: 550; ">{% if r_rno == 1 %}{{r_rcity}}{% endif %}</div>
              <div style="text-align: right; font-family: Arial; font-size: 1.4rem; font-weight: 550; ">{{r_rno}}ᴿ</div>
            </a>
            
            <div style="font-size:x-small; text-align:center;">
              <a href="http://kra.fiveplayer.co.kr/player.php?f={{r_rdate}}/{% if r_rcity == '서울' %}s{%else%}b{%endif%}{{r_rno}}r"
                onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;">🖥️</a>
            </div>
          </td>
    
          <td align="right" style="border-right: 1px solid gray;">
            
              <div style="font-size:x-small; text-align:right; color:var(--color-gray); font-family: Arial;">{{rtime}}</div>
              <div style="font-family: Arial; font-size: x-small; text-align: right; color: var(--color-main-light);">{{distance}}</div>

            {% if r2alloc == None %}
            <div align="center" style="font-size: 1.0rem;">
              {% if request.user.username == 'admin' %}
              <a href="{% url 'update_popularity' r_rcity r_rdate r_rno %}" onclick="window.open(this.href, '_blank', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;">
                <span class="tooltip" style="font-size: x-small; font-weight: 400;">🔏
                  <span class="tooltip-text" style="text-align: center; width: 150px; z-index: 1;">인기도 & 경주결과(순위) 입력</span></span>
              </a>
              {% else %}
              -
              {% endif %}
            </div>
            {%else%}
            <div align="right">
              <span class="tooltip" style="font-size: 0.7rem; font-family: Arial; color:dodgerblue;">{{r2alloc|slice:"2:"}}
                <span class="tooltip-text" style="font-family: Arial; font-size: 1.0rem; text-align: left; width: 130px; z-index: 999;">
                  <table>
                      <tr>
                        <th style="font-size: 1.0rem;">
                          <a href="http://kra.fiveplayer.co.kr/player.php?f={{r_rdate}}/{% if r_rcity == '서울' %}s{%else%}b{%endif%}{{r_rno}}r"
                            onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;">
                            <span style="font-size: 1.0rem; font-weight: 400;">🖥️</span>
                          </a>
                          &nbsp; 승식
                        </th>
                        <th style="font-size: 1.0rem;">배당율</th>
                      </tr>
                      <tr>
                        <td style="text-align: center; font-size: 1.0rem;">복승</td>
                        <td style="font-family: Arial; font-size: 1.0rem; text-align: right;">{{r2alloc|slice:"2:"}}</td>
                      </tr>
                      <tr>
                        <td style="font-size: 1.0rem;">삼복승</td>
                        <td style="font-family: Arial; font-size: 1.0rem; text-align: right;">{{r333alloc|slice:"3:"}}</td>
                      </tr>
                      <tr>
                        <td style="font-size: 1.0rem;">삼쌍승</td>
                        <td style="font-family: Arial; font-size: 1.0rem; text-align: right;">{{r123alloc|slice:"3:"}}</td>
                      </tr>
            
                  </table>
                </span>
              </span>
            </div>
            {%endif%}
      
          </td>
    
          {% for rcity, rdate, rday, rno, gate, rank, r_rank, horse, remark, jockey, trainer, host, r_pop, distance, handycap, i_prehandy, complex, complex5, i_complex, jt_per in expects %}
          {% if r_rcity == rcity and r_rdate == rdate and r_rno == rno %}
    
          <td align="center" style="font-family: Arial; color: var(--color-main); border-style: none;">

            <div align="center" style="font-size: 1.5rem;">
            {% if r_rank %}
              {% if r_rank == 1 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r1); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 2 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r2); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 3 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r3); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 4 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r4); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 5 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r5); font-weight: 600;">
                {{gate}}
              </span>
              {% else %}
              <span style="font-family: Arial; font-style: normal; color:var(--color-light); font-weight: 300;">{{gate}}</span>
              {% endif %}
            
            {% else %}
              {% if rank == 1 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 2 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 3 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 4 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 5 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% else %}
              {% if complex == complex5 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">{{gate}}</span>
              {% else %}
              <span style="font-family: Arial; font-style: normal; color:var(--color-light); font-weight: 300;">{{gate}}</span>
              {% endif %}
              {% endif %}
            {% endif %}
            </div>
            
            <div>
              {% if jockey|slice:"-2:" == jname1|slice:"-2:" %}
              <span class="blink" style="font-size:1.4rem; zoom:0.7; color: var(--color-r1); font-weight: 450;">{{jockey|slice:"-2:"}}</span>
              {% elif jockey|slice:"-2:" == jname2|slice:"-2:" %}
              <span class="blink" style="font-size:1.4rem; zoom:0.7; color: var(--color-r2); font-weight: 450;">{{jockey|slice:"-2:"}}</span>
              {% elif jockey|slice:"-2:" == jname3|slice:"-2:" %}
              <span class="blink" style="font-size:1.4rem; zoom:0.7; color: var(--color-r3); font-weight: 450;">{{jockey|slice:"-2:"}}</span>
              {% else %}
              <span style="font-size:1.4rem; zoom:0.7; color: var(--color-gray)">{{jockey|slice:"-2:"}}</span>
              {% endif %}
            </div>

            <div>
              {% if handycap|sub:i_prehandy == 0 or handycap|sub:i_prehandy >= 10 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:blue;">-</span>
              {% else %}
                {% if handycap|sub:i_prehandy > 0 %} 
                <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:blue;">{{handycap|sub:i_prehandy}}</span>
                {% else %}
                <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:red; ">{{handycap|sub:i_prehandy|mul:-1}}</span>
                {% endif %}
              {% endif %}
            </div>
          </td>

          <td align="center">

            <div>
              
              {% if r_pop >= 70 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r1);">{{r_pop}}</span>
              {% elif r_pop >= 10 and r_pop < 70 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r2);">{{r_pop}}</span>
              {% elif r_pop >= 1  and r_pop < 10 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r3);">{{r_pop}}</span>
              {% else %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-gray);">{{r_pop}}</span>
              {% endif %} 
            </div>

            <div>
            {% if jt_per >= 40 %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r1); ">{{jt_per}}</span>
            {% elif jt_per >= 30 and jt_per < 40 %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r2); ">{{jt_per}}</span>
            {% elif jt_per >= 10 and jt_per < 30 %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r3); ">{{jt_per}}</span>
            {% else %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-gray);">{{jt_per}}</span>
            {% endif %}
            </div>

            <div>
            {% if rank > 90 %}
            <span style="font-size: 1.3rem; zoom: 0.7">(신)</span>
            {% else %}
              {% if i_complex == None %}
              <span style="font-size: 1.3rem; zoom: 0.7">&nbsp;</span>
              {%else%}
                {% if i_complex < 10 %} 
                <span style="font-size: 1.3rem; zoom: 0.7; color:tomato;  ">{{i_complex|floatformat:0}}</span>
                {%else%}
                <span style="font-size: 1.3rem; zoom: 0.7; color: gray; ">{{i_complex|floatformat:0}}</span>
                {%endif%}
              {% endif %}
            {% endif %}
            </div>
          </td>
    
          {% endif %}
          {% endfor %}
          
    
        </tr>

  
        {% endif %}
        {% endfor %}

        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        
        
        

    </table>

  </div>

  <div id="tab-2" class="tab-content">

    <table class="rwd-table">
      
        <tr>
          <th colspan="2" rowspan="2" align="center" style="font-size:1.3rem; padding: 3.0em; text-transform:capitalize; border-right: 1px solid gray;">&nbsp;<br>Race<br>&nbsp;</th>
          <!-- <th colspan="5" rowspan="1" align="center" style="font-size:1.3rem; padding: 1.0em; text-transform:capitalize;">
            {{race.0.1|slice:"0:4"}}.{{race.0.1|slice:"4:6"}}.{{race.0.1|slice:"6:8"}}&nbsp; ({{race.0.2}})
          </th> -->
          <th colspan="24" align="center" style="font-size:1.3rem; padding: 1.0em; text-transform:capitalize;">
            Program Expected Ranking (부담중량 증감 : ⊖ 🟥 ✚ 🟦)
          </th>
        </tr>
        <tr>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R1</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R2</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R3</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R4</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R5</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R6</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R7</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R8</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R9</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R10</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R11</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">r12</th>
        </tr>
        {% for r_rcity, r_rdate, r_rday, r_rno, rtime, distance, r2alloc, r333alloc, r123alloc in race %}
        {% if r_rday == '토' %}
        <tr>
      
          <td>
            <a href="{% url 'prediction_race' r_rcity r_rdate r_rno 0 'awardee' %}">
              <div style="font-size:1.0rem; text-align:left; font-weight: 550; ">{% if r_rno == 1 %}{{r_rcity}}{% endif %}</div>
              <div style="text-align: right; font-family: Arial; font-size: 1.4rem; font-weight: 550; ">{{r_rno}}ᴿ</div>
            </a>
            
            <div style="font-size:x-small; text-align:center;">
              <a href="http://kra.fiveplayer.co.kr/player.php?f={{r_rdate}}/{% if r_rcity == '서울' %}s{%else%}b{%endif%}{{r_rno}}r"
                onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;">🖥️</a>
            </div>
          </td>
    
          <td align="right" style="border-right: 1px solid gray;">
            
              <div style="font-size:x-small; text-align:right; color:var(--color-gray); font-family: Arial;">{{rtime}}</div>
              <div style="font-family: Arial; font-size: x-small; text-align: right; color: var(--color-main-light);">{{distance}}</div>

            {% if r2alloc == None %}
            <div align="center" style="font-size: 1.0rem;">
              {% if request.user.username == 'admin' %}
              <a href="{% url 'update_popularity' r_rcity r_rdate r_rno %}" onclick="window.open(this.href, '_blank', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;">
                <span class="tooltip" style="font-size: x-small; font-weight: 400;">🔏
                  <span class="tooltip-text" style="text-align: center; width: 150px; z-index: 1;">인기도 & 경주결과(순위) 입력</span></span>
              </a>
              {% else %}
              -
              {% endif %}
            </div>
            {%else%}
            <div align="right">
              <span class="tooltip" style="font-size: 0.7rem; font-family: Arial; color:dodgerblue;">{{r2alloc|slice:"2:"}}
                <span class="tooltip-text" style="font-family: Arial; font-size: 1.0rem; text-align: left; width: 130px; z-index: 999;">
                  <table>
                      <tr>
                        <th style="font-size: 1.0rem;">
                          <a href="http://kra.fiveplayer.co.kr/player.php?f={{r_rdate}}/{% if r_rcity == '서울' %}s{%else%}b{%endif%}{{r_rno}}r"
                            onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;">
                            <span style="font-size: 1.0rem; font-weight: 400;">🖥️</span>
                          </a>
                          &nbsp; 승식
                        </th>
                        <th style="font-size: 1.0rem;">배당율</th>
                      </tr>
                      <tr>
                        <td style="text-align: center; font-size: 1.0rem;">복승</td>
                        <td style="font-family: Arial; font-size: 1.0rem; text-align: right;">{{r2alloc|slice:"2:"}}</td>
                      </tr>
                      <tr>
                        <td style="font-size: 1.0rem;">삼복승</td>
                        <td style="font-family: Arial; font-size: 1.0rem; text-align: right;">{{r333alloc|slice:"3:"}}</td>
                      </tr>
                      <tr>
                        <td style="font-size: 1.0rem;">삼쌍승</td>
                        <td style="font-family: Arial; font-size: 1.0rem; text-align: right;">{{r123alloc|slice:"3:"}}</td>
                      </tr>
            
                  </table>
                </span>
              </span>
            </div>
            {%endif%}
      
          </td>
    
          {% for rcity, rdate, rday, rno, gate, rank, r_rank, horse, remark, jockey, trainer, host, r_pop, distance, handycap, i_prehandy, complex, complex5, i_complex, jt_per in expects %}
          {% if r_rcity == rcity and r_rdate == rdate and r_rno == rno %}
    
          <td align="center" style="font-family: Arial; color: var(--color-main); border-style: none;">

            <div align="center" style="font-size: 1.5rem;">
            {% if r_rank %}
              {% if r_rank == 1 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r1); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 2 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r2); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 3 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r3); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 4 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r4); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 5 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r5); font-weight: 600;">
                {{gate}}
              </span>
              {% else %}
              <span style="font-family: Arial; font-style: normal; color:var(--color-light); font-weight: 300;">{{gate}}</span>
              {% endif %}
            
            {% else %}
              {% if rank == 1 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 2 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 3 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 4 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 5 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% else %}
              {% if complex == complex5 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">{{gate}}</span>
              {% else %}
              <span style="font-family: Arial; font-style: normal; color:var(--color-light); font-weight: 300;">{{gate}}</span>
              {% endif %}
              {% endif %}
            {% endif %}
            </div>
            
            <div>
              {% if jockey|slice:"-2:" == jname1|slice:"-2:" %}
              <span class="blink" style="font-size:1.4rem; zoom:0.7; color: var(--color-r1); font-weight: 450;">{{jockey|slice:"-2:"}}</span>
              {% elif jockey|slice:"-2:" == jname2|slice:"-2:" %}
              <span class="blink" style="font-size:1.4rem; zoom:0.7; color: var(--color-r2); font-weight: 450;">{{jockey|slice:"-2:"}}</span>
              {% elif jockey|slice:"-2:" == jname3|slice:"-2:" %}
              <span class="blink" style="font-size:1.4rem; zoom:0.7; color: var(--color-r3); font-weight: 450;">{{jockey|slice:"-2:"}}</span>
              {% else %}
              <span style="font-size:1.4rem; zoom:0.7; color: var(--color-gray)">{{jockey|slice:"-2:"}}</span>
              {% endif %}
            </div>

            <div>
              {% if handycap|sub:i_prehandy == 0 or handycap|sub:i_prehandy >= 10 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:blue;">-</span>
              {% else %}
                {% if handycap|sub:i_prehandy > 0 %} 
                <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:blue;">{{handycap|sub:i_prehandy}}</span>
                {% else %}
                <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:red; ">{{handycap|sub:i_prehandy|mul:-1}}</span>
                {% endif %}
              {% endif %}
            </div>
          </td>

          <td align="center">

            <div>
              
              {% if r_pop >= 70 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r1);">{{r_pop}}</span>
              {% elif r_pop >= 10 and r_pop < 70 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r2);">{{r_pop}}</span>
              {% elif r_pop >= 1  and r_pop < 10 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r3);">{{r_pop}}</span>
              {% else %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-gray);">{{r_pop}}</span>
              {% endif %} 
            </div>

            <div>
            {% if jt_per >= 40 %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r1); ">{{jt_per}}</span>
            {% elif jt_per >= 30 and jt_per < 40 %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r2); ">{{jt_per}}</span>
            {% elif jt_per >= 10 and jt_per < 30 %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r3); ">{{jt_per}}</span>
            {% else %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-gray);">{{jt_per}}</span>
            {% endif %}
            </div>

            <div>
            {% if rank > 90 %}
            <span style="font-size: 1.3rem; zoom: 0.7">(신)</span>
            {% else %}
              {% if i_complex == None %}
              <span style="font-size: 1.3rem; zoom: 0.7">&nbsp;</span>
              {%else%}
                {% if i_complex < 10 %} 
                <span style="font-size: 1.3rem; zoom: 0.7; color:tomato;  ">{{i_complex|floatformat:0}}</span>
                {%else%}
                <span style="font-size: 1.3rem; zoom: 0.7; color: gray; ">{{i_complex|floatformat:0}}</span>
                {%endif%}
              {% endif %}
            {% endif %}
            </div>
          </td>
    
          {% endif %}
          {% endfor %}
          
    
        </tr>

  
        {% endif %}
        {% endfor %}

        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        
        
        

    </table>
        
  </div>

  <div id="tab-3" class="tab-content">

    <table class="rwd-table">
      
        <tr>
          <th colspan="2" rowspan="2" align="center" style="font-size:1.3rem; padding: 3.0em; text-transform:capitalize; border-right: 1px solid gray;">&nbsp;<br>Race<br>&nbsp;</th>
          <!-- <th colspan="5" rowspan="1" align="center" style="font-size:1.3rem; padding: 1.0em; text-transform:capitalize;">
            {{race.0.1|slice:"0:4"}}.{{race.0.1|slice:"4:6"}}.{{race.0.1|slice:"6:8"}}&nbsp; ({{race.0.2}})
          </th> -->
          <th colspan="24" align="center" style="font-size:1.3rem; padding: 1.0em; text-transform:capitalize;">
            Program Expected Ranking (부담중량 증감 : ⊖ 🟥 ✚ 🟦)
          </th>
        </tr>
        <tr>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R1</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R2</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R3</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R4</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R5</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R6</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R7</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R8</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R9</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R10</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">R11</th>
          <th colspan="2" align="center" style="font-size:1.3rem; padding: 0.7em;">r12</th>
        </tr>
        {% for r_rcity, r_rdate, r_rday, r_rno, rtime, distance, r2alloc, r333alloc, r123alloc in race %}
        {% if r_rday == '일' %}
        <tr>
      
          <td>
            <a href="{% url 'prediction_race' r_rcity r_rdate r_rno 0 'awardee' %}">
              <div style="font-size:1.0rem; text-align:left; font-weight: 550; ">{% if r_rno == 1 %}{{r_rcity}}{% endif %}</div>
              <div style="text-align: right; font-family: Arial; font-size: 1.4rem; font-weight: 550; ">{{r_rno}}ᴿ</div>
            </a>
            
            <div style="font-size:x-small; text-align:center;">
              <a href="http://kra.fiveplayer.co.kr/player.php?f={{r_rdate}}/{% if r_rcity == '서울' %}s{%else%}b{%endif%}{{r_rno}}r"
                onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;">🖥️</a>
            </div>
          </td>
    
          <td align="right" style="border-right: 1px solid gray;">
            
              <div style="font-size:x-small; text-align:right; color:var(--color-gray); font-family: Arial;">{{rtime}}</div>
              <div style="font-family: Arial; font-size: x-small; text-align: right; color: var(--color-main-light);">{{distance}}</div>

            {% if r2alloc == None %}
            <div align="center" style="font-size: 1.0rem;">
              {% if request.user.username == 'admin' %}
              <a href="{% url 'update_popularity' r_rcity r_rdate r_rno %}" onclick="window.open(this.href, '_blank', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;">
                <span class="tooltip" style="font-size: x-small; font-weight: 400;">🔏
                  <span class="tooltip-text" style="text-align: center; width: 150px; z-index: 1;">인기도 & 경주결과(순위) 입력</span></span>
              </a>
              {% else %}
              -
              {% endif %}
            </div>
            {%else%}
            <div align="right">
              <span class="tooltip" style="font-size: 0.7rem; font-family: Arial; color:dodgerblue;">{{r2alloc|slice:"2:"}}
                <span class="tooltip-text" style="font-family: Arial; font-size: 1.0rem; text-align: left; width: 130px; z-index: 999;">
                  <table>
                      <tr>
                        <th style="font-size: 1.0rem;">
                          <a href="http://kra.fiveplayer.co.kr/player.php?f={{r_rdate}}/{% if r_rcity == '서울' %}s{%else%}b{%endif%}{{r_rno}}r"
                            onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;">
                            <span style="font-size: 1.0rem; font-weight: 400;">🖥️</span>
                          </a>
                          &nbsp; 승식
                        </th>
                        <th style="font-size: 1.0rem;">배당율</th>
                      </tr>
                      <tr>
                        <td style="text-align: center; font-size: 1.0rem;">복승</td>
                        <td style="font-family: Arial; font-size: 1.0rem; text-align: right;">{{r2alloc|slice:"2:"}}</td>
                      </tr>
                      <tr>
                        <td style="font-size: 1.0rem;">삼복승</td>
                        <td style="font-family: Arial; font-size: 1.0rem; text-align: right;">{{r333alloc|slice:"3:"}}</td>
                      </tr>
                      <tr>
                        <td style="font-size: 1.0rem;">삼쌍승</td>
                        <td style="font-family: Arial; font-size: 1.0rem; text-align: right;">{{r123alloc|slice:"3:"}}</td>
                      </tr>
            
                  </table>
                </span>
              </span>
            </div>
            {%endif%}
      
          </td>
    
          {% for rcity, rdate, rday, rno, gate, rank, r_rank, horse, remark, jockey, trainer, host, r_pop, distance, handycap, i_prehandy, complex, complex5, i_complex, jt_per in expects %}
          {% if r_rcity == rcity and r_rdate == rdate and r_rno == rno %}
    
          <td align="center" style="font-family: Arial; color: var(--color-main); border-style: none;">

            <div align="center" style="font-size: 1.5rem;">
            {% if r_rank %}
              {% if r_rank == 1 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r1); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 2 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r2); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 3 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r3); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 4 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r4); font-weight: 600;">
                {{gate}}
              </span>
              {% elif r_rank == 5 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r5); font-weight: 600;">
                {{gate}}
              </span>
              {% else %}
              <span style="font-family: Arial; font-style: normal; color:var(--color-light); font-weight: 300;">{{gate}}</span>
              {% endif %}
            
            {% else %}
              {% if rank == 1 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 2 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 3 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 4 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% elif rank == 5 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">
                {{gate}}
              </span>
              {% else %}
              {% if complex == complex5 %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-main); font-weight: 600;">{{gate}}</span>
              {% else %}
              <span style="font-family: Arial; font-style: normal; color:var(--color-light); font-weight: 300;">{{gate}}</span>
              {% endif %}
              {% endif %}
            {% endif %}
            </div>
            
            <div>
              {% if jockey|slice:"-2:" == jname1|slice:"-2:" %}
              <span class="blink" style="font-size:1.4rem; zoom:0.7; color: var(--color-r1); font-weight: 450;">{{jockey|slice:"-2:"}}</span>
              {% elif jockey|slice:"-2:" == jname2|slice:"-2:" %}
              <span class="blink" style="font-size:1.4rem; zoom:0.7; color: var(--color-r2); font-weight: 450;">{{jockey|slice:"-2:"}}</span>
              {% elif jockey|slice:"-2:" == jname3|slice:"-2:" %}
              <span class="blink" style="font-size:1.4rem; zoom:0.7; color: var(--color-r3); font-weight: 450;">{{jockey|slice:"-2:"}}</span>
              {% else %}
              <span style="font-size:1.4rem; zoom:0.7; color: var(--color-gray)">{{jockey|slice:"-2:"}}</span>
              {% endif %}
            </div>

            <div>
              {% if handycap|sub:i_prehandy == 0 or handycap|sub:i_prehandy >= 10 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:blue;">-</span>
              {% else %}
                {% if handycap|sub:i_prehandy > 0 %} 
                <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:blue;">{{handycap|sub:i_prehandy}}</span>
                {% else %}
                <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:red; ">{{handycap|sub:i_prehandy|mul:-1}}</span>
                {% endif %}
              {% endif %}
            </div>
          </td>

          <td align="center">

            <div>
              
              {% if r_pop >= 70 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r1);">{{r_pop}}</span>
              {% elif r_pop >= 10 and r_pop < 70 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r2);">{{r_pop}}</span>
              {% elif r_pop >= 1  and r_pop < 10 %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r3);">{{r_pop}}</span>
              {% else %}
              <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-gray);">{{r_pop}}</span>
              {% endif %} 
            </div>

            <div>
            {% if jt_per >= 40 %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r1); ">{{jt_per}}</span>
            {% elif jt_per >= 30 and jt_per < 40 %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r2); ">{{jt_per}}</span>
            {% elif jt_per >= 10 and jt_per < 30 %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-r3); ">{{jt_per}}</span>
            {% else %}
            <span style="font-size: 1.3rem; zoom: 0.7; font-family: Arial; color:var(--color-gray);">{{jt_per}}</span>
            {% endif %}
            </div>

            <div>
            {% if rank > 90 %}
            <span style="font-size: 1.3rem; zoom: 0.7">(신)</span>
            {% else %}
              {% if i_complex == None %}
              <span style="font-size: 1.3rem; zoom: 0.7">&nbsp;</span>
              {%else%}
                {% if i_complex < 10 %} 
                <span style="font-size: 1.3rem; zoom: 0.7; color:tomato;  ">{{i_complex|floatformat:0}}</span>
                {%else%}
                <span style="font-size: 1.3rem; zoom: 0.7; color: gray; ">{{i_complex|floatformat:0}}</span>
                {%endif%}
              {% endif %}
            {% endif %}
            </div>
          </td>
    
          {% endif %}
          {% endfor %}
          
    
        </tr>

  
        {% endif %}
        {% endfor %}

        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        
        
        

    </table>
    
  </div>

</div>