<!DOCTYPE html>
{% load static %}
<html lang="en">

<div class="loader" style="z-index: 999;">
</div>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>{% if awardee == 'jockey' %}기수{% else %}마방{% endif %}&nbsp;출주주기별&nbsp;연승율 현황 - '{{r_condition.rdate|slice:"4:6"}}.{{r_condition.rdate|slice:"6:8"}}&nbsp;({{r_condition.rday}})&nbsp;{{r_condition.rno}}R</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>
  

</head>

{% load mathfilters %}
{% load humanize %}

{% block content %}

<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script>

<!-- <main class="create-room layout"> -->
<main class="create-room layout">
  <!-- <div class="room" style="height: 100.5vh;"> -->
    
  <div class="container">

    <div class="roomList" style="height: auto;">

      {# Header #}
      {% include 'base/m_header_of_prediction.html' %}

      <hr style="border: solid 1px black;">
      
        <table class="fold-table">
          <thead>

            <tr>
              <th rowspan="2" width="4%" valign="center"><span class="visible-big" style="padding-bottom: 0.95rem;">예상<br>순위</span></th>
              {% if trend_j.0.2 %}
              <th rowspan="1" width="4%"><span class="visible-big">마번</span></th>
              {% else %}
              <th rowspan="2" width="4%"><span class="visible-big">&nbsp;<br>마번<br>&nbsp;</span></th>
              {% endif %}
              <th colspan="1"  width="14%">
                <a href="{% url 'status_stable' r_condition.rcity r_condition.rdate r_condition.rno %}"
                  onclick="window.open(this.href, 'w_status_stable', 'width=1000, height=880, toolbars=no, scrollbars=yes'); return false;">
                  <span class="tooltip" style="font-size: 1.2rem; font-weight: 400;">🐴&nbsp;Horse
                    <span class="tooltip-text">마방 경주마 보유현황 🔑</span>
                </a>
              </th>
              <th rowspan="1" colspan="2" width="9.0%">
                <span style="font-size: 1.2rem;">마방</span>
                <span style="font-size: 0.9rem;">(출주주기)</span>
              </th>
              <th colspan="12">
                <span class="visible-big">
                  🏇&nbsp;&nbsp;최근 99일 경주성적 필터링: &nbsp;
                  {% if awardee == 'jockey' %}
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '1' %}">1위</a>&nbsp;
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '2' %}">2위</a>&nbsp;
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '3' %}">3위</a>&nbsp;
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '4' %}">4위</a>&nbsp;
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '5' %}">5위</a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '99' %}">ALL</a>
                  {% else %}
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '1' %}">1위</a>&nbsp;
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '2' %}">2위</a>&nbsp;
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '3' %}">3위</a>&nbsp;
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '4' %}">4위</a>&nbsp;
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '5' %}">5위</a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{% url 'cycle_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '99' %}">ALL</a>
                  {% endif %}

                </span>
              </th>

            </tr>
            <tr>
              {% if trend_j.0.2 %} {# 경주결과가 입력되었으면 #}
              <th rowspan="1"><span class="visible-big" style="font-size: 0.9rem; color:var(--color-gray); border-radius: 10px; background-color:var(--color-bg); padding: 2px 4px;">실순</span></th>
              {% endif %}
              <th rowspan="1">
                <span class="visible-big" style="font-size:1.2rem;">Info.</span>
              </th>
              <th rowspan="1" colspan="2"><span class="visible-big" style="font-size:1.2rem;">체증증감/%</span></th>

              <th rowspan="1" width="5.0%" style="border-radius: 7px; background-color: var(--color-bg); color:var(--color-main);"><span class="visible-big">~1주</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">2주</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">3주</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">4주</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">5주</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">6주</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">7주</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">8주</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">9주</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">10주</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">~1년</span></th>
              <th rowspan="1" width="5.0%"><span class="visible-big">~휴양</span></th>
            </tr>
      
          </thead>
          <tbody>
            {% for rank, gate, r_rank, r_pop, horse, t_awardee, weeks, weight_per, dist_per, k01, k02, k03, k04, k05, k06, k07, k08, k09, k10, k11, k12, w01, w02, w03, w04, w05, w06, w07, w08, w09, w10, w11, w12 in trend_j %}
      
            <tr class="view">
      
              <td align="center">
                <div style="font-family: Arial; font-size:1.3rem; color:var(--color-main-light);">
                  {% if rank > 20 %}<span style="font-size: 1.1rem;">🐣</span>{% else %} {{rank}} {% endif %}
                </div>
              </td>
              
              {# gate(마번) 착순 #}
              <td align="center" style="font-size: 1.4rem ">
                {% if r_rank == 99 %}
                <span style="font-style: italic; text-decoration:line-through; color:gray;">{{gate}}</span>
                {% else %}
                  {% if rank == 1 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r1); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 2 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r2); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 3 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r3); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 4 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r4); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 5 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r5); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% else %}
                    
                    <span style="font-family: Arial; font-style: normal; ">{{gate}}</span>
                  {% endif %}
                {% endif %}

                {% if r_rank %}
                  
                  {% if r_rank == 1 %}
                  <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r1); text-align: right;">{{r_rank}}</div>
                  {% elif r_rank == 2 %}
                  <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r2); text-align: right;">{{r_rank}}</div>
                  {% elif r_rank == 3 %}
                  <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r3); text-align: right;">{{r_rank}}</div>
                  {% elif r_rank == 4 %}
                  <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r4); text-align: right;">{{r_rank}}</div>
                  {% elif r_rank == 5 %}
                  <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r5); text-align: right;">{{r_rank}}</div>
                  {% elif r_rank == 99 %}
                  <div style="font-family: Arial; font-size:.9rem; font-weight: 700; color:var(--color-gray); text-align: right;">🚫</div>
                  {% else %}
                  <div style="font-family: Arial; font-size:1.1rem; font-style: italic; color:var(--color-gray); text-align: right;">{{r_rank}}</div>
                  {% endif %}
                {% endif %}
              </td>
      
              <td>
                <div align="left" style="font-family: Arial; font-size:1.3rem;">

                  {% if r_rank == 99 %}
                    <span style="font-style: italic; text-decoration:line-through; color:gray;">{{horse|slice:"0:6"|rjust:"6"}}</span>
                  {% else %}
                    {% if rank == 1 %}
                      <span style="font-style: italic; color:var(--color-r1);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {% elif rank == 2 %}
                      <span style="font-style: italic; color:var(--color-r2);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {% elif rank == 3 %}
                      <span style="font-style: italic; color:var(--color-r3);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {% elif rank == 4 %}
                      <span style="font-style: italic; color:var(--color-r4);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {% elif rank == 5 %}
                      <span style="font-style: italic; color:var(--color-r5);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {%else%}
                      <span style="font-style: normal;">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {%endif%}
                  {% endif %}
                  
                </div>
      
                <div style="font-family: Arial; font-size:1.1rem; color:var(--color-gray); text-align: right;">
                  {% if weeks == 2 %}
                  <span style="font-family: Arial; font-size:1.15rem; color:var(--color-r1); border-radius: 10px; background-color:var(--color-bg); padding:2px 4px;">{{weeks}}<sup
                      style="font-size:0.7rem;">주</sup></span>
                  {% elif weeks >= 10 %}
                  <span style="font-family: Arial; font-size:1.15rem; color:var(--color-r2); border-radius: 10px; background-color:var(--color-bg); padding:2px 4px;">{{weeks}}<sup
                      style="font-size:0.7rem;">주</sup></span>
                  {% else %}
                  <span style="font-family: Arial; font-size:1.15rem; color:var(--color-gray); border-radius: 10px; background-color:var(--color-dark); padding:2px 4px;">{{weeks}}<sup
                      style="font-size:0.7rem;">주</sup></span>
                  {% endif %}

                  &nbsp;
                  {% if weight_per|slice:"1:2" == '.' %}

                    {# 성별 #}
                    {% if weight_per|slice:"3:4" == '암' %}
                    <span style="font-family: Arial; font-size: 1.15rem; color:var(--color-r1); border-radius: 10px; background-color:var(--color-bg); padding: 1px 2px;">{{weight_per|slice:"3:4"}}</span>
                    {% elif weight_per|slice:"3:4" == '거' %}
                    <span style="font-family: Arial; font-size: 1.15rem; color:var(--color-r3); border-radius: 10px; background-color:var(--color-bg); padding: 1px 2px;">{{weight_per|slice:"3:4"}}</span>
                    {%else%}
                    <span style="font-family: Arial; font-size: 1.15rem; color:var(--color-light-gray); border-radius: 10px; background-color:var(--color-bg); padding: 1px 2px;">{{weight_per|slice:"3:4"}}</span>
                    {%endif%}

                    {# 나이 #}
                    {% if weight_per|slice:"0:1"|mul:1 >= 6 %}
                    <span style="font-family: Arial; font-size: 1.15rem; font-style: italic; color:var(--color-r1); border-radius: 10px; background-color:var(--color-bg); padding:1px 3px">{{weight_per|slice:"0:1"}}
                    </span>
                    {% elif weight_per|slice:"0:1"|mul:1 < 3 %}
                    <span style="font-family: Arial; font-size: 1.15rem; font-style: italic; color:var(--color-r2); border-radius: 10px; background-color:var(--color-bg); padding:1px 3px">{{weight_per|slice:"0:1"}}
                    </span>
                    {%else%}
                    <span style="font-family: Arial; font-size: 1.15rem; font-style: italic; color:var(--color-gray); border-radius: 10px; background-color:var(--color-bg); padding:1px 3px">{{weight_per|slice:"0:1"}}
                    </span>
                    {%endif%}
                    
                  {% endif %}

                  {% if t_awardee in trainer_double_check %}
                  <span style="color:var(--color-r3); font-style: italic;">&nbsp;{{t_awardee}}</span>
                  {% else %}
                  <span style="color:var(--color-gray);">&nbsp;{{t_awardee}}</span>
                  {% endif %}
                  
                  
                </div>
              </td>
      
              <td align="left">

                <div class="tooltip" style="font-size: 1.2rem; text-align: left; color: var(--color-light-gray);">
                  <div>
                  {% if weight_per|slice:"6:9"|mul:1 >= 500 %} 
                  <span style="font-family: Arial; color:var(--color-r5);">{{weight_per|slice:"6:9"}}<sup style="font-size: 0.9rem; font-style: italic;">㎏</sup></span>
                  {% elif weight_per|slice:"6:9"|mul:1 >= 440 and weight_per|slice:"6:9"|mul:1 < 500 %}
                  <span style="font-family: Arial; color:var(--color-gray);">{{weight_per|slice:"6:9"}}<sup style="font-size: 0.9rem; font-style: italic;">㎏</sup></span>
                  {% else %}
                  <span style="font-family: Arial; color:var(--color-r2);">{{weight_per|slice:"6:9"}}<sup style="font-size: 0.9rem; font-style: italic;">㎏</sup></span>
                  {% endif %}
                  </div>

                  <span class="tooltip-text" style="z-index: 9; color: var(--color-gray);">
                    <div style="text-align: left;">체중 :&nbsp;&nbsp;
                      <span style="color:var(--color-r3); font-style: italic;">{{weight_per|slice:"5:9"}}<sup style="font-size: 0.9rem; font-style: italic;">㎏</sup></span>
                      <span style="color:var(--color-r5); font-style: italic;">{{weight_per|slice:"9:14"}}</span>
                    </div>
                    <div style="text-align: left;">출주주기 :&nbsp;&nbsp;
                      <span style="color:var(--color-r3)">{{weeks}}주</span>
                    </div>
                    <div style="text-align: left;">나이 :&nbsp;&nbsp;
                      <span style="color:var(--color-r3)">{{weight_per|slice:"0:1"}}세</span>
                    </div>
                    <div style="text-align: left;">성별 :&nbsp;&nbsp;
                      <span style="color:var(--color-r3)">{{weight_per|slice:"3:4"}}</span>
                    </div>
                    <hr>
                    <div style="text-align: left; padding-top: 10px;">총 전적 :&nbsp;&nbsp;
                      <span style="color:var(--color-r5)">{{weight_per|slice:"14:-5"}}</span>
                    </div>
                    <div style="text-align:right; font-style: italic; font-size: 1.1rem; ">
                      {% if weight_per|slice:"-4:-3" == ' ' %}
                      <span class="tooltip" style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-r1);">&nbsp;{{weight_per|slice:"-3:"}}</span>
                      {% else %}
                      {% if weight_per|slice:"-5:"|mul:1 >= 30 %}
                      <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-r3);">{{weight_per|slice:"-4:"}}</span>
                      {% elif weight_per|slice:"-5:"|mul:1 >= 20 and weight_per|slice:"-5:"|mul:1 > 30 %}
                      <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-light-gray);">{{weight_per|slice:"-4:"}}</span>
                      {% else %}
                      <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-gray);">{{weight_per|slice:"-4:"}}</span>
                      {% endif %}
                      {% endif %}
                    </div>
                    <div style="text-align: left; padding-top: 10px;">거리 전적 :&nbsp;&nbsp;
                      <span style="color:var(--color-r5)">{{dist_per|slice:"14:-5"}}</span>
                    </div>
                    <div style="text-align:right; font-style: italic; font-size: 1.1rem; ">
                      {% if dist_per|slice:"-4:-3" == ' ' %}
                      <span class="tooltip" style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-r1);">&nbsp;{{dist_per|slice:"-3:"}}</span>
                      {% else %}
                      {% if dist_per|slice:"-5:"|mul:1 >= 30 %}
                      <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-r3);">{{dist_per|slice:"-4:"}}</span>
                      {% elif dist_per|slice:"-5:"|mul:1 >= 20 and dist_per|slice:"-5:"|mul:1 > 30 %}
                      <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-light-gray);">{{dist_per|slice:"-4:"}}</span>
                      {% else %}
                      <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-gray);">{{dist_per|slice:"-4:"}}</span>
                      {% endif %}
                      {% endif %}
                    </div>
                  </span>
                </div>

                <div style="text-align:right; font-style: italic; font-size: 1.1rem; ">
                {% if weight_per|slice:"10:11" %}
                  {% if weight_per|slice:"10:11" == '+' %}
                    <span style="font-family: Arial; color:var(--color-r5); border-radius: 7px; background-color: var(--color-bg); padding:2px 4px;">{{weight_per|slice:"10:14"}}</span>
                  {% else %}
                    <span style="font-family: Arial; color:var(--color-r1); border-radius: 7px; background-color: var(--color-bg); padding:2px 4px;">{{weight_per|slice:"10:14"}}</span>
                  {% endif %}
                {% endif %}
                </div>
                
              </td>
              
              <td align="right">
                
                <div style="text-align:right; font-style: italic; font-size: 1.1rem; ">
                  {% if weight_per|slice:"-4:-3" == ' ' %}
                    <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-r1);">&nbsp;{{weight_per|slice:"-3:"}}</span>
                  {% else %}
                    {% if weight_per|slice:"-5:"|mul:1 >= 40 %}
                    <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-r5);">{{weight_per|slice:"-4:"}}</span>
                    {% elif weight_per|slice:"-5:"|mul:1 >= 30.0 and weight_per|slice:"-5:"|mul:1 < 40.0 %}
                    <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-r3);">{{weight_per|slice:"-4:"}}</span>
                    {% else %}
                    <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-gray);">{{weight_per|slice:"-4:"}}</span>
                    {% endif %}
                  {% endif %}
                </div>

                <div style="text-align:right; font-style: italic; font-size: 1.1rem; ">
                  {% if dist_per|slice:"-4:-3" == ' ' %}
                    <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-r1);">&nbsp;{{dist_per|slice:"-3:"}}</span>
                  {% else %}
                    {% if dist_per|slice:"-5:"|mul:1 >= 40 %}
                    <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-r5);">{{dist_per|slice:"-4:"}}</span>
                    {% elif dist_per|slice:"-5:"|mul:1 >= 30 and dist_per|slice:"-5:"|mul:1 < 40 %}
                    <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-r3);">{{dist_per|slice:"-4:"}}</span>
                    {% else %}
                    <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 7px; color:var(--color-gray);">{{dist_per|slice:"-4:"}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              </td>

              {# w01 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks <= 1 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k01}}</span>
                  {% else %}
                    {% if k01 >= 0 and k01 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k01}}</span>
                    {% elif k01 >= 10 and k01 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k01}}</span>
                    {% elif k01 >= 20 and k01 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k01}}</span>
                    {% elif k01 >= 30 and k01 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k01}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k01}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks <= 1 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w01}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w01}}</span>
                  {% endif %}
                </div>
              </td>
              {# w02 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks == 2 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k02}}</span>
                  {% else %}
                    {% if k02 >= 0 and k02 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k02}}</span>
                    {% elif k02 >= 10 and k02 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k02}}</span>
                    {% elif k02 >= 20 and k02 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k02}}</span>
                    {% elif k02 >= 30 and k02 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k02}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k02}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks == 2 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w02}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w02}}</span>
                  {% endif %}
                </div>
                
              </td>
              {# w03 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks == 3 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k03}}</span>
                  {% else %}
                    {% if k03 >= 0 and k03 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k03}}</span>
                    {% elif k03 >= 10 and k03 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k03}}</span>
                    {% elif k03 >= 20 and k03 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k03}}</span>
                    {% elif k03 >= 30 and k03 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k03}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k03}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks == 3 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w03}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w03}}</span>
                  {% endif %}
                </div>
              </td>
              {# w04 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks == 4 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k04}}</span>
                  {% else %}
                    {% if k04 >= 0 and k04 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k04}}</span>
                    {% elif k04 >= 10 and k04 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k04}}</span>
                    {% elif k04 >= 20 and k04 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k04}}</span>
                    {% elif k04 >= 30 and k04 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k04}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k04}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks == 4 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w04}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w04}}</span>
                  {% endif %}
                </div>
              </td>
              {# w05 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks == 5 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k05}}</span>
                  {% else %}
                    {% if k05 >= 0 and k05 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k05}}</span>
                    {% elif k05 >= 10 and k05 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k05}}</span>
                    {% elif k05 >= 20 and k05 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k05}}</span>
                    {% elif k05 >= 30 and k05 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k05}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k05}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks == 5 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w05}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w05}}</span>
                  {% endif %}
                </div>
              </td>
              {# w06 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks == 6 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k06}}</span>
                  {% else %}
                    {% if k06 >= 0 and k06 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k06}}</span>
                    {% elif k06 >= 10 and k06 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k06}}</span>
                    {% elif k06 >= 20 and k06 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k06}}</span>
                    {% elif k06 >= 30 and k06 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k06}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k06}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks == 6 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w06}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w06}}</span>
                  {% endif %}
                </div>
              </td>
              {# w07 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks == 7 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k07}}</span>
                  {% else %}
                    {% if k07 >= 0 and k07 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k07}}</span>
                    {% elif k07 >= 10 and k07 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k07}}</span>
                    {% elif k07 >= 20 and k07 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k07}}</span>
                    {% elif k07 >= 30 and k07 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k07}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k07}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks == 7 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w07}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w07}}</span>
                  {% endif %}
                </div>
              </td>
              {# w08 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks == 8 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k08}}</span>
                  {% else %}
                    {% if k08 >= 0 and k08 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k08}}</span>
                    {% elif k08 >= 10 and k08 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k08}}</span>
                    {% elif k08 >= 20 and k08 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k08}}</span>
                    {% elif k08 >= 30 and k08 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k08}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k08}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks == 8 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w08}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w08}}</span>
                  {% endif %}
                </div>
              </td>
              {# w09 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks == 9 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k09}}</span>
                  {% else %}
                    {% if k09 >= 0 and k09 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k09}}</span>
                    {% elif k09 >= 10 and k09 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k09}}</span>
                    {% elif k09 >= 20 and k09 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k09}}</span>
                    {% elif k09 >= 30 and k09 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k09}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k09}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks == 9 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w09}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w09}}</span>
                  {% endif %}
                </div>
              </td>
              {# w10 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks == 10 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k10}}</span>
                  {% else %}
                    {% if k10 >= 0 and k10 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k10}}</span>
                    {% elif k10 >= 10 and k10 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k10}}</span>
                    {% elif k10 >= 20 and k10 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k10}}</span>
                    {% elif k10 >= 30 and k10 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k10}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k10}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks == 10 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w10}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w10}}</span>
                  {% endif %}
                </div>
              </td>
              {# w11 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks >= 11 and weeks <= 52 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k11}}</span>
                  {% else %}
                    {% if k11 >= 0 and k11 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k11}}</span>
                    {% elif k11 >= 10 and k11 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k11}}</span>
                    {% elif k11 >= 20 and k11 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k11}}</span>
                    {% elif k11 >= 30 and k11 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k11}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k11}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks >= 11 and weeks <= 52 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w11}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w11}}</span>
                  {% endif %}
                </div>
              </td>
              {# w12 #}
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if weeks >= 53 %}
                  <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r3); border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{k12}}</span>
                  {% else %}
                    {% if k12 >= 0 and k12 < 10 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r1);">{{k12}}</span>
                    {% elif k12 >= 10 and k12 < 20 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-gray);">{{k12}}</span>
                    {% elif k12 >= 20 and k12 < 30 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-right-gray);">{{k12}}</span>
                    {% elif k12 >= 30 and k12 < 40 %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r4);">{{k12}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size: 1.25rem; color:var(--color-r5);">{{k12}}</span>
                    {% endif %}
                  {% endif %}
                </div>
              
                <div style="font-size: 0.9rem; text-align: right;">
                  {% if weeks >= 53 %}
                  <span style="color:var(--color-r3); font-family: Arial; font-size: 0.9rem; border-radius: 7px; padding: 2px 4px; background-color: var(--color-bg);">{{w12}}</span>
                  {% else %}
                  <span style="color:var(--color-gray); font-family: Arial; font-size: 0.9rem;">{{w12}}</span>
                  {% endif %}
                </div>
              </td>
              
            </tr>
      
            <tr class="fold">
              <td colspan="17">
                {# include 'base/m_solidarity.html' #}
              </td>
            </tr>

      
            {% endfor %}
          </tbody>
        </table>
      
    </div>

  </div>

</main>

<script>
  $(window).on('load', function () {
    $('.loader').fadeOut();
  });
</script>

{% endblock %}

{% include 'footer.html' %}

</html>