<!DOCTYPE html>
{% load static %}
{% load my_custom_tags %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>


  <title>Let's Enjoy! - 프로그램 경마! 더더구나?!</title>

  <form class="header__search" method="GET" action="{% url 'data_management' %}">
    <label> 
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>search</title>
        <path
          d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
        </path>
      </svg>
      검색조건 :
      <fieldset align="center" style="width: 19rem;">
        
        전체<input style="width: 3rem;" type="radio" name="rcity" value="%" checked />
        서울<input style="width: 3rem;" type="radio" name="rcity" value="서울" />
        부산<input style="width: 3rem;" type="radio" name="rcity" value="부산" />
        
      </fieldset>
      <input style="width: 12rem;" type="date" value={{fdate1}} name="q1" >
      <input style="width: 12rem;" type="date" value={{fdate2}} name="q2" >

      파일상태 :
      <select name="fstatus">  
        <option value="%">&nbsp;All</option>
        <option value="E">Error</option>
        <option value="F">Finish</option>
        <option value="I">Input</option>
        <option value="S">Start</option>
      </select>

      입력 데이터 :
      <select name="fcode">  
        <option value="%">&nbsp;All</option>
        <option value="01">01 출마표</option>
        <option value="11">11 경주결과</option>
        <option value="I3">I3 출마표변경</option>
        <option value="23">23 능력검사</option>
        <option value="55">55 주로조교</option>
        <option value="71">71 출주장구</option>
        <option value="72">72 마필병력</option>
        <option value="b1">b1 경주마정보</option>
        <option value="b2">b2 기수정보</option>
        <option value="b3">b3 조교사정보</option>
        <option value="b7">b7 마주정보</option>
        <option value="b4">b4 출발심사</option>
        <option value="b5">b5 출발조교</option>
        <option value="c1">c1 주로조교(별)</option>
        <option value="c2">c2 수영조교(별)</option>
      </select>

      <button class="btn" style="background: var(--color-main);">Search</button>

      <script>
        var input = document.getElementById("myInput");
        input.addEventListener("keypress", function (event) {
          if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("myBtn").click();
          }
        });
      </script>
      {% for message in messages %}
      {{ message.tag }}
      {{ message }}
      {% endfor %}
    </label>


  </form>


  
  <!-- <form class="header__search" method="GET" action="{% url 'data_management' %}">
    <input multiple="multiple" id='file_uploads' type="file" name="filename[]" />

    <input id="myInput" value="Some text..">
    <button id="myBtn" class="btn" style="background: var(--color-main);"
      onclick="javascript:alert('Hello World!')">Button</button>
  </form> -->

</head>

{% load mathfilters %}
{% load humanize %}
{% block content %}

<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script>

<script>
  $(document).ready(function () {

      $('ul.tabs li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
      })

    })
</script>

  <script>
    const input = document.querySelector('input');
      const preview = document.querySelector('.preview');

      input.addEventListener('change', showTextFile);

      function showTextFile() {
        const selectedFiles = input.files;
        const list = document.createElement('ul');
        preview.appendChild(list);

        for (const file of selectedFiles) {
          const listItem = document.createElement('li');

          if (validFileType(file)) {
            const summary = document.createElement('div');
            summary.textContent = `파일명 : ${file.name}, 파일 크기 : ${returnFileSize(file.size)}.`;
            const textContents = document.createElement('div');

            let reader = new FileReader();
            reader.onload = function () {
              textContents.innerText = reader.result;
            };
            reader.readAsText(file, "UTF-8");

            listItem.appendChild(summary);
            listItem.appendChild(textContents);
          } else {
            const message = document.createElement('div');
            message.textContent = `파일명 ${file.name}: .txt 파일을 선택하세요`;
            listItem.appendChild(message);
          }

          list.appendChild(listItem);
        }
      }

      const fileTypes = [
        'text/plain',
      ];

      function validFileType(file) {
        return fileTypes.includes(file.type);
      }

      function returnFileSize(number) {
        if (number < 1024) {
          return number + 'bytes';
        } else if (number > 1024 && number < 1048576) {
          return (number / 1024).toFixed(1) + 'KB';
        } else if (number > 1048576) {
          return (number / 1048576).toFixed(1) + 'MB';
        }
      }
  </script>
  
  <form>
    <div>
      <input type="file" id="file_uploads" accept=".txt" multiple>
    </div>
    <div class="preview">
      <p>aaa</p>
    </div>
  </form>


<!-- <div class="roomListRoom"> -->
<div style="width:800px">
  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">File Dir. Management</li>
    <li class="tab-link" data-tab="tab-2">DATABASE Query</li>
    <li class="tab-link" data-tab="tab-3">세번째 메뉴</li>
  </ul>


  <div id="tab-1" class="tab-content current">
    <table class="fold-table">
      <thead>
    
        <tr>
          <th><span class="visible-small" title="rmonth2">토.</span><span class="visible-big">토.</span></th>
          <th><span class="visible-small" title="rmonth3">일.</span><span class="visible-big">일.</span></th>
          
          <th><span class="visible-small" title="rmonth1">당월.</span><span class="visible-big">당월</span></th>
          <th><span class="visible-small" title="rmonth2">전월.</span><span class="visible-big">전월</span></th>
          <th><span class="visible-small" title="rmonth3">전전월</span><span class="visible-big">전전월</span>

        </tr>
    
      </thead>


      <tbody>
        {% for fname, num, rcheck, fpath, rdate, fcode, fstatus, in_date in krafile %}
        <tr class="view">
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">
            <input style="width: 3rem;" type="checkbox" name="rcheck" value={{rcheck}} />
          </td>
          <td align="right" style="font-family: Arial; font-size: 1.4rem;">{{num|floatformat:0}}</td>
          <td align="left" style="font-family: Arial; font-size: 1.4rem;">
            <div>{{fname}}</div>

            
            
          </td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{rdate}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{fcode}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">
            {% if fstatus == 'E' %}Error
            {% elif fstatus == 'F' %}Finish
            {% elif fstatus == 'I' %}Input
            {% elif fstatus == 'S' %}Start
            {%else%}{{fstatus}}
            {%endif%}
          </td>

          <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{in_date}}</td>

          
        </tr>
        <tr class="fold">
          <td colspan="7">
            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr>
                    <th colspan="2"><span class="visible-small" title="Jockey">Race</span><span class="visible-big">Race</span></th>
                    <th><span class="visible-small" title="Jockey">마<br>번</span><span class="visible-big">마<br>번</span></th>
                    
                  </tr>
                </thead>
                <tbody>
                  
                  {{fpath}}
    
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endfor %}
    
    
      </tbody>
    </table>
  </div>

  <div id="tab-2" class="tab-content">
    <table class="fold-table">
      <thead>
    
        <tr>
          <th><span class="visible-small" title="rmonth2">토.</span><span class="visible-big">토.</span></th>
          <th><span class="visible-small" title="rmonth3">일.</span><span class="visible-big">일.</span></th>
          
          <th><span class="visible-small" title="rmonth1">당월.</span><span class="visible-big">당월</span></th>
          <th><span class="visible-small" title="rmonth2">전월.</span><span class="visible-big">전월</span></th>
          <th><span class="visible-small" title="rmonth3">전전월</span><span class="visible-big">전전월</span>

        </tr>
    
      </thead>


      <tbody>
        {% for fname, num, rcheck, rdate, fcode, fstatus, in_date in kradata %}
        <tr class="view">
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">
            <input style="width: 3rem;" type="checkbox" name="rcheck" value={{rcheck}} />
          </td>
          <td align="right" style="font-family: Arial; font-size: 1.4rem;">{{num|floatformat:0}}</td>
          <td align="left" style="font-family: Arial; font-size: 1.4rem;">
            <div>{{fname}}</div>

            
            
          </td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{rdate}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{fcode}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">
            {% if fstatus == 'E' %}Error
            {% elif fstatus == 'F' %}Finish
            {% elif fstatus == 'I' %}Input
            {% elif fstatus == 'S' %}Start
            {%else%}{{fstatus}}
            {%endif%}
          </td>

          <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{in_date}}</td>

          
        </tr>
        <tr class="fold">
          <td colspan="7">
            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr>
                    <th colspan="2"><span class="visible-small" title="Jockey">Race</span><span class="visible-big">Race</span></th>
                    <th><span class="visible-small" title="Jockey">마<br>번</span><span class="visible-big">마<br>번</span></th>
                    
                  </tr>
                </thead>
                <tbody>
                  
                  {% get_file_contents fname %}
    
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endfor %}
    
    
      </tbody>
    </table>
  </div>
  
  <div id="tab-3" class="tab-content">
    <table class="fold-table">
      <thead>
    
        <tr>
          <th rowspan="2" colspan="2"><span class="visible-small" title="Jockey">Trainer.</span><span class="visible-big">Trainer(%)</span></th>
          <th colspan="2" align="center"><span class="visible-small" title="rmonth1">출주.</span><span class="visible-big">출주횟수</span></th>
          <th colspan="4"><span class="visible-small" title="rmonth1">상금현황.</span><span class="visible-big">최근 3개월 상금현황(백만)</span></th>
          <th colspan="10"><span class="visible-small" title="rmonth1">최근 2주간 성적.</span><span class="visible-big">최근 2주간 성적</span></th>
        </tr>
        <tr>
          <th><span class="visible-small" title="rmonth2">토.</span><span class="visible-big">금.</span></th>
          <th><span class="visible-small" title="rmonth3">일.</span><span class="visible-big">일.</span></th>
          
          <th><span class="visible-small" title="rmonth1">당월.</span><span class="visible-big">당월</span></th>
          <th><span class="visible-small" title="rmonth2">전월.</span><span class="visible-big">전월</span></th>
          <th><span class="visible-small" title="rmonth3">전전월</span><span class="visible-big">전전월</span>

          <th><span class="visible-small" title="rmonth1">3개월 합.</span><span class="visible-big">3개월 합</span></th>
          <th colspan="2"><span class="visible-small" title="rmonth1">1~5 순위별 횟수.</span><span class="visible-big">1~5 순위별 횟수</span></th>
          <th><span class="visible-small" title="rmonth1">월평균.</span><span class="visible-big">월평균</span></th>

          <th><span class="visible-small" title="rmonth3">2주상금</span><span class="visible-big">2주상금</span>
          <th colspan="3"><span class="visible-small" title="rmonth3">1주전 총/1/2/3</span><span class="visible-big">1주전 총/1/2/3</span></th>
          <th colspan="3"><span class="visible-small" title="rmonth3">2주전 총/1/2/3</span><span class="visible-big">2주전 총/1/2/3</span></th>
          
          
        </tr>
    
      </thead>

      <tbody>
        {% for rcity, rcity_in, awardee, rcnt, r1cnt, r2cnt, r3cnt, r4cnt, r5cnt, rmonth1, rmonth2, rmonth3, rdate1, rdate2, rdate3, lw1_fri1, lw1_fri2, lw1_fri3, lw1_fri, lw1_sat1, lw1_sat2, lw1_sat3, lw1_sat, lw1_sun1, lw1_sun2, lw1_sun3, lw1_sun,lw2_fri1, lw2_fri2, lw2_fri3, lw2_fri, lw2_sat1, lw2_sat2, lw2_sat3, lw2_sat,lw2_sun1, lw2_sun2, lw2_sun3, lw2_sun, award, year_per in weeks %}
        {% if rcity == '부산' %}
        <tr class="view">
          {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 15000 and rmonth1 < rmonth2|add:rmonth3|div:2 %}
          <td style="font-size:1.4rem; color:tomato; font-weight: 700;" >{{awardee}}</td>
          {% else %}
          <td style="font-size:1.4rem;" >{{awardee}}</td>
          {% endif %}
          {% if year_per >= 25.0 %}
          <td align="right" style="font-family: Arial; font-size: 1.2rem; color: var(--color-r1);">{{year_per}}</td>
          {%else%}
          <td align="right" style="font-family: Arial; font-size: 1.2rem;">{{year_per}}</td>
          {%endif%}
          
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{rdate1}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{rdate3}}</td>

          

          {% if rmonth1 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.4rem ">0</td>
          {%else%}
            {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 10000 and rmonth1 > rmonth2|add:rmonth3|div:2 %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:rgb(0, 128, 255); font-weight: 700;">{{rmonth1|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:var(--color-light-gray);">{{rmonth1|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rmonth2 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.4rem ">0</td>
          {%else%}
            {% if rmonth2|add:rmonth3|div:2 > 200000 and rmonth2 > 200000 %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:tomato; font-weight: 700;">{{rmonth2|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:var(--color-light-gray);">{{rmonth2|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rmonth3 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.4rem ">0</td>
          {%else%}
            {% if rmonth2|add:rmonth3|div:2 > 200000 and rmonth3 > 200000 %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:tomato; font-weight: 700;">{{rmonth3|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:var(--color-light-gray);">{{rmonth3|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rmonth1|add:rmonth2|add:rmonth3 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.4rem ">0</td>
          {%else%}
            {% if rmonth1|add:rmonth2|add:rmonth3|div:rcnt > 15000  %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:rgb(0, 128, 255); font-weight: 700;">{{rmonth1|add:rmonth2|add:rmonth3|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:var(--color-light-gray);">{{rmonth1|add:rmonth2|add:rmonth3|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if rcnt == None %}
          <td>-</td>
          <td>-</td>
          {%else%}
          <td align="right" style="font-family: Arial; font-size: 1.3rem ">{{rcnt}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem; color:var(--color-gray); ">{{r1cnt}}-{{r2cnt}}-{{r3cnt}}-{{r4cnt}}-{{r5cnt}}</td>
          {%endif%}

          {% if rmonth1|add:rmonth2|add:rmonth3 == None %}
            <td align="right" style="font-family: Arial; font-size: 1.4rem ">0</td>
          {%else%}
            {% if rmonth1|add:rmonth2|add:rmonth3|div:3 > 200000  %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:rgb(0, 128, 255); font-weight: 700;">{{rmonth1|add:rmonth2|add:rmonth3|div:3|floatformat:0|intcomma}}</td>
            {% else %}
            <td class="cur" align="right" style="font-family: Arial; font-size: 1.3rem; color:var(--color-light-gray);">{{rmonth1|add:rmonth2|add:rmonth3|div:3|floatformat:0|intcomma}}</td>
            {% endif %}
          {% endif %}

          {% if award > rmonth1|add:rmonth2|add:rmonth3|div:3  %}
            <td align="right" style="font-family: Arial; font-size: 1.3rem; color:rgb(0, 128, 255) ">{{award|floatformat:0|intcomma}}</td>
          {% elif award < rmonth1|add:rmonth2|add:rmonth3|div:6  %}
            <td align="right" style="font-family: Arial; font-size: 1.3rem; color:var(--color-r1) ">{{award|floatformat:0|intcomma}}</td>
          {% else %}
            <td align="right" style="font-family: Arial; font-size: 1.3rem; color:var(--color-light-gray) ">{{award|floatformat:0|intcomma}}</td>
          {% endif %}

            <td align="center" style="font-family: Arial; font-size: 1.3rem; color:var(--color-main-light); font-style: italic; ">{{lw1_sat|add:lw1_sun}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.3rem; color:var(--color-main-light); font-style: italic; ">{{lw1_sat1|add:lw1_sun1|add:lw1_sat2|add:lw1_sun2|add:lw1_sat3|add:lw1_sun3}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.3rem; color:var(--color-gray); font-style: italic; ">{{lw1_sat1|add:lw1_sun1}}-{{lw1_sat2|add:lw1_sun2}}-{{lw1_sat3|add:lw1_sun3}}</td>

            <td align="center" style="font-family: Arial; font-size: 1.3rem; color:var(--color-main-light); font-style: italic; ">{{lw2_sat|add:lw2_sun}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.3rem; color:var(--color-main-light); font-style: italic; ">{{lw2_sat1|add:lw2_sun1|add:lw2_sat2|add:lw2_sun2|add:lw2_sat3|add:lw2_sun3}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.3rem; color:var(--color-gray); font-style: italic; ">{{lw2_sat1|add:lw2_sun1}}-{{lw2_sat2|add:lw2_sun2}}-{{lw2_sat3|add:lw2_sun3}}</td>

        </tr>
        <tr class="fold">
          <td colspan="18">
            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr>
                    <th colspan="2"><span class="visible-small" title="Jockey">Race</span><span class="visible-big">Race</span></th>
                    <th><span class="visible-small" title="Jockey">No</span><span class="visible-big">No</span></th>
                    <th><span class="visible-small" title="Jockey">마명</span><span class="visible-big">마명</span></th>
                    <th colspan="2"><span class="visible-small" title="Jockey">기수 (연대%)</span><span class="visible-big">기수 (연대%)</span></th>
                    <th><span class="visible-small" title="Jockey">POP</span><span class="visible-big">POP</span></th>
                    <th><span class="visible-small" title="Jockey">착</span><span class="visible-big">착</span></th>
                    <th><span class="visible-small" title="Jockey">Tot﹆Avg</span><span class="visible-big">Tot﹆Avg</span></th>
                    <th><span class="visible-small" title="Jockey">D1</span><span class="visible-big">D1</span></th>
                    <th><span class="visible-small" title="Jockey">D2</span><span class="visible-big">D2</span></th>
                    <th><span class="visible-small" title="rmonth1">D3</span><span class="visible-big">D3</span></th>
                    <th><span class="visible-small" title="rmonth2">D4</span><span class="visible-big">D4</span></th>
                    <th><span class="visible-small" title="rmonth3">D5</span><span class="visible-big">D5</span></th>
                    <th><span class="visible-small" title="rmonth3">D6</span><span class="visible-big">D6</span></th>
                    <th><span class="visible-small" title="rmonth3">D7</span><span class="visible-big">D7</span></th>
                    <th><span class="visible-small" title="Jockey">D8</span><span class="visible-big">D8</span></th>
                    <th><span class="visible-small" title="Jockey">D9</span><span class="visible-big">D8</span></th>
                    <th><span class="visible-small" title="rmonth1">D10</span><span class="visible-big">D10</span></th>
                    <th><span class="visible-small" title="rmonth2">D11</span><span class="visible-big">D11</span></th>
                    <th><span class="visible-small" title="rmonth3">D12</span><span class="visible-big">D12</span></th>
                    <th><span class="visible-small" title="rmonth3">D13</span><span class="visible-big">D13</span></th>
                    <th><span class="visible-small" title="rmonth3">D14</span><span class="visible-big">D14</span></th>
                  
                  </tr>
                </thead>
                <tbody>
                  {% for rcity, rdate, rno, rday, gate, rank, r_rank, r_pop, horse, trainer, jockey, jt_per, handycap, r1, d1, r2, d2, r3, d3, r4, d4, r5, d5, r6, d6, r7, d7, r8, d8, r9, d9, r10, d10, r11, d11, r12, d12, r13, d13, r14, d14 in status %}
                  {% if awardee == jockey %}
    
                  <tr>
                    <td><div align="center" style="font-family: Arial; font-size:1.2rem;">{{rday}}</div></td>
                    <td>
                      <div align="center" style="font-family: Arial; font-size:1.2rem;">
                        <a href="http://kra.fiveplayer.co.kr/player.php?f={{rdate}}/{% if rcity == '서울' %}s{%else%}b{%endif%}{{rno}}r"
                          onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;">
                          <span class="tooltip" style="color:rgb(0, 128, 255)">{{rno}}<span class="tooltip-text">경주영상 보기</span></span>
                        </a>
                      </div>
                    </td>

                    <td>
                      <div align="center" style="font-family: Arial; font-size:1.2rem; padding:0.15rem">
                        <a href="{% url 'prediction_race' rcity rdate rno horse 0 %}"
                          onclick="window.open(this.href, '_blank', 'width=1400, height=1000, toolbars=no, scrollbars=yes'); return false;">
                        {% if rank == 1 %}
                        <span class="tooltip" style="color:var(--color-r1);">
                          {{gate}}
                        <span class="tooltip-text">경주예상 보기</span></span>
                        {% elif rank == 2 %}
                        <span class="tooltip" style="color:var(--color-r2);">
                          {{gate}}
                        <span class="tooltip-text">경주예상 보기</span></span>
                        {% elif rank == 3 %}
                        <span class="tooltip" style="color:var(--color-r3);">
                          {{gate}}
                        <span class="tooltip-text">경주예상 보기</span></span>
                        {% elif rank == 4 %}
                        <span class="tooltip" style="color:var(--color-r4);">
                          {{gate}}
                        <span class="tooltip-text">경주예상 보기</span></span>
                        {% elif rank == 5 %}
                        <span class="tooltip" style="color:var(--color-r5);">
                          {{gate}}
                        <span class="tooltip-text">경주예상 보기</span></span>
                        {% else %}
                        <span class="tooltip" style="font-style: normal;">
                          {{gate}}
                        <span class="tooltip-text">경주예상 보기</span></span>
                        {% endif %}
                        </a>
                      </div>
                    </td>
                    <td>
                      <div align="left" style="font-family: Arial; font-size:1.2rem;">
                        {% if rank == 1 %}
                        <span style="color:var(--color-r1);">
                          {{horse|slice:"0:5"}}
                        </span>
                        {% elif rank == 2 %}
                        <span style="color:var(--color-r2);">
                          {{horse|slice:"0:5"}}
                        </span>
                        {% elif rank == 3 %}
                        <span style="color:var(--color-r3);">
                          {{horse|slice:"0:5"}}
                        </span>
                        {% elif rank == 4 %}
                        <span style="color:var(--color-r4);">
                          {{horse|slice:"0:5"}}
                        </span>
                        {% elif rank == 5 %}
                        <span style="color:var(--color-r5);">
                          {{horse|slice:"0:5"}}
                        </span>
                        {% else %}
                        <span style="font-style: normal;">
                          {{horse|slice:"0:5"}}
                        </span>
                        {% endif %}
                      </div>
                    </td>
                    
                    <td>
                      <div align="left" style="font-family: Arial; font-size:1.2rem;">
                        {% if rank == 1 %}
                        <span style="color:var(--color-r1);">
                          {{trainer}}
                        </span>
                        {% elif rank == 2 %}
                        <span style="color:var(--color-r2);">
                          {{trainer}}
                        </span>
                        {% elif rank == 3 %}
                        <span style="color:var(--color-r3);">
                          {{trainer}}
                        </span>
                        {% elif rank == 4 %}
                        <span style="color:var(--color-r4);">
                          {{trainer}}
                        </span>
                        {% elif rank == 5 %}
                        <span style="color:var(--color-r5);">
                          {{trainer}}
                        </span>
                        {% else %}
                        <span style="font-style: normal;">
                          {{trainer}}
                        </span>
                        {% endif %}
                      </div>
                    </td>
                    
                  
                    <td>
                      <div align="right" style="font-family: Arial; font-size:1.2rem; color:rgb(0, 64, 255);">{{jt_per}}</div>
                    </td>

                    <td>
                      <span style="color:blue">
                        <progress value={{r_pop}} max="100" style="width: 3rem"></progress>
                      </span>
                    </td>

                    <td>
                      <div align="center" style="font-family: Arial; font-size:1.2rem;">
                        <a href="{% url 'race_result' rcity rdate rno horse 0 %}"
                          onclick="window.open(this.href, '_blank', 'width=960, height=1000, toolbars=no, scrollbars=yes'); return false;">
                        {% if r_rank == 1 %}
                        <span class="tooltip" style="color:var(--color-r1); font-style: italic;">
                          {{r_rank}}
                        <span class="tooltip-text">경주결과 보기</span></span>
                        {% elif r_rank == 2 %}
                        <span class="tooltip" style="color:var(--color-r2); font-style: italic;">
                          {{r_rank}}
                        <span class="tooltip-text">경주결과 보기</span></span>
                        {% elif r_rank == 3 %}
                        <span class="tooltip" style="color:var(--color-r3); font-style: italic;">
                          {{r_rank}}
                        <span class="tooltip-text">경주결과 보기</span></span>
                        {% elif r_rank == 4 %}
                        <span class="tooltip" style="color:var(--color-r4); font-style: italic;">
                          {{r_rank}}
                        <span class="tooltip-text">경주결과 보기</span></span>
                        {% elif r_rank == 5 %}
                        <span class="tooltip" style="color:var(--color-r5); font-style: italic;">
                          {{r_rank}}
                        <span class="tooltip-text">경주결과 보기</span></span>
                        {% else %}
                        <span class="tooltip" style="font-style: normal;">
                          {{r_rank}}
                        <span class="tooltip-text">경주결과 보기</span></span>
                        {% endif %}
                        </a>
                      </div>
                    </td>
                    
                    <td align="center">
                      <div style="font-family: Arial; font-size:1.2rem; color:var(--color-r2); font-weight: 400;">
                        {{d1|add:d2|add:d3|add:d4|add:d5|add:d6|add:d7|add:d8|add:d9|add:d10|add:d11|add:d12|add:d13|add:d14}}﹆
                        {{d1|add:d2|add:d3|add:d4|add:d5|add:d6|add:d7|add:d8|add:d9|add:d10|add:d11|add:d12|add:d13|add:d14|div:12|floatformat:0}}
                      </div>
                    </td>
                    
                    <td>
                      {% if r1 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 450;">{{r1}}{{d1}}</div>
                      {% elif r1 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 450;">{{r1}}{{d1}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r1}}{{d1}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r2 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r2}}{{d2}}</div>
                      {% elif r2 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r2}}{{d2}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r2}}{{d2}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r3 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r3}}{{d3}}</div>
                      {% elif r3 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r3}}{{d3}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r3}}{{d3}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r4 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r4}}{{d4}}</div>
                      {% elif r4 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r4}}{{d4}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r4}}{{d4}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r5 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r5}}{{d5}}</div>
                      {% elif r5 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r5}}{{d5}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r5}}{{d5}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r6 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r6}}{{d6}}</div>
                      {% elif r6 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r6}}{{d6}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r6}}{{d6}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r7 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r7}}{{d7}}</div>
                      {% elif r7 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r7}}{{d7}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r7}}{{d7}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r8 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r8}}{{d8}}</div>
                      {% elif r8 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r8}}{{d8}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r8}}{{d8}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r9 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r9}}{{d9}}</div>
                      {% elif r9 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r9}}{{d9}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r9}}{{d9}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r10 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r10}}{{d10}}</div>
                      {% elif r10 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r10}}{{d10}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r10}}{{d10}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r11 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r11}}{{d11}}</div>
                      {% elif r11 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r11}}{{d11}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r11}}{{d11}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r12 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r12}}{{d12}}</div>
                      {% elif r12 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r12}}{{d12}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r12}}{{d12}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r13 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r13}}{{d13}}</div>
                      {% elif r13 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r13}}{{d13}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r13}}{{d13}}</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if r14 == '조' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r1); font-weight: 500;">{{r14}}{{d14}}</div>
                      {% elif r14 == '기' %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); font-weight: 500;">{{r14}}{{d14}}</div>
                      {% else %}
                      <div align="center" style="font-family: Arial; font-size:1.1rem;">{{r14}}{{d14}}</div>
                      {% endif %}
                    </td>
                    

                  </tr>
    
                  {% endif %}
                  {% endfor %}
    
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>
  </div>

  <div id="tab-3" class="tab-content">
    세번째 메뉴의 내용이 들어갑니다
  </div>

</div>


</main>
{% endblock %}

</html>