<!DOCTYPE html>
{% load static %}
{% load my_custom_tags %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" /> -->
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>


  <title>Let's Enjoy! - 프로그램 경마! 더더구나?!</title>


  <form class="header__search" method="GET" action="{% url 'data_breakingnews' %}" >
    <label> 
      <a href="{% url 'home' %}" class="header__logo">
        <img src="{% static 'images/number-9.png' %}" />
      </a>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>search</title>
        <path
          d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
        </path>
      </svg>
      검색조건 :
      <fieldset align="center" style="width: 19rem;">
        
        전체<input style="width: 3rem;" type="radio" name="rcity" value="%" checked>
        서울<input style="width: 3rem;" type="radio" name="rcity" value="서울" {% if rcity == "서울" %} checked {% endif %}>
        부산<input style="width: 3rem;" type="radio" name="rcity" value="부산" {% if rcity == "부산" %} checked {% endif %}>
        
      </fieldset>
      <input style="width: 12rem;" type="date" value={{fdate1}} name="q1" >
      <input style="width: 12rem;" type="date" value={{fdate2}} name="q2" >

      입력 데이터 :
      <select name="fcode">  
        <option value="%">&nbsp;All</option>
        <option value="말취소" {% if title == '경주마취소' %} selected {% endif %}>경주마취소</option>
        <option value="기수변경" {% if title == '기수변경' %} selected {% endif %}>기수변경</option>
        <option value="기승불가" {% if title == '기승불가기수' %} selected {% endif %}>기승불가기수</option>
        <option value="경주성적" {% if title == '경주성적' %} selected {% endif %}>경주성적</option>

      </select>

      <button class="btn" style="background: var(--color-main);">Search</button>

      {% for message in messages %}
      {{ message.tag }}
      {{ message }}
      {% endfor %}

    </label>
  </form>

</head>

{% load mathfilters %}
{% load humanize %}
{% block content %}

{# fold-table #}
<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });
</script>

<!-- <div class="roomListRoom"> -->
<!-- <div class="container" style="width:800px"> -->
<div style="width:800px">

  <div id="tab-1" class="tab-content current">

    <table class="fold-table">
      <thead>
    
        <tr>
          <th><span class="visible-small" title="rmonth2">선택.</span><span class="visible-big">선택</span></th>
          <th><span class="visible-small" title="rmonth3">No.</span><span class="visible-big">No</span></th>
          
          <th><span class="visible-small" title="rmonth1">경마장.</span><span class="visible-big">경마장</span></th>
          <th><span class="visible-small" title="rmonth2">날짜.</span><span class="visible-big">날짜</span></th>
          <th><span class="visible-small" title="rmonth3">구분</span><span class="visible-big">구분</span></th>
          <th><span class="visible-small" title="rmonth3">상태</span><span class="visible-big">상태</span></th>
          <th><span class="visible-small" title="rmonth3">입력일시</span><span class="visible-big">입력일시</span></th>

        </tr>
    
      </thead>


      <form method="POST" enctype="multipart/form-data" action="{% url 'data_breakingnews' %}">
        {% csrf_token %}
        <style>
          .btn {
            background-color: #87CEEB;
            padding: 5px 10px;
            margin: 5px;
            border: none;
            color: black;
            text-align: center;
            text-decoration: none;
            font-size: 1.4rem;
            display: inline-block;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
          }
        
          .btn1,
          .btn2:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        </style>
        <button class="btn btn1" type="submit">선택파일 입력</button>

        <tbody>
          {% for num, rcheck, rcity, rdate, title, news, in_date in breakingnews %}
          <tr class="view">
            <td align="center" style="font-family: Arial; font-size: 1.4rem;">
              <input style="width: 2rem;" type="checkbox" name="rcheck" value={{fpath}} checked>
            </td>
            <td align="right" style="font-family: Arial; font-size: 1.4rem;">{{num|floatformat:0}}</td>
            <td align="left" style="font-family: Arial; font-size: 1.4rem;">
              <div>{{rcity}}</div>            
            </td>
            <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{rdate}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{title}}</td>
            <td align="center" style="font-family: Arial; font-size: 1.4rem;">
              {% if fstatus == 'E' %}Error
              {% elif fstatus == 'F' %}Finish
              {% elif fstatus == 'I' %}Input
              {% elif fstatus == 'S' %}Start
              {%else%}{{fstatus}}
              {%endif%}
            </td>

            <td align="center" style="font-family: Arial; font-size: 1.4rem;">{{in_date}}</td>
            
          </tr>
          <tr class="fold">
            <td colspan="7">
              {{fpath}}
            </td>
            
          </tr>
          {% endfor %}
      
      
        </tbody>

      </form>

      <a class="btn btn2" 
        href="{% url 'breakingnews_input' %}"
        style="background-color:gold" 
        onclick="window.open(this.href, '_blank', 'width=801, height=800, toolbars=no, scrollbars=yes'); return false;">
        BreakingNews 입력
      </a>

    </table>
  </div>


</div>


</main>
{% endblock %}

</html>