<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>{% if awardee == 'jockey' %}기수{% elif awardee == 'trainer' %}조교사{% else %}마주{% endif %}&nbsp; 최근 경주결과</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>

</head>

{% load mathfilters %}
{% load humanize %}

{% block content %}

<!-- <main class="create-room layout"> -->
<main class="create-room layout">
  <!-- <div class="room" style="height: 100.5vh;"> -->
  <div class="container">
    <div class="container">

      {# Header #}
      <div class="room__top" style="z-index:1; border-radius: 5px;">
        <div class="room__topLeft" style="font-size: 1.3rem;">

          <span>👨‍👧‍👦</span>
          <span style="font-size: 1.3rem; color:var(--color-light)">{{solidarity.0.1|slice:"0:4"}}.{{solidarity.0.1|slice:"4:6"}}.{{solidarity.0.1|slice:"6:8"}}&nbsp;</span>
        
          <a style="text-decoration-line: underline;" href="{% url 'get_race_awardee' solidarity.0.1 'jockey' i_jockey i_jockey i_trainer i_host %}">
            <span style="font-size: 1.3rem;">{{i_jockey}}</span>
          </a>
          <a  style="text-decoration-line: underline;" href="{% url 'get_race_awardee' solidarity.0.1 'trainer' i_trainer i_jockey i_trainer i_host %}">
            <span style="font-size: 1.3rem;">{{i_trainer}}</span>
          </a>
          <a  style="text-decoration-line: underline;" href="{% url 'get_race_awardee' solidarity.0.1 'host' i_host i_jockey i_trainer i_host %}">
            <span style="font-size: 1.3rem;">{{i_host}}</span>
          </a>

        </div>

      </div>
      
      <hr style="border: solid 1px black;">
      
      <table class="fold-table">
        <thead>
        
          <tr>
        
            <th colspan="3" style="font-size: 1.2rem;">
              <span style="color:var(--color-main);">{% if awardee == 'jockey' %}{{solidarity.0.17}}{% elif awardee == 'trainer' %}{{solidarity.0.18}}{% else %}{{solidarity.0.19}}{% endif %}</span>
              &nbsp;
              <span>최근 경주정보</span>
            </th>
            <th colspan="1" style="font-size: 0.9rem;"><span>인기</span></th>
            <th colspan="1" style="font-size: 0.9rem;"><span>예상</span></th>

            <th colspan="1" style="font-size: 1.2rem;"><span>Horse</span></th>
            <th colspan="2" style="font-size: 1.2rem;"><span>마체중</span></th>
        
            <th colspan="1" style="font-size: 1.2rem;"><span>부중</span></th>
        
            <th colspan="2" style="font-size: 1.2rem;">
              <span>{% if awardee == 'jockey' %}조교사{% elif awardee == 'trainer' %}기수{% else %}기수{% endif %}</span>
              <span style="font-size: 0.9rem;">(연대)</span>
            </th>
            <th colspan="1" style="font-size: 1.2rem;">
              <span>{% if awardee == 'jockey' %}마주{% elif awardee == 'trainer' %}마주{% else %}조교사{% endif %}</span>
            </th>
            <th colspan="1" style="font-size: 0.9rem;"><span>주기</span></th>
            <th colspan="3" style="font-size: 1.2rem;"><span>날씨/주로</span></th>
            <th colspan="1" style="font-size: 1.2rem;"><span>기록</span></th>
            <th colspan="3" style="font-size: 1.2rem;"><span>Gate/주행순위/Rank</span></th>
            <th colspan="2" style="font-size: 1.2rem;"><span>착차</span></th>
            
            <th colspan="1" style="font-size: 1.2rem;"><span>연식</span></th>
            <th colspan="1" style="font-size: 1.0rem;">
              <span class="tooltip">주로
                <span class="tooltip-text">빠르기</span>
              </span>
            </th>
        
          </tr>
        </thead>

        <tbody>
          {% for rcity, rdate, rno, distance, grade, dividing, weather, rstate, rmoisture, r1award, r2alloc, race_speed, gate_a, rank, horse_a, h_weight, w_change, jockey_a, trainer_a, host_a, rating, handycap, record, corners, gap, gap_b, p_record, p_rank, pop_rank, alloc1r, alloc3r, rs1f, rg3f, rg2f, rg1f, i_cycle, jt_per in solidarity %}
    
          <tr class="view">
    
            <td>
              <a href="{% url 'race_result' rcity rdate rno horse_a 0 0 0 %}"
                onclick="window.open(this.href, '_blank', 'width=1000, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
                <div style="text-align: left;">
                  <span style="font-size: 1.1rem; font-family: Arial;">'{{rdate|slice:"4:6" }}.{{rdate|slice:"6:8"}}</span>
                
                  {% if rcity == '서울' %}
                  <span style="font-size: 0.8rem; font-family: Arial;">{{rcity|slice:"0:1"}}</span>
                  {% else %}
                  <span style="font-size: 0.8rem; font-family: Arial; color:gray">{{rcity|slice:"0:1"}}</span>
                  {% endif %}
                  <span style="font-size: 1.1rem; font-family: Arial;">
                    {% if rno >= 10 %}{{rno}}ᴿ{% else %}&nbsp;&nbsp;{{rno}}ᴿ{% endif %}
                  </span>
                </div>
              </a>
            </td>

            <td align="center">
              
              <span style="font-size: 1.1rem; font-family: Arial; color: var(--color-main);">{{distance}}</span>
            </td>
            
            <td>
              
              {# 경주정보 #}
              <div style="text-align: center; font-style: normal;">
              
                {% if grade %}
                  {% if grade|slice:"0:2" == '주행'%}
                  <span style="font-size: 1.0rem; color:var(--color-r4)">{{grade|slice:"0:2"}}</span>
                  {%else%}

                    {% if grade|slice:"0:2" == r_condition.grade|slice:"0:2" %}
                    <span style="font-size: 1.0rem; color:tomato;">{{grade|slice:"0:2"}}</span>
                    {% else %}
                      {% if grade|slice:"1:2" == 'O' %}
                      <span style="font-size: 1.0rem; color: var(--color-r3);">{{grade|slice:"0:2"}}</span>
                      {% else %}
                      <span style="font-size: 1.0rem;">{{grade|slice:"0:2"}}</span>
                      {% endif %}
                    {% endif %}
                    
                    {% if dividing|slice:"0:2" == r_condition.dividing|slice:"0:2"%}
                    <span style="font-size: 1.0rem; color:tomato;">{{dividing|slice:"0:1"}}</span>
                    {% else %}
                    <span style="font-size: 1.0rem;">{{dividing|slice:"0:1"}}</span>
                    {% endif %}

                  {%endif%}
                {%endif%}
                
              </div>

            </td>

            <td style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
              {% if pop_rank %}
              {% if pop_rank == 1 %}
              <span style="font-style: italic; color:var(--color-r1); font-size: 1.1rem;">
                {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
              </span>
              {% elif pop_rank == 2 %}
              <span style="font-style: italic; color:var(--color-r2); font-size: 1.1rem;">
                {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
              </span>
              {% elif pop_rank == 3 %}
              <span style="font-style: italic; color:var(--color-r3); font-size: 1.1rem;">
                {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
              </span>
              {% else %}
              <span style="font-style: normal; color:var(--color-gray); font-size: 1.1rem;">
                {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
              </span>
              {% endif %}
              {% endif %}
            
            </td>

            <td style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
            
              {% if p_rank %}
                <a href="{% url 'prediction_race' rcity rdate rno 0 'awardee' %}"
                  onclick="window.open(this.href, '_blank', 'width=1400, height=1000, toolbars=no, scrollbars=yes'); return false;">
                {% if p_rank == 1 %}
                <span style="font-style: italic; color:var(--color-r1); font-size: 1.1rem;">
                  {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                </span>
                {% elif p_rank == 2 %}
                <span style="font-style: italic; color:var(--color-r2); font-size: 1.1rem;">
                  {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                </span>
                {% elif p_rank == 3 %}
                <span style="font-style: italic; color:var(--color-r3); font-size: 1.1rem;">
                  {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                </span>
                {% else %}
                <span style="font-style: normal; color:var(--color-gray); font-size: 1.1rem;">
                  {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                </span>
                {% endif %}
                </a>
              {% endif %}
            </td>
            
            {# 마명 / 체중 #}
            <td style="font-size: 1.15rem">
              <a href="{% url 'get_race_horse' rdate 'horse' horse_a jockey_a trainer_a host_a %}">
                {% if rank == 1 %}
                <div style="font-family: Arial; color:var(--color-r1);">
                  {{horse_a|slice:"0:5"}}
                </div>
                {% elif rank == 2 %}
                <div style="font-family: Arial; color:var(--color-r2);">
                  {{horse_a|slice:"0:5"}}
                </div>
                {% elif rank == 3 %}
                <div style="font-family: Arial; color:var(--color-r3);">
                  {{horse_a|slice:"0:5"}}
                </div>
                {% elif rank == 4 %}
                <div style="font-family: Arial; color:var(--color-r4);">
                  {{horse_a|slice:"0:5"}}
                </div>
                {% elif rank == 5 %}
                <div style="font-family: Arial; color:var(--color-r5);">
                  {{horse_a|slice:"0:5"}}
                </div>
                {% else %}
                <div style="font-family: Arial; color:var(--color-gray);">
                  {{horse_a|slice:"0:5"}}
                </div>
                {% endif %}
              </a>
            </td>

            <td>
              <div style="font-size: 1.15rem; font-family: Arial; text-align: center; color:var(--color-light-gray)">{{h_weight}}</div>
            </td>
            <td>
              <div style="font-family: Arial; text-align: right;">
                <span style="font-size: 1.15rem; font-family: Arial; text-align: right;">{{w_change|slice:"0:1"}}</span>
                {% if w_change|slice:"1:"|mul:1 >= 10 %}
                <span style="font-size: 1.15rem; font-family: Arial; text-align: right; color:var(--color-r1)">{{w_change|slice:"1:"}}</span>
                {% else %}
                <span style="font-size: 1.15rem; font-family: Arial; text-align: right; color:var(--color-gray)">{{w_change|slice:"1:"}}</span>
                {% endif %}
              </div>
            </td>

            {# 부담중량 #}
            <td align="center">
              {% if handycap >= 56 %}
              <div style="font-size: 1.15rem; font-family: Arial; color: var(--color-r5); font-weight: 700;">{% if handycap %}{{handycap}}{% endif %}</div>
              {% else %}
              <div style="font-size: 1.15rem; font-family: Arial; color: var(--color-light-gray);">{% if handycap %}{{handycap}}{% endif %}</div>
              {% endif %}
            </td>

            {# 조교사 or 기수 or 마주 #}

            {% if awardee == 'jockey' %}
            <td style="font-size: 1.15rem">
              <a href="{% url 'get_race_awardee' rdate 'trainer' trainer_a jockey_a trainer_a host_a %}">
                {% if trainer_a == i_trainer %}
                <div style="color:var(--color-r1); text-align: left;">{{trainer_a}}</div>
                {%else%}
                <div style="color:var(--color-gray); text-align: left;">{{trainer_a}}</div>
                {%endif%}
              </a>
            </td>
            <td align="right" style="font-size: 1.0rem;">
              <a href="{% url 'get_race_awardee' rdate 'trainer' trainer_a jockey_a trainer_a host_a %}">
                {% if jt_per %}
                  {% if trainer_a == i_trainer and jockey_a == i_jockey %}
                  <div style="font-family: Arial; color:var(--color-r3);">{{jt_per}}</div>
                  {%else%}
                  <div style="font-family: Arial; color:var(--color-gray);">{{jt_per}}</div>
                  {%endif%}
                {%endif%}
              </a>
            </td>
            <td style="font-size: 1.15rem">
              <a href="{% url 'get_race_awardee' rdate 'host' host_a jockey_a trainer_a host_a %}">
                {% if host_a == i_host %}
                <div style="color:var(--color-r1); text-align: left;">{{host_a|slice:"0:3"}}</div>
                {%else%}
                <div style="color:var(--color-gray); text-align: left;">{{host_a|slice:"0:3"}}</div>
                {%endif%}
              </a>
            </td>
            {% elif awardee == 'trainer' %}
            <td style="font-size: 1.15rem">
              <a href="{% url 'get_race_awardee' rdate 'jockey' jockey_a jockey_a trainer_a host_a %}">
                {% if jockey_a == i_jockey %}
                <div style="color:var(--color-r1); text-align: left;">{{jockey_a|slice:"0:3"}}</div>
                {%else%}
                <div style="color:var(--color-gray); text-align: left;">{{jockey_a|slice:"0:3"}}</div>
                {%endif%}
              </a>
            </td>
            <td align="right" style="font-size: 1.0rem;">
              <a href="{% url 'get_race_awardee' rdate 'trainer' trainer_a jockey_a trainer_a host_a %}">
                {% if jt_per %}
                  {% if trainer_a == i_trainer and jockey_a == i_jockey %}
                  <div style="font-family: Arial; color:var(--color-r3);">{{jt_per}}</div>
                  {%else%}
                  <div style="font-family: Arial; color:var(--color-gray);">{{jt_per}}</div>
                  {%endif%}
                {%endif%}
              </a>
            </td>
            <td style="font-size: 1.15rem">
              <a href="{% url 'get_race_awardee' rdate 'host' host_a jockey_a trainer_a host_a %}">
                {% if host_a == i_host %}
                <div style="color:var(--color-r1); text-align: left;">{{host_a|slice:"0:3"}}</div>
                {%else%}
                <div style="color:var(--color-gray); text-align: left;;">{{host_a|slice:"0:3"}}</div>
                {%endif%}
              </a>
            </td>
            {% else %}
            <td style="font-size: 1.15rem">
              <a href="{% url 'get_race_awardee' rdate 'jockey' jockey_a jockey_a trainer_a host_a %}">
                {% if jockey_a == i_jockey %}
                <div style="color:var(--color-r1); text-align: left;">{{jockey_a|slice:"0:3"}}</div>
                {%else%}
                <div style="color:var(--color-gray); text-align: left;">{{jockey_a|slice:"0:3"}}</div>
                {%endif%}
              </a>
            </td>
            <td align="right" style="font-size: 1.0rem;">
              <a href="{% url 'get_race_awardee' rdate 'trainer' trainer_a jockey_a trainer_a host_a %}">
                {% if jt_per %}
                  {% if trainer_a == i_trainer and jockey_a == i_jockey %}
                  <div style="font-family: Arial; color:var(--color-r3);">{{jt_per}}</div>
                  {%else%}
                  <div style="font-family: Arial; color:var(--color-gray);">{{jt_per}}</div>
                  {%endif%}
                {%endif%}
              </a>
            </td>
            <td style="font-size: 1.15rem">
              <a href="{% url 'get_race_awardee' rdate 'trainer' trainer_a jockey_a trainer_a host_a %}">
                {% if trainer_a == i_trainer %}
                <div style="color:var(--color-r1); text-align: left;">{{trainer_a|slice:"0:4"}}</div>
                {%else%}
                <div style="color:var(--color-gray); text-align: left;;">{{trainer_a|slice:"0:4"}}</div>
                {%endif%}
              </a>
            </td>
            {% endif %}

            {# 출주주기 #}
            <td align="center" style="font-family: Arial, Helvetica, sans-serif;">
              {% if i_cycle <= 18 or i_cycle >= 70 %}
              <div style="font-size: 1.1rem; color:var(--color-r1); border-radius: 10px; background-color: var(--color-bg);">{{i_cycle|div:7|floatformat:0}}</div>
              {% else %}
              <div style="font-size: 1.1rem; color:var(--color-gray);">{{i_cycle|div:7|floatformat:0}}</div>
              {% endif %}
            </td>
            
            
            {# 날씨 #}
            <td style="font-size: 1.15rem">
              
              {% if weather %}
              <div>
                {% if weather|slice:"0:1" == '맑' %}☀️
                {% elif weather|slice:"0:1" == '흐' %}☁️
                {% elif weather|slice:"0:1" == '비' %}☔️
                {% elif weather|slice:"0:1" == '눈' %}☃️
                {% else %}﹆
                {% endif %}
              </div>
              
              {% endif %}

            </td>
            {# 주로 #}
            <td align="center">
              {% if rstate == '불량' or rstate == '포화' %}
              <div style="font-family: Arial; font-size: 1.1rem; color:tomato;">{{rstate|slice:"0:1"}}</div>
              {% else %}
              <div style="font-family: Arial; font-size: 1.1rem; color:var(--color-gray);">{% if handycap %}{{rstate|slice:"0:1"}}{% endif %}</div>
              {% endif %}

            </td>
            <td align="center">
              {% if rstate == '불량' or rstate == '포화' %}
              <div style="font-family: Arial; font-size: 1.1rem; color:tomato;">{{rmoisture}}</div>
              {% else %}
              <div style="font-family: Arial; font-size: 1.1rem; color:var(--color-gray);">{% if handycap %}{{rmoisture}}{% endif %}</div>
              {% endif %}

            </td>
            {# 경주기록 #}
            <td>
              {% if rank == 1 %}
              <div style="font-style: italic; color:var(--color-r1); font-weight: 500; font-size: 1.1rem; font-family: Arial; background-color: var(--color-bg); border-radius: 7px; padding: 0.5px 2px;">
                {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
              </div>
              {% elif rank == 2 %}
              <div style="font-style: italic; color:var(--color-r2); font-weight: 500; font-size: 1.1rem; font-family: Arial; background-color: var(--color-bg); border-radius: 7px; padding: 0.5px 2px;">
                {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
              </div>
              {% elif rank == 3 %}
              <div style="font-style: italic; color:var(--color-r3); font-weight: 500; font-size: 1.1rem; font-family: Arial; background-color: var(--color-bg); border-radius: 7px; padding: 0.5px 2px;">
                {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
              </div>
              {% elif rank == 4 %}
              <div style="font-style: italic; color:var(--color-r4); font-weight: 500; font-size: 1.1rem; font-family: Arial; background-color: var(--color-bg); border-radius: 7px; padding: 0.5px 2px;">
                {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
              </div>
              {% elif rank == 5 %}
              <div style="font-style: italic; color:var(--color-r5); font-weight: 500; font-size: 1.1rem; font-family: Arial; background-color: var(--color-bg); border-radius: 7px; padding: 0.5px 2px;">
                {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
              </div>
              
              {% else %}
              <div style="font-style: italic; color:var(--color-gray); font-size: 1.1rem; font-family: Arial;">
                {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
              </div>
              {% endif %}

            </td>
            
            <td align="center" style="font-size: 1.1rem;">
              
              <span style="font-family: Arial;">
                {% if rank > 20 %}﹆{% else %} {{gate_a}} {% endif %}
              </span>
              
            </td>
            <td style="font-size: 0.9rem;">
              {% if corners %}
                <div style="text-align: center; font-family: Arial;">
                  {{corners}}
                </div>
              {% endif %}
            </td>
            
            <td align="center">
              {% if rank == 1 %}
              <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-r1); background-color: var(--color-bg); border-radius: 5px; padding: 2px 4px;">
                {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
              </span>
              {% elif rank == 2 %}
              <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-r2); background-color: var(--color-bg); border-radius: 5px; padding: 2px 4px;">
                {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
              </span>
              {% elif rank == 3 %}
              <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-r3); background-color: var(--color-bg); border-radius: 5px; padding: 2px 4px;">
                {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
              </span>
              {% elif rank == 4 %}
              <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-r4); background-color: var(--color-bg); border-radius: 5px; padding: 2px 4px;">
                {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
              </span>
              {% elif rank == 5 %}
              <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5); background-color: var(--color-bg); border-radius: 5px; padding: 2px 4px;">
                {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
              </span>
              
              {% else %}
              <span style="font-size: 1.1rem; font-family: Arial; color: var(--color-gray);">
                {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
              </span>
              {% endif %}
            </td>

            <td align="center">
              {% if gap %}
              <div style="font-size: 0.9rem; font-family: Arial;">{% if rank < 20 %}{{gap}}{% endif %}</div>
              {%endif%}
            </td>
            <td align="center">
              {% if gap_b %}
              <div style="font-size: 0.9rem; font-family: Arial;">{% if rank < 20 %}{{gap_b}}{% endif %}</div>
              {%endif%}
            </td>
            
            <td align="right" style="font-size: 1.15rem; font-family: Arial;">
            {% if alloc1r %}
              {% if rank <= 3 %}
                <span style="color:var(--color-r1); font-weight: 700; font-family: Arial;">{{alloc3r}}</span>
              {%else%}
                <span style="font-family: Arial; color:var(--color-gray);">{{alloc3r}}</span>
              {%endif%}
            {%endif%}
            </td>

            {# 주로빠르기 #}
            <td align="center" style="border-radius: 20px; background-color:var(--color-bg); font-style: italic;"> 
              {% if race_speed == '③' %}
              <span style="font-weight: 300; font-size: 1.1rem; color:var(--color-r1);">3</span>
              {% elif race_speed == '④' %}
              <span style="font-weight: 300; font-size: 1.1rem; color:var(--color-r2);">4</span>
              {% elif race_speed == '⑤' %}
              <span style="font-weight: 300; font-size: 1.1rem; color:var(--color-light-gray);">5</span>
              {% elif race_speed == '⑥' %}
              <span style="font-weight: 300; font-size: 1.1rem; color:var(--color-gray);">6</span>
              {% elif race_speed == '⑦' %}
              <span style="font-weight: 300; font-size: 1.1rem; color:var(--color-r3);">7</span>
              {% elif race_speed == '⑧' %}
              <span style="font-weight: 300; font-size: 1.1rem; color:var(--color-r4);">8</span>
              {% else %}
              <span style="font-weight: 300; font-size: 1.1rem; color:var(--color-r5);">{% if race_speed %}{{race_speed}}{% else %}&nbsp;{% endif %}</span>
              {% endif %}
            </td>
    
          </tr>
    
          <tr class="fold">
            <div></div>
          </tr>

    
          {% endfor %}
        </tbody>
      </table>
        
      
    </div>
</main>
{% endblock %}

{% include 'footer.html' %}

</html>