{# thethe9 home 화면 좌측메뉴의 tab별 리스트 정보 #}

{% load static %}
{% load mathfilters %}
{% load humanize %}

<tr>
  
  {# 경주번호 / 경주조건 #}
  <td style="vertical-align: middle; background-color: var(--color-dark-medium);">
    <a href="{% url 'race_prediction' r_rcity r_rdate r_rno 0 'awardee' %}" onclick="window.open(this.href, 'w_race_prediction', 'width=1250, height=1000, top=0, left=0, toolbars=no, scrollbars=yes'); return false;">
      
      <div class="tooltip" style="font-size: 1.7rem; background-color: var(--color-bg); padding: 10px 12px; border-radius: 10px;">
        {% if r_rcity == '서울' %}
        <div style="font-size: 1.0rem; font-weight: 350; color:var(--color-main); padding-top: 5px;">{{r_rcity}}</div>
        {% else %}
        <div style="font-size: 1.0rem; font-weight: 350; color:var(--color-r3); padding-top: 5px;">{{r_rcity}}</div>
        {% endif %}
        <span style="text-align: right; font-weight: 350; font-size: 1.7rem; border-bottom:1px solid orange; border-radius: 5px;">

          {% if r_rno|mul:1 >= 10 %}{{r_rno}}<sup style="font-size: 1.0rem;">R</sup>{% else %}&nbsp;{{r_rno}}<sup style="font-size: 1.0rem;">R</sup>{% endif %}
          
        </span>
        <span class="tooltip-text" style="font-size: 1.2rem;">🏇&nbsp;Race 분석</span>
      </div>
    </a>
    
  </td>

  <td align="right" style="border-right: 1px solid var(--color-bg); background-color: var(--color-dark-medium);">
    <a href="{% url 'race_prediction' r_rcity r_rdate r_rno 0 'awardee' %}" onclick="window.open(this.href, 'w_race_prediction', 'width=1250, height=1000, top=0, left=0, toolbars=no, scrollbars=yes'); return false;">
      <span>
        <div style="font-family: Arial; font-size: 1.0rem; text-align: right; color: var(--color-main);">{{rtime}}</div>
        <div style="font-family: Arial; font-size: 1.0rem; text-align: right; color: var(--color-light);">{{distance}}</div>
        <div style="font-family: Arial; font-size: 1.0rem; text-align: right; color: var(--color-gray);">{{grade|slice:"0:2"}}</div>
        <div style="font-family: Arial; font-size: 1.0rem; text-align: right; color: var(--color-gray);">{{dividing|slice:"0:2"}}</div>
      </span>
    </a>
  </td>

  
  <td colspan="1" style="border-right: 1px solid gray; background-color:var(--color-dark-light); width:5.0%">

    <div style="text-align:center;">

      <a href="https://kraplayer.starplayer.net/kra/vod/starplayer.php?meet={% if r_rcity == '서울' %}1{%else%}3{%endif%}&rcdate={{r_rdate}}&rcno={{r_rno}}&vod_type=r"
        onclick="window.open(this.href, 'w_broadcast', 'width=1400, height=700, toolbars=no, scrollbars=yes'); return false;">
        <span class="tooltip" style="font-size: 1.2rem;">🖥️
          <span class="tooltip-text">🖥️&nbsp;&nbsp;Relay Broadcast</span>
        </span>
      </a>
    </div>

    {% if r2alloc %}
    <div style="font-size: 0.7rem; padding-top: 0.9rem; text-align: center;">💰</div>
    <div align="right" style="line-height: 120%;">
      <a href="{% url 'race_result' r_rcity r_rdate r_rno 0 0 0 0 %}"
        onclick="window.open(this.href, 'w_result', 'width=1000, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
        <span class="tooltip" style="font-size: 1.0rem; font-family: Arial; color:var(--color-r3); font-weight: 400;">{{r2alloc|slice:"2:8"}}
          
          <span class="tooltip-text" style="font-family: Arial; font-size: 1.1rem; text-align: left; width: 130px; z-index: 9;">
            <table style="z-index: 9;">
              <tr>
                <th style="font-size: 1.1rem;">승식</th>
                <th style="font-size: 1.1rem;">배당율</th>
              </tr>
              <tr>
                <td style="text-align: center; font-size: 1.1rem;">복승</td>
                <td style="font-family: Arial; font-size: 1.1rem; text-align: right;">{{r2alloc|slice:"2:"}}</td>
              </tr>
              <tr>
                <td style="font-size: 1.1rem;">삼복승</td>
                <td style="font-family: Arial; font-size: 1.1rem; text-align: right;">{{r333alloc|slice:"3:"}}</td>
              </tr>
              <tr>
                <td style="font-size: 1.1rem;">삼쌍승</td>
                <td style="font-family: Arial; font-size: 1.1rem; text-align: right;">{{r123alloc|slice:"3:"}}</td>
              </tr>
      
            </table>
          </span>
          
        </span>
      </a>
    </div>
    
    {%else%}
    
    <div align="center" style="font-size: 1.1rem;">
      {% if request.user.username == 'admin' %}
      <a href="{% url 'update_changed_race' r_rcity r_rdate r_rno %}" onclick="window.open(this.href, 'w_update_changed_race', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;">
        <span class="tooltip" style="font-size: 1.0rem; padding-top: 0.7rem;">🔏
          <span class="tooltip-text" style="font-size: 1.1rem; text-align: center; z-index: 1;">🔏&nbsp;인기도 & 경주결과(순위) 입력</span>
        </span>
      </a>
      {% endif %}
    </div>
    {%endif%}

  </td>

  {% for rcity, rdate, rday, rno, gate, rank, r_rank, horse, remark, jockey, trainer, host, r_pop, distance, handycap, i_prehandy, complex, complex5, i_complex, jt_per, jt_cnt, jt_3rd, s1f_rank, i_cycle, rcount, recent3, recent5, convert_r, jockey_old, reason in expects %}  
  {% if r_rcity == rcity and r_rdate == rdate and r_rno == rno %}
  
  <td align="center" style="font-family: Arial; color: var(--color-main);">

    <!-- {# 마번 #}
    {% if r_rank > 90 %}
    <div align="center" style="font-style: italic; font-size: 1.7rem; background-color:brown; border-radius: 10px;">
    {% else %}
    <div align="center" style="font-style: italic; font-size: 1.7rem; background-color:var(--color-bg); border-radius: 10px;">
    {% endif %}
      <a href="{% url 'jt_analysis' '%' rdate|mul:1|sub:50000 rdate '%' '%' '%' horse '1' '99' '1' '99' '0' '0' '0' %}" onclick="window.open(this.href, 'w_jt_analysis', 'width=1350, height=1000, toolbars=no, scrollbars=yes'); return false;">

      {% if r_rank %}
        {% if r_rank == 1 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-r1); font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif r_rank == 2 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-r2); font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif r_rank == 3 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-r3); font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif r_rank == 4 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-r4); font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif r_rank == 5 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-r5); font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif r_rank > 90 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-gray); font-size: 1.4rem; font-weight: 400; text-decoration:line-through white;">
          {{gate}}
          <span class="tooltip-text" style="font-size: 1.1rem; text-align: left;">
            <span style="font-style:normal;">🐴&nbsp;&nbsp;{{horse}}</span>
            <br>
            <span style="font-style:normal;">🚫&nbsp;&nbsp;취소 : {{reason}}</span>
        </span>
        </span>
        {% else %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-gray); font-size: 1.4rem;  font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.1rem; font-weight: 400;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% endif %}
      {% else %}
        {% if rank == 1 %}
        <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 300;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif rank == 2 %}
        <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 300;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif rank == 3 %}
        <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 300;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif rank == 4 %}
        <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 300;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif rank == 5 %}
        <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 300;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% else %}
          {% if complex == complex5 %}
          <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 300;">
            {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
          </span>
          {% else %}
          <span class="tooltip" style="font-family: Arial; color:var(--color-light-gray); font-weight: 300; font-size:1.5rem;">
            {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.1rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
          </span>
          {% endif %}
        {% endif %}
      {% endif %}
      </a>
    </div> -->

    {# 마번 #}
    {% if r_rank > 90 %}
    <div align="center" style="font-style: italic; font-size: 1.7rem; background-color:brown; border-radius: 10px;">
    {% elif r_rank == 1 %}
    <div align="center" style="font-style: italic; font-size: 1.7rem; background-color:var(--color-bg); border-radius: 10px;">
    {% elif r_rank == 2 %}
    <div align="center" style="font-style: italic; font-size: 1.7rem; background-color:var(--color-bg); border-radius: 10px;">
    {% elif r_rank == 3 %}
    <div align="center" style="font-style: italic; font-size: 1.7rem; background-color:var(--color-bg); border-radius: 10px;">
    {% elif r_rank == 4 %}
    <div align="center" style="font-style: italic; font-size: 1.7rem; background-color:var(--color-dark-medium); border-radius: 10px;">
    {% elif r_rank == 5 %}
    <div align="center" style="font-style: italic; font-size: 1.7rem; background-color:var(--color-dark-medium); border-radius: 10px;">
    {% else %}
    <div align="center" style="font-style: italic; font-size: 1.7rem; background-color:var(--color-dark); border-radius: 10px;">
    {% endif %}
      <a href="{% url 'race_prediction' r_rcity r_rdate r_rno 0 'awardee' %}" onclick="window.open(this.href, 'w_race_prediction', 'width=1250, height=1000, top=0, left=0, toolbars=no, scrollbars=yes'); return false;">

      {% if r_rank %}
        {% if r_rank == 1 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-r1); font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif r_rank == 2 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-r2); font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif r_rank == 3 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-r3); font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif r_rank == 4 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-r4); font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif r_rank == 5 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-r5); font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif r_rank > 90 %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-gray); font-size: 1.4rem; font-weight: 400; text-decoration:line-through white;">
          {{gate}}
          <span class="tooltip-text" style="font-size: 1.1rem; text-align: left;">
            <span style="font-style:normal;">🐴&nbsp;&nbsp;{{horse}}</span>
            <br>
            <span style="font-style:normal;">🚫&nbsp;&nbsp;취소 : {{reason}}</span>
        </span>
        </span>
        {% else %}
        <span class="tooltip" style="font-family: Arial; color:var(--color-gray); font-size: 1.4rem;  font-weight: 400;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;{{r_rank}}</sub>
          <span class="tooltip-text" style="font-size: 1.1rem; font-weight: 400;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% endif %}
      {% else %}
        {% if rank == 1 %}
        <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 400; font-size:1.7rem;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif rank == 2 %}
        <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 400; font-size:1.7rem;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif rank == 3 %}
        <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 400; font-size:1.7rem;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif rank == 4 %}
        <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 400; font-size:1.7rem;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% elif rank == 5 %}
        <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 400; font-size:1.7rem;">
          {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
        </span>
        {% else %}
          {% if complex == complex5 %}
          <span class="tooltip" style="font-family: Arial; color:greenyellow; font-weight: 400; font-size:1.7rem;">
            {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
          </span>
          {% else %}
          <span class="tooltip" style="font-family: Arial; color:var(--color-light); font-weight: 400; font-size:1.6rem;">
            {{gate}}<sub style="font-size: 0.9rem;">&nbsp;</sub><span class="tooltip-text" style="font-size: 1.0rem;">🐴&nbsp;&nbsp;<span style="font-style:normal;">{{horse}}</span></span>
          </span>
          {% endif %}
        {% endif %}
      {% endif %}
      </a>
    </div>

    {# 출주 주기 #}
    <div>
      {% if i_cycle %}
        {% if i_cycle <= 16 %} 
          <span style="font-family: Arial; font-size:1.0rem; color:var(--color-light); background-color:var(--color-r2) ; padding:2px 4px; border-radius:7px;">
            {{i_cycle|div:7|floatformat:0}}<sup style="font-size: 0.7rem;">w</sup>
          </span>
        {% elif i_cycle >= 68 %}
          <span style="font-family: Arial; font-size:1.0rem; color:var(--color-light); background-color:var(--color-r1); padding:2px 4px; border-radius:7px;">
            {{i_cycle|div:7|floatformat:0}}<sup style="font-size: 0.7rem;">w</sup>
          </span>
        {% else %}
          <span style="font-family: Arial; font-size:1.0rem; color:var(--color-light);">{{i_cycle|div:7|floatformat:0}}<sup
              style="font-size: 0.7rem;">w</sup></span>
        {% endif %}
      {% else %}
        <span style="font-family: Arial; font-size:0.7rem; color:var(--color-light);">🐥</span>
      {% endif %}
    </div>

    {# 기수 #}
    <a href="{% url 'race_prediction' r_rcity r_rdate r_rno 0 'awardee' %}" onclick="window.open(this.href, 'w_race_prediction', 'width=1250, height=1000, top=0, left=0, toolbars=no, scrollbars=yes'); return false;">

      {% if jockey_old %}
      <div style="font-size: 0.86rem; color:var(--color-light); background-color: brown; border-radius: 5px; padding:1px 2px; margin: 0px;">
        <span class="tooltip">
          {{jockey|slice:"-2:"}}
          <span class="tooltip-text" style="text-align: left; font-size: 1.0rem;">
            🏇&nbsp;기수 변경<br>
            변경전 : {{jockey_old}}<br>
            사유 : {{reason}}

          </span>
        </span>
      </div>
      {% else %}
      <div style="font-size: 0.86rem; color:var(--color-light-gray); background-color:midnightblue; border-radius: 5px; padding:1px 2px; margin: 0px;">{{jockey|slice:"-2:"}}</div>
      {% endif %}
    </a>

    
  </td>

  <td align="center" style="border-right: 1px solid gray;">

    <!-- {# 인기도 #}
    <div style="font-size: 1.0rem;">
      {% if r_pop >= 90 %}
      <span style="font-family: Arial; color:var(--color-r1); border-radius: 7px; background-color:var(--color-light); padding: 1px 2px;">{{r_pop}}</span>
      {% elif r_pop >= 50 and r_pop < 90 %} 
      <span style="font-family: Arial; color:var(--color-r2); border-radius: 7px; background-color:var(--color-bg); padding: 1px 2px;">{{r_pop}}</span>
      {% elif r_pop >= 20 and r_pop < 50 %} 
      <span style="font-family: Arial; color:var(--color-r3); border-radius: 7px; background-color:var(--color-bg); padding: 1px 2px;">{{r_pop}}</span>
      {% elif r_pop >= 1 and r_pop < 20 %} 
      <span style="font-family: Arial; color:var(--color-gray); padding: 1px 2px;">{{r_pop}}</span>
      {% else %}
      <span style="font-family: Arial; color:var(--color-gray); padding: 1px 2px;">&nbsp;</span>
      {% endif %}
    </div> -->

    <div style="font-size: 0.9rem; font-family: Arial; text-align: right;">
    {% if s1f_rank %}
      {% if s1f_rank >= 7 %}
      <span style="font-size: 0.9rem; padding:1px 1px; font-family: Arial; color:var(--color-light-gray); ">{{s1f_rank}}</span>
      {% elif s1f_rank >= 3 and s1f_rank < 7 %}
      <span style="font-size: 0.9rem; padding:1px 1px; font-family: Arial; color:var(--color-r2);">{{s1f_rank}}</span>
      {% else %}
      <span style="font-size: 0.9rem; padding:1px 2px; font-family: Arial; color:var(--color-r1); border-radius: 5px; background-color: var(--color-light); font-style: italic;">{{s1f_rank}}</span>
      {% endif %}
    {% else %}
      <span style="font-size: 0.9rem; padding:1px 1px; font-family: Arial; color:var(--color-light-gray);">&nbsp;</span>
    {% endif %}
    </div>

    {# jt_per #}
    <a href="{% url 'race_prediction' r_rcity r_rdate r_rno 0 'awardee' %}" onclick="window.open(this.href, 'w_race_prediction', 'width=1250, height=1000, top=0, left=0, toolbars=no, scrollbars=yes'); return false;">
      <div style="padding-top: 0.2rem; font-family: Arial;">
      {% if jt_cnt == 0 %}
        <span style="font-size: 0.85rem; color:var(--color-r1);">🅾️</span>
      {%else%}

        {% if rcount|mul:1 > 12 and rank == 12 %}   {# 만약 12두 이상의 경주마가 출주했으면 줄임말 표시 #}
          <span class="tooltip" style="font-size: 0.8rem; animation: blink-effect 1.0s step-end infinite; z-index: 1;">m..
            <span class="tooltip-text" style="width:2rem; z-index: 1;">출주마가 더 있습니다.</span>
          </span>
        {% else %}
          {% if jt_per == 100.0 %} 
          <span style="font-family: Arial; font-size: 0.9rem; color:var(--color-r1);">{{jt_per|floatformat:0}}</span> 
          {% elif jt_per >= 50 %} 
          <span style="font-family: Arial; font-size: 0.9rem; color:var(--color-r1);">{{jt_per|floatformat:1}}</span>
          {% elif jt_per >= 40 and jt_per < 50 %} 
          <span style="font-family: Arial; font-size: 0.9rem; color:var(--color-r2);">{{jt_per|floatformat:1}}</span>
          {% elif jt_per >= 30 and jt_per < 40 %} 
          <span style="font-family: Arial; font-size: 0.9rem; color:var(--color-r3);">{{jt_per|floatformat:1}}</span>
          {% elif jt_per >= 20 and jt_per < 30 %} 
          <span style="font-family: Arial; font-size: 0.9rem; color:var(--color-light-gray);">{{jt_per|floatformat:1}}</span>
          {% elif jt_per >= 10 and jt_per < 20 %} 
          <span style="font-family: Arial; font-size: 0.9rem; color:var(--color-gray);">{{jt_per|floatformat:1}}</span>
          {% elif jt_per > 0 and jt_per < 10 %} 
          <span style="font-family: Arial; font-size: 0.9rem; color:var(--color-gray);">{{jt_per|floatformat:1}}</span>
          {% else %}
          <span style="font-family: Arial; font-size: 0.9rem; color:var(--color-light); background-color:blue; padding: 2px 4px; border-radius: 7px;">{{jt_cnt}}</span>
          {% endif %}
        {% endif %}
        
      {% endif %}
      </div>
    </a>

    {# 부담중량 즘감 #}
    <div style="text-align: right;">
      <a href="{% url 'race_prediction' r_rcity r_rdate r_rno 0 'awardee' %}" onclick="window.open(this.href, 'w_race_prediction', 'width=1250, height=1000, top=0, left=0, toolbars=no, scrollbars=yes'); return false;">
      {% if handycap|sub:i_prehandy == 0 or handycap|sub:i_prehandy >= 10 %}
      <div style="padding-top:0.3rem;  font-size: 0.9rem; font-family: Arial; color:rgb(0,128,255); line-height:120%; text-align: center;">&nbsp;<br>-</div>
      {% else %}
      {% if handycap|sub:i_prehandy > 0 %}
      <div style="padding-top:0.3rem; font-size: 0.9rem; font-family: Arial; color:rgb(0,128,255); line-height:120%;">✚<br>{{handycap|sub:i_prehandy}}</div>
      {% else %}
      <div style="padding-top:0.3rem; font-size: 0.9rem; font-family: Arial; color:tomato; line-height:120%;">⊖<br>{{handycap|sub:i_prehandy|mul:-1}}</div>
      {% endif %}
      {% endif %}
      </a>
    </div>

  </td>

  {% endif %}
  {% endfor %}



</tr>