

<tr>
  <!-- <th colspan="5" rowspan="1" align="center" style="font-size:1.3rem; border-right: 1px solid gray; text-transform: capitalize;">Opinion board</th> -->
  <th colspan="2" rowspan="2" width="8.0%" align="center" style="font-size:1.3rem; border-right: 1px solid gray; text-transform: capitalize; vertical-align: middle;">심판위원 Report</th>
  <th colspan="2" rowspan="2" width="8.0%" align="center" style="font-size:1.3rem; border-right: 1px solid gray;  border-left: 1px solid gray; vertical-align: middle;">Race</th>

  <th colspan="24" align="center" style="font-size:1.3rem; text-transform: capitalize; vertical-align: middle;">
    Program Expected Ranking (⊖ 🔴 ✚ 🔵 : 부담중량 증감)
  </th>
</tr>
<tr>

  <!-- <th><span style="font-size: 1.0rem;">글쓴이</span></th>
  <th><span style="font-size: 1.0rem;">구분</span></th>
  <th><span style="font-size: 1.0rem;">조회</span></th>
  <th><span style="font-size: 1.0rem;">추천</span></th>
  <th><span style="font-size: 1.0rem;">작성일시</span></th> -->

  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem; color: var(--color-r1)">1</th>
  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem; color: var(--color-r2)">2</th>
  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem; color: var(--color-r3)">3</th>
  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem; color: var(--color-r4)">4</th>
  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem; color: var(--color-r5)">5</th>
  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem;">6</th>
  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem;">7</th>
  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem;">8</th>
  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem;">9</th>
  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem;">10</th>
  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem;">11</th>
  <th colspan="2" width="7.0%" align="center" style="vertical-align: middle; font-size:1.4rem;">12</th>
</tr>