{% load humanize %}
{% load mathfilters %}

<script>
  $(document).ready(function () {

    $('ul.tabs1 li').click(function () {
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs1 li').removeClass('current');
      $('.tab-content1').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    })

  })
</script>

<!-- <script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script> -->


<div class="activities">

  <ul class="tabs1">
    <li class="tab-link current" data-tab="tab-right1" style="padding: 6px 25px; border-radius: 4px;">서울</li>
    <li class="tab-link" data-tab="tab-right2" style="padding: 6px 25px; border-radius: 4px;">부산</li>
  </ul>

  <div id="tab-right1" class="tab-content1 current">

    <table class="fold-table" style="border-radius: 7px;">
      <thead>
        <tr>
          <th rowspan="2" colspan="1" style="text-transform:capitalize; vertical-align: middle; padding-top: 2.00rem; padding-bottom: 2.00rem; width:25%;">Jockey</th>
          <th colspan="1" rowspan = "2" style="vertical-align: middle; border-left: solid 1px gray; border-right: solid 1px gray;"><span>출주</span></th>
          <th colspan="4" style="border-right: solid 1px gray;"><span style="text-transform:lowercase;">thethe9.com</span></th>
          <th colspan="4" style="border-right: solid 1px gray;"><span style="text-transform:capitalize;">Race Result</span></th>
        </tr>

        <tr>
          <th><span>1</span></th>
          <th><span>2</span></th>
          <th><span>3</span></th>
          <th style="border-right: solid 1px gray;"><span>합</span></th>
          <th><span>1</span></th>
          <th><span>2</span></th>
          <th><span>3</span></th>
          <th style="border-right: solid 1px gray;"><span>합</span></th>
          
        </tr>
      </thead>

      <tbody>
        {% for rcity, jockey, rcnt, rr123cnt, r123cnt, rr1, rr2, rr3, r1, r2, r3, from, to in award_j %}
        {% if rcity == '서울' %}
        
        <tr class="view" align="center">
          <td>
            <div style="font-size: 1.2rem;">
              <span>{{jockey}}</span>
            </div>
          </td>
          <td>
            <a href="{% url 'jt_analysis' '%' from to jockey '%' '%' '%' '1' '99' '1' '99' '0' '0' '0' %}" onclick="window.open(this.href, 'jt_analysis_jockey', 'width=1300, height=800, top=0, toolbars=no, scrollbars=yes'); return false;">
              <div style="font-size: 1.2rem; font-family: Arial; background-color: var(--color-bg); border-radius: 7px; padding: 2px 4px;">
                <span style="font-family: Arial; border-bottom:1px solid orange; border-radius: 5px; padding: 2px 4px;">{{rcnt}}</span>
              </div>
            </a>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r1)">{%if r1 == 0%}•{%else%}{{r1}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r2)">{%if r2 == 0%}•{%else%}{{r2}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r3)">{%if r3 == 0%}•{%else%}{{r3}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-light); background-color:var(--color-bg); padding:2px 4px; border-radius: 5px;;">{%if r123cnt == 0%}•{%else%}{{r123cnt}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r1)">{%if rr1 == 0%}•{%else%}{{rr1}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r2)">{%if rr2 == 0%}•{%else%}{{rr2}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r3)">{%if rr3 == 0%}•{%else%}{{rr3}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-light); background-color:var(--color-bg); padding:2px 4px; border-radius: 5px;">{%if rr123cnt == 0%}•{%else%}{{rr123cnt}}{%endif%}</span>
            </div>
          </td>
          
        </tr>

        <tr class="fold">

          <td colspan="10">
            <div class="fold-content" style="position:static">
              {# 재결사항 #}
              <table class="small-friendly" style="z-index: 0;">
                <thead>
                  <tr style="background-color:var(--color-dark-medium); color:var(--color-light-gray);">
                    <th width="12%"><span class="visible-big" style="padding-bottom: 3px; font-size: 1.1rem; width: 3rem;">📅</span></th>
                    <th colspan="2">
                      <span class="visible-big" style="padding-bottom: 3px; font-size: 1.15rem; color:var(--color-r3); text-align: left;">🐴&nbsp;{{jockey}} 기수&nbsp;&nbsp;최근 30일 재결</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for rcity, rdate, rno, horse, jockey_b, trainer, t_sort, t_type, t_detail, t_reason in judged_jockey %}
                  {% if jockey == jockey_b %}
              
                  <tr>
          
                    <td align="left">
                      <a style="text-decoration:underline" href="{% url 'race_result' rcity rdate rno horse 0 0 0 %}"
                        onclick="window.open(this.href, 'w_result', 'width=1000, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
                        <div style="font-size:1.0rem; font-family: Arial, Helvetica, sans-serif; text-align: left;">
                          '{{rdate|slice:"2:4"}}.{{rdate|slice:"4:6"}}
                        </div>
                        <div style="font-size:1.1rem; font-family: Arial, Helvetica, sans-serif; text-align: right;">
                          '{{rdate|slice:"6:8"}}
                        </div>
                        
                      </a>
                    </td>
                    <td align="center">
                      <div style="font-size:1.1rem;">{{t_type}}</div>
                    </td>
                    <td align="left">
                      <div style="font-size:1.1rem; color:var(--color-r1);">
                        {{t_detail}}
                      </div>
                      <div style="font-size:1.1rem;">
                        {{t_reason}}
                      </div>
                    </td>
                    
                  </tr>
                {% endif %}

                {% endfor %}
              
                </tbody>
              </table>

            </div>
          </td>

        </tr>
  
        {%endif%}
        {% endfor %}
    
      </tbody>
    </table>

  </div>

  <div id="tab-right2" class="tab-content1">

    <table class="fold-table" style="border-radius: 7px;">
      <thead>
        <tr>
          <th rowspan="2" colspan="1" style="text-transform:capitalize; vertical-align: middle; padding-top: 2.00rem; padding-bottom: 2.00rem; width:25%;">Jockey</th>
          <th colspan="1" rowspan = "2" style="vertical-align: middle; border-left: solid 1px gray; border-right: solid 1px gray;"><span>출주</span></th>
          <th colspan="4" style="border-right: solid 1px gray;"><span style="text-transform:lowercase;">thethe9.com</span></th>
          <th colspan="4" style="border-right: solid 1px gray;"><span style="text-transform:capitalize;">Race Result</span></th>
        </tr>

        <tr>
          <th><span>1</span></th>
          <th><span>2</span></th>
          <th><span>3</span></th>
          <th style="border-right: solid 1px gray;"><span>합</span></th>
          <th><span>1</span></th>
          <th><span>2</span></th>
          <th><span>3</span></th>
          <th style="border-right: solid 1px gray;"><span>합</span></th>
          
        </tr>
      </thead>

      <tbody>
        {% for rcity, jockey, rcnt, rr123cnt, r123cnt, rr1, rr2, rr3, r1, r2, r3, from, to in award_j %}
        {% if rcity != '서울' %}
        
        <tr class="view" align="center">
          <td>
            <div style="font-size: 1.2rem;">
              <span>{{jockey}}</span>
            </div>
          </td>
          <td>
            <a href="{% url 'jt_analysis' '%' from to jockey '%' '%' '%' '1' '99' '1' '99' '0' '0' '0' %}" onclick="window.open(this.href, 'jt_analysis_jockey', 'width=1300, height=800, toolbars=no, scrollbars=yes'); return false;">
              <div style="font-size: 1.2rem; font-family: Arial; background-color: var(--color-bg); border-radius: 7px; padding: 2px 4px;">
                <span style="font-family: Arial; border-bottom:1px solid orange; border-radius: 5px; padding: 2px 4px;">{{rcnt}}</span>
              </div>
            </a>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r1)">{%if r1 == 0%}•{%else%}{{r1}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r2)">{%if r2 == 0%}•{%else%}{{r2}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r3)">{%if r3 == 0%}•{%else%}{{r3}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-light); background-color:var(--color-bg); padding:2px 4px; border-radius: 5px;">{%if r123cnt == 0%}•{%else%}{{r123cnt}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r1)">{%if rr1 == 0%}•{%else%}{{rr1}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r2)">{%if rr2 == 0%}•{%else%}{{rr2}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-r3)">{%if rr3 == 0%}•{%else%}{{rr3}}{%endif%}</span>
            </div>
          </td>
          <td>
            <div style="font-size: 1.2rem;">
              <span style="font-family: Arial; color:var(--color-light); background-color:var(--color-bg); padding:2px 4px; border-radius: 5px;">{%if rr123cnt == 0%}•{%else%}{{rr123cnt}}{%endif%}</span>
            </div>
          </td>
          
        </tr>

        <tr class="fold">
            <td colspan="10">
            <div class="fold-content" style="position:static">
              {# 재결사항 #}
              <table class="small-friendly" style="z-index: 0;">
                <thead>
                  <tr style="background-color:var(--color-dark-medium); color:var(--color-light-gray);">
                    <th width="12%"><span class="visible-big" style="padding-bottom: 3px; font-size: 1.1rem; width: 3rem;">📅</span></th>
                    <th colspan="2">
                      <span class="visible-big" style="padding-bottom: 3px; font-size: 1.15rem; color:var(--color-r3); text-align: left;">🐴&nbsp;{{jockey}} 기수&nbsp;&nbsp;최근 30일 재결</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for rcity, rdate, rno, horse, jockey_b, trainer, t_sort, t_type, t_detail, t_reason in judged_jockey %}
                  {% if jockey == jockey_b %}
              
                  <tr>
          
                    <td align="left">
                      <a style="text-decoration:underline" href="{% url 'race_result' rcity rdate rno horse 0 0 0 %}"
                        onclick="window.open(this.href, 'w_result', 'width=1000, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
                        <div style="font-size:1.0rem; font-family: Arial, Helvetica, sans-serif; text-align: left;">
                          '{{rdate|slice:"2:4"}}.{{rdate|slice:"4:6"}}
                        </div>
                        <div style="font-size:1.1rem; font-family: Arial, Helvetica, sans-serif; text-align: right;">
                          '{{rdate|slice:"6:8"}}
                        </div>
                        
                      </a>
                    </td>
                    <td align="center">
                      <div style="font-size:1.1rem;">{{t_type}}</div>
                    </td>
                    <td align="left">
                      <div style="font-size:1.1rem; color:var(--color-r1);">
                        {{t_detail}}
                      </div>
                      <div style="font-size:1.1rem;">
                        {{t_reason}}
                      </div>
                    </td>
                    
                  </tr>
                {% endif %}

                {% endfor %}
              
                </tbody>
              </table>

            </div>
          </td>
        </tr>
  
        {%endif%}
        {% endfor %}
    
      </tbody>
    </table>

  </div>


</div>



