{% extends 'main.html' %}

{% block content %}

<main class="layout layout--2"  style="margin-top: 2px;">

  <div class="loader"></div>
  
  <div class="container">
    <!-- Topics Start -->
    
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <!-- <div class="mobile-menu">

        <div class="mobile-menuItems">
          <a class="btn btn--main btn--pill" href="{% url 'award_status_jockey' %}">Jockey</a>
          <a class="btn btn--main btn--pill" href="{% url 'award_status_trainer' %}">Trainer</a>
        </div>

      </div> -->

      {% include 'base/home_left.html' %}
      
    </div>
    <!-- Room List End -->

    <div class="activities">
    <!-- Activities Start -->
      {% include 'base/home_right.html' %}
    </div>

    <!-- Activities End -->
  </div>

    

</main>

<script>
  $(window).on('load', function () {
    $('.loader').fadeOut();
  });
</script>
    
{% endblock %}