{% load humanize %}
{% load mathfilters %}

<div class="roomListRoom" style="height:max-content; border-radius: 7px; padding: 0px; margin: 0px;">

  <ul class="tabs">
    {% if rdays.0.0 %}<li class="tab-link {% if rdays.0.0  == rdays.0.2 or rflag == False %}current{% endif %}" data-tab="tab-1" style="padding: 6px 25px; border-radius: 4px;">
      <span style="font-family: Arial, Helvetica, sans-serif;">{{rdays.0.0|slice:"4:6"}}.{{rdays.0.0|slice:"6:8"}}({{rdays.0.1}})</span></li>{% endif %}
    {% if rdays.1.0 %}<li class="tab-link {% if rdays.1.0  == rdays.1.2 %}current{% endif %}" data-tab="tab-2" style="padding: 6px 25px; border-radius: 4px;">
      <span style="font-family: Arial, Helvetica, sans-serif;">{{rdays.1.0|slice:"4:6"}}.{{rdays.1.0|slice:"6:8"}}({{rdays.1.1}})</span></li>{% endif %}
    {% if rdays.2.0 %}<li class="tab-link {% if rdays.2.0  == rdays.2.2 %}current{% endif %}" data-tab="tab-3" style="padding: 6px 25px; border-radius: 4px;">
      <span style="font-family: Arial, Helvetica, sans-serif;">{{rdays.2.0|slice:"4:6"}}.{{rdays.2.0|slice:"6:8"}}({{rdays.2.1}})</span></li>{% endif %}
    {% if rdays.3.0 %}<li class="tab-link {% if rdays.3.0  == rdays.3.2 %}current{% endif %}" data-tab="tab-4" style="padding: 6px 25px; border-radius: 4px;">
      <span style="font-family: Arial, Helvetica, sans-serif;">{{rdays.3.0|slice:"4:6"}}.{{rdays.3.0|slice:"6:8"}}({{rdays.3.1}})</span></li>{% endif %} {# 월요일 경마 에외처리 20231009 only #}
  </ul>

  <div id="tab-1" class="tab-content {% if rdays.0.0  == rdays.0.2 or rflag == False %}current{% endif %}"> {# 경마일 당일 이거나 비경마일이면 current tab #}

    <table class="rwd-table" style="background-color: var(--color-dark); border-style: double;">

        {% include 'base/home_left_sub1.html' %}
        
        {% for r_rcity, r_rdate, r_rday, r_rno, rtime, distance, r2alloc, r333alloc, r123alloc, grade, dividing, r1award in race %}
        {% if r_rday == rdays.0.1 %}

          {% include 'base/home_left_sub2.html' %}

        {% endif %}
        {% endfor %}
    
        <tr>
          <td colspan="31" align="center" style="font-size:6.3rem; text-transform:capitalize; border-top: 1px solid gray; background-color: var(--color-bg);">&nbsp;</td>
        </tr>

    </table>

  </div>

  <div id="tab-2" class="tab-content {% if rdays.1.0  == rdays.0.2 %}current{% endif %}">

    <table class="rwd-table" style="background-color: var(--color-dark); border-style: double;">
    
      {% include 'base/home_left_sub1.html' %}

      {% for r_rcity, r_rdate, r_rday, r_rno, rtime, distance, r2alloc, r333alloc, r123alloc, grade, dividing, r1award in race %}
      {% if r_rday == rdays.1.1 %}

        {% include 'base/home_left_sub2.html' %}
    
      {% endif %}
      {% endfor %}
    
      <tr>
        <td colspan="31" align="center" style="font-size:6.3rem; text-transform:capitalize; border-top: 1px solid gray; background-color: var(--color-bg);">&nbsp;</td>
      </tr>
    
    </table>
    
        
  </div>

  <div id="tab-3" class="tab-content {% if rdays.2.0  == rdays.0.2 %}current{% endif %}" >

    <table class="rwd-table" style="background-color: var(--color-dark); border-style: double;">
    
      {% include 'base/home_left_sub1.html' %}

      {% for r_rcity, r_rdate, r_rday, r_rno, rtime, distance, r2alloc, r333alloc, r123alloc, grade, dividing, r1award in race %}
      {% if r_rday == rdays.2.1 %}
      
        {% include 'base/home_left_sub2.html' %}

      {% endif %}
      {% endfor %}
    
      <tr>
        <td colspan="31" align="center" style="font-size:6.3rem; text-transform:capitalize; border-top: 1px solid gray; background-color: var(--color-bg);">&nbsp;</td>
      </tr>
    
    </table>
    
  </div>

  <div id="tab-4" class="tab-content {% if rdays.3.0  == rdays.0.2 %}current{% endif %}">

    <table class="rwd-table" style="background-color: var(--color-dark); border-style: double;">
    
      {% include 'base/home_left_sub1.html' %}

      {% for r_rcity, r_rdate, r_rday, r_rno, rtime, distance, r2alloc, r333alloc, r123alloc, grade, dividing, r1award in race %}
      {% if r_rday == rdays.3.1 %}
        {% include 'base/home_left_sub2.html' %}
    
      {% endif %}
      {% endfor %}
    
      <tr>
        <td colspan="31" align="center" style="font-size:6.3rem; text-transform:capitalize; border-top: 1px solid gray; background-color: var(--color-bg);">&nbsp;</td>
      </tr>
    
    </table>
    
  </div>

</div>

<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script>

<script>
  $(document).ready(function () {

    $('ul.tabs li').click(function () {
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    })

  })
</script>