
{% load humanize custom_filters %}
<tr>
  <!-- <th colspan="5" rowspan="1" align="center" style="font-size:1.3rem; border-right: 1px solid gray; text-transform: capitalize;">Opinion board</th> -->
  <th colspan="3" rowspan="2" width="13.6%" style="font-size:1.5rem; border-left: 1px solid gray; vertical-align: middle;">
    <span style="vertical-align:middle; font-size: 3.5rem; border-radius: 50%; padding: 2px 8px; background-color: var(--color-main-hover);">🏇</span>
    
  </th>

  <th colspan="24" width="86.4%" align="center" style="font-size:1.4rem; text-transform:lowercase; vertical-align: middle;">
    <span style="vertical-align: middle; font-size: 1.4rem; color: var(--color-light-gray); font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;">
    thethe9.com 프로그램 예상순위{% if view_type == "1" %} (ver1) {% else %} (ver2) {% endif %}
    </span>
    {% if request.user.username == 'admin' %}
    <span style="vertical-align: middle; font-size: 1.2rem;  margin-right: 12px;">
    {% if summary_total %}
      &nbsp;&nbsp;&nbsp;&nbsp;<span class="tooltip" style="font-weight: normal; font-family: Arial, Helvetica, sans-serif; color: var(--color-main-hover);">

          
          💸 {{ summary_total.total_bet|floatformat:0|intcomma }}&nbsp;&nbsp;
          💰 {{ summary_total.profit|floatformat:0|intcomma }}&nbsp;&nbsp;

        
          <span style="color: rgba(255,255,255,0.85); font-weight: 600; font-family: Arial, Helvetica, sans-serif;">[ {{ summary_total.races }}⚡️{{ summary_total.hits }} ]</span>

          &nbsp;&nbsp;
          🎯 {{ summary_total.hit_rate|floatformat:3 }}
          &nbsp;⚡️&nbsp;
          r_pop1 {{ summary_total.r_pop1_top3_rate|floatformat:3 }}
        

          <span class="tooltip-text" style="font-family: Arial, Helvetica, sans-serif; font-size: 1.1rem; text-align: left; z-index: 9; color: #e9e9e9; line-height: 1.5; padding: 8px 10px;">
            [ 경주당 {{ summary_total.avg_bet|floatformat:0|intcomma }}원 ]<br>
            {% for s in summary_display %}
              <span style="color: rgba(255,255,255,0.85); font-weight: 600; font-family: Arial, Helvetica, sans-serif;">{{ s.label }}</span>
              <span style="color: rgba(255,255,255,0.6);">&nbsp;&nbsp;</span>
              &nbsp;&nbsp;{{ s.total_bet|floatformat:0|intcomma }}
              &nbsp;&nbsp;{{ s.total_refund|floatformat:0|intcomma }}
              &nbsp;&nbsp;{{ s.profit|floatformat:0|intcomma }} 
              &nbsp;&nbsp;[ {{ s.races }}⚡️{{ s.hits }} ]&nbsp;&nbsp;{{ s.refund_rate|floatformat:2 }} ⚡️ {{ s.hit_rate|floatformat:2 }}<br>
              {% if s.hit_details %}
                
                {% for h in s.hit_details %}
                  {% ifchanged h.경주일 %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ h.경주일|slice:"4:6" }}.{{ h.경주일|slice:"6:8" }}
                  {% else %}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  {% endifchanged %}
                  &nbsp;{{ h.경주번호 }}R
                  &nbsp;{{ h.총베팅액|floatformat:0|intcomma }}
                  &nbsp;<span style="font-family: Arial; display: inline-block; min-width: 8ch; text-align: right;">{{ h.총환수액|floatformat:0|intcomma }}</span>
                  <br>
                {% endfor %}
              {% endif %}
            {% endfor %}
            {% if method_bet_totals %}
              <br>
              <span style="color: rgba(255,255,255,0.85); font-weight: 600; font-family: Arial, Helvetica, sans-serif;">[ 베팅방법별 베팅금액 ]</span><br>
              <span style="font-family: Arial; display: inline-block; min-width: 13ch;">방법</span>
              <span style="font-family: Arial; display: inline-block; min-width: 9ch; text-align: right;">베팅금</span>
              <span style="font-family: Arial; display: inline-block; min-width: 9ch; text-align: right;">환수금</span>
              <span style="font-family: Arial; display: inline-block; min-width: 9ch; text-align: right;">이익금</span><br>
              {% for m in method_bet_totals %}
                <span style="font-family: Arial; display: inline-block; min-width: 13ch;">{{ m.label }}</span>
                <span style="font-family: Arial; display: inline-block; min-width: 9ch; text-align: right;">{{ m.amount|floatformat:0|intcomma }}</span>
                <span style="font-family: Arial; display: inline-block; min-width: 9ch; text-align: right;">{{ m.refund|floatformat:0|intcomma }}</span>
                <span style="font-family: Arial; display: inline-block; min-width: 9ch; text-align: right;">{{ m.profit|floatformat:0|intcomma }}</span><br>
              {% endfor %}
              <span style="font-family: Arial; display: inline-block; min-width: 13ch;">합계</span>
              <span style="font-family: Arial; display: inline-block; min-width: 9ch; text-align: right;">{{ method_bet_total_sum|floatformat:0|intcomma }}</span>
              <span style="font-family: Arial; display: inline-block; min-width: 9ch; text-align: right;">{{ method_refund_total_sum|floatformat:0|intcomma }}</span>
              <span style="font-family: Arial; display: inline-block; min-width: 9ch; text-align: right;">{{ method_profit_total_sum|floatformat:0|intcomma }}</span>
            {% endif %}
          </span>
        </span>
    {% else %}
      {{ summary }}
    {% endif %}
    </span>
    {% endif %}
    
  </th>
</tr>
<tr>

  <!-- <th><span style="font-size: 1.0rem;">글쓴이</span></th>
  <th><span style="font-size: 1.0rem;">구분</span></th>
  <th><span style="font-size: 1.0rem;">조회</span></th>
  <th><span style="font-size: 1.0rem;">추천</span></th>
  <th><span style="font-size: 1.0rem;">작성일시</span></th> -->

  <!-- <th colspan="1" width="5.6%" align="center" style="vertical-align: middle; font-size:1.2rem; border-right: 1px solid gray;  border-left: 1px solid gray;">🚦</th>
  <th colspan="2" width="8.0%" align="center" style="vertical-align: middle; font-size:1.4rem; border-right: 1px solid gray;  border-left: 1px solid gray;">Info.</th> -->

  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem; color: var(--color-r1)">R1</th>
  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem; color: var(--color-r2)">R2</th>
  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem; color: var(--color-r3)">R3</th>
  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem; color: var(--color-r4)">R4</th>
  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem; color: var(--color-r5)">R5</th>
  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem; color: var(--color-r6)">R6</th>
  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem;">R7</th>
  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem;">R8</th>
  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem;">R9</th>
  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem;">R10</th>
  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem;">R11</th>
  <th colspan="2" width="7.2%" align="center" style="vertical-align: middle; font-size:1.4rem;">R12</th>
</tr>
