<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/number-9.png' %}" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>&nbsp;thethe9 Multi-angle analysis </title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>

  <form class="header__search" method="GET" action="{% url 'jt_analysis_multi' rcity fdate tdate jockey trainer host jockey_b r1 r2 rr1 rr2 gate distance handycap rno start %}"> 
    {% csrf_token %} 

    <label style="font-size: 1.2rem;">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>search</title>
        <path
          d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
        </path>
      </svg>
      <!-- <select name="rcity" style="font-size:1.2rem; padding: 0.2rem; border-radius: 7px;">
        <option value="%" {% if rcity == '%' %} selected {% endif %}>ALL</option>
        <option value="서울" {% if rcity == '서울' %} selected {% endif %}>서울</option>
        <option value="부산" {% if rcity == '부산' %} selected {% endif %}>부산</option>
      </select> -->
      <input style="font-size: 1.2rem; width: 9.5rem;" type="date" value={{fdate}} name="fdate">
      <input style="font-size: 1.2rem; width: 9.5rem;" type="date" value={{tdate}} name="tdate">
  
      <select name="jockey" style="font-size:1.2rem; padding: 0.2rem; text-align: right; border-radius: 7px;">
        <option value="%" {% if jockey == '%' %} selected {% endif %}>🏇</option>
        {% for j_gate, j_jockey, j_trainer, j_host, j_horse in jockeys %}
        <option value={{j_jockey}} {% if jockey == j_jockey %} selected {% endif %}>{{j_gate}}&nbsp;&nbsp;{{j_jockey}}</option>
        {% endfor%}
      </select>
      <select name="trainer" style="font-size:1.2rem; padding: 0.2rem; text-align: right; border-radius: 7px;">
        <option value="%" {% if trainer == '%' %} selected {% endif %}>🛖</option>
        {% for j_gate, j_jockey, j_trainer, j_host, j_horse in jockeys %}
        <option value={{j_trainer}} {% if trainer == j_trainer %} selected {% endif %}>{{j_gate}}&nbsp;&nbsp;{{j_trainer}}</option>
        {% endfor%}
      </select>

      <select name="host" style="font-size:1.2rem; padding: 0.2rem; text-align: right; border-radius: 7px;">
        <option value="%" {% if host == '%' %} selected {% endif %}>🤠</option>
        {% for j_gate, j_jockey, j_trainer, j_host, j_horse in jockeys %}
        <option value={{j_host}} {% if host == j_host %} selected {% endif %}>{{j_gate}}&nbsp;&nbsp;{{j_host|slice:"0:4"}}</option>
        {% endfor%}
      </select>
      
      <select name="jockey_b" style="font-size:1.2rem; padding: 0.2rem; text-align: right; border-radius: 7px;">
        <option value="%" {% if jockey_b == '%' %} selected {% endif %}>🏆</option>
        {% for j_gate, j_jockey, j_trainer, j_host, j_horse in jockeys %}
        <option value={{j_jockey}} {% if jockey_b == j_jockey %} selected {% endif %}>{{j_gate}}&nbsp;&nbsp;{{j_jockey}}</option>
        {% endfor%}
      </select>

      <select name="gate" style="font-size:1.2rem; padding: 0.2rem; text-align: right; border-radius: 7px;">
        <option value="0" {% if gate == '0' %} selected {% endif %}>마번</option>
        <option value="1" {% if gate == '1' %} selected {% endif %}>1</option>
        <option value="2" {% if gate == '2' %} selected {% endif %}>2</option>
        <option value="3" {% if gate == '3' %} selected {% endif %}>3</option>
        <option value="4" {% if gate == '4' %} selected {% endif %}>4</option>
        <option value="5" {% if gate == '5' %} selected {% endif %}>5</option>
        <option value="6" {% if gate == '6' %} selected {% endif %}>6</option>
        <option value="7" {% if gate == '7' %} selected {% endif %}>7</option>
        <option value="8" {% if gate == '8' %} selected {% endif %}>8</option>
        <option value="9" {% if gate == '9' %} selected {% endif %}>9</option>
        <option value="10" {% if gate == '10' %} selected {% endif %}>10</option>
        <option value="11" {% if gate == '11' %} selected {% endif %}>11</option>
        <option value="12" {% if gate == '12' %} selected {% endif %}>12</option>
        <option value="13" {% if gate == '13' %} selected {% endif %}>13</option>
        <option value="14" {% if gate == '14' %} selected {% endif %}>14</option>
        <option value="15" {% if gate == '15' %} selected {% endif %}>15</option>
        <option value="16" {% if gate == '16' %} selected {% endif %}>16</option>
      </select>

      <select name="distance" style="font-size:1.2rem; padding: 0.2rem; text-align: right; border-radius: 7px;">
        <option value="0" {% if distance == '0' %} selected {% endif %}>경주거리</option>
        <option value="1000" {% if distance == '1000' %} selected {% endif %}>1000</option>
        <option value="1200" {% if distance == '1200' %} selected {% endif %}>1200</option>
        <option value="1300" {% if distance == '1300' %} selected {% endif %}>1300</option>
        <option value="1400" {% if distance == '1400' %} selected {% endif %}>1400</option>
        <option value="1600" {% if distance == '1600' %} selected {% endif %}>1600</option>
        <option value="1700" {% if distance == '1700' %} selected {% endif %}>1700</option>
        <option value="1800" {% if distance == '1800' %} selected {% endif %}>1800</option>
        <option value="1900" {% if distance == '1900' %} selected {% endif %}>1900</option>
        <option value="2000" {% if distance == '2000' %} selected {% endif %}>2000</option>
        <option value="2300" {% if distance == '2300' %} selected {% endif %}>2300</option>
      </select>

      <select name="handycap" style="font-size:1.2rem; padding: 0.2rem; text-align: right; border-radius: 7px;">
        <option value="0" {% if handycap == '0' %} selected {% endif %}>부담중량</option>
        <option value="48" {% if handycap == '48' %} selected {% endif %}>48 ~ .5</option>
        <option value="49" {% if handycap == '49' %} selected {% endif %}>49 ~ .5</option>
        <option value="50" {% if handycap == '50' %} selected {% endif %}>50 ~ .5</option>
        <option value="51" {% if handycap == '51' %} selected {% endif %}>51 ~ .5</option>
        <option value="52" {% if handycap == '52' %} selected {% endif %}>52 ~ .5</option>
        <option value="53" {% if handycap == '53' %} selected {% endif %}>53 ~ .5</option>
        <option value="54" {% if handycap == '54' %} selected {% endif %}>54 ~ .5</option>
        <option value="55" {% if handycap == '55' %} selected {% endif %}>55 ~ .5</option>
        <option value="56" {% if handycap == '56' %} selected {% endif %}>56 ~ .5</option>
        <option value="57" {% if handycap == '57' %} selected {% endif %}>57 ~ .5</option>
        <option value="58" {% if handycap == '58' %} selected {% endif %}>58 ~ .5</option>
        <option value="59" {% if handycap == '59' %} selected {% endif %}>59 ~ .5</option>
        <option value="60" {% if handycap == '60' %} selected {% endif %}>60 ~ .5</option>
      </select>
      
      <select name="start" style="font-size:1.2rem; padding: 0.2rem; text-align: right; border-radius: 7px;">
        <option value="%" {% if start == '%' %} selected {% endif %}>선행</option>
        <option value="1" {% if start == '1' %} selected {% endif %}>1</option> 
        <option value="2" {% if start == '2' %} selected {% endif %}>2</option>
        <option value="3" {% if start == '3' %} selected {% endif %}>3</option>
        <option value="4" {% if start == '4' %} selected {% endif %}>4</option>
        <option value="5" {% if start == '5' %} selected {% endif %}>5</option>
        <option value="6" {% if start == '6' %} selected {% endif %}>6</option>
        <option value="7" {% if start == '7' %} selected {% endif %}>7</option>
        <option value="8" {% if start == '8' %} selected {% endif %}>8</option>
        <option value="9" {% if start == '9' %} selected {% endif %}>9</option>
        <option value="10" {% if start == '10' %} selected {% endif %}>10</option>
        <option value="11" {% if start == '11' %} selected {% endif %}>11</option>
        <option value="12" {% if start == '12' %} selected {% endif %}>12</option>
        <option value="13" {% if start == '13' %} selected {% endif %}>13</option>
        <option value="14" {% if start == '14' %} selected {% endif %}>14</option>
        <option value="15" {% if start == '15' %} selected {% endif %}>15</option>
        <option value="16" {% if start == '16' %} selected {% endif %}>16</option>
      </select>

      &nbsp;&nbsp;P.R
      <!-- <input style="font-size: 1.3rem; width: 5rem; color:var(--color-main-light);" type="text" value='{{jname3}}' placeholder="이혁" name="j3"> -->
      <input style="text-align: center; width: 4.0rem; font-size: 1.05rem; background-color: var(--color-dark);" type="number" min="1" max="99" step="1" value={{r1}} name="r1">
      <input style="text-align: center; width: 4.0rem; font-size: 1.05rem; background-color: var(--color-dark);" type="number" min="1" max="99" step="1" value={{r2}} name="r2">

      &nbsp;&nbsp;R
      <!-- <input style="font-size: 1.3rem; width: 5rem; color:var(--color-main-light);" type="text" value='{{jname3}}' placeholder="이혁" name="j3"> -->
      <input style="text-align: center; width: 4.0rem; font-size: 1.05rem; background-color: var(--color-dark);" type="number" min="1" max="99" step="1" value={{rr1}} name="rr1">
      <input style="text-align: center; width: 4.0rem; font-size: 1.05rem; background-color: var(--color-dark);" type="number" min="1" max="99" step="1" value={{rr2}} name="rr2">
      &nbsp;&nbsp;&nbsp;&nbsp;
      {% if request.user.username == 'admin' %}
      <button class="btn" style="background: var(--color-main);">Go</button>
      {% endif %}
  
      {% for message in messages %}
      {{ message.tag }}
      {{ message }}
      {% endfor %}
    </label>
  </form>

</head>

{% load mathfilters %}
{% load humanize %}

{% block content %}

<!-- <main class="create-room layout"> -->
<main class="create-room layout" style="margin-top: 0px; border-radius: 7px; max-width: 200rem;">
  <div style="border-radius: 7px; width: 100%; overflow-x: auto; text-align: center;">
    <hr style="border: solid 1px black;">

    {% include 'base/m_thethe9_ranks.html' %}


  </div>
</main>
{% endblock %}

{% include 'footer.html' %}

</html>