<!DOCTYPE html>
{% load static %}
{% load my_custom_tags %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>Let's Enjoy! - 프로그램 경마! 더더구나?!</title>
</head>

{% load mathfilters %}
{% load humanize %}
{% block content %}



<!-- <div class="roomListRoom"> -->
<div style="width:500px">
  <div id="tab-1" class="tab-content current">

    <form method="POST" enctype="multipart/form-data" action="{% url 'krafile_input' %}">
      {% csrf_token %}
      <input type="file" id="files" name="filename[]" accept=".txt,.rpt" multiple>
      
      <button class="btn btn1" type="submit">파일 서버에 저장</button>

    </form>

  







    <!-- <table class="fold-table">
      <thead>
    
        <tr>
          <th><span class="visible-small" title="rmonth3">No.</span><span class="visible-big">No</span></th>
          
          <th><span class="visible-small" title="rmonth1">파일이름.</span><span class="visible-big">파일이름</span></th>

        </tr>
    
      </thead>
      <tbody>
        {% for fname in request_files %}
        <tr class="view">
          
          <td align="right" style="font-family: Arial; font-size: 1.4rem;">{{forloop.counter}}</td>
          <td align="left" style="font-family: Arial; font-size: 1.4rem;">
            <div>{{fname}}</div>            
          </td>

        </tr>
        <tr class="fold">
          
        </tr>
        {% endfor %}
    
    
      </tbody>

    </table> -->
  </div>


</div>

<div class="file">
  <!-- <label for="file">첨부파일</label> -->
  <input type="file" id="file">
</div>

<style>
  .file label {
    display: inline-block;
    width: 100px;
    height: 45px;
    background-color: #4a4a4a;
    color: #fff;
    cursor: pointer;
    /* 마우스 호버시 a링크 기능 추가 */
    line-height: 45px;
    border-radius: 5px;
    text-align: center;
  }

  .file input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    /* 클립에 범위만큼만 노출시킴 */
    overflow: hidden;
    padding: 0;
  }
</style>


</main>
{% endblock %}

</html>