{% load humanize %}
{% load mathfilters %}
{% load static %}

<div class="topics">
  <div class="topics__header">
    <span style="text-transform: uppercase; font-weight: 500; color: var(--color-dark-light);">This Week's Race</span>
    <span class="tooltip" style="text-align:right; width: 90px;">
      <a href="{% url 'print_prediction' %}"
        onclick="window.open(this.href, '_blank', 'width=1000, height=1200, toolbars=no, scrollbars=yes'); return false;">🖨️
      </a>
      <span class="tooltip-text">
        프로그램 예상순위 출력
      </span>
    </span>
    <!-- <i color='white'>➲ Total {{racings.count}}R</i> -->
  </div>

  <script>
    $(document).ready(function () {

      $('ul.tabs2 li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs2 li').removeClass('current');
        $('.tab-content2').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
      })

    })
  </script>

  <ul class="tabs2" style="font-size:1.4rem">
    <li class="tab-link current" data-tab="tab-left1" style="padding: 6px 10px;">금</li>
    <li class="tab-link" data-tab="tab-left2" style="padding: 6px 10px;">토</li>
    <li class="tab-link" data-tab="tab-left3" style="padding: 6px 10px;">일(서울)</li>
    <li class="tab-link" data-tab="tab-left4" style="padding: 6px 10px;">일(부산)</li>
  </ul>

  <div id="tab-left1" class="tab-content2 current">

    <table class="fold-table">
      <thead>
    
        <tr>
          <th rowspan="2" colspan="2">Race No.</th>
          <th rowspan="2"><span class="visible-small" title="rmonth1">등급.</span><span class="visible-big" style="font-size: 1.2rem">등급</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">거리.</span><span class="visible-big" style="font-size: 1.2rem">거리</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">출주.</span><span class="visible-big" style="font-size: 1.2rem">출주</span></th>

          <th colspan="1"><span class="visible-small" title="rmonth1">발주.</span><span class="visible-big" style="font-size: 1.2rem">발주</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">게시글.</span><span class="visible-big" style="font-size: 1.2rem">게시글</span></th>
        </tr>

      </thead>
      <tbody>

        {% for rcity, rdate, rno, rday, rseq,distance, rcount, grade, dividing, rname, rcon1, rcon2, rtime, r1award, r2award, r3award, r4award, r5award, sub1award, sub2award, sub3award in racings %}
        {% if rday == '금' %}
        
        <tr class="view">
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rcity}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem; font-weight: 500;"><a href="{% url 'prediction_race' rcity rdate rno 0 'awardee' %}">{{rno}}ʳ</a></td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{grade|slice:"0:2"}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{distance}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rcount}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rtime}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">0</td>


        </tr>
        <tr class="fold">
          <td colspan="7">
          
            <div class="fold-content" style="font-size: 1.3rem; font-weight: 500;">
          
              <ul>
                <li>
                  {% if request.user.username %}
                  <!-- <a href="{% url 'update_popularity' rcity rdate rno %}">인기도 or 경주결과 입력</a> -->
                  <!-- <a href="{% url 'update_popularity' rcity rdate rno %}" onclick="window.open(this.href, '_blank', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;"> -->
                    <span class="tooltip" style="font-size: 1.2rem; font-weight: 400;">🔏&nbsp;글쓰기(기능구현 중)</span>
                  <!-- </a> -->
                  {% else %}
                  <span class="tooltip" style="font-size: 1.1rem; font-weight: 400;">🔏&nbsp;글쓰기를 하시려면 로그인 해주세요.(기능구현 중)</span>
                  {% endif %}
                  <a href="{% url 'prediction_race' rcity rdate rno 0 'awardee' %}"></a>
          
                </li>
              </ul>
            </div>
          
            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr>
                    <th><span class="visible-small" style="font-size: 1.0rem;">글쓴이</span><span class="visible-big" style="font-size: 1.0rem;">글쓴이</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">구분</span><span class="visible-big" style="font-size: 1.0rem;">구분</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">조회수</span><span class="visible-big" style="font-size: 1.0rem;">조회수</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">추천</span><span class="visible-big" style="font-size: 1.0rem;">추천</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">작성일시</span><span class="visible-big" style="font-size: 1.0rem;">작성일시</span></th>
                  </tr>
                </thead>
                <tbody>
          
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">1</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r1award|floatformat:0|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">2</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r2award|floatformat:0|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">3</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r3award|floatformat:0|intcomma}}</td>
          
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">4</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r4award|floatformat:0|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem "></td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">5</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r5award|floatformat:0|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem "></td>
          
                  </tr>
          
                </tbody>
              </table>
            </div>
          
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>

  </div>
  <div id="tab-left2" class="tab-content2">

    <table class="fold-table">
      <thead>
    
        <tr>
          <th rowspan="2" colspan="2">Race No.</th>
          <th rowspan="2"><span class="visible-small" title="rmonth1">등급.</span><span class="visible-big" style="font-size: 1.2rem">등급</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">거리.</span><span class="visible-big" style="font-size: 1.2rem">거리</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">출주.</span><span class="visible-big" style="font-size: 1.2rem">출주</span></th>
    
          <th colspan="1"><span class="visible-small" title="rmonth1">발주.</span><span class="visible-big" style="font-size: 1.2rem">발주</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">게시글.</span><span class="visible-big" style="font-size: 1.2rem">게시글</span></th>
        </tr>
    
      </thead>
      <tbody>
    
        {% for rcity, rdate, rno, rday, rseq,distance, rcount, grade, dividing, rname, rcon1, rcon2, rtime, r1award, r2award, r3award, r4award, r5award, sub1award, sub2award, sub3award in racings %}
        {% if rday == '토' %}
    
        <tr class="view">
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rcity}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem; font-weight: 500;"><a href="{% url 'prediction_race' rcity rdate rno 0 'awardee' %}">{{rno}}ʳ</a></td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{grade|slice:"0:2"}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{distance}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rcount}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rtime}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">0</td>
    
    
        </tr>
        <tr class="fold">
          <td colspan="7">
    
            <div class="fold-content" style="font-size: 1.3rem; font-weight: 500;">
    
              <ul>
                <li>
                  {% if request.user.username %}
                  <!-- <a href="{% url 'update_popularity' rcity rdate rno %}">인기도 or 경주결과 입력</a> -->
                  <a href="{% url 'update_popularity' rcity rdate rno %}" onclick="window.open(this.href, '_blank', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;">
                    <span class="tooltip" style="font-size: 1.2rem; font-weight: 400;">🔏&nbsp;글쓰기(기능구현 중)</span>
                  </a>
                  {% else %}
                  <span class="tooltip" style="font-size: 1.1rem; font-weight: 400;">🔏&nbsp;글쓰기를 하시려면 로그인 해주세요.(기능구현 중)</span>
                  {% endif %}
                  <a href="{% url 'prediction_race' rcity rdate rno 0 'awardee' %}"></a>
    
                </li>
              </ul>
            </div>
    
            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr>
                    <th><span class="visible-small" style="font-size: 1.0rem;">글쓴이</span><span class="visible-big" style="font-size: 1.0rem;">글쓴이</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">구분</span><span class="visible-big" style="font-size: 1.0rem;">구분</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">조회수</span><span class="visible-big" style="font-size: 1.0rem;">조회수</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">추천</span><span class="visible-big" style="font-size: 1.0rem;">추천</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">작성일시</span><span class="visible-big" style="font-size: 1.0rem;">작성일시</span></th>
                  </tr>
                </thead>
                <tbody>
    
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">1</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r1award|floatformat:0|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">2</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r2award|floatformat:0|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">3</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r3award|floatformat:0|intcomma}}</td>
    
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">4</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r4award|floatformat:0|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem "></td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">5</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r5award|floatformat:0|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem "></td>
    
                  </tr>
    
                </tbody>
              </table>
            </div>
    
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>

  </div>
  <div id="tab-left3" class="tab-content2">

    <table class="fold-table">
      <thead>
    
        <tr>
          <th rowspan="2" colspan="2">Race No.</th>
          <th rowspan="2"><span class="visible-small" title="rmonth1">등급.</span><span class="visible-big" style="font-size: 1.2rem">등급</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">거리.</span><span class="visible-big" style="font-size: 1.2rem">거리</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">출주.</span><span class="visible-big" style="font-size: 1.2rem">출주</span></th>

          <th colspan="1"><span class="visible-small" title="rmonth1">발주.</span><span class="visible-big" style="font-size: 1.2rem">발주</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">게시글.</span><span class="visible-big" style="font-size: 1.2rem">게시글</span></th>
        </tr>

      </thead>
      <tbody>

        {% for rcity, rdate, rno, rday, rseq,distance, rcount, grade, dividing, rname, rcon1, rcon2, rtime, r1award, r2award, r3award, r4award, r5award, sub1award, sub2award, sub3award in racings %}
        {% if rday == '일' and rcity == '서울' %}
        
        <tr class="view">
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rcity}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem; font-weight: 500;"><a href="{% url 'prediction_race' rcity rdate rno 0 'awardee' %}">{{rno}}ʳ</a></td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{grade|slice:"0:2"}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{distance}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rcount}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rtime}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">0</td>


        </tr>
        <tr class="fold">
          <td colspan="7">
          
            <div class="fold-content" style="font-size: 1.3rem; font-weight: 500;">
          
              <ul>
                <li>
                  {% if request.user.username %}
                  <!-- <a href="{% url 'update_popularity' rcity rdate rno %}">인기도 or 경주결과 입력</a> -->
                  <a href="{% url 'update_popularity' rcity rdate rno %}" onclick="window.open(this.href, '_blank', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;">
                    <span class="tooltip" style="font-size: 1.2rem; font-weight: 400;">🔏&nbsp;글쓰기(기능구현 중)</span>
                  </a>
                  {% else %}
                  <span class="tooltip" style="font-size: 1.1rem; font-weight: 400;">🔏&nbsp;글쓰기를 하시려면 로그인 해주세요.(기능구현 중)</span>
                  {% endif %}
                  <a href="{% url 'prediction_race' rcity rdate rno 0 'awardee' %}"></a>
          
                </li>
              </ul>
            </div>
          
            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr>
                    <th><span class="visible-small" style="font-size: 1.0rem;">글쓴이</span><span class="visible-big" style="font-size: 1.0rem;">글쓴이</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">구분</span><span class="visible-big" style="font-size: 1.0rem;">구분</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">조회수</span><span class="visible-big" style="font-size: 1.0rem;">조회수</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">추천</span><span class="visible-big" style="font-size: 1.0rem;">추천</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">작성일시</span><span class="visible-big" style="font-size: 1.0rem;">작성일시</span></th>
                  </tr>
                </thead>
                <tbody>
          
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">1</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r1award|floatformat:0|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">2</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r2award|floatformat:0|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">3</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r3award|floatformat:0|intcomma}}</td>
          
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">4</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r4award|floatformat:0|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem "></td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">5</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r5award|floatformat:0|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem "></td>
          
                  </tr>
          
                </tbody>
              </table>
            </div>
          
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>

  </div>

  <div id="tab-left4" class="tab-content2">

    <table class="fold-table">
      <thead>
    
        <tr>
          <th rowspan="2" colspan="2">Race No.</th>
          <th rowspan="2"><span class="visible-small" title="rmonth1">등급.</span><span class="visible-big" style="font-size: 1.2rem">등급</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">거리.</span><span class="visible-big" style="font-size: 1.2rem">거리</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">출주.</span><span class="visible-big" style="font-size: 1.2rem">출주</span></th>

          <th colspan="1"><span class="visible-small" title="rmonth1">발주.</span><span class="visible-big" style="font-size: 1.2rem">발주</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">게시글.</span><span class="visible-big" style="font-size: 1.2rem">게시글</span></th>
        </tr>

      </thead>
      <tbody>

        {% for rcity, rdate, rno, rday, rseq,distance, rcount, grade, dividing, rname, rcon1, rcon2, rtime, r1award, r2award, r3award, r4award, r5award, sub1award, sub2award, sub3award in racings %}
        {% if rday == '일' and rcity == '부산' %}
        
        <tr class="view">
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rcity}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem; font-weight: 500;"><a href="{% url 'prediction_race' rcity rdate rno 0 'awardee' %}">{{rno}}ʳ</a></td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{grade|slice:"0:2"}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{distance}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rcount}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">{{rtime}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.2rem ">0</td>


        </tr>
        <tr class="fold">
          <td colspan="7">
          
            <div class="fold-content" style="font-size: 1.3rem; font-weight: 500;">
          
              <ul>
                <li>
                  {% if request.user.username %}
                  <!-- <a href="{% url 'update_popularity' rcity rdate rno %}">인기도 or 경주결과 입력</a> -->
                  <a href="{% url 'update_popularity' rcity rdate rno %}" onclick="window.open(this.href, '_blank', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;">
                    <span class="tooltip" style="font-size: 1.2rem; font-weight: 400;">🔏&nbsp;글쓰기(기능구현 중)</span>
                  </a>
                  {% else %}
                  <span class="tooltip" style="font-size: 1.1rem; font-weight: 400;">🔏&nbsp;글쓰기를 하시려면 로그인 해주세요.(기능구현 중)</span>
                  {% endif %}
                  <a href="{% url 'prediction_race' rcity rdate rno 0 'awardee' %}"></a>
          
                </li>
              </ul>
            </div>
          
            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr>
                    <th><span class="visible-small" style="font-size: 1.0rem;">글쓴이</span><span class="visible-big" style="font-size: 1.0rem;">글쓴이</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">구분</span><span class="visible-big" style="font-size: 1.0rem;">구분</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">조회수</span><span class="visible-big" style="font-size: 1.0rem;">조회수</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">추천</span><span class="visible-big" style="font-size: 1.0rem;">추천</span></th>
                    <th><span class="visible-small" style="font-size: 1.0rem;">작성일시</span><span class="visible-big" style="font-size: 1.0rem;">작성일시</span></th>
                  </tr>
                </thead>
                <tbody>
          
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">1</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r1award|floatformat:0|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">2</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r2award|floatformat:0|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">3</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r3award|floatformat:0|intcomma}}</td>
          
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">4</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r4award|floatformat:0|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem "></td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.0rem ">5</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem ">{{r5award|floatformat:0|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.0rem "></td>
          
                  </tr>
          
                </tbody>
              </table>
            </div>
          
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>

  </div>

  <br>

  <ul class="topics__list">
    <li>
    <a class="btn btn--link" href="{% url 'award_status_jockey' %}"
      onclick="window.open(this.href, '_blank', 'width=970, height=1000, toolbars=no, scrollbars=yes'); return false;">
      ﹅기수 출주현황
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>

    <a class="btn btn--link" href="{% url 'award_status_trainer' %}"
      onclick="window.open(this.href, '_blank', 'width=970, height=1000, toolbars=no, scrollbars=yes'); return false;">
      ﹅마방 출주현황
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>

    {% if request.user.username == 'admin' %}
    <a class="btn btn--link" href="{% url 'data_management' %}">
      ﹅KRA자료실 데이터 입력
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    {%endif%}
    {% if request.user.username == 'admin' %}
    <a class="btn btn--link" href="{% url 'data_breakingnews' %}">
      ﹅경주속보 입력
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    {%endif%}
    <!-- {% if request.user.username == 'admin' %}
    <a class="btn btn--link" href="{% url 'pyscript_test' %}">
      ﹅데이터 입력
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    {%endif%} -->

    </li>
  </ul>

  <br>
{% if request.user.username == 'admin' %}
  <a class="btn btn--link" href="{% url 'race' %}?q=서울">
    ◀︎ 지난주
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <title>chevron-down</title>
      <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
    </svg>
  </a>
{%endif%}
  
</div>



