<div class="topics">
  <div class="topics__header">
    <h2>This Weekend Race </h2>
    <i color='white'>➲ Total {{racings.count}}R</i>

  </div>

  <ul class="topics__list">
    
    <div class="dropDown">
      <button class="dropDown-btn">🐳 서울 경마.</button>      
      <div class="subMenu">
        <li class="topics__header">
          {% for race in racings %}
          {% if race.rcity == '서울' %}
          <a href="{% url 'prediction_race' race.rcity race.rdate race.rno 0 0 %}">
            <!-- <span>{{race.rdate|slice:"0:4" }}.{{race.rdate|slice:"4:6" }}.{{race.rdate|slice:"6:8" }}</span> -->
            <span>{{race.rday}}</span>
            <span>{{race.rno}}R</span>
            {{race.grade|slice:"0:2"}}﹅{{race.dividing}}﹅{{race.rname}} 
            <span>{{race.rcount}}</span>
          </a>
          {% endif %}
          {% endfor %}
        </li>
      </div>
    </div>
  </ul>
  <ul>
        <div class="dropDown">
          <button class="dropDown-btn">🐋 부산 경마.</button>
          <div class="subMenu">
            <li class="topics__header">
              {% for race in racings %}
              {% if race.rcity == '부산' %}
              <a href="{% url 'prediction_race' race.rcity race.rdate race.rno 0 0 %}">
                <!-- <span>{{race.rdate|slice:"0:4" }}.{{race.rdate|slice:"4:6" }}.{{race.rdate|slice:"6:8" }}</span> -->
                <span>{{race.rday}}</span>
                <span>{{race.rno}}R</span>
                {{race.grade|slice:"0:2"}}﹅{{race.dividing}}﹅{{race.rname}}
                <span>{{race.rcount}}</span>
              </a>
              {% endif %}
              {% endfor %}
            </li>
          </div>
        </div>
  </ul>

  <br>
  <ul class="topics__list">
    <li>
    <a class="btn btn--link" href="{% url 'race' %}?q=서울">
      ﹅기수 출주현황
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    <a class="btn btn--link" href="{% url 'race' %}?q=부산">
      ﹅마방 출주현황
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    <a class="btn btn--link" href="{% url 'awards' %}">
      ﹅상금 수득현황
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    </li>
  </ul>
<br>
  <a class="btn btn--link" href="{% url 'race' %}?q=서울">
    ◀︎ 지난주
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <title>chevron-down</title>
      <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
    </svg>
  </a>
  
</div>


