{% load humanize %}
{% load mathfilters %}



<div class="topics">
  <div class="topics__header">
    <h2>This Week's Race </h2>
    <!-- <i color='white'>➲ Total {{racings.count}}R</i> -->
  </div>

  <script>
    $(document).ready(function () {

      $('ul.tabs2 li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs2 li').removeClass('current');
        $('.tab-content2').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
      })

    })
  </script>

  <ul class="tabs2" style="font-size:1.4rem">
    <li class="tab-link current" data-tab="tab-left1">금</li>
    <li class="tab-link" data-tab="tab-left2">토</li>
    <li class="tab-link" data-tab="tab-left3">일</li>
  </ul>

  <div id="tab-left1" class="tab-content2 current">

    <table class="fold-table">
      <thead>
    
        <tr>
          <th rowspan="2" colspan="2"><span class="visible-small" title="Jockey">경주.</span><span class="visible-big">경주</span></th>
          <th rowspan="2"><span class="visible-small" title="rmonth1">등급.</span><span class="visible-big">등급</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">거리.</span><span class="visible-big">거리</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">출주.</span><span class="visible-big">출주</span></th>

          <th colspan="1"><span class="visible-small" title="rmonth1">발주.</span><span class="visible-big">발주</span></th>
        </tr>

      </thead>
      <tbody>

        {% for r in racings %}
        {% if r.rday == '금' %}
        
        <tr class="view">
          <td align="center" style="font-family: Arial; font-size: 0.5rem ">{{r.rcity|slice:"0:1"}}<br>{{r.rcity|slice:"1:2"}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem; font-weight: 500;"><a href="{% url 'prediction_race' r.rcity r.rdate r.rno 0 'awardee' %}">{{r.rno}}ʳ</a></td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.grade|slice:"0:2"}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.distance}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.rcount}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.rtime}}</td>


        </tr>
        <tr class="fold">
          <td colspan="6">
            
            <div class="fold-content" style="font-size: 1.2rem; font-weight: 500;">
              
              <ul>
                <li>
                  {% if request.user.username == 'admin' %}
                  <a href="{% url 'update_popularity' r.rcity r.rdate r.rno %}">인기도 or 경주결과 입력</a>
                  {% endif %}
                  <a href="{% url 'prediction_race' r.rcity r.rdate r.rno 0 'awardee' %}">{{r.rcity}}﹆{{r.dividing}}﹆{{r.rname}}</a>
                  
               </li>
              </ul>
            </div>

            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr style="font-size: 1.2rem;">
                    <th><span class="visible-small">Rank</span><span class="visible-big">Rank</span></th>
                    <th><span class="visible-small">부가상금</span><span class="visible-big">부가상금</span></th>

                    <th><span class="visible-small">순위상금</span><span class="visible-big">순위상금</span></th>
                  </tr>
                </thead>
                <tbody>
    
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">1</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{%if r.sub1award != None %}{{r.sub1award|intcomma}}{%endif%}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r1award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">2</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{%if r.sub1award != None %}{{r.sub2award|intcomma}}{%endif%}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r2award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">3</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{%if r.sub1award != None %}{{r.sub3award|intcomma}}{%endif%}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r3award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">4</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem "></td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r4award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">5</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem "></td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r5award|intcomma}}</td>
                  </tr>
    
                </tbody>
              </table>
            </div>

            

            
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>

  </div>
  <div id="tab-left2" class="tab-content2">

    <table class="fold-table">
      <thead>
    
        <tr>
          <th rowspan="2" colspan="2"><span class="visible-small" title="Jockey">경주.</span><span class="visible-big">경주</span></th>
          <th rowspan="2"><span class="visible-small" title="rmonth1">등급.</span><span class="visible-big">등급</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">거리.</span><span class="visible-big">거리</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">출주.</span><span class="visible-big">출주</span></th>

          <th colspan="1"><span class="visible-small" title="rmonth1">발주.</span><span class="visible-big">발주</span></th>
        </tr>

      </thead>
      <tbody>

        {% for r in racings %}
        {% if r.rday == '토' %}
        
        <tr class="view">
          {% if r.rcity == '서울' %}
          <td align="center" style="font-family: Arial; font-size: 0.5rem ">{{r.rcity|slice:"0:1"}}<br>{{r.rcity|slice:"1:2"}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem; font-weight: 500;"><a href="{% url 'prediction_race' r.rcity r.rdate r.rno 0 'awardee' %}">{{r.rno}}ʳ</a></td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.grade|slice:"0:2"}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.distance}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.rcount}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.rtime}}</td>
          {%else%}
          <td align="center" style="color:gold; font-family: Arial; font-size: 0.5rem ">{{r.rcity|slice:"0:1"}}<br>{{r.rcity|slice:"1:2"}}</td>
          <td align="center" style="color:gold; font-family: Arial; font-size: 1.3rem; font-weight: 500;"><a href="{% url 'prediction_race' r.rcity r.rdate r.rno 0 'awardee' %}">{{r.rno}}ʳ</a></td>
          <td align="center" style="color:gold; font-family: Arial; font-size: 1.3rem ">{{r.grade|slice:"0:2"}}</td>
          <td align="center" style="color:gold; font-family: Arial; font-size: 1.3rem ">{{r.distance}}</td>
          <td align="center" style="color:gold; font-family: Arial; font-size: 1.3rem ">{{r.rcount}}</td>
          <td align="center" style="color:gold; font-family: Arial; font-size: 1.3rem ">{{r.rtime}}</td>
          {%endif%}

        </tr>
        <tr class="fold">
          <td colspan="6">
            <div class="fold-content" style="font-size: 1.3rem; font-weight: 700;">
              {% if request.user.username == 'admin' %}
              <a href="{% url 'update_popularity' r.rcity r.rdate r.rno %}">인기도 or 경주결과 입력</a>
              {% endif %}
              <a href="{% url 'prediction_race' r.rcity r.rdate r.rno 0 'awardee' %}">{{r.rcity}}﹆{{r.distance}}𝓶 ﹆{{r.dividing}}<br>{{r.rname}}</a>
            </div>

            <table class="small-friendly">
                <thead>
                  <tr>
                    <th><span class="visible-small">순위</span><span class="visible-big">순위</span></th>
                    <th><span class="visible-small">순위상금</span><span class="visible-big">순위상금</span></th>
                    <th><span class="visible-small">부가상금</span><span class="visible-big">부가상금</span></th>
                  </tr>
                </thead>
                <tbody>
    
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">1</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r1award|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{%if r.sub1award != None %}{{r.sub1award|intcomma}}{%endif%}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">2</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r2award|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{%if r.sub1award != None %}{{r.sub2award|intcomma}}{%endif%}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">3</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r3award|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{%if r.sub1award != None %}{{r.sub3award|intcomma}}{%endif%}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">4</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r4award|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem "></td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">5</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r5award|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem "></td>
                  </tr>
    
                </tbody>
              </table>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>

  </div>
  <div id="tab-left3" class="tab-content2">

    <table class="fold-table">
      <thead>
    
        <tr>
          <th rowspan="2" colspan="2"><span class="visible-small" title="Jockey">경주.</span><span class="visible-big">경주</span></th>
          <th rowspan="2"><span class="visible-small" title="rmonth1">등급.</span><span class="visible-big">등급</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">거리.</span><span class="visible-big">거리</span></th>
          <th colspan="1"><span class="visible-small" title="rmonth1">출주.</span><span class="visible-big">출주</span></th>

          <th colspan="1"><span class="visible-small" title="rmonth1">발주.</span><span class="visible-big">발주</span></th>
        </tr>

      </thead>
      <tbody>

        {% for r in racings %}
        {% if r.rday == '일' %}
        
        <tr class="view">
          {% if r.rcity == '서울' %}
          <td align="center" style="font-family: Arial; font-size: 0.5rem ">{{r.rcity|slice:"0:1"}}<br>{{r.rcity|slice:"1:2"}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem; font-weight: 500;"><a href="{% url 'prediction_race' r.rcity r.rdate r.rno 0 'awardee' %}">{{r.rno}}ʳ</a></td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.grade|slice:"0:2"}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.distance}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.rcount}}</td>
          <td align="center" style="font-family: Arial; font-size: 1.3rem ">{{r.rtime}}</td>
          {%else%}
          <td align="center" style="color:rgb(0, 192, 255); font-family: Arial; font-size: 0.5rem ">{{r.rcity|slice:"0:1"}}<br>{{r.rcity|slice:"1:2"}}</td>
          <td align="center" style="color:rgb(0, 192, 255); font-family: Arial; font-size: 1.3rem; font-weight: 500;"><a href="{% url 'prediction_race' r.rcity r.rdate r.rno 0 'awardee' %}">{{r.rno}}ʳ</a></td>
          <td align="center" style="color:rgb(0, 192, 255); font-family: Arial; font-size: 1.3rem ">{{r.grade|slice:"0:2"}}</td>
          <td align="center" style="color:rgb(0, 192, 255); font-family: Arial; font-size: 1.3rem ">{{r.distance}}</td>
          <td align="center" style="color:rgb(0, 192, 255); font-family: Arial; font-size: 1.3rem ">{{r.rcount}}</td>
          <td align="center" style="color:rgb(0, 192, 255); font-family: Arial; font-size: 1.3rem ">{{r.rtime}}</td>
          {%endif%}

        </tr>
        <tr class="fold">
          <td colspan="6">
            
            <div class="fold-content" style="font-size: 1.3rem; font-weight: 700;">
              {% if request.user.username == 'admin' %}
                  <a href="{% url 'update_popularity' r.rcity r.rdate r.rno %}">인기도 or 경주결과 입력</a>
                  {% endif %}
              <a href="{% url 'prediction_race' r.rcity r.rdate r.rno 0 'awardee' %}">﹆{{r.rcity}}﹆{{r.dividing}}﹆{{r.rname}}</a>
            </div>

            <table class="small-friendly">
                <thead>
                  <tr>
                    <th><span class="visible-small">순위</span><span class="visible-big">순위</span></th>
                    <th><span class="visible-small">순위상금</span><span class="visible-big">순위상금</span></th>
                    <th><span class="visible-small">부가상금</span><span class="visible-big">부가상금</span></th>
                  </tr>
                </thead>
                <tbody>
    
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">1</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r1award|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{%if r.sub1award != None %}{{r.sub1award|intcomma}}{%endif%}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">2</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r2award|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{%if r.sub1award != None %}{{r.sub2award|intcomma}}{%endif%}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">3</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r3award|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{%if r.sub1award != None %}{{r.sub3award|intcomma}}{%endif%}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">4</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r4award|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem "></td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family: Arial; font-size: 1.2rem ">5</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem ">{{r.r5award|intcomma}}</td>
                    <td align="right" style="font-family: Arial; font-size: 1.2rem "></td>
                  </tr>
    
                </tbody>
              </table>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
    
    
      </tbody>
    </table>

  </div>

  <br>

  <ul class="topics__list">
    <li>
    <a class="btn btn--link" href="{% url 'race' %}?q=서울">
      ﹅기수 출주현황
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    <a class="btn btn--link" href="{% url 'race' %}?q=부산">
      ﹅마방 출주현황
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    <a class="btn btn--link" href="{% url 'awards' %}">
      ﹅상금 수득현황
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    </li>
  </ul>

  <br>

  <a class="btn btn--link" href="{% url 'race' %}?q=서울">
    ◀︎ 지난주
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <title>chevron-down</title>
      <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
    </svg>
  </a>
  
  
</div>


