<div class="topics">
  <div class="topics__header">
    <h2>This Weekend Race </h2>
    <i color='white'>➲ Total {{racings.count}}R</i>

  </div>

  <ul class="topics__list">
    
    {% if seoul_fri.count > 0 %}
    <div class="dropDown">
      <button class="dropDown-btn">﹆서울 🐳  금요경마.</button>
      
      <div class="subMenu">
        <li class="topics__header">
          {% for racing in seoul_fri %}
          <a href="{% url 'prediction_race' racing.rcity racing.rdate racing.rno 0 0 %}">
            <!-- {{racing.rdate|slice:"0:4" }}.{{racing.rdate|slice:"4:6" }}.{{racing.rdate|slice:"6:8" }} -->
            <span>{{racing.rno}}R</span>
            {{racing.grade|slice:"0:2"}}﹅{{racing.dividing}}﹅{{racing.rname}} 
            <span>{{racing.rcount}}</span>
          </a>
          
          {% endfor %}
        </li>
      
      </div>
    </div>
    {% endif %}

    {% if busan_fri.count > 0 %}
    <div class="dropDown">
      <button class="dropDown-btn">﹆부산 🐋  금요경마.</button>
      
      <div class="subMenu">
        <li class="topics__header">
          {% for racing in busan_fri %}
          <a href="{% url 'prediction_race' racing.rcity racing.rdate racing.rno 0 0 %}">
            <!-- {{racing.rdate|slice:"0:4" }}.{{racing.rdate|slice:"4:6" }}.{{racing.rdate|slice:"6:8" }} -->
            <span>{{racing.rno}}R</span>
            {{racing.grade|slice:"0:2"}}﹅{{racing.dividing}}﹅{{racing.rname}} 
            <span>{{racing.rcount}}</span>
          </a>
          
          {% endfor %}
        </li>
      
      </div>
    </div>
    {% endif %}


    {% if seoul_sat.count > 0 %}
    <div class="dropDown">
      <button class="dropDown-btn">﹆서울 🐳  토요경마.</button>
      <div class="subMenu">
        <li class="topics__header">
          {% for racing in seoul_sat %}
          <a href="{% url 'prediction_race' racing.rcity racing.rdate racing.rno 0 0 %}">
            <!-- {{racing.rdate|slice:"0:4" }}.{{racing.rdate|slice:"4:6" }}.{{racing.rdate|slice:"6:8" }} -->
            <span>{{racing.rno}}R</span>
            {{racing.grade|slice:"0:2"}}﹅{{racing.dividing}}﹅{{racing.rname}} 
            <span>{{racing.rcount}}</span>
          </a>
          
          {% endfor %}
        </li>
      
      </div>
    </div>
    {% endif %}

    {% if busan_sat.count > 0 %}
    <div class="dropDown">
      <button class="dropDown-btn">﹆부산 🐋 토요경마.</button>
      <div class="subMenu">
        <li class="topics__header">
          {% for racing in busan_sat %}
          <a href="{% url 'prediction_race' racing.rcity racing.rdate racing.rno 0 0 %}">
            <!-- {{racing.rdate|slice:"0:4" }}.{{racing.rdate|slice:"4:6" }}.{{racing.rdate|slice:"6:8" }} -->
            <span>{{racing.rno}}R</span>
            {{racing.grade|slice:"0:2"}}﹅{{racing.dividing}}﹅{{racing.rname}} 
            <span>{{racing.rcount}}</span>
          </a>
          
          {% endfor %}
        </li>
      
      </div>
    </div>
    {% endif %}

    {% if seoul_sun.count > 0 %}
    <div class="dropDown">
      <button class="dropDown-btn">﹆서울 🐳  일요경마.</button>
      <div class="subMenu">
        <li class="topics__header">
          {% for racing in seoul_sun %}
          <a href="{% url 'prediction_race' racing.rcity racing.rdate racing.rno 0 0 %}">
            <!-- {{racing.rdate|slice:"0:4" }}.{{racing.rdate|slice:"4:6" }}.{{racing.rdate|slice:"6:8" }} -->
            <span>{{racing.rno}}R</span>
            {{racing.grade|slice:"0:2"}}﹅{{racing.dividing}}﹅{{racing.rname}} 
            <span>{{racing.rcount}}</span>
          </a>
          
          {% endfor %}
        </li>
      
      </div>
    </div>
    {% endif %}


    {% if busan_sun.count > 0 %}
    <div class="dropDown">
      <button class="dropDown-btn">﹆부산 🐋 일요경마.</button>
      <div class="subMenu">
        <li class="topics__header">
          {% for racing in busan_sun %}
          <a href="{% url 'prediction_race' racing.rcity racing.rdate racing.rno 0 0 %}">
            <!-- {{racing.rdate|slice:"0:4" }}.{{racing.rdate|slice:"4:6" }}.{{racing.rdate|slice:"6:8" }} -->
            <span>{{racing.rno}}R</span>
            {{racing.grade|slice:"0:2"}}﹅{{racing.dividing}}﹅{{racing.rname}}
            <span>{{racing.rcount}}</span>
          </a>
    
          {% endfor %}
        </li>
    
      </div>
    </div>
    {% endif %}

  </ul>

  <br>
  <ul class="topics__list">
    <li>
    <a class="btn btn--link" href="{% url 'race' %}?q=서울">
      ﹅기수 출주현황
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    <a class="btn btn--link" href="{% url 'race' %}?q=부산">
      ﹅마방 출주현황
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    <a class="btn btn--link" href="{% url 'awards' %}">
      ﹅상금 수득현황
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
    </li>
  </ul>
<br>
  <a class="btn btn--link" href="{% url 'race' %}?q=서울">
    ◀︎ 지난주
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <title>chevron-down</title>
      <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
    </svg>
  </a>
  
</div>


