<table>
  <thead>
    <tr>
      <th colspan="4" style="text-align: left; font-size: 1.25rem;">
        <a href="{% url 'get_race_awardee' exp011s.0.rdate 'jockey' exp011s.0.jockey exp011s.0.jockey exp011s.0.trainer exp011s.0.host %}"
          onclick="window.open(this.href, '_blank', 'width=1000, height=700, toolbars=no, scrollbars=yes'); return false;">
          <div style="font-size: 1.2rem; padding-bottom: 10px;">📌&nbsp;{{exp011s.0.jockey}}</div>
        </a>

        <div style="font-size: 1.1rem; font-family: Arial;">thethe9 1위 기준 Gate별 연승률</div>
        <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r3)">단승식 배당 4.4 이하</div>
        <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5)">조교사 기수 복승율 >= 기수 복승율</div>
      </th>
    </tr>
    <tr>
      <th style="font-family: Arial; font-size: 1.2rem;">Gate</th>
      <th style="font-family: Arial; font-size: 1.2rem;">cnt</th>
      <th style="font-family: Arial; font-size: 1.2rem;">3위권</th>
      <th style="font-family: Arial; font-size: 1.2rem;">3위%</th>
    </tr>
  </thead>
  <tbody>
    {% for gate, cnt, w3rd, w3per, i_cnt, i_w3rd, i_w3per, i2_cnt, i2_w3rd, i2_w3per in axis1 %}
    <tr style="font-weight: 300; content:none">
      {% if gate|mul:1 == exp011s.0.gate or gate == 'TOT' %}
      <td style="font-family: Arial; background-color: var(--color-dark); font-size: 1.2rem; text-align: right;">{{gate}}</td>
      <td style="font-family: Arial; background-color: var(--color-dark); font-size: 1.2rem; text-align: right;">{{cnt}}<br>{{i_cnt}}<br>{{i2_cnt}}</td>
      <td style="font-family: Arial; background-color: var(--color-dark); font-size: 1.2rem; text-align: right;">{{w3rd}}<br>{{i_w3rd}}<br>{{i2_w3rd}}</td>
      <td style="font-family: Arial; background-color: var(--color-dark); font-size: 1.2rem; text-align: right;">{{w3per|floatformat:1}}<br>{{i_w3per|floatformat:1}}<br>{{i2_w3per|floatformat:1}}
      </td>
      {% else %}
      <td style="font-family: Arial; font-size: 1.2rem; text-align: right;">{{gate}}</td>
      <td style="font-family: Arial; font-size: 1.2rem; text-align: right;">{{cnt}}</td>
      <td style="font-family: Arial; font-size: 1.2rem; text-align: right;">{{w3rd}}</td>
      <td style="font-family: Arial; font-size: 1.2rem; text-align: right;">{{w3per|floatformat:1}}</td>
      {% endif %}
    </tr>
    {% endfor %}

  </tbody>
</table>