{% load static %}
{% load mathfilters %}
{% load humanize %}

<div class="room__top" style="z-index:1; border-radius: 5px;">
        
  <div class="room__topLeft">
    <a href="{% url 'home' %}" class="header__logo" style="height:2.0rem; width: 2.2em;">
      <span class="tooltip">
        <img src="{% static 'images/number-9.png' %}" />
      
      <span class="tooltip-text" style="z-index: 9; font-style: normal; font-size: 1.2rem;">🏠&nbsp;&nbsp;Home</span></span>
    </a>&nbsp;
  
    <a href="{% url 'weeks_status' r_condition.rcity r_condition.rdate %}"
      onclick="window.open(this.href, 'jt_analysis', 'width=1350, height=1000, toolbars=no, scrollbars=yes'); return false;">
      <span class="tooltip" style="font-family: Arial; font-size:1.4rem; color: var(--color-main); font-weight: 500; border-radius: 7px; padding: 4px 4px; background-color: var(--color-dark);">
        &nbsp;{{r_condition.rdate|slice:"0:4"}}.{{r_condition.rdate|slice:"4:6"}}.{{r_condition.rdate|slice:"6:8"}}&nbsp;({{r_condition.rday}})&nbsp;
        <span class="tooltip-text" style="font-size:1.2rem; color: var(--color-main); font-weight: 500;">
          🚦&nbsp;thethe9.com Week's Status
        </span>
      </span>
    </a>

    <span style="font-family: Arial; font-size:1.4rem; color: var(--color-main); font-weight: 500; border-radius: 7px; padding: 4px 4px; background-color: var(--color-dark);">
      &nbsp;{{r_condition.rcity}}&nbsp;&nbsp;{{r_condition.rno}}<sup style="font-size:0.9rem">R</sup>&nbsp;
    </span>

    <span class="tooltip"
      style="font-size:1.4rem; color: var(--color-main); font-weight: 500; padding: 4px 4px;">&nbsp;&nbsp;{{r_condition.grade|slice:"0:2"}}&nbsp;&nbsp;{{r_condition.rcon1}}&nbsp;&nbsp;
      <span class="tooltip-text" style="font-size:1.2rem; color: var(--color-main); font-weight: 500;">
        {{r_condition.rname}} <br>
        {{r_condition.rcon2}} 
      </span>
    </span>

    <span style="font-size:1.4rem; color: var(--color-main-light); font-weight: 500; padding: 4px 4px;">{{r_condition.dividing}}</span>
    <span class="tooltip" style="color:var(--color-light); font-size: 1.4rem; font-family: Arial; padding: 4px 4px;">&nbsp;&nbsp;💵 {{r_condition.r1award|div:1000|intcomma}}
      <span class="tooltip-text" style="text-align: right; font-family: Arial;">
        <table>
          <thead>
            <th style="font-family: Arial; font-size: 1.2rem;">순위</th>
            <th style="font-family: Arial; font-size: 1.2rem;">상금(천원)</th>
          </thead>
          <tbody>
            <tr>
              <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">1</td>
              <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r1award|div:1000|intcomma}}</td>
            </tr>
            <tr>
              <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">2</td>
              <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r2award|div:1000|intcomma}}</td>
            </tr>
            <tr>
              <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">3</td>
              <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r3award|div:1000|intcomma}}</td>
            </tr>
            <tr>
              <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">4</td>
              <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r4award|div:1000|intcomma}}</td>
            </tr>
            <tr>
              <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">5</td>
              <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r5award|div:1000|intcomma}}</td>
            </tr>
          </tbody>
    
        </table>
    
      </span>
    </span>

    <!-- <a href="http://kra.fiveplayer.co.kr/player.php?f={{r_condition.rdate}}/{% if r_condition.rcity == '서울' %}s{%else%}b{%endif%}{{r_condition.rno}}r" -->
    <a href="https://kraplayer.starplayer.net/kra/vod/starplayer.php?meet={% if r_condition.rcity == '서울' %}1{%else%}3{%endif%}&rcdate={{r_condition.rdate}}&rcno={{r_condition.rno}}&vod_type=r"
      onclick="window.open(this.href, '_blank', 'width=1400, height=700, toolbars=no, scrollbars=yes'); return false;">
      <span class="tooltip" style="padding: 4px 4px;">&nbsp;&nbsp;🖥️&nbsp;&nbsp;
        <span class="tooltip-text" style="font-size:1.2rem;">🖥️&nbsp;&nbsp;경주결과 영상</span></span>
    </a>
    
  </div>

  <div class="room__topRight">
    {%if alloc.r2alloc %}
    <span class="tooltip" style="color:var(--color-r2); font-size: 1.4rem;">복승식: {{alloc.r2alloc|slice:"2:10"|rjust:10}}
      <span class="tooltip-text" style="text-align: left; font-family: Arial;">
        <table>
          <thead>
            <tr>
              <th style="font-family: Arial,; font-size: 1.2rem;">승식</th>
              <th style="font-family: Arial,; font-size: 1.2rem;">배당율</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="font-family: Arial,; font-size: 1.2rem;">복승</td>
              <td style="font-family: Arial,; font-size: 1.2rem; text-align: right;">{{alloc.r2alloc|slice:"2:"}}</td>
            </tr>
            <tr>
              <td style="font-family: Arial,; font-size: 1.2rem;">삼복승</td>
              <td style="font-family: Arial,; font-size: 1.2rem; text-align: right;">{{alloc.r333alloc|slice:"3:"}}</td>
            </tr>
            <tr>
              <td style="font-family: Arial,; font-size: 1.2rem;">삼쌍승</td>
              <td style="font-family: Arial,; font-size: 1.2rem; text-align: right;">{{alloc.r123alloc|slice:"3:"}}</td>
            </tr>

          </tbody>
        </table>
      </span>
    </span>
    {%endif%}
  </div>

  <div class="room__topRight">
    <span style="font-size:1.4rem; color: var(--color-main-light); font-family: Arial; padding:0.4rem; ">{{r_condition.distance}}𝓂</span>

    <span style="color: var(--color-main); padding:0.4rem;">
      {% if request.user.username == 'admin' %}
      <a href="{% url 'race_report' r_condition.rcity r_condition.rdate r_condition.rno %}"
        onclick="window.open(this.href, '_blank', 'width=900, height=800, top=0, left=0, toolbars=no, scrollbars=yes'); return false;">
        <span class="tooltip" style="font-size: 1.35rem; font-weight: 400;">⏰&nbsp;&nbsp;{{r_condition.rtime}}
          <span class="tooltip-text">경주복기</span>
        </span>
      </a>
      
      {% else %}
      ⏰&nbsp;&nbsp;{{r_condition.rtime}}
      {% endif %}
    </span>

    {% if alloc.r2alloc %} {# 경주결과가 입력되었으면 #}
    <span style="color: var(--color-main); padding:0.4rem;">
      <a href="{% url 'race_result' r_condition.rcity r_condition.rdate r_condition.rno 0 0 0 0 %}"
        onclick="window.open(this.href, 'w_result', 'width=1000, height=1000, toolbars=no, scrollbars=yes'); return false;">
        <span class="tooltip" style="font-size: 1.35rem; font-weight: 400;">📃
          <span class="tooltip-text">Race Result</span>
        </span>
      </a>
    </span>
    {% endif %}
  </div>

</div>
