

{% if r.r_etc %}


  {% if r.r_etc %}  {# r.r_etc 가 있을 때 #}

    {% if r.r_flag == None or r.r_flag == '0' %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">📜
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;📜&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == '1'  %} {# 출발불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">😱
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;😱&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == '2'  %} {# 주행불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🪱
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🪱&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == '3'  %} {# 공간부족-외각주행-주행방해 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💥
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💥&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == '6'  %} {# 마체이상 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💉
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💉&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == '7'  %} {# 탐색 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">😎
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;😎&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == 'A'  %} {# 이해불가 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">⁉️
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⁉️&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == 'E'  %} {# 모래반응 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">⌛️
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⌛️&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == 'G'  %} {# 주로상태 불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">👣
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;👣&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == 'I'  %} {# 대차 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">⫍
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⫍&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == 'P'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🅿️
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🅿️&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == 'S'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🪀
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🪀&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == 'W'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ŵ
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ŵ&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == 'X'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ẋ
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ẋ&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == 'Y'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ý
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ý&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% elif r.r_flag == 'Z'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💤
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💤&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    
    {% else %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">📚
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;📚&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>
    {% endif %}

  {% else %}  {# r.r_etc 가 없을 때 #}

    {% if r_flag == None or r_flag == '0' %}
      <span style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">📂</span>
    {% elif r_flag == '1'  %} {# 출발불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">😱
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;😱&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '2'  %} {# 주행불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🪱
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🪱&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '3'  %} {# 공간부족-외각주행-주행방해 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💥
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💥&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '6'  %} {# 마체이상 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💉
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💉&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '7'  %} {# 탐색 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">😎
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;😎&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'A'  %} {# 이해불가 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">⁉️
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⁉️&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'E'  %} {# 모래반응 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⌛️&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'G'  %} {# 주로상태 불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">👣
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;👣&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'I'  %} {# 대차 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">⫍
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⫍&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'P'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🅿️
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🅿️&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'S'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🪀
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🪀&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'W'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ŵ
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ŵ&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'X'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ẋ
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ẋ&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'Y'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ý
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ý&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'Z'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💤
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💤&nbsp;&nbsp;{{r.r_etc}}</span>
      </span>

    {% else %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">📚
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;📚&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% endif %}

  {% endif %}

{% else %}


  {% if r_etc %}  {# r_etc 가 있을 때 #}

    {% if r_flag == None or r_flag == '0' %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">📜
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;📜&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '1'  %} {# 출발불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">😱
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;😱&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '2'  %} {# 주행불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🪱
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🪱&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '3'  %} {# 공간부족-외각주행-주행방해 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💥
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💥&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '6'  %} {# 마체이상 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💉
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💉&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '7'  %} {# 탐색 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">😎
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;😎&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'A'  %} {# 이해불가 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">⁉️
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⁉️&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'E'  %} {# 모래반응 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">⌛️
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⌛️&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'G'  %} {# 주로상태 불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">👣
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;👣&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'I'  %} {# 대차 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">⫍
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⫍&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'P'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🅿️
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🅿️&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'S'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🪀
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🪀&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'W'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ŵ
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ŵ&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'X'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ẋ
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ẋ&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'Y'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ý
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ý&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'Z'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💤
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💤&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    
    {% else %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">📚
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;📚&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% endif %}

  {% else %}  {# r_etc 가 없을 때 #}

    {% if r_flag == None or r_flag == '0' %}
      <span style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">📂</span>
    {% elif r_flag == '1'  %} {# 출발불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">😱
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;😱&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '2'  %} {# 주행불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🪱
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🪱&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '3'  %} {# 공간부족-외각주행-주행방해 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💥
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💥&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '6'  %} {# 마체이상 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💉
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💉&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == '7'  %} {# 탐색 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">😎
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;😎&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'A'  %} {# 이해불가 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">⁉️
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⁉️&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'E'  %} {# 모래반응 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⌛️&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'G'  %} {# 주로상태 불량 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">👣
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;👣&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'I'  %} {# 대차 #}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">⫍
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;⫍&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'P'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🅿️
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🅿️&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'S'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">🪀
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;🪀&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'W'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ŵ
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ŵ&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'X'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ẋ
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ẋ&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'Y'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">Ý
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;Ý&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% elif r_flag == 'Z'  %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">💤
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;💤&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% else %}
      <span class="tooltip" style="font-family: Arial; font-size:1.05rem; color:var(--color-r1); padding: 0px 0px;">📚
        <span class="tooltip-text" style="font-size: 1.1rem; font-family: Arial; color:var(--color-main); text-align: left; z-index:999; width:39rem">>&nbsp;&nbsp;&nbsp;&nbsp;📚&nbsp;&nbsp;{{r_etc}}</span>
      </span>
    {% endif %}

  {% endif %}
{% endif %}