
{% load humanize %}
{% load mathfilters %}

<div class="fold-content">
  <table class="small-friendly">

    <thead>
      <tr>
        <th colspan="3" style="font-size: 1.2rem;">
          <span style="color:var(--color-r2);">{{t_awardee|slice:"0:5"|cut:" "}}&nbsp;&nbsp;</span>
          <span>최근 경주성적</span>
        </th>
        <th colspan="1" style="font-size: 1.2rem;"><span>Horse</span></th>
        <th colspan="1" style="font-size: 1.2rem;"><span>마체중</span></th>

        <th colspan="1" style="font-size: 1.2rem;"><span>부중</span></th>

        <th colspan="2" >
          <span style="font-size: 1.2rem;">{% if awardee == 'jockey' %}조교사{% else %}기수{% endif %}</span>
          <span style="font-size: 1.0rem;">(연대)</span></th>
        <th colspan="1" style="font-size: 1.2rem;"><span>마주</span></th>
        <th colspan="1" style="font-size: 0.8rem;"><sup style="background-color: var(--color-bg); border-radius: 7px; color:var(--color-main-light); padding: 2px 4px;">W</sup></th>
        <th colspan="2" style="font-size: 1.2rem;"><span style="font-size: 1.0rem;">날씨/주로</span></th>
        <th colspan="1" style="font-size: 1.2rem;"><span>기록</span></th>
        <th colspan="1" style="font-size: 1.2rem;"><span>G</span></th>
        <th colspan="1" style="font-size: 1.2rem;"><span>코너전개</span></th>
        <th colspan="1" style="font-size: 1.2rem;"><span>R</span></th>
        <th colspan="1" style="font-size: 1.2rem;"><span>착차</span></th>
        <th colspan="1" style="font-size: 0.8rem;"><sup>인기</sup><sub>예상</sub></th>
        <th colspan="1" style="font-size: 1.2rem;"><span>연식</span></th>
        <th colspan="1" style="font-size: 0.8rem;"><sup style="background-color: var(--color-bg); border-radius: 7px; color:var(--color-main-light); padding: 2px 4px;">빠르기</sup></th>
        
      </tr>


    </thead>

    <tbody>
      {% for rcity, rdate, rno, distance, grade, dividing, weather, rstate, rmoisture, r1award, r2alloc, race_speed, gate_a, rank, horse_a, h_weight, w_change, jockey_a, trainer_a, host_a, rating, handycap, i_prehandy, record, corners, gap, gap_b, p_record, p_rank, pop_rank, alloc1r, alloc3r, rs1f, rg3f, rg2f, rg1f, i_cycle, jt_per, adv_track in solidarity %}
      
      {% if t_awardee|slice:"0:3"|cut:" " == jockey_a|slice:"0:3"|cut:" " or t_awardee|slice:"0:3"|cut:" " == trainer_a|slice:"0:3"|cut:" " %}

      <tr align="center">

        <td align="left">

          <a style="text-decoration-line:underline;" href="{% url 'race_result' rcity rdate rno horse_a r_condition.rcity r_condition.rdate r_condition.rno %}" onclick="window.open(this.href, 'w_result', 'width=900, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
            <div style="text-align: left;">
              {% if r_condition.rcity == rcity %}
              <sup style="font-size: 0.8rem; font-family: Arial; border-radius: 10px; padding: 2px; color:var(--color-light); background-color: var(--color-r5);">{{rcity|slice:"0:1"}}</sup>
              {% else %}
              <sup style="font-size: 0.8rem; font-family: Arial; border-radius: 10px; padding: 2px; color:var(--color-light); background-color: var(--color-r1);">{{rcity|slice:"0:1"}}</sup>
              {% endif %}
              <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5);">'{{rdate|slice:"4:6" }}.{{rdate|slice:"6:8"}}</span>
              {% if rno >= 10 %}
              <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5);"></span>
              {% else %}
              <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5);">&nbsp;</span>
              {% endif %}
              <span width="10px" style="font-size: 1.1rem; font-family: Arial; width:100px; text-align: right; color:var(--color-r5); font-style: italic;">
                {{rno}}<sup style="font-size: 0.8rem;">R</sup>
              </span>
            </div>
          </a>
        </td>

        <td align="center">
          
          {% if r_condition.distance == distance %}
          <span style="font-size: 1.1rem; font-family: Arial; color:tomato; font-weight: 600; font-style: italic;">{{distance}}</span>
          {%else%}
          <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-gray)">{% if distance %}{{distance}}{% else %}취소{% endif %}</span>
          {%endif%}
        </td>
        
        <td>
          
          {# 경주정보 #}
          <div style="text-align: center; font-style: normal;">
          
            {% if grade %}
              {% if grade|slice:"0:2" == '주행'%}
              <span style="font-size: 1.0rem; color:var(--color-r4)">{{grade|slice:"0:2"}}</span>
              {%else%}

                {% if grade|slice:"0:2" == r_condition.grade|slice:"0:2" %}
                <span style="font-size: 1.0rem; color:tomato;">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                {% else %}
                  {% if grade|slice:"1:2" == 'O' %}
                  <span style="font-size: 1.0rem; background-color: var(--color-r3); padding: 1px; border-radius: 4px;">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                  {% else %}
                  <span style="font-size: 1.0rem;">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                  {% endif %}
                {% endif %}
                
                <!-- {% if dividing|slice:"0:2" == r_condition.dividing|slice:"0:2"%}
                <span style="font-size: 1.1rem; color:tomato;">{{dividing|slice:"0:1"}}</span>
                {% else %}
                <span style="font-size: 1.1rem;">{{dividing|slice:"0:1"}}</span>
                {% endif %} -->

              {%endif%}
            {%endif%}
            
          </div>

        </td>
        
        {# 마명 / 체중 #}
        <td style="font-size: 1.15rem" align="left">
          <a style="text-decoration-line: underline;" href="{% url 'get_race_horse' r_condition.rdate 'horse' horse_a jockey_a trainer_a host_a %}"onclick="window.open(this.href, '_blank', 'width=900, height=700, toolbars=no, scrollbars=yes'); return false;">
            {% if horse == horse_a %}
              <div style="color:var(--color-r1);">{{horse_a|slice:"0:5"}}</div>
            {% else %}
              <div style="color:var(--color-r5);">{{horse_a|slice:"0:5"}}</div>
            {% endif %}
          </a>
        </td>

        {# 체중 #}
        <td align="right">
          <sup style="font-family: Arial; text-align: right;">
            {% if w_change|slice:"0:" %}
            {% if w_change|slice:"0:1" == '+' %}
            <span style="font-size: 0.8rem; font-family: Arial; border-radius: 7px; background-color: var(--color-light); color:var(--color-r1); padding:2px 4px;">{{w_change|slice:"0:"}}</span>
            {% else %}
            <span style="font-size: 0.8rem; font-family: Arial; border-radius: 7px; background-color: var(--color-light); color:var(--color-r5); padding:2px 4px;">{{w_change|slice:"0:"}}</span>
            {% endif %}
            {% endif %}
          </sup>
          {% if h_weight|slice:"0:3" <= '440' %}
          <span style="font-size: 1.1rem; font-family: Arial;padding:0px; color:var(--color-r5);">{{h_weight|slice:"0:3"}}</span>
          {% elif h_weight|slice:"0:3" >= '500' %}
          <span style="font-size: 1.1rem; font-family: Arial;padding:0px; color:var(--color-r2);">{{h_weight|slice:"0:3"}}</span>
          {% else %}
          <span style="font-size: 1.1rem; font-family: Arial;padding:0px; color:var(--color-gray);">{{h_weight|slice:"0:3"}}</span>
          {% endif %}
        </td>

        {# 부담중량 #}
        <td align="right">
          {% if i_prehandy %}
            {% if i_prehandy == 0.0 or i_prehandy == handycap %}
            <sup style="border-radius: 7px; background-color: var(--color-light); color:var(--color-r1); padding:2px 4px; font-family: Arial; font-size:0.8rem; color:var(--color-gray);">-</sup>
            {% elif i_prehandy > 0.0 %}
            <sup style="border-radius: 7px; background-color: var(--color-light); color:var(--color-r1); padding:2px 4px; font-family: Arial; font-size:0.8rem; color:var(--color-r1);">+{{i_prehandy}}</sup>
            {% else %}
            <sup style="border-radius: 7px; background-color: var(--color-light); color:var(--color-r1); padding:2px 4px; font-family: Arial; font-size:0.8rem; color:var(--color-r5);">{{i_prehandy}}</sup>
            {% endif %}
          {% endif %}

          {% for j_name, load_in in loadin %}
            {% if j_name == jockey_a %}
              {% if handycap|floatformat:0 <= load_in|mul:1|floatformat:0 %}
              <span style="padding:2px 4px; font-family: Arial; font-style:italic; font-size:1.0rem; color:var(--color-r3); border-radius:7px; background-color:var(--color-bg);">{{handycap}}</span>
              {% elif handycap|floatformat:0 <= load_in|mul:1|add:1|floatformat:0 %}
              <span style="padding:2px 4px; font-family: Arial; font-style:italic; font-size:1.0rem; color:var(--color-light); border-radius:7px; background-color:var(--color-dark-medium);">{{handycap}}</span>
              {% else %}
              <span style="padding:2px 4px; font-family: Arial; font-size:1.1rem; color:var(--color-gray);">{{handycap}}</span>
              {% endif %}
            {% endif %}
          {% endfor %}
        </td>

        

        {# 조교사 or 기수 #}
        {% if awardee == 'jockey' %}
        <td style="font-size: 1.1rem">
          <a style="text-decoration-line: underline;" href="{% url 'get_race_awardee' r_condition.rdate 'trainer' trainer_a jockey_a trainer_a host_a %}"onclick="window.open(this.href, '_blank', 'width=900, height=700, toolbars=no, scrollbars=yes'); return false;">
            {% if trainer_a|cut:" " == t_awardee|slice:"5:8"|cut:" " %}
            <span style="color:var(--color-r1); text-align: left;">{{trainer_a|slice:"0:3"}}</span>
            {%else%}
            <span style="color:var(--color-gray); text-align: left;">{{trainer_a|slice:"0:3"}}</span>
            {%endif%}
          </a>
        </td>
        {# 기수 조교사 연대 복승율 #}
        <td>
          <div style="font-size: 1.0rem; text-align:right; font-family: Arial; color:dodgerblue">{% if jt_per %}{{jt_per}}{% endif %}</div>
        </td>
        {% else %}
        <td style="font-size: 1.1rem">
          <a style="text-decoration-line: underline;" href="{% url 'get_race_awardee' r_condition.rdate 'jockey' jockey_a jockey_a trainer_a host_a %}"onclick="window.open(this.href, '_blank', 'width=900, height=700, toolbars=no, scrollbars=yes'); return false;">
            {% if jockey_a|cut:" " == t_awardee|slice:"5:8"|cut:" " %}
            <span style="color:var(--color-r1); text-align: left;">{{jockey_a}}</span>
            {%else%}
            <span style="color:var(--color-gray); text-align: left;">{{jockey_a}}</span>
            {%endif%}
          </a>
        </td>
        {# 기수 조교사 연대 복승율 #}
        <td>
          <div style="font-size: 1.0rem; text-align:right; font-family: Arial; color:dodgerblue">{% if jt_per %}{{jt_per}}{% endif %}</div>
        </td>
        {% endif %}

        {# 마주 #}
        <td style="font-size: 1.1rem">
          <a style="text-decoration-line: underline;" href="{% url 'get_race_awardee' r_condition.rdate 'host' host_a jockey_a trainer_a host_a %}"onclick="window.open(this.href, '_blank', 'width=900, height=700, toolbars=no, scrollbars=yes'); return false;">
            {% if host_a|cut:" " == t_awardee|slice:"10:"|cut:" " %}
            <div style="color:var(--color-r1); text-align: left;">{{host_a|slice:"0:3"}}</div>
            {%else%}
            <div style="color:var(--color-gray); text-align: left;;">{{host_a|slice:"0:3"}}</div>
            {%endif%}
          </a>
        </td>
        
        <td>
          {% if i_cycle <= 18 or i_cycle >= 65 %}
            <span style="font-family: Arial; font-size: 0.9rem; color:var(--color-main-light); border-radius: 10px; background-color: var(--color-r1); padding:2px 4px">{{i_cycle|div:7|floatformat:0}}</span>
          {% else %}
            <span style="font-family: Arial; color:var(--color-gray);">{{i_cycle|div:7|floatformat:0}}</span>
          {% endif %}
        </td>
        
        <td style="font-size: 1.1rem">
          
          {% if weather %}
          <div style="font-size: 0.9rem;">
            {% if weather|slice:"0:1" == '맑' %}☀️
            {% elif weather|slice:"0:1" == '흐' %}☁️
            {% elif weather|slice:"0:1" == '비' %}☔️
            {% elif weather|slice:"0:1" == '눈' %}☃️
            {% else %}﹆
            {% endif %}
          </div>
          
          {% endif %}

        </td>
        <td align="left">
          {% if rstate == '불량' or rstate == '포화' %}
          <span style="font-family: Arial; font-size: 1.0rem; color:tomato;">{{rstate|slice:"0:1"}}</span>
          <sup style="font-family: Arial; font-size: 1.0rem; color:tomato;">{{rmoisture}}</sup>
          {% else %}
          <span style="font-family: Arial; font-size: 1.0rem;">{% if handycap %}{{rstate|slice:"0:1"}}{% endif %}</span>
          <sup style="font-family: Arial; font-size: 1.0rem;">{% if handycap %}{{rmoisture}}{% endif %}</sup>
          {% endif %}

        </td>

        <td>
          {% if rank == 1 %}
          <div style="font-style: italic; color:var(--color-r1); font-weight: 500; font-size: 1.1rem; font-family: Arial;">
            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
          </div>
          {% elif rank == 2 %}
          <div style="font-style: italic; color:var(--color-r2); font-weight: 500; font-size: 1.1rem; font-family: Arial;">
            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
          </div>
          {% elif rank == 3 %}
          <div style="font-style: italic; color:var(--color-r3); font-weight: 500; font-size: 1.1rem; font-family: Arial;">
            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
          </div>
          
          {% else %}
          <div style="font-style: italic; color:var(--color-gray); font-size: 1.1rem; font-family: Arial;">
            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
          </div>
          {% endif %}

        </td>
        
        <td style="font-size: 1.1rem;">
          {% if gate == gate_a %}
          <span style="font-family: Arial; border-radius: 10px; background-color:aquamarine; padding: 2px 4px;">
            {% if rank > 20 %}﹆{% else %} {{gate_a}} {% endif %}
          </span>
          {% else %}
          <span style="font-family: Arial; border-radius: 10px; background-color:bisque; padding: 2px 4px;">
            {% if rank > 20 %}﹆{% else %} {{gate_a}} {% endif %}
          </span>
          {% endif %}
          
        </td>
        <td style="font-size: 1.0rem;">
          {% if corners %}
            <div style="color:rgb(0, 128, 255); text-align: center; font-family: Arial;">
              {% if corners %}
                {% if corners|slice:"0:1" == '1' and corners|slice:"1:2" == '-' %}
                <span style="font-family: Arial; font-size: 1.0rem; color:var(--color-r1);">{{corners}}</span>
                {% elif corners|slice:"0:1" == '2' and corners|slice:"1:2" == '-' %}
                <span style="font-family: Arial; font-size: 1.0rem; color:var(--color-r2);">{{corners}}</span>
                {% elif corners|slice:"0:1" == '3' and corners|slice:"1:2" == '-' %}
                <span style="font-family: Arial; font-size: 1.0rem; color:var(--color-r3);">{{corners}}</span>
                {% else %}
                <span style="font-family: Arial; font-size: 1.0rem; color:var(--color-gray);">{{corners}}</span>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
        </td>

        <td style="font-size: 1.1rem; font-family: Arial;">
          {% if rank == 1 %}
          <span style="font-family: Arial; border-radius: 10px; background-color:var(--color-r1); color:var(--color-light); padding: 2px 4px;">
            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
          </span>
          {% elif rank == 2 %}
          <span style="font-family: Arial; border-radius: 10px; background-color:var(--color-r2); color:var(--color-light); padding: 2px 4px;">
            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
          </span>
          {% elif rank == 3 %}
          <span style="font-family: Arial; border-radius: 10px; background-color:var(--color-r3); color:var(--color-bg); padding: 2px 4px;">
            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
          </span>
          {% elif rank == 4 %}
          <span style="font-family: Arial; border-radius: 10px; background-color:var(--color-r4); color:var(--color-bg); padding: 2px 4px;">
            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
          </span>
          {% elif rank == 5 %}
          <span style="font-family: Arial; border-radius: 10px; background-color:var(--color-r5); color:var(--color-light); padding: 2px 4px;">
            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
          </span>
          
          {% else %}
          <span style="font-family: Arial; border-radius: 10px; background-color:bisque; padding: 2px 4px;">
            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
          </span>
          {% endif %}
        </td>

        <td align="center">
          {% if gap %}
          <sup style="font-size: 0.8rem; font-family: Arial;">
            {% if rank < 20 %}{{gap}}{% endif %}
            
          </sup>
          {%endif%}

          {% if gap_b %}
          <sub style="font-size: 0.8rem; font-family: Arial;">
            {% if rank < 20 %}{{gap_b}}{% endif %}
          </sub>
          {%endif%}
        </td>

        

        <td style="text-align: center;">
          <sup>
          {% if pop_rank %}
          {% if grade|slice:"0:2" == '주행' %}
          {% else %}
            {% if pop_rank == 1 %}
            <span style="font-family: Arial; font-style: italic; padding: 2px; border-radius: 7px; background-color: var(--color-r1); color:var(--color-main-light); font-size: 1.0rem;">
              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
            </span>
            {% elif pop_rank == 2 %}
            <span style="font-family: Arial; font-style: italic; padding: 2px; border-radius: 7px; background-color: var(--color-r2); color:var(--color-main-light); font-size: 1.0rem;">
              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
            </span>
            {% elif pop_rank == 3 %}
            <span style="font-family: Arial; font-style: italic; padding: 2px; border-radius: 7px; background-color: var(--color-r3); color:var(--color-bg); font-size: 1.0rem;">
              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
            </span>
            {% else %}
            <span style="font-family: Arial; font-style: normal; color:var(--color-gray); font-size: 1.05rem;">
              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
            </span>
            {% endif %}
          </sup>

          <sub>
            {% if p_rank %}
              {% if p_rank == 1 %}
              <span style="font-family: Arial; font-style: italic; padding: 2px; border-radius: 7px; background-color: var(--color-r1); color:var(--color-main-light); font-size: 1.0rem;">
                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
              </span>
              {% elif p_rank == 2 %}
              <span style="font-family: Arial; font-style: italic; padding: 2px; border-radius: 7px; background-color: var(--color-r2); color:var(--color-main-light); font-size: 1.0rem;">
                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
              </span>
              {% elif p_rank == 3 %}
              <span style="font-family: Arial; font-style: italic; padding: 2px; border-radius: 7px; background-color: var(--color-r3); color:var(--color-bg); font-size: 1.0rem;">
                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
              </span>
              {% else %}
              <span style="font-family: Arial; font-style: normal; color:var(--color-gray); font-size: 1.05rem; text-align: right;">
                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
              </span>
              {% endif %}
            {% endif %}
          {% endif %}
          {% endif %}
          </sub>
        </td>
        
        
        <td align="right">
        {% if alloc1r %}
          {% if rank <= 3 %}
            <span style="color:var(--color-bg); font-weight: 500; font-family: Arial; background:var(--color-r3); padding: 2px; border-radius:7px;">{{alloc3r}}</span>
          {%else%}
            <span style="font-family: Arial; color:var(--color-gray);">{{alloc3r}}</span>
          {%endif%}
        {%endif%}
        </td>

        <td align="right"> {# 주로빠르기 #}
          {% if race_speed == '②' %}
          <sub style="font-size: 1.0rem; font-family: Arial; color:var(--color-r1);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub>
          <sup style="font-family: Arial; background-color:var(--color-bg); padding:2px 4px; border-radius: 7px; font-size: 1.0rem; color:var(--color-r1);">3</sup>
          {% elif race_speed == '③' %}
          <sub style="font-size: 1.0rem; font-family: Arial; color:var(--color-r2);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub>
          <sup style="font-family: Arial; background-color:var(--color-bg); padding:2px 4px; border-radius: 7px; font-size: 1.0rem; color:var(--color-r2);">3</sup>
          {% elif race_speed == '④' %}
          <sub style="font-size: 1.0rem; font-family: Arial; color:var(--color-r3);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub>
          <sup style="font-family: Arial; background-color:var(--color-bg); padding:2px 4px; border-radius: 7px; font-size: 1.0rem; color:var(--color-r3);">4</sup>
          {% elif race_speed == '⑤' %}
          <sub style="font-size: 1.0rem; font-family: Arial; color:var(--color-r4);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub>
          <sup style="font-family: Arial; background-color:var(--color-light-gray); padding:2px 4px; border-radius: 7px; font-size: 1.0rem; color:var(--color-dark);">5</sup>
          {% elif race_speed == '⑥' %}
          <sub style="font-size: 1.0rem; font-family: Arial; color:var(--color-gray);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub>
          <sup style="font-family: Arial; background-color:var(--color-gray); padding:2px 4px; border-radius: 7px; font-size: 1.0rem; color:var(--color-bg);">6</sup>
          {% elif race_speed == '⑦' %}
          <sub style="font-size: 1.0rem; font-family: Arial; color:var(--color-r3);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub>
          <sup style="font-family: Arial; background-color:var(--color-bg); padding:2px 4px; border-radius: 7px; font-size: 1.0rem; color:var(--color-r3);">7</sup>
          {% elif race_speed == '⑧' %}
          <sub style="font-size: 1.0rem; font-family: Arial; color:var(--color-r4);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub>
          <sup style="font-family: Arial; background-color:var(--color-bg); padding:2px 4px; border-radius: 7px; font-size: 1.0rem; color:var(--color-r4);">8</sup>
          {% else %}
          <sub style="font-size: 1.0rem; font-family: Arial; color:var(--color-r5);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub>
          <sup style="font-family: Arial; background-color:var(--color-bg); padding:2px 4px; border-radius: 7px; font-size: 1.0rem; color:var(--color-r5);">{% if race_speed %}{{race_speed}}{% else %}&nbsp;{% endif %}</sup>
          {% endif %}
        </td>

      </tr>
      {%endif%}

      {% endfor %}

    </tbody>
  </table>
</div>