{% load mathfilters %}

      <table class="tt9dark-table" style="width: 98vw; max-width: 1550px; min-width: 800px; margin: 0 auto;">
        <thead>
          <tr>
            <th colspan="25" style="font-size: 1.3rem;background-color: var(--color-dark); border-radius: 7px">
              {% if jockey != '%' %}<span style="background-color: var(--color-r4); color:var(--color-bg); border-radius: 7px; padding: 2px 4px;">🏇&nbsp;{{jockey}}</span>{% endif %}
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {% if trainer != '%' %}<span style="background-color: var(--color-r4); color:var(--color-bg); border-radius: 7px; padding: 2px 4px;">🛖&nbsp;{{trainer}}</span>{% endif %}
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {% if host != '%' %}<span style="background-color: var(--color-r4); color:var(--color-bg); border-radius: 7px; padding: 2px 4px;">🤠&nbsp;{{host}}</span>{% endif %}
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {% if jockey_b != '%' %}<span style="background-color: var(--color-r5); color:var(--color-bg); border-radius: 7px; padding: 2px 4px;">🐴&nbsp;{{jockey_b}}</span>{% endif %}
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

              <span>🏆&nbsp;&nbsp;경주결과&nbsp;:&nbsp;</span>
              <span style="font-family: Arial; color: var(--color-light);">{{rcount}}</span>
              <span style="color: var(--color-gray);">﹆</span>
              <span style="font-family: Arial; color: var(--color-r1);">{{r_rank1}}</span>
              <span style="color: var(--color-gray);">﹆</span>
              <span style="font-family: Arial; color: var(--color-r2);">{{r_rank2}}</span>
              <span style="color: var(--color-gray);">﹆</span>
              <span style="font-family: Arial; color: var(--color-r3);">{{r_rank3}}</span>
              <span style="color: var(--color-gray);">﹆</span>
              {% if rcount > 0 %}
              <span style="font-family: Arial; color: var(--color-bg); background-color: var(--color-r4); padding: 2px 4px; border-radius: 7px;">{{r_rank1|add:r_rank2|add:r_rank3|mul:100|div:rcount|floatformat:1}}<sup style="font-size: 0.9rem;">%</sup></span>
              {% endif %}
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>


              <span>💻&nbsp;&nbsp;프로그램&nbsp;:&nbsp;</span>
              <span style="font-family: Arial; color: var(--color-light);">{{rcount}}</span>
              <span style="color: var(--color-gray);">﹆</span>
              <span style="font-family: Arial; color: var(--color-r1);">{{rank1}}</span>
              <span style="color: var(--color-gray);">﹆</span>
              <span style="font-family: Arial; color: var(--color-r2);">{{rank2}}</span>
              <span style="color: var(--color-gray);">﹆</span>
              <span style="font-family: Arial; color: var(--color-r3);">{{rank3}}</span>
              <span style="color: var(--color-gray);">﹆</span>
              {% if rcount > 0 %}
              <span style="font-family: Arial; color: var(--color-bg); background-color: var(--color-r4); padding: 2px 4px; border-radius: 7px;">{{rank1|add:rank2|add:rank3|mul:100|div:rcount|floatformat:1}}<sup style="font-size: 0.9rem;">%</sup></span>
              {% endif %}
            </th>
          </tr>
          <tr>

            <th colspan="2" style="font-size: 1.3rem;background-color: var(--color-dark); border-radius: 7px">
              <span>경주정보</span>
            </th>
            
            <th colspan="2" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px;"><span>Horse</span></th>

            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px;"><span>마체중</span></th>
            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px;"><span>부담중량</span></th>
            {% if jockey == '%' or winname == 'weeksStatus' %} 
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><span>🏇</span></th>
            {% endif %}
            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px;"><span>J&T</span></th>
            {% if trainer == '%' or winname == 'weeksStatus' %}
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><span>🛖</span></th>
            {% endif %}
            {% if host == '%' or winname == 'weeksStatus' %}
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><span>🤠</span></th>
            {% endif %}
            
            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px;"><span>마번</span></th>

            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px;">Corners</th>

            <th colspan="3" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px;"><span>경주결과</span></th>
            <th colspan="2" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px;"><span>경주로</span></th>
            
            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px"><span>복승</span></th>
            <th colspan="2" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px"><span>연식(인기)</span></th>

            <th colspan="2" style="font-size: 1.3rem; background-color: var(--color-bg); border-radius: 7px; text-transform: lowercase;"><span>thethe9</span></th>
            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-bg); border-radius: 7px;"><span>R</span></th>
            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-bg); border-radius: 7px;"><span>P</span></th>
            <th colspan="2" style="font-size: 1.3rem; background-color: var(--color-bg); border-radius: 7px; font-size: 0.7rem; vertical-align: middle;"><span>출주(암)</span></th>
            
            <!-- <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px;"><sup style="font-size:0.9rem;">r</sup><span>S1F</span></th>
            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px;"><sup style="font-size:0.9rem;">r</sup><span>G3F</span></th>
            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-dark); border-radius: 7px;"><sup style="font-size:0.9rem;">r</sup><span>G1F</span></th>
            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-bg); border-radius: 7px;"><sup style="font-size:0.9rem;">p</sup><span>S1F</span></th>
            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-bg); border-radius: 7px;"><sup style="font-size:0.9rem;">p</sup><span>G3F</span></th>
            <th colspan="1" style="font-size: 1.3rem; background-color: var(--color-bg); border-radius: 7px;"><sup style="font-size:0.9rem;">p</sup><span>G1F</span></th> -->
            
          </tr>
        </thead>
        <tbody>

          {% for rcity, rdate, r_rno, rday, distance, grade, dividing, horse, jname, tname, hname, h_weight, handycap, i_prehandy, gate, rank, r_rank, corners, r_s1f, r_g3f, r_g1f, s1f_rank, g3f_rank, g2f_rank, g1f_rank, cs1f, cg3f, cg1f,i_cycle, r_pop, alloc1r, alloc3r, complex, r_record, track, jt_per, jt_cnt, jt_1st, jt_2nd, jt_3rd, jockey_old, reason, h_sex, h_age, birthplace, j_per, t_per, rating, r2alloc, r3alloc, r_etc, gap, gap_b, weather, rstate, rmoisture, adv_track, r_judge, rating, h_cnt, h_mare, pop_rank, r_flag, passage_s1f in status %}
          
          <tr class="view">
            
            {# 경주번호 #}
            <td align="center">
              {% if winname == 'weeksStatus' %}
                {% if r_rank ==  1 %}
                <div style="font-style: italic;">
                  <a href="{% url 'race_prediction' rcity rdate r_rno 0 'awardee' %}" onclick="window.open(this.href, 'w_race_prediction', 'width=900, height=1000, top=0, left=0, toolbars=no, scrollbars=yes'); return false;">
                    <span class="tooltip">
                      {% if today <= rdate %}
                      <span style="font-size: 1.3rem; font-weight:normal; font-family: Arial; color: var(--color-r4); border-radius: 7px; background-color: var(--color-bg); padding: 2px 4px;">'{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                      {% else %}
                      <span style="font-size: 1.3rem; font-weight:normal; font-family: Arial;">'{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                      {% endif %}

                      <span style="font-size: 1.3rem; font-weight:normal; font-family: Arial; color:var(--color-light);">{{distance}}</span>

                      {% if 'OPEN' in grade %}
                      <span style="font-size: 1.15rem; font-family: Arial; color:var(--color-r1);">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                      {% else %}
                      <span style="font-size: 1.15rem; font-family: Arial;">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                      {% endif %}

                      <span class="tooltip-text" style="font-size: 1.3rem; font-weight:normal; text-align: left; z-index: 9;">
                        <span style="font-size: 1.3rem; font-weight:normal; padding-bottom: 0.5rem;">🐴&nbsp;Race Info.</span>
                        &nbsp;&nbsp;
                        <span style="font-size: 1.3rem; font-weight:normal; font-family: Arial;">{{rdate|slice:"0:4"}}.{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                        
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="font-size: 1.3rem; font-weight:normal;">{{dividing}}</span>
                      </span>
                    </span>
                  </a>
                </div>
                {% endif %}
              {% else %}
              <div style="font-style: italic;">
                <a href="{% url 'race_prediction' rcity rdate r_rno 0 'awardee' %}" onclick="window.open(this.href, 'w_race_prediction', 'width=900, height=1000, top=0, left=0, toolbars=no, scrollbars=yes'); return false;">
                  <span class="tooltip">
                    {% if today <= rdate %}
                    <span style="font-size: 1.3rem; font-weight:normal; font-family: Arial; color: var(--color-r4); border-radius: 7px; background-color: var(--color-bg); padding: 2px 4px;">'{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                    {% else %}
                    <span style="font-size: 1.3rem; font-weight:normal; font-family: Arial;">'{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                    {% endif %}

                    <span style="font-size: 1.3rem; font-weight:normal; font-family: Arial; color:var(--color-light);">{{distance}}</span>

                    {% if 'OPEN' in grade %}
                    <span style="font-size: 1.15rem; font-family: Arial; color:var(--color-r1);">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                    {% else %}
                    <span style="font-size: 1.15rem; font-family: Arial;">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                    {% endif %}

                    <span class="tooltip-text" style="font-size: 1.3rem; font-weight:normal; text-align: left; z-index: 9;">
                      <span style="font-size: 1.3rem; font-weight:normal; padding-bottom: 0.5rem;">🐴&nbsp;Race Info.</span>
                      &nbsp;&nbsp;
                      <span style="font-size: 1.3rem; font-weight:normal; font-family: Arial;">{{rdate|slice:"0:4"}}.{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                      
                      <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <span style="font-size: 1.3rem; font-weight:normal;">{{dividing}}</span>
                    </span>
                  </span>
                </a>
              </div>
              {% endif %}
            </td>

            <td align="right">
              {% if winname == 'weeksStatus' %}
                {% if r_rank ==  1 %}
                  <a href="{% url 'race_result' rcity rdate r_rno horse 0 0 0 %}" onclick="window.open(this.href, 'w_result', 'width=900, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
                  {% if rcity == '서울' %}
                    <span style="font-size: 1.2rem; font-family: Arial; padding-right: 0px;">{% if r_rno >= 10 %}{{r_rno}}ᴿ{% else %}{{r_rno}}ᴿ{% endif %}</span>
                    <span style="font-size: 0.9rem; font-family: Arial; border-radius: 7px; padding: 2px 2px; background-color: var(--color-bg); color:var(--color-r2);">
                      {{rcity|slice:"0:1"}}</span>
                  {% else %}
                    <span style="font-size: 1.2rem; font-family: Arial; padding-right: 0px;">{% if r_rno >= 10 %}{{r_rno}}ᴿ{% else %}{{r_rno}}ᴿ{% endif %}</span>
                    <span style="font-size: 0.9rem; font-family: Arial; border-radius: 7px; padding: 2px 2px; background-color: var(--color-bg); color:var(--color-r5);">
                      {{rcity|slice:"0:1"}}</span>
                  {% endif %}
                  </a>
                {% endif %}
              {% else %}
                <a href="{% url 'race_result' rcity rdate r_rno horse 0 0 0 %}" onclick="window.open(this.href, 'w_result', 'width=900, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
                {% if rcity == '서울' %}
                  <span style="font-size: 1.2rem; font-family: Arial; padding-right: 0px;">{% if r_rno >= 10 %}{{r_rno}}ᴿ{% else %}{{r_rno}}ᴿ{% endif %}</span>
                  <span style="font-size: 0.9rem; font-family: Arial; border-radius: 7px; padding: 2px 2px; background-color: var(--color-bg); color:var(--color-r2);">
                    {{rcity|slice:"0:1"}}</span>
                {% else %}
                  <span style="font-size: 1.2rem; font-family: Arial; padding-right: 0px;">{% if r_rno >= 10 %}{{r_rno}}ᴿ{% else %}{{r_rno}}ᴿ{% endif %}</span>
                  <span style="font-size: 0.9rem; font-family: Arial; border-radius: 7px; padding: 2px 2px; background-color: var(--color-bg); color:var(--color-r5);">
                    {{rcity|slice:"0:1"}}</span>
                {% endif %}
                </a>
              {% endif %}

              {# 메모 #}
              {% if request.user.username == 'admin' %}

              <a href="{% url 'write_significant' rdate horse %}" 
                              onclick="window.open(this.href, 'write_significant', 'top=' + window.screenTop + ', left=' + window.screen.width + ', width=500, height=550, toolbars=no, scrollbars=yes'); return false;">

                {% include 'base/m_memo.html' with size='1.3rem' color='var(--color-r4)' %}
  
              </a>
              {% endif %}
            </td>

            {# 마명 #}
            <td align="left" style="font-size: 1.25rem;">
              <a href="{% url 'jt_analysis' '%' rdate|mul:1|sub:50000 rdate '%' '%' '%' horse '1' '99' '1' '99' '0' '0' '0' %}">
                <div style="font-family: Arial; text-align: left;">
                  
                {% if i_cycle %}
                  {% if i_cycle <= 16 %}
                  <span style="font-family: Arial; color:var(--color-light); border-radius: 5px; background-color:var(--color-r1); padding:2px 3px; font-size: 1.2rem;">{{i_cycle|div:7|floatformat:0}}<sup style="font-size:0.7rem;">w</sup></span>
                  {% elif i_cycle >= 68 %}
                  <span style="font-family: Arial; color:var(--color-light); border-radius: 5px; background-color:var(--color-r2); padding:2px 3px; font-size:0.9rem;">{{i_cycle|div:7|floatformat:0}}<sup style="font-size:0.7rem;">w</sup></span>
                  {% else %}
                  <span style="font-family: Arial; color:var(--color-bg); border-radius: 5px; background-color:var(--color-light-gray); padding:2px 3px; font-size: 1.2rem;">{{i_cycle|div:7|floatformat:0}}<sup style="font-size:0.7rem;">w</sup></span>
                  {% endif %}
                {% endif %}

                {% if r_flag == None or r_flag == '0' %}
                  {% if today == rdate and rno == r_rno %}
                  <span style="color:var(--color-bg); background-color: var(--color-r4); padding: 2px 4px; border-radius: 7px;">{{horse|slice:"0:6"}}</span>
                  {% else %}
                  <span style="color:var(--color-light);">{{horse|slice:"0:6"}}</span>
                  {% endif %}
                {% else %}
                <span class="tooltip" style="font-weight: normal; color:var(--color-r1);">{{horse|slice:"0:6"}}
                  <span class="tooltip-text" style="font: 1.15rem;">🚫&nbsp;집계 제외
                  </span>
                </span>
                {% endif %}
                </div>
              </a>

            </td>
            
            {# 경주마 성별 나이 등 #}
            <td align="center">
              
              {# 출생지 #}
              {% if birthplace == '한' %}
              <span style="font-size: 1.15rem; color:var(--color-gray); border-radius: 10px; background-color:var(--color-bg); ">{{birthplace}}</span>
              {% elif birthplace == '미' %}
              <span style="font-size: 1.15rem; color:var(--color-r2); border-radius: 10px; background-color:var(--color-bg); ">{{birthplace}}</span>
              {%else%}
                {% if '포' in birthplace %}
                <span style="font-size: 1.15rem; color:var(--color-r4); border-radius: 10px; background-color:var(--color-bg); ">포</span>
                {% else %}
                <span style="font-size: 1.15rem; color:var(--color-r4); border-radius: 10px; background-color:var(--color-bg); ">{{birthplace}}</span>
                {% endif %}
              {%endif%}
              
              {# 성별 #}
              {% if h_sex == '암' %}
              <span style="font-size: 1.15rem; color:var(--color-r1); border-radius: 10px; background-color:var(--color-bg); ">{{h_sex}}</span>
              {% elif h_sex == '거' %}
              <span style="font-size: 1.15rem; color:var(--color-r3); border-radius: 10px; background-color:var(--color-bg); ">{{h_sex}}</span>
              {%else%}
              <span style="font-size: 1.15rem; color:var(--color-light-gray); border-radius: 10px; background-color:var(--color-bg); ">{{h_sex}}</span>
              {%endif%}
              
              {# 나이 #}
              {% if h_age %}
              {% if h_age >= 6.9 %}
              <span style="font-family: Arial; font-size: 1.15rem; color:var(--color-r1); border-radius: 10px; background-color:var(--color-bg); ">{{h_age}}</span>
              {% elif h_age < 3 %}
              <span style="font-family: Arial; font-size: 1.15rem; color:var(--color-r2); border-radius: 10px; background-color:var(--color-bg); ">{{h_age}}</span>
              {%else%}
              <span style="font-family: Arial; font-size: 1.15rem; color:var(--color-gray); border-radius: 10px; background-color:var(--color-bg); ">{{h_age}}</span>
              {%endif%}
              {%endif%}
            </td>
            
            {# 체중 #}
            <td align="right">
              <span style="font-family: Arial; text-align: right;">
                {% if h_weight|slice:"4:" %}
                {% if h_weight|slice:"4:5" == '+' %}
                <span style="font-size: 1.15rem; font-family: Arial; border-radius: 7px; background-color: var(--color-bg); color:var(--color-r1); padding:2px 4px;">{{h_weight|slice:"4:"}}</span>
                {% else %}
                <span style="font-size: 1.15rem; font-family: Arial; border-radius: 7px; background-color: var(--color-bg); color:var(--color-r5); padding:2px 4px;">{{h_weight|slice:"4:"}}</span>
                {% endif %}
                {% endif %}
              </span>
              {% if h_weight|slice:"0:3" <= '440' %}
              <span style="font-size: 1.2rem; font-family: Arial; color:var(--color-r5);">{{h_weight|slice:"0:3"}}</span>
              {% elif h_weight|slice:"0:3" >= '500' %}
              <span style="font-size: 1.2rem; font-family: Arial; color:var(--color-r2);">{{h_weight|slice:"0:3"}}</span>
              {% else %}
              <span style="font-size: 1.2rem; font-family: Arial; color:var(--color-gray);">{{h_weight|slice:"0:3"}}</span>
              {% endif %}
            </td>

            {# 부담중량 #}
            <td align="right">
              {% if i_prehandy == 0.0 or i_prehandy == handycap %}
              <span style="border-radius: 7px; background-color: var(--color-bg); color:var(--color-r1); padding:2px 4px; font-family: Arial; font-size:1.15rem; color:var(--color-gray);">-</span>
              {% elif i_prehandy > 0.0 %}
              <span style="border-radius: 7px; background-color: var(--color-bg); color:var(--color-r1); padding:2px 4px; font-family: Arial; font-size:1.15rem; color:var(--color-r1);">+{{i_prehandy}}</span>
              {% else %}
              <span style="border-radius: 7px; background-color: var(--color-bg); color:var(--color-r1); padding:2px 4px; font-family: Arial; font-size:1.15rem; color:var(--color-r5);">{{i_prehandy}}</span>
              {% endif %}
              {% for j_name, load_in in loadin %}
                {% if j_name == jname %}
                  {% if handycap|floatformat:0 <= load_in|mul:1|floatformat:0 %}
                  <span style="padding:2px 4px; font-family: Arial; font-style:italic; font-size:1.15rem; color:var(--color-r3); border-radius:7px; background-color:var(--color-bg);">{{handycap}}</span>
                  {% elif handycap|floatformat:0 <= load_in|mul:1|add:1|floatformat:0 %}
                  <span style="padding:2px 4px; font-family: Arial; font-style:italic; font-size:1.15rem; color:var(--color-light); border-radius:7px; background-color:var(--color-dark-medium);">{{handycap}}</span>
                  {% else %}
                  <span style="padding:2px 4px; font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{handycap}}</span>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </td>

            {# 기수 #}
            {% if jockey == '%' or winname == 'weeksStatus' %}
            <td align="center">
              <div style="font-size: 1.2rem; text-align: left; ">
        
                {% if jockey_old %} {# 기수변경 #}
                <a href="{% url 'jt_analysis' '%' rdate|mul:1|sub:10000 rdate jname '%' '%' '%' '1' '99' '1' '99' '0' '0' '0' %}">
                  <span class="tooltip" style="font-style: italic; color:var(--color-r2);">{{jname|slice:"0:3"}}
                    <span class="tooltip-text">
                      🐴 변경사유 : {{reason}}{% if jockey_old%}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;변경전 기수 : {{jockey_old}}{% endif %}
                
                    </span>
                  </span>
                </a>
              
                {% else %}
                <a href="{% url 'jt_analysis' '%' rdate|mul:1|sub:10000 rdate jname '%' '%' '%' '1' '99' '1' '99' '0' '0' '0' %}">

                  {% if jname in j_string %}
                    {% if today == rdate and rno == r_rno %}
                    <span style="color:var(--color-bg); background-color: var(--color-r4); border-radius: 7px; padding: 2px 3px;">{{jname|slice:"0:3"}}</span>
                    {% else %}
                    <span style="color:var(--color-r4); background-color: var(--color-bg); border-radius: 7px; padding: 2px 3px;">{{jname|slice:"0:3"}}</span>
                    {% endif %}
                  {% else %}
                  <span style="color:var(--color-light-gray);">{{jname|slice:"0:3"}}</span>
                  {% endif %}

                </a>
                {%endif %}
                
              </div>
            </td>
            {% endif %}

            {# J&T #}
            <td align="right" style="background-color: var(--color-dark); border-radius: 7px;">
              <a href="{% url 'jt_analysis' '%' rdate|mul:1|sub:10000 rdate jname tname '%' '%' '1' '99' '1' '99' '0' '0' '0' %}"
                onclick="window.open(this.href, 'jt_analysis', 'width=1250, height=1000, toolbars=no, scrollbars=yes'); return false;">
              {% if jockey_old %}
                {# 기수가 변경되었으면 기존 기수의 기록을 삭제 #}
                
                  {% if jt_cnt %}
                  <div class="tooltip" style="font-size: 1.2rem; text-align: right;">
                    
                    {% if jt_3rd|mul:100|div:jt_cnt == 100 %}
                    <span style="font-family: Arial; color: var(--color-r1); text-decoration:line-through;">100</span>
                    {% elif jt_3rd|mul:100|div:jt_cnt >= 30 and jt_3rd|mul:100|div:jt_cnt < 100 %}
                    <span style="font-family: Arial; color: var(--color-r1); text-decoration:line-through;">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                    {% elif jt_3rd|mul:100|div:jt_cnt >= 20 and jt_3rd|mul:100|div:jt_cnt < 30 %} 
                    <span style="font-family: Arial; color: var(--color-r3); text-decoration:line-through;">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                    {% else %}
                    <span style="font-family: Arial; color:var(--color-gray); text-decoration:line-through;">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                    {% endif %}
                    
                    <span class="tooltip-text" style="font-family: Arial; font-size: 1.15rem; z-index:9;">
                      <div style="font-family: Arial; color:var(--color-light); text-align:center;">👥&nbsp;기수 변경전&nbsp;{{jockey_old}}&nbsp;({{j_per}}%)﹆&nbsp;{{trainer}}&nbsp;({{t_per}}%)</div>
                      <hr>
                      <div style="font-family: Arial; color:var(--color-main); text-align: left; padding-top: 6px;">1️⃣&nbsp;경주일 기준 1년간 출주 횟수 :
                
                        {% if jt_cnt %}
                        <span style="font-family: Arial; color:var(--color-r2); background-color: var(--color-bg); border-radius: 7px; padding: 2px 4px;">{{jt_cnt}}</span>
                        <span style="font-family: Arial; color:var(--color-r3)">{{jt_1st}}</span>
                        <span style="font-family: Arial; color:var(--color-r4)">{{jt_2nd|sub:jt_1st}}</span>
                        <span style="font-family: Arial; color:var(--color-r5)">{{jt_3rd|sub:jt_2nd}}</span>
                        {% else %}
                        <span style="font-family: Arial; color:var(--color-r2); background-color: var(--color-bg); border-radius: 7px; padding: 2px 4px;">0</span>
                        <span style="font-family: Arial; color:var(--color-r3)">0</span>
                        <span style="font-family: Arial; color:var(--color-r4)">0</span>
                        <span style="font-family: Arial; color:var(--color-r5)">0</span>
                        {% endif %}
                      </div>
                      <div style="font-family: Arial; color:var(--color-light-gray); text-align: left;">
                        2️⃣&nbsp;복승률 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if jt_cnt > 0 %}
                        <span style="font-family: Arial; color: var(--color-r2);">{{jt_2nd|mul:100|div:jt_cnt|floatformat:"1"}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                        {% else %}
                        <span style="font-family: Arial; color: var(--color-light-gray);">0.0<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                        {% endif %}
                      </div>
                      <div style="font-family: Arial; color:var(--color-light-gray); text-align: left;">
                        3️⃣&nbsp;연승률 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if jt_cnt > 0 %}
                        <span style="font-family: Arial; color: var(--color-r1);">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                        {% else %}
                        <span style="font-family: Arial; color: var(--color-light-gray);">0.0</span>
                        {% endif %}
                      </div>
                
                    </span>
                  </div>

                  {% endif %}

              {% else %}
                {% if jt_cnt %}
                  <div class="tooltip" style="font-size: 1.2rem; text-align: right; font-weight: normal;">
                    {% if jt_3rd|mul:100|div:jt_cnt == 100 %}
                    <span style="font-family: Arial; color: var(--color-r1);">100</span>
                    {% elif jt_3rd|mul:100|div:jt_cnt >= 50 and jt_3rd|mul:100|div:jt_cnt < 100 %}
                    <span style="font-family: Arial; color: var(--color-r1);">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                    {% elif jt_3rd|mul:100|div:jt_cnt >= 40 and jt_3rd|mul:100|div:jt_cnt < 50 %} 
                    <span style="font-family: Arial; color: var(--color-r2);">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                    {% elif jt_3rd|mul:100|div:jt_cnt >= 30 and jt_3rd|mul:100|div:jt_cnt < 40 %} 
                    <span style="font-family: Arial; color: var(--color-r3);">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                    {% elif jt_3rd|mul:100|div:jt_cnt >= 20 and jt_3rd|mul:100|div:jt_cnt < 30 %} 
                    <span style="font-family: Arial; color: var(--color-r5);">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                    {% else %}
                    <span style="font-family: Arial; color: var(--color-gray);">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                    {% endif %}
                    <span class="tooltip-text" style="font-family: Arial; font-size: 1.15rem; z-index:9;">
                    <div style="font-family: Arial; color:var(--color-light); text-align:center;">👥&nbsp; {{jockey}}&nbsp;({{j_per}}%)﹆&nbsp;{{trainer}}&nbsp;({{t_per}}%)</div>
                    <hr>
                    <div style="font-family: Arial; color:var(--color-main); text-align: left; padding-top: 6px;">1️⃣&nbsp;경주일 기준 1년간 출주 횟수 : 

                      {% if jt_cnt %}
                      <span style="font-family: Arial; color:var(--color-r2); background-color: var(--color-bg); border-radius: 7px; padding: 2px 4px;">{{jt_cnt}}</span>
                      <span style="font-family: Arial; color:var(--color-r3)">{{jt_1st}}</span>
                      <span style="font-family: Arial; color:var(--color-r4)">{{jt_2nd|sub:jt_1st}}</span>
                      <span style="font-family: Arial; color:var(--color-r5)">{{jt_3rd|sub:jt_2nd}}</span>
                      {% else %}
                      <span style="font-family: Arial; color:var(--color-r2); background-color: var(--color-bg); border-radius: 7px; padding: 2px 4px;">0</span>
                      <span style="font-family: Arial; color:var(--color-r3)">0</span>
                      <span style="font-family: Arial; color:var(--color-r4)">0</span>
                      <span style="font-family: Arial; color:var(--color-r5)">0</span>
                      {% endif %}
                    </div>
                    <div style="font-family: Arial; color:var(--color-light-gray); text-align: left;">
                      2️⃣&nbsp;복승률 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      {% if jt_cnt > 0 %}
                      <span style="font-family: Arial; color: var(--color-r2);">{{jt_2nd|mul:100|div:jt_cnt|floatformat:"1"}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                      {% else %}
                      <span style="font-family: Arial; color: var(--color-light-gray);">0.0<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                      {% endif %}
                    </div>
                    <div style="font-family: Arial; color:var(--color-light-gray); text-align: left;">
                      3️⃣&nbsp;연승률 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      {% if jt_cnt > 0 %}
                      <span style="font-family: Arial; color: var(--color-r1);">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                      {% else %}
                      <span style="font-family: Arial; color: var(--color-light-gray);">0.0<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                      {% endif %}
                    </div>
              
                  </span>
                  </div>

                {% endif %}
              
              {% endif %}
              </a>
            </td>

            {# 조교사 #}
            {% if trainer == '%' or winname == 'weeksStatus' %}
            <td align="center">
              <div style="font-size: 1.2rem; text-align: left; ">
                <a href="{% url 'jt_analysis' '%' rdate|mul:1|sub:10000 rdate '%' tname '%' '%' '1' '99' '1' '99' '0' '0' '0' %}">
                  {% if tname in t_string %}
                    {% if today == rdate and rno == r_rno %}
                    <span style="color:var(--color-bg); background-color: var(--color-r4); border-radius: 7px; padding: 2px 3px;">{{tname|slice:"0:3"}}</span>
                    {% else %}
                    <span style="color:var(--color-r4); background-color: var(--color-bg); border-radius: 7px; padding: 2px 3px;">{{tname|slice:"0:3"}}</span>
                    {% endif %}
                  {% else %}
                  <span style="color:var(--color-light-gray);">{{tname|slice:"0:3"}}</span>
                  {% endif %}
                </a>
              </div>
            </td>
            {% endif %}


            {# 마주 #}
            {% if host == '%' or winname == 'weeksStatus' %}
            <td align="center">
              <div style="font-size: 1.2rem; text-align: left; ">
                <a href="{% url 'jt_analysis' '%' rdate|mul:1|sub:10000 rdate '%' '%' hname '%' '1' '99' '1' '99' '0' '0' '0' %}">
                  {% if hname in h_string %}
                    {% if today == rdate and rno == r_rno %}
                    <span class="tooltip" style="font-weight: normal; color:var(--color-bg); background-color: var(--color-r4); border-radius: 7px; padding: 1px 2px;">{{hname|slice:"0:3"}}
                      <span class="tooltip-text">{{hname}}</span>
                    </span>
                    {% else %}
                    <span class="tooltip" style="font-weight: normal; color:var(--color-r4); background-color: var(--color-bg); border-radius: 7px; padding: 1px 2px;">{{hname|slice:"0:3"}}
                      <span class="tooltip-text">{{hname}}</span>
                    </span>
                    {% endif %}
                  
                  {% else %}
                  <span class="tooltip" style="color:var(--color-light-gray); font-weight: normal;">{{hname|slice:"0:3"}}
                    <span class="tooltip-text">{{hname}}</span>
                  </span>
                  {% endif %}
                </a>
              </div>
            </td>
            {% endif %}

            {# gate #}
            <td align="center">
              <div style="font-family: Arial; font-size: 1.2rem; background-color: var(--color-bg); color: var(--color-light); border-radius: 7px; padding: 2px 4px;">
                {% if r_rank == 1 %}
                <span style="font-family: Arial; color: var(--color-r1)">{{gate}}</span>
                {% elif r_rank == 2 %}
                <span style="font-family: Arial; color: var(--color-r2)">{{gate}}</span>
                {% elif r_rank == 3 %}
                <span style="font-family: Arial; color: var(--color-r3)">{{gate}}</span>
                {% elif r_rank == 4 %}
                <span style="font-family: Arial; color: var(--color-r4)">{{gate}}</span>
                {% elif r_rank == 5 %}
                <span style="font-family: Arial; color: var(--color-r5)">{{gate}}</span>
                {% else %}
                <span style="font-family: Arial; color: var(--color-light-gray)">{{gate}}</span>
                {% endif %}
              </div>
            </td>

            {# corners #}
            <td>
              <div style="text-align: center; font-family: Arial;">
            
                <span class="tooltip" style="font-family: Arial, Helvetica, sans-serif;">
                  {% if corners %}
                    {% if corners|slice:"0:1" == '1' and corners|slice:"1:2" == '-' %}
                    <span style="font-size: 1.15rem; color:var(--color-r1);">{{corners}}</span>
                    {% elif corners|slice:"0:1" == '2' and corners|slice:"1:2" == '-' %}
                    <span style="font-size: 1.15rem; color:var(--color-r2);">{{corners}}</span>
                    {% elif corners|slice:"0:1" == '3' and corners|slice:"1:2" == '-' %}
                    <span style="font-size: 1.15rem; color:var(--color-r3);">{{corners}}</span>
                    {% else %}
                    <span style="font-size: 1.15rem; color:var(--color-gray);">{{corners}}</span>
                    {% endif %}
                  {% endif %}
                  <span class="tooltip-text" style="font-family: Arial, Helvetica, sans-serif; font-size: 1.3rem;">s1f 전개도<br>{{passage_s1f}}</span>
                </span>
            
              </div>
            </td>
            
            {# 경주순위 #}
            <td align="center">
              {% if r_rank %}
                {% if r_rank == 1 %}
                <span style="font-family: Arial; font-size: 1.3rem; background-color: var(--color-r1); color: var(--color-light); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 5px;">
                  {{r_rank}}
                </span>
                {% elif r_rank == 2 %}
                <span style="font-family: Arial; font-size: 1.3rem; background-color: var(--color-r2); color: var(--color-bg); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 5px;">
                  {{r_rank}}
                </span>
                {% elif r_rank == 3 %}
                <span style="font-family: Arial; font-size: 1.3rem; background-color: var(--color-r3); color: var(--color-bg); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 5px;">
                  {{r_rank}}
                </span>
                {% elif r_rank == 4 %}
                <span style="font-family: Arial; font-size: 1.3rem; border: 1px solid var(--color-r4); color: var(--color-r4); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 4px;">
                  {{r_rank}}
                </span>
                {% elif r_rank == 5 %}
                <span style="font-family: Arial; font-size: 1.3rem; border: 1px solid var(--color-r5); color: var(--color-r5); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 4px;">
                  {{r_rank}}
                </span>
                {% elif r_rank > 90 %}
                <span style="font-family: Arial; font-size: 1.15rem;">
                  <span class="tooltip" style="font-size: 0.9rem;">🚫<span class="tooltip-text" style="font-size: 1.15rem;">사유 : {{reason}}</span></span>
                </span>
                {% else %}
                <span style="font-family: Arial; font-size: 1.2rem; background-color: var(--color-bg); color: var(--color-light-gray); border-radius: 10px; border:1px solid var(--color-gray); padding: 2px 4px;">
                  {{r_rank}}
                </span>
                {% endif %}
              {% endif %}
              
            </td>

            {# record #}
            <td align="center">
              {% if r_record %}
                {% if r_rank == 1 %}
                <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r1);">
                {{r_record|slice:"0:1"}}&nbsp;{{r_record|slice:"1:"}}
                </span>
                {% elif r_rank == 2 %}
                <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r2);">
                {{r_record|slice:"0:1"}}&nbsp;{{r_record|slice:"1:"}}
                </span>
                {% elif r_rank == 3 %}
                <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r3);">
                {{r_record|slice:"0:1"}}&nbsp;{{r_record|slice:"1:"}}
                </span>
                {% elif r_rank == 4 %}
                <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r4);">
                {{r_record|slice:"0:1"}}&nbsp;{{r_record|slice:"1:"}}
                </span>
                {% elif r_rank == 5 %}
                <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r5);">
                {{r_record|slice:"0:1"}}&nbsp;{{r_record|slice:"1:"}}
                </span>
                
                {% else %}
                <span style="font-family: Arial; font-size: 1.2rem; color: var(--color-light-gray);">
                {{r_record|slice:"0:1"}}&nbsp;{{r_record|slice:"1:"}}
                </span>
                {% endif %}
              {% endif %}

            </td>

            <td align="center">
              {% if gap|length >= 2 %}
              <sup style="font-size: 0.7rem; color:var(--color-r2)">{% if gap %}{{gap}}{% endif %}</sup>
              {% else %}
              <sup style="font-size: 1.15rem; color:var(--color-r2)">{% if gap %}{{gap}}{% endif %}</sup>
              {% endif %}
              {% if gap_b|length >= 2 %}
              <sub style="font-size: 0.7rem; color:var(--color-r4)">{% if gap_b %}{{gap_b}}{% endif %}</sub>
              {% else %}
              <sub style="font-size: 1.15rem; color:var(--color-r4)">{% if gap_b %}{{gap_b}}{% endif %}</sub>
              {% endif %}
            </td>

            {# 경주로 #}
            <td align="right">
              {% if adv_track > 0 %}
              <span style="font-size: 1.15rem; font-family: Arial; color: var(--color-r5);">+{{adv_track|floatformat:0}}</span>
              {% else %}
              <span style="font-size: 1.15rem; font-family: Arial; color: var(--color-r1);">{{adv_track|floatformat:0}}</span>
              {% endif %}

              {% if track == '②' %}
              <span style="background-color: var(--color-light); padding: 2px 4px; border-radius: 7px; font-weight: 300; font-size: 1.15rem; color:var(--color-r1);">2</span>
              {% elif track == '③' %}
              <span style="background-color: var(--color-bg); padding: 2px 4px; border-radius: 7px; font-weight: 300; font-size: 1.15rem; color:var(--color-r1);">3</span>
              {% elif track == '④' %}
              <span style="background-color: var(--color-bg); padding: 2px 4px; border-radius: 7px; font-weight: 300; font-size: 1.15rem; color:var(--color-r2);">4</span>
              {% elif track == '⑤' %}
              <span style="background-color: var(--color-bg); padding: 2px 4px; border-radius: 7px; font-weight: 300; font-size: 1.15rem; color:var(--color-light-gray);">5</span>
              {% elif track == '⑥' %}
              <span style="background-color: var(--color-bg); padding: 2px 4px; border-radius: 7px; font-weight: 300; font-size: 1.15rem; color:var(--color-gray);">6</span>
              {% elif track == '⑦' %}
              <span style="background-color: var(--color-bg); padding: 2px 4px; border-radius: 7px; font-weight: 300; font-size: 1.15rem; color:var(--color-r1);">7</span>
              {% elif track == '⑧' %}
              <span style="background-color: var(--color-bg); padding: 2px 4px; border-radius: 7px; font-weight: 300; font-size: 1.15rem; color:var(--color-r1);">8</span>
              {% elif track == '⑨' %}
              <span style="background-color: var(--color-main); padding: 2px 4px; border-radius: 7px; font-weight: 300; font-size: 1.15rem; color:var(--color-r1);">9</span>
              {% else %}
              <span style="background-color: var(--color-bg); padding: 2px 4px; border-radius: 7px; font-weight: 300; font-size: 1.15rem; color:var(--color-r5);">{% if track %}{{track}}{% else %}&nbsp;{% endif %}</span>
              {% endif %}
            </td>

            <td>
              {% if weather %}
              <span style="font-size: 1.15rem;">
                {% if weather|slice:"0:1" == '맑' %}☀️
                {% elif weather|slice:"0:1" == '흐' %}☁️
                {% elif weather|slice:"0:1" == '비' %}☔️
                {% elif weather|slice:"0:1" == '눈' %}☃️
                {% else %}﹆
                {% endif %}
              </span>
              {% endif %}

              {% if rstate %}
              {% if rstate == '불량' or rstate == '포화' %}
              <span style="text-align:left; font-family: Arial; font-size: 0.9rem; color:tomato;">{{rstate|slice:"0:1"}}&nbsp;{{rmoisture}}</span>
              {% else %}
              <span style="text-align:left; font-family: Arial; font-size: 0.9rem; color:var(--color-gray)">{% if handycap %}{{rstate|slice:"0:1"}}&nbsp;{{rmoisture}}{% endif %}</span>
              {% endif %}
              {% endif %}

              
            </td>
            
            
            {# 복승식 #}
            <td align="right">
              <span style=" font-size: 1.2rem; font-weight: 350;">
              {% if r2alloc %}
                {% if r_rank <= 2 %}
                <span style="font-family: Arial; color:var(--color-r1); background-color:var(--color-bg); border-radius:7px; padding: 2px 4px; text-align: right;">{{r2alloc}}</span>
                {% else %}
                <span style="font-family: Arial; color:var(--color-gray);  padding: 2px 4px; text-align: right;">{{r2alloc}}</span>
                {% endif %}
              {% endif %}
              </span>
              
            </td>

            {# 연식 #}
            <td align="right">
              <span class="tooltip" style=" font-size: 1.2rem; font-weight: 350;">
              {% if alloc3r %}
                {% if r_rank == 1 %}
                <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 10px; color :var(--color-r1); text-align: right;">{{alloc3r}}</span>
                {% elif r_rank == 2 %}
                <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 10px; color :var(--color-r2); text-align: right;">{{alloc3r}}</span>
                {% elif r_rank == 3 %}
                <span style="font-family: Arial; background-color:var(--color-bg); padding: 2px 4px; border-radius: 10px; color :var(--color-r3); text-align: right;">{{alloc3r}}</span>
                {% else %}
                <span style="font-family: Arial; color:var(--color-gray);  padding: 2px 4px; text-align: right;">{{alloc3r}}</span>
                {% endif %}
              {% endif %}
              <span class="tooltip-text">
                <table>
                  <thead>
                    <tr>
                      <th style="font-family: Arial,; font-size: 1.2rem;">승식</th>
                      <th style="font-family: Arial,; font-size: 1.2rem;">배당율</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="font-family: Arial,; font-size: 1.2rem;">복승</td>
                      <td style="font-family: Arial,; font-size: 1.2rem; text-align: right;">{{r2alloc}}</td>
                    </tr>
                    <tr>
                      <td style="font-family: Arial,; font-size: 1.2rem;">삼복승</td>
                      <td style="font-family: Arial,; font-size: 1.2rem; text-align: right;">{{r3alloc}}</td>
                    </tr>
                
                  </tbody>
                </table>
              </span>

              
            </td>
            
            {# 인기 #}
            <td style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
              <!-- {% if r_pop %}
              <span class="tooltip" style="font-style: normal; color:var(--color-gray); font-size: 1.3rem;">
                <progress value={{r_pop}} max="99" style="width: 2.4rem">{{r_pop}}%</progress>
                <span class="tooltip-text" style="font-size: 1.2rem;">인기도&nbsp;:&nbsp;{{r_pop}}</span>
              </span>
              {% endif %} -->

              {% if pop_rank %}
                {% if pop_rank == 1 %}
                <span style="font-family: Arial; font-size: 1.3rem; background-color: var(--color-r1); color: var(--color-light); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 5px;">
                  {{pop_rank}}
                </span>
                {% elif pop_rank == 2 %}
                <span style="font-family: Arial; font-size: 1.3rem; background-color: var(--color-r2); color: var(--color-bg); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 5px;">
                  {{pop_rank}}
                </span>
                {% elif pop_rank == 3 %}
                <span style="font-family: Arial; font-size: 1.3rem; background-color: var(--color-r3); color: var(--color-bg); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 5px;">
                  {{pop_rank}}
                </span>
                {% elif pop_rank == 4 %}
                <span style="font-family: Arial; font-size: 1.3rem; border: 1px solid var(--color-r4); color: var(--color-r4); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 4px;">
                  {{pop_rank}}
                </span>
                {% elif pop_rank == 5 %}
                <span style="font-family: Arial; font-size: 1.3rem; border: 1px solid var(--color-r5); color: var(--color-r5); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 4px;">
                  {{pop_rank}}
                </span>
                {% elif pop_rank > 90 %}
                <span style="font-family: Arial; font-size: 1.15rem;">
                  <span class="tooltip" style="font-size: 0.9rem;">🚫<span class="tooltip-text" style="font-size: 1.15rem;">사유 : {{reason}}</span></span>
                </span>
                {% else %}
                <span style="font-family: Arial; font-size: 1.2rem; background-color: var(--color-bg); color: var(--color-light-gray); border-radius: 10px; border:1px solid var(--color-gray); padding: 2px 4px;">
                  {{pop_rank}}
                </span>
                {% endif %}
              {% endif %}
              
            </td>

            {# thethe9 예상순위 #}
            <td align="center">
              {% if rank == 1 %}
              <span style="font-family: Arial; font-size: 1.3rem; background-color: var(--color-r1); color: var(--color-light); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 5px;">
                {{rank}}
              </span>
              {% elif rank == 2 %}
              <span style="font-family: Arial; font-size: 1.3rem; background-color: var(--color-r2); color: var(--color-bg); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 5px;">
                {{rank}}
              </span>
              {% elif rank == 3 %}
              <span style="font-family: Arial; font-size: 1.3rem; background-color: var(--color-r3); color: var(--color-bg); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 5px;">
                {{rank}}
              </span>
              {% elif rank == 4 %}
              <span style="font-family: Arial; font-size: 1.3rem; border: 1px solid var(--color-r4); color: var(--color-r4); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 4px;">
                {{rank}}
              </span>
              {% elif rank == 5 %}
              <span style="font-family: Arial; font-size: 1.3rem; border: 1px solid var(--color-r5); color: var(--color-r5); border-radius: 10px; border:1px solid var(--color-light); padding: 2px 4px;">
                {{rank}}
              </span>
              {% elif rank > 90 %}
              <span style="font-family: Arial; font-size: 1.15rem;">
                <span class="tooltip" style="font-size: 0.9rem;">🚫<span class="tooltip-text" style="font-size: 1.15rem;">사유 : {{reason}}</span></span>
              </span>
              {% else %}
              <span style="font-family: Arial; font-size: 1.2rem; background-color: var(--color-bg); color: var(--color-light-gray); border-radius: 10px; border:1px solid var(--color-gray); padding: 2px 4px;">
                {{rank}}
              </span>
              {% endif %}
            </td>
            
            {# complex #}
            <td align="center">

              {% if rank == 1 %}
              <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r1);">
                {{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:"}}
              </span>
              {% elif rank == 2 %}
              <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r2);">
                {{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:"}}
              </span>
              {% elif rank == 3 %}
              <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r3);">
                {{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:"}}
              </span>
              {% elif rank == 4 %}
              <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r4);">
                {{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:"}}
              </span>
              {% elif rank == 5 %}
              <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r5);">
                {{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:"}}
              </span>
              
              {% else %}
              <span style="font-family: Arial; font-size: 1.2rem; color: var(--color-gray);">
                {{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:"}}
              </span>
              {% endif %}
            </td>

            {# 레이팅 #}
            <td align="right">
              <span style="font-size: 1.15rem; font-family: Arial;">{{rating}}</span>
            </td>
            
            {# 경주편성 강도 #}
            <td align="right">
              {% if r_judge %}
                {% if r_judge|mul:"1" >= 5  %} 
                <span class="tooltip" style="font-size: 1.15rem; font-family: Arial; color:var(--color-light); background-color: var(--color-r1); border-radius: 7px; padding: 2px 3px; font-weight: normal;">상<span class="tooltip-text" style="font-size: 1.15rem;">🚦<br>{{r_judge}}</span></span>
                {% elif r_judge|mul:"1" >= -5 and r_judge|mul:"1" <= 5 %} 
                <span class="tooltip" style="font-size: 1.15rem; font-family: Arial; color:var(--color-r3); background-color: var(--color-bg); border-radius: 7px; padding: 2px 3px; font-weight: normal;">중<span class="tooltip-text" style="font-size: 1.15rem;">🚦<br>{{r_judge}}</span></span>
                {% else %} 
                <span class="tooltip" style="font-size: 1.15rem; font-family: Arial; color:var(--color-gray); background-color: var(--color-bg); border-radius: 7px; padding: 2px 3px; font-weight: normal;">하<span class="tooltip-text" style="font-size: 1.15rem;">🚦<br>{{r_judge}}</span></span>
                {% endif %}
              {% endif %}
            </td>
            <td align="center">
              {% if h_cnt %}
                <span style="font-size: 1.15rem; font-family: Arial; color:var(--color-light-gray);">{{h_cnt}}
                  <sup style="font-size: 1.15rem; font-family: Arial; color:var(--color-r1); background-color: var(--color-bg); border-radius: 7px; padding: 2px 4px;">{{h_mare}}</sup>
                </span>
              {% endif %}
            </td>

            <!-- {# s1f 결과 #}
            <td align="center">
              <div>
                {% if r_s1f %}
                  {% if r_s1f > cs1f %}
                  <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-gray);">{{r_s1f}}</span>
                  {% elif r_s1f == cs1f %}
                  <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-light);">{{r_s1f}}</span>
                  {% else %}
                  <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r3);">{{r_s1f}}</span>
                  {% endif %}
                {% endif %}
              </div>
            </td>
            {# g3f 결과 #}
            <td align="center">
              <div>
                {% if r_g3f %}
                  {% if r_g3f > cg3f %}
                  <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-gray);">{{r_g3f}}</span>
                  {% elif r_g3f == cs1f %}
                  <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-light);">{{r_g3f}}</span>
                  {% else %}
                  <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r3);">{{r_g3f}}</span>
                  {% endif %}
                {% endif %}
              </div>
            </td>
            {# g1f 결과 #}
            <td align="center">
              <div>
                {% if r_g1f %}
                  {% if r_g1f > cg1f %}
                  <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-gray);">{{r_g1f}}</span>
                  {% elif r_g1f == cs1f %}
                  <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-light);">{{r_g1f}}</span>
                  {% else %}
                  <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-r3);">{{r_g1f}}</span>
                  {% endif %}
                {% endif %}
              </div>
            </td>
            
            {# s1f 예상 #}
            <td align="center">
              <div>
                <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-light-gray);">{{cs1f}}</span>
              </div>
            </td>
            {# g3f 예상 #}
            <td align="center">
              <div>
                <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-light-gray);">{{cg3f}}</span>
              </div>
            </td>
            {# g1f 예상 #}
            <td align="center">
              <div>
                <span style="font-family: Arial; font-size: 1.2rem; color:var(--color-light-gray);">{{cg1f}}</span>
              </div>
            </td> -->
            
            
          </tr>

          <!-- <tr class="fold">
            <td colspan="17">


            </td>
          </tr> -->

          {% endfor %}
        </tbody>
      </table>

