{% load humanize %}
{% load mathfilters %}

<div class="fold-content">

  <table class="small-friendly">
    <thead style="background-color: var(--color-light);">
    
      <tr>
        <th colspan="1" rowspan="2" style="vertical-align:middle">
          <span style="background-color:var(--color-bg); border-radius: 10px; font-size: 1.15rem; color:var(--color-r3); padding: 6px 4px; writing-mode: vertical-lr;">레이팅</span>
        </th>
        <th><span style="font-size:1.2rem;">순위</span></th>
        <th rowspan="2" style="vertical-align: middle;"><span class="visible-big" style="font-size:1.2rem;">&nbsp;<br>마번<br>&nbsp;</span></th>
        <th colspan="1" rowspan="1">
          <a href="{% url 'get_race_horse' rdate 'horse' horse jockey trainer ' ' %}"
            onclick="window.open(this.href, '_blank', 'width=1000, height=700, toolbars=no, scrollbars=yes'); return false;">
            <span class="visible-big" style="color:var(--color-r5); font-size:1.2rem;">🐴&nbsp;&nbsp;{{horse|slice:"0;6"}}</span>
          </a>
        </th>
        <th rowspan="2" style="vertical-align: middle;">
          <span class="tooltip" style="font-size:1.0rem; color:var(--color-r5);">⚖️
            <span class="tooltip-text" style="font-size:1.1rem;">🐴 마체중 증감</span>
          </span>
        </th>
    
        <th>
          <a href="{% url 'training_awardee' rdate 'jockey' jockey %}" onclick="window.open(this.href, 'w_training_awardee', 'width=1120, height=800, toolbars=no, scrollbars=yes'); return false;">
            <span class="tooltip" style="font-size:1.2rem; color:var(--color-r5);">
              🏇<span class="tooltip-text" style="font-size:1.1rem;">🏇&nbsp;[<span style="color:var(--color-r3);"><span style="color:var(--color-r3);">{{jockey}}</span></span>]&nbsp;기수 금주 출주마 조교현황</span>
            </span>
          </a>
        </th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">Tot</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-1</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-2</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-3</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-4</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-5</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-6</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-7</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-8</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-9</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-10</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-11</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-12</span></th>
      </tr>
      <tr>
        <th><span style="font-size:1.2rem;">예상</span></th>
      <th colspan="1" rowspan="1"><span style="font-size:1.2rem; text-transform: capitalize;">Race Info.</span></th>

        <th>
          <a href="{% url 'training_awardee' rdate 'trainer' trainer %}" onclick="window.open(this.href, 'w_training_awardee', 'width=1120, height=800, toolbars=no, scrollbars=yes'); return false;">
            <span class="tooltip" style="font-size:1.0rem; color:var(--color-r5);">
              🛖<span class="tooltip-text" style="font-size:1.1rem;">🛖&nbsp;[<span style="color:var(--color-r3);">{{trainer}}</span>]&nbsp;마방 금주 출주마 조교현황</span>
            </span>
          </a>
        </th>
        <th rowspan="1"><span class="visible-big">C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
    
      </tr>
    
    </thead>
    <tbody>
      {% for rcity, rdate, rno, gate, rank, r_rank, r_pop, hname, jockey_a, trainer_a, j_per, t_per, jt_per, h_weight, distance, grade, rating, dividing, i_cycle, reason, jockey_old, birthplace, h_sex, h_age, complex, complex5, r1, d1, c1, s1, r2, d2, c2, s2, r3, d3, c3, s3, r4, d4, c4, s4, r5, d5, c5, s5, r6, d6, c6, s6, r7, d7, c7, s7, r8, d8, c8, s8, r9, d9, c9, s9, r10, d10, c10, s10, r11, d11, c11, s11, r12, d12, c12, s12, r13, d13, c13, s13, r14, d14, c14, s14, laps in train %}
      {% if r_condition.rdate > rdate and horse == hname %}
  
      <tr>
        {# rating #}
        <td align="center">
          {% if rating %}
          <div style="font-size:1.2rem; padding:2px 4px; color:var(--color-r3); font-family: Arial; border-radius: 7px; background-color:var(--color-bg);">{{rating}}</div>
          {% else %}
          <div>&nbsp;</div>
          {% endif %}

          {% if judge == NONE %}
          <span class="tooltip">
            <progress value={{r_pop}} max="99" style="width: 1.5rem"></progress>
            <span class="tooltip-text" style="z-index: 9;">
              <div style="font-size: 1.1rem;">📊&nbsp;인기도&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if r_pop %}{{r_pop}}{% endif %}</div>
            </span>
          </span>
          {% endif %}
        </td>

        {# 인기순위 / 프로그램 예상순위 #}
        <td align="center">

          {% if r_rank %}
          {% if judge == NONE %}
            {% if r_rank == 1 %}
            <sup style="font-size: 1.0rem; text-align: center; font-family: Arial; border-radius: 10px; background-color:var(--color-r1); color:var(--color-light); padding: 2px 2px;">
              {% if r_rank > 20 %}﹆{% else %}{{r_rank}}{% endif %}
            </sup>
            {% elif r_rank == 2 %}
            <sup style="font-size: 1.0rem; text-align: center; font-family: Arial; border-radius: 10px; background-color:var(--color-r2); color:var(--color-light); padding: 2px 2px;">
              {% if r_rank > 20 %}﹆{% else %}{{r_rank}}{% endif %}
            </sup>
            {% elif r_rank == 3 %}
            <sup style="font-size: 1.0rem; text-align: center; font-family: Arial; border-radius: 10px; background-color:var(--color-r3); color:var(--color-bg); padding: 2px 2px;">
              {% if r_rank > 20 %}﹆{% else %}{{r_rank}}{% endif %}
            </sup>
            {% elif r_rank == 4 %}
            <sup style="font-size: 1.0rem; text-align: center; font-family: Arial; border-radius: 10px; background-color:var(--color-r4); color:var(--color-bg); padding: 2px 2px;">
              {% if r_rank > 20 %}﹆{% else %}{{r_rank}}{% endif %}
            </sup>
            {% elif r_rank == 5 %}
            <sup style="font-size: 1.0rem; text-align: center; font-family: Arial; border-radius: 10px; background-color:var(--color-r5); color:var(--color-light); padding: 2px 2px;">
              {% if r_rank > 20 %}﹆{% else %}{{r_rank}}{% endif %}
            </sup>
            
            {% else %}
            <sup style="font-size: 1.0rem; text-align: center; font-family: Arial; border-radius: 10px; background-color:bisque; padding: 2px 2px;">
              {% if r_rank > 20 %}﹆{% else %}{{r_rank}}{% endif %}
            </sup>
            {% endif %}
            
            {% if rank %}
              {% if rank == 1 %}
              <sub style="color:var(--color-r1); font-size: 1.1rem;">
                {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
              </sub>
              {% elif rank == 2 %}
              <sub style="color:var(--color-r2); font-size: 1.1rem;">
                {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
              </sub>
              {% elif rank == 3 %}
              <sub style="color:var(--color-r3); font-size: 1.1rem;">
                {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
              </sub>
              {% else %}
              <sub style="font-size: 1.1rem;">
                {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
              </sub>
              {% endif %}
            {% endif %}
          {% endif %}
          {% endif %}
        </td>

        {# 마번/실순 #}
        <td align="center">
          <span style="font-family: Arial; font-size:1.2rem; font-style: italic; padding: 2px 4px; border-radius: 7px; background-color:lightblue;">
            {{gate}}
          </span>
        </td>

        {# 경주번호 / 경주정보 #}
        <td align="center">
          <a style="text-decoration:underline" href="{% url 'race_result' rcity rdate rno horse r_condition.rcity r_condition.rdate r_condition.rno %}"
            onclick="window.open(this.href, 'w_result', 'width=1000, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
          
            <div style="text-align: left; color:dodgerblue; font-style: italic; text-align: left;">
              <span style="font-size: 1.2rem; font-family: Arial;">'{{rdate|slice:"2:4" }}.{{rdate|slice:"4:6" }}.{{rdate|slice:"6:8"}}</span>
              ­­­»
              {% if r_condition.distance == distance %}
              <span style="font-size: 1.2rem; font-family: Arial; color:tomato; font-weight: 700;">{{distance}}</span>
              {%else%}
              <span style="font-size: 1.2rem; font-family: Arial; font-weight: 300;">{% if distance %}{{distance}}{% else %}취소{% endif %}</span>
              {%endif%}
              &nbsp;
            </div>
          
            {# 경주정보 #}
            <div style="text-align: right; font-style: italic;">

              {% if i_cycle <= 16 %}
              <span style="font-family: Arial; color:var(--color-light); border-radius: 5px; background-color:var(--color-r1); padding:2px 3px;">{{i_cycle|div:7|floatformat:0}}<sub style="font-size:0.7rem;">주</sub></span>
              {% elif i_cycle >= 68 %}
              <span style="font-family: Arial; color:var(--color-light); border-radius: 5px; background-color:var(--color-r2); padding:2px 3px; font-size:0.9rem;">{{i_cycle|div:7|floatformat:0}}<sub style="font-size:0.7rem;">주</sub></span>
              {% else %}
              <span style="font-family: Arial; color:var(--color-bg); border-radius: 5px; background-color:aquamarine; padding:2px 3px;">{{i_cycle|div:7|floatformat:0}}<sub style="font-size:0.7rem;">주</sub></span>
              {% endif %}
            
              {% if grade %}
                {% if grade|slice:"0:2" == '주행'%}
                <span style="font-size: 1.1rem; color:var(--color-r4)">{{grade|slice:"0:4"}}</span>
                {%else%}

                  {% if grade|slice:"1:2" == 'O' %}
                    <span style="font-size: 0.9rem; color:var(--color-light); background-color: var(--color-bg); border-radius: 7px; padding: 1px 3px;">{{grade|slice:"0:2"}}</span>
                    <span style="font-size: 1.1rem;">{{dividing|slice:"0:1"}}</span>
                  {% else %}
                    {% if grade|slice:"0:2" == r_condition.grade|slice:"0:2" %}
                    <span style="font-size: 1.1rem; color:tomato;">{{grade|slice:"0:2"}}</span>
                    {% else %}
                    <span style="font-size: 1.1rem;">{{grade|slice:"0:2"}}</span>
                    {% endif %}
                    
                    {% if dividing|slice:"0:1" == r_condition.dividing|slice:"0:1"%}
                    <span style="font-size: 1.1rem; color:tomato;">{{dividing|slice:"0:1"}}</span>
                    {% else %}
                    <span style="font-size: 1.1rem;">{{dividing|slice:"0:1"}}</span>
                    {% endif %}
                  {% endif %}

                {%endif%}
              {%endif%}

              &nbsp;
              {% if h_sex|slice:"0:1" == '거' %}
              <span class="tooltip" style="font-size: 1.0rem; font-family: Arial; color:var(--color-r2); font-style: normal; background-color: var(--color-light); padding: 2px 4px; border-radius: 7px;">{{h_sex}}
                <span class="tooltip-text" style="font-size: 1.1rem;">{{rcity}} {{rno}}ᴿ</span></span>
              {% else %}
              <span class="tooltip" style="font-size: 1.0rem; font-family: Arial; color:var(--color-r4); padding: 2px 4px; ">{{h_sex}}
                <span class="tooltip-text" style="font-size: 1.1rem;">{{rcity}} {{rno}}ᴿ</span></span>
              {% endif %}

            </div>
          </a>
        </td>
        
        {# 마체중 #}
        <td style="font-family: Arial; font-size: 1.2rem ">
        
          {% if h_weight %}
          <div style="text-align:center">
        
            {# 경주마 체중 증감 #}
            {% if h_weight|slice:"0:3" == '0 0' %}
            <span style="font-family: Arial; color:var(--color-gray);">-</span>
            {% elif h_weight|slice:"0:3" <= '440' %} 
            <span style="font-family: Arial; color:var(--color-r5);">{{h_weight|slice:"0:3"}}㎏</span>
            {% elif h_weight|slice:"0:3" >= '500' %}
            <span style="font-family: Arial; color:var(--color-r2);">{{h_weight|slice:"0:3"}}㎏</span>
            {% else %}
            <span style="font-family: Arial; color:var(--color-gray);">{{h_weight|slice:"0:3"}}㎏</span>
            {% endif %}
        
          </div>
        
            {% if h_weight|slice:"4:" %}
              {% if h_weight|slice:"4:5" == '+' %}
              <div style="text-align: right; font-size: 1.1rem;">
                <span style="font-size: 1.1rem; font-family: Arial; font-style: italic; color:var(--color-r5); padding:1px 1px; border-radius: 15px; background-color:var(--color-main-light);">{{h_weight|slice:"4:"}}</span>
              </div>
              {% else %}
              <div style="text-align: right; font-size: 1.1rem;">
                <span style="font-size: 1.1rem; font-family: Arial; font-style: italic; color:var(--color-r1); padding:1px 1px; border-radius: 15px; background-color:var(--color-main-light); ">{{h_weight|slice:"4:"}}</span>
              </div>
              {% endif %}
            {% endif %}
          {% endif %}
        
        </td>
  
        {# 기수 / 조교사 #}
        <td style="font-size: 1.2rem">
          <a href="{% url 'get_race_awardee' rdate 'jockey' jockey_a jockey_a trainer ' ' %}"
            onclick="window.open(this.href, '_blank', 'width=1000, height=700, toolbars=no, scrollbars=yes'); return false;">

            {% if jockey_a %}
              {% if jockey == jockey_a %}
              <div style="text-align: left; color:var(--color-gray); padding: 0px 2px; border:1px solid orange; border-radius: 5px;">{{jockey_a}}</div>
              {%else%}
              <div style="text-align: left;  color:var(--color-r5);">{{jockey_a}}</div>
              {%endif%}
              {% if jockey_a %}
              <div style="font-size: 1.1rem; color:var(--color-gray); font-family: Arial; text-align: right;">{{jockey_a_w|floatformat:1}}</div>
              {% endif %}
            
            {%endif%}
          </a>
          {% if trainer_a %}
          
            {% if trainer == trainer_a %}
            <div style="text-align: left;">
              <a href="{% url 'get_race_awardee' rdate 'trainer' trainer_a jockey trainer_a ' ' %}" onclick="window.open(this.href, '_blank', 'width=1000, height=700, toolbars=no, scrollbars=yes'); return false;">
              <span style="text-align: left; color:var(--color-gray); padding: 0px 2px; border:1px solid orange; border-radius: 5px;">{{trainer_a}}</span>
              </a>
            </div>
            {%else%}
            <div style="text-align: right;">
              <a href="{% url 'get_race_awardee' rdate 'trainer' trainer_a jockey trainer_a ' ' %}" onclick="window.open(this.href, '_blank', 'width=1000, height=700, toolbars=no, scrollbars=yes'); return false;">
                <span style="color:var(--color-r1); font-size: 1.15rem;">{{trainer_a}}</span>
              </a>
            </div>
            {%endif%}

          {%endif%}
        </td>
  
        <td align="center">
          <div>
            <span style="font-family: Arial; font-size:1.15rem; font-style: italic;">{{d1|add:d2|add:d3|add:d4|add:d5|add:d6|add:d7|add:d8|add:d9|add:d10|add:d11|add:d12|add:d13|add:d14}}</span>
            {% if laps %}
            <span style="font-family: Arial; color:var(--color-light); border-radius: 7px; background-color:var(--color-r5); padding: 2px 4px;">{{laps}}</span>
            {% else %}
            <span style="font-size:1.1rem; color:gray; padding: 2px 4px;">◦</span>
            {% endif %}
          </div>
  
          <div style="font-family: Arial; font-size:1.2rem; font-style: italic; text-align: right;">
            <span style="font-family: Arial; color:var(--color-bg);">{{c1|add:c2|add:c3|add:c4|add:c5|add:c6|add:c7|add:c8|add:c9|add:c10|add:c11|add:c12|add:c13|add:c14}}</span>
            {% if s1|add:s2|add:s3|add:s4|add:s5|add:s6|add:s7|add:s8|add:s9|add:s10|add:s11|add:s12|add:s13|add:s14 == 0 %}
            <span style="font-family: Arial; padding: 2px 4px;">◦</span>
            {% else %}
            <span
              style="font-family: Arial; color:var(--color-light); border-radius: 7px; background-color:var(--color-r1); padding:2px 4px;">{{s1|add:s2|add:s3|add:s4|add:s5|add:s6|add:s7|add:s8|add:s9|add:s10|add:s11|add:s12|add:s13|add:s14}}</span>
            {% endif %}
          </div>
        </td>
  
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r1 == '조' %}
            <span style="color:red;">{{r1}}</span>
            {% else %}
            {% if r1|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r1|slice:"-2:"}}</span>
            {% elif r1|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r1|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r1 == '관' %}
            <span style="color:var(--color-gray);">{{r1|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r1|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d1 == 0 %}-
            {% else %}
            <span style="font-family: Arial; font-size:1.2rem;">{{d1}}</span>
            {% if c1 == 0 %}
            <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c1}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c1}}</span>
            {% endif %}
            {% if s1 == 0 %}
            <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s1}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s1}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r2 == '조' %}
            <span style="color:red;">{{r2}}</span>
            {% else %}
            {% if r2|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r2|slice:"-2:"}}</span>
            {% elif r2|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r2|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r2 == '관' %}
            <span style="color:var(--color-gray);">{{r2|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r2|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d2 == 0 %}-
            {% else %}
            <span style="font-family: Arial;">{{d2}}</span>
            {% if c2 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{c2}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c2}}</span>
            {% endif %}
            {% if s2 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{s2}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s2}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r3 == '조' %}
            <span style="color:red;">{{r3}}</span>
            {% else %}
            {% if r3|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r3|slice:"-2:"}}</span>
            {% elif r3|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r3|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r3 == '관' %}
            <span style="color:var(--color-gray);">{{r3|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r3|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d3 == 0 %}-
            {% else %}
            <span style="font-family: Arial;">{{d3}}</span>
            {% if c3 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{c3}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c3}}</span>
            {% endif %}
            {% if s3 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{s3}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s3}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r4 == '조' %}
            <span style="color:red;">{{r4}}</span>
            {% else %}
            {% if r4|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r4|slice:"-2:"}}</span>
            {% elif r4|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r4|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r4 == '관' %}
            <span style="color:var(--color-gray);">{{r4|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r4|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d4 == 0 %}-
            {% else %}
            <span style="font-family: Arial;">{{d4}}</span>
            {% if c4 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{c4}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c4}}</span>
            {% endif %}
            {% if s4 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{s4}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s4}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r5 == '조' %}
            <span style="color:red;">{{r5}}</span>
            {% else %}
            {% if r5|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r5|slice:"-2:"}}</span>
            {% elif r5|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r5|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r5 == '관' %}
            <span style="color:var(--color-gray);">{{r5|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r5|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d5 == 0 %}-
            {% else %}
            <span style="font-family: Arial;">{{d5}}</span>
            {% if c5 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{c5}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c5}}</span>
            {% endif %}
            {% if s5 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{s5}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s5}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r6 == '조' %}
            <span style="color:red;">{{r6}}</span>
            {% else %}
            {% if r6|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r6|slice:"-2:"}}</span>
            {% elif r6|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r6|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r6 == '관' %}
            <span style="color:var(--color-gray);">{{r6|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r6|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d6 == 0 %}-
            {% else %}
            <span style="font-family: Arial;">{{d6}}</span>
            {% if c6 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{c6}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c6}}</span>
            {% endif %}
            {% if s6 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{s6}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s6}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r7 == '조' %}
            <span style="color:red;">{{r7}}</span>
            {% else %}
            {% if r7|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r7|slice:"-2:"}}</span>
            {% elif r7|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r7|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r7 == '관' %}
            <span style="color:var(--color-gray);">{{r7|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r7|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d7 == 0 %}-
            {% else %}
            <span style="font-family: Arial;">{{d7}}</span>
            {% if c7 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{c7}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c7}}</span>
            {% endif %}
            {% if s7 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{s7}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s7}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r8 == '조' %}
            <span style="color:red;">{{r8}}</span>
            {% else %}
            {% if r8|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r8|slice:"-2:"}}</span>
            {% elif r8|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r8|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r8 == '관' %}
            <span style="color:var(--color-gray);">{{r8|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r8|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d8 == 0 %}-
            {% else %}
            <span style="font-family: Arial;">{{d8}}</span>
            {% if c8 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{c8}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c8}}</span>
            {% endif %}
            {% if s8 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{s8}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s8}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r9 == '조' %}
            <span style="color:red;">{{r9}}</span>
            {% else %}
            {% if r9|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r9|slice:"-2:"}}</span>
            {% elif r9|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r9|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r9 == '관' %}
            <span style="color:var(--color-gray);">{{r9|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r9|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d9 == 0 %}-
            {% else %}
            <span style="font-family: Arial;">{{d9}}</span>
            {% if c9 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{c9}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c9}}</span>
            {% endif %}
            {% if s9 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{s9}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s9}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r10 == '조' %}
            <span style="color:red;">{{r10}}</span>
            {% else %}
            {% if r10|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r10|slice:"-2:"}}</span>
            {% elif r10|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r10|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r10 == '관' %}
            <span style="color:var(--color-gray);">{{r10|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r10|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d10 == 0 %}-
            {% else %}
            <span style="font-family: Arial;">{{d10}}</span>
            {% if c10 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{c10}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c10}}</span>
            {% endif %}
            {% if s10 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{s10}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s10}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r11 == '조' %}
            <span style="color:red;">{{r11}}</span>
            {% else %}
            {% if r11|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r11|slice:"-2:"}}</span>
            {% elif r11|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r11|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r11 == '관' %}
            <span style="color:var(--color-gray);">{{r11|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r11|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d11 == 0 %}-
            {% else %}
            <span style="font-family: Arial;">{{d11}}</span>
            {% if c11 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{c11}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c11}}</span>
            {% endif %}
            {% if s11 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{s11}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s11}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
        <td>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if r12 == '조' %}
            <span style="color:red;">{{r12}}</span>
            {% else %}
            {% if r12|slice:"-3:" == jockey|slice:"-3:" %}
            <span style="color:var(--color-light); background-color:var(--color-r2); padding:2px 4px; border-radius: 7px; font-size:1.0rem">{{r12|slice:"-2:"}}</span>
            {% elif r12|slice:"-3:" == '(트)' %}
            <span style="color:var(--color-r3);">{{r12|slice:"0:3"|slice:"-2:"}}</span>
            {% else %}
            {% if r12 == '관' %}
            <span style="color:var(--color-gray);">{{r12|slice:"-2:"}}</span>
            {% else %}
            <span style="color:var(--color-r5);">{{r12|slice:"-2:"}}</span>
            {% endif %}
            {% endif %}
            {% endif %}
          </div>
          <div align="center" style="font-family: Arial; font-size:1.15rem;">
            {% if d12 == 0 %}-
            {% else %}
            <span style="font-family: Arial;">{{d12}}</span>
            {% if c12 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{c12}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 300; color:var(--color-gray); font-size:0.9rem;">{{c12}}</span>
            {% endif %}
            {% if s12 == 0 %}
            <span style="font-family: Arial; color:var(--color-gray);">{{s12}}</span>
            {% else %}
            <span style="font-family: Arial; font-weight: 700; color:var(--color-r1);">{{s12}}</span>
            {% endif %}
            {%endif%}
          </div>
        </td>
  
      </tr>
      
      {% endif %}
      {% endfor %}
  
    </tbody>
  </table>
  
</div>