<!DOCTYPE html>
{% load static %}
{% load mathfilters %}
{% load humanize %}

{% load my_custom_tags %}

<html lang="en">

<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-BFZZL101LZ');
</script>
<!-- End Google tag -->

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/number-9.png' %}" />
  
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>Race Mock Audit '{{r_condition.rdate|slice:"2:4"}}.{{r_condition.rdate|slice:"4:6"}}.{{r_condition.rdate|slice:"6:8"}}&nbsp;({{r_condition.rday}}) {{r_condition.rcity}}&nbsp;&nbsp;{{r_condition.rno}}®</title>

</head>



{% block content %}
<body class="create-room layout" style="padding-bottom: 5px;" >
<!-- <main class="profile-page layout layout--2"> -->

  <div class="container">
    <div class="roomList" style="height: auto;">
    
      {# Header #}
      {% include 'base/m_header_of_prediction.html' %}

      <hr style="border: solid 4.0px var(--color-bg);">
      
      <form action="" method="get">
        {% csrf_token %}
        <label >
          &nbsp;&nbsp;&nbsp;&nbsp;
          <span style="font-size: 1.15rem;">평균&nbsp;:&nbsp;
            <input id="w_avg" style="text-align: center; width: 4.0rem; border: solid 1px var(--color-r2); font-size: 1.15rem;" type="number" min="1" max="99" step="1" value={{w_avg}} name="w_avg">
            <span>&nbsp;&nbsp;</span>
          </span>
          <span style="font-size: 1.15rem;">최고&nbsp;:&nbsp;
            <input id="w_fast" style="text-align: center; width: 4.0rem; border: solid 1px var(--color-r2); font-size: 1.15rem;" type="number" min="1" max="99" step="1" value={{w_fast}} name="w_fast" >
            <span>&nbsp;&nbsp;</span>
          </span> 
          <span style="font-size: 1.15rem;">최저&nbsp;:&nbsp;
            <input id="w_slow" style="text-align: center; width: 4.0rem; border: solid 1px var(--color-r2); font-size: 1.15rem;" type="number" min="1" max="99" step="1" value={{w_slow}} name="w_slow" >
          </span> 

          &nbsp;&nbsp;&nbsp;&nbsp;

          <span style="font-size: 1.15rem;">최근3R&nbsp;:&nbsp;
            <input id="w_recent3" style="text-align: center; width: 4.0rem; border: solid 1px var(--color-r2); font-size: 1.15rem;" type="number" min="1" max="99" step="1" value={{w_recent3}} name="w_recent3" >
            <span>&nbsp;&nbsp;</span>
          </span> 
          <span style="font-size: 1.15rem;">최근7R&nbsp;:&nbsp;
            <input id="w_recent5" style="text-align: center; width: 4.0rem; border: solid 1px var(--color-r2); font-size: 1.15rem;" type="number" min="1" max="99" step="1" value={{w_recent5}} name="w_recent5" >
            <span>&nbsp;&nbsp;</span>
          </span> 
          <span style="font-size: 1.15rem;">환산&nbsp;:&nbsp;
            <input id="w_convert" style="text-align: center; width: 4.0rem; border: solid 1px var(--color-r2); font-size: 1.15rem;" type="number" min="1" max="99" step="1" value={{w_convert}} name="w_convert" >
          </span> 
          

          &nbsp;&nbsp;
          <button type="button" class="btn btn--link" style="font-size: 1.1rem;" onclick="runMockAuditCalc('{{ r_condition.rcity }}', '{{ r_condition.rdate }}', '{{ r_condition.rno }}')">💾&nbsp;Mock Audit</button>

          <script>
          function runMockAuditCalc(rcity, rdate, rno) {
          //if (!confirm("Mock 집계를 실행하시겠습니까?")) return;

          //const url = `/mock_audit/${rcity}/${rdate}/${rno}/None/None/?calc=1`;
          // ① input값 가져오기
          const w_avg = document.querySelector("#w_avg").value || 0;
          const w_fast = document.querySelector("#w_fast").value || 0;
          const w_slow = document.querySelector("#w_slow").value || 0;
          const w_recent3 = document.querySelector("#w_recent3").value || 0;
          const w_recent5 = document.querySelector("#w_recent5").value || 0;
          const w_convert = document.querySelector("#w_convert").value || 0;

          // ② URL 인코딩 + GET 파라미터 생성
          const url =
            `/mock_audit/${encodeURIComponent(rcity)}/${rdate}/${rno}/None/None/?calc=1`
            + `&w_avg=${encodeURIComponent(w_avg)}`
            + `&w_fast=${encodeURIComponent(w_fast)}`
            + `&w_slow=${encodeURIComponent(w_slow)}`
            + `&w_recent3=${encodeURIComponent(w_recent3)}`
            + `&w_recent5=${encodeURIComponent(w_recent5)}`
            + `&w_convert=${encodeURIComponent(w_convert)}`;

          fetch(url, { method: "GET" })
            .then(res => {
              if (!res.ok) throw new Error(`서버 응답 오류: ${res.status}`);
              return res.json(); // ✅ JSON 응답 처리
            })
            .then(data => {
              //console.log("✅ 서버 응답:", data);
              //alert("✅ " + data.message);
              //location.reload(); // ✅ 서버 완료 후 리로드
              setTimeout(() => location.reload(), 500); // 0.5초 지연 후 reload
            })
            .catch(err => {
              //console.error("❌ Fetch error:", err);
              //alert("❌ Mock 집계 실행 중 오류가 발생했습니다.\n" + err.message);
            });
          }
          </script>
            
          &nbsp;&nbsp;
          <span style="font-size: 1.15rem; color:var(--color-r3); font-family: Arial, Helvetica, sans-serif;">{{wdate}}</span>
          &nbsp;&nbsp;

          <span class="btn btn--link" style="font-size: 1.2rem;">
          {% if messages %}
          <div style="color: var(--color-light);">
            {% for message in messages %}
            {{ message.message }}
            {% endfor %}
          </div>
          {% endif %}
          </span>

        </label>

      </form>

      <hr style="border: solid 4.0px var(--color-bg);">

      {% include 'base/m_prediction.html' %}

      <br>

      <div class="form__action">
        <a class="btn btn--dark" onclick="window.close()">Close</a>
      </div>

    </div>
    <!-- Room End -->


  </div>

  {% include 'footer.html' %}

  <script>
    $(function () {
      $(".fold-table tr.view").on("click", function () {
        if ($(this).hasClass("open")) {
          $(this).removeClass("open").next(".fold").removeClass("open");
        } else {
          $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
          $(this).addClass("open").next(".fold").addClass("open");
        }
      });
    });

  </script>
  
  <script>
    $(document).ready(function () {

      $('ul.tabs1 li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs1 li').removeClass('current');
        $('.tab-content1').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
      })

    })
  </script>

  <script>
    $(window).on('load', function () {
      $('.loader').fadeOut();
    });
  </script>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5HDZ7Z" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

</body>
{% endblock %}