<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>Let's Enjoy! 경주제반 </title>

</head>

{% block content %}
<br>

<div class="container">

  <!-- <form class="header__search" method="GET" action="{% url 'race_breakingnews' %}"> -->
  <form class="header__search" action="" method="POST">
    {% csrf_token %}
    <label>
      <fieldset align="center" style="width: 13rem;">
        <input type="radio" style="font-size:1.2rem; width:1.2rem; height:1.2rem; border:1px;" name="rcity" value="서울" {% if rcity == "서울" %} checked {% endif %} checked>&nbsp;서울
        &nbsp;
        <input type="radio" style="font-size:1.2rem; width:1.2rem; height:1.2rem; border:1px;" name="rcity" value="부산" {% if rcity == "부산" %} checked {% endif %}>&nbsp;부산
      </fieldset>

      &nbsp;&nbsp;

      <input style="width: 12rem; font-size: 1.4rem;" type="date" value={{fdate}} name="fdate" >

      <span>&nbsp;&nbsp;&nbsp;경주번호:&nbsp;</span>
      <input style="text-align: center; width: 5.0rem; border-style: outset; font-size: 1.2rem;" type="number" min="1" max="99" step="1" value={{rno}} name="rno" >

      <span>&nbsp;&nbsp;&nbsp;출주두수:&nbsp;</span>
      <input style="text-align: center; width: 5.0rem; border-style: outset; font-size: 1.2rem;" type="number" min="1" max="99" step="1" value={{rcount}} name="rcount" >

      <span>&nbsp;&nbsp;&nbsp;📚&nbsp;데이터:&nbsp;</span>

      <select name="fdata" style="font-size:1.2rem; padding: 0.2rem;">
        <option value="-" {% if fdata == '-' %} selected {% endif %}>선택</option>
        
        <option value="마체중" {% if fdata == '마체중' %} selected {% endif %}>마체중</option>
        <option value="경주순위" {% if fdata == '경주순위' %} selected {% endif %}>경주순위</option>
        <option value="경주마취소" {% if fdata == '경주마취소' %} selected {% endif %}>경주마취소</option>
        <option value="기수변경" {% if fdata == '기수변경' %} selected {% endif %}>기수변경</option>
        <option value="수영조교" {% if fdata == '수영조교' %} selected {% endif %}>수영조교</option>
        <option value="말진료현황" {% if fdata == '말진료현황' %} selected {% endif %}>말진료현황</option>
        <option value="출전등록 시뮬레이션" {% if fdata == '출전등록 시뮬레이션' %} selected {% endif %}>출전등록 시뮬레이션</option>
        <option value="심판위원 Report" {% if fdata == '심판위원 Report' %} selected {% endif %}>심판위원 Report</option>

      </select>
    </label>

    

    <textarea name="r_content" rows="30" style="font-size: 1.1rem; position:relative; width: 100%; padding: 10px">{% if result_cnt > 0 %} {{fdata}} 총 {{result_cnt}} lines Convert 완료 {% endif %}


    Enter Your Text Here by Replacing it
    </textarea>

    <button class="btn btn--link" type="submit" style="font-size: 1.3rem;">💾&nbsp;Convert</button>

    <div class="form__action">
      <a class="btn btn--dark" onclick="window.close()">Close</a>
    </div>

  </form>


</div>



{% endblock content %}