<div class="topics">
  <div class="topics__header">
    <h2>Browse Race  <i color='white'>➲ Total {{racings.count}}R</i></h2>

    <a href="{% url 'home' %}">ALL</a> 
  </div>

  

  <ul class="topics__list">
    {% for racing in racings %}
    <li>
      <a href="{% url 'home' %}?q=토">{{racing.rdate|slice:"0:4" }}.{{racing.rdate|slice:"4:6" }}.{{racing.rdate|slice:"6:8" }} ({{racing.rday}}) {{racing.rcity}} {{racing.rno}}R<span>{{racing.rcount}}</span></a>
    </li>
    {% endfor %}
  </ul>

  <a class="btn btn--link" href="{% url 'race' %}?q=서울">
    서울
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <title>chevron-down</title>
      <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
    </svg>
  </a>   
  <a class="btn btn--link" href="{% url 'race' %}?q=부산">
    부산
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <title>chevron-down</title>
      <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
    </svg>
  </a>
  <a class="btn btn--link" href="{% url 'race' %}?q=금">
    금
  </a>
  <a class="btn btn--link" href="{% url 'race' %}?q=토">
    토
  </a>
  <a class="btn btn--link" href="{% url 'race' %}?q=일">
    일
  </a>
</div>