<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>Let's Enjoy! - 프로그램 경마! 더더구나?! 경주결과</title>
</head>




{% load mathfilters %}
{% load humanize %}

{% block content %}

<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script>

<script>
  $(document).ready(function () {

    $('ul.tabs1 li').click(function () {
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs1 li').removeClass('current');
      $('.tab-content1').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    })

  })
</script>

<!-- <main class="create-room layout"> -->
<main class="create-room layout">
  <div class="room">

    <!-- Room Start -->
    <div class="room">


      <hr style="border: solid 1px black;">

      <ul class="tabs1" style="font-size: 1.4rem;">
        <li class="tab-link current" data-tab="tab-11" style="padding: 4px 25px;">경주 예상순위</li>
        <li class="tab-link" data-tab="tab-12" style="padding: 4px 25px;">조교현황</li>
        <li class="tab-link" data-tab="tab-13" style="padding: 4px 25px;">재결사항</li>
      </ul>

      <div id="tab-11" class="tab-content1 current">


      </div>

      <div id="tab-12" class="tab-content1">

        <table class="fold-table">
          <thead>
        
            <tr>
              <th rowspan="2" style="padding: 1.18rem;"><span class="visible-small" title="Jockey">예상<br>순위</span><span class="visible-big">예상<br>순위</span></th>
              <th rowspan="2" style="padding: 1.18rem;"><span class="visible-small" title="Jockey">마번</span><span class="visible-big">마번</span></th>
              <th rowspan="2" style="padding: 1.18rem;"><span class="visible-small" title="Jockey">Horse</span><span class="visible-big">Horse</span></th>
              <th rowspan="1"><span class="visible-small" title="Jockey">기수</span><span class="visible-big">기수</span></th>
              <th rowspan="1"><span class="visible-small" title="Jockey">Tot</span><span class="visible-big">Tot</span></th>
              <!-- <th rowspan="2"><span class="visible-small" title="Jockey">일<br>평균</span><span class="visible-big">일<br>평균</span></th> -->
              <th rowspan="1"><span class="visible-small" title="Jockey">D-1</span><span class="visible-big">D-1</span></th>
              <th rowspan="1"><span class="visible-small" title="Jockey">D-2</span><span class="visible-big">D-2</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth1">D-3</span><span class="visible-big">D-3</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth2">D-4</span><span class="visible-big">D-4</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">D-5</span><span class="visible-big">D-5</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">D-6</span><span class="visible-big">D-6</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">D-7</span><span class="visible-big">D-7</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">D-8</span><span class="visible-big">D-8</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">D-9</span><span class="visible-big">D-9</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">D-10</span><span class="visible-big">D-10</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">D-11</span><span class="visible-big">D-11</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">D-12</span><span class="visible-big">D-12</span></th>
              <!-- <th rowspan="2"><span class="visible-small" title="rmonth3">D-12</span><span class="visible-big">D-12</span></th>
              <th rowspan="2"><span class="visible-small" title="rmonth3">D-13</span><span class="visible-big">D-13</span></th> -->
            </tr>
            <tr>
              
              <th><span class="visible-small" title="Jockey">조교사</span><span class="visible-big">조교사</span></th>
              <th rowspan="1"><span class="visible-small" title="Jockey">Avg</span><span class="visible-big">Avg</span></th>
              <th rowspan="1"><span class="visible-small" title="Jockey">T/C/S</span><span class="visible-big">T/C/S</span></th>
              <th rowspan="1"><span class="visible-small" title="Jockey">T/C/S</span><span class="visible-big">T/C/S</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth1">T/C/S</span><span class="visible-big">T/C/S</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth2">T/C/S</span><span class="visible-big">T/C/S</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">T/C/S</span><span class="visible-big">T/C/S</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">T/C/S</span><span class="visible-big">T/C/S</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">T/C/S</span><span class="visible-big">T/C/S</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">T/C/S</span><span class="visible-big">T/C/S</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">T/C/S</span><span class="visible-big">T/C/S</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">T/C/S</span><span class="visible-big">T/C/S</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">T/C/S</span><span class="visible-big">T/C/S</span></th>
              <th rowspan="1"><span class="visible-small" title="rmonth3">T/C/S</span><span class="visible-big">T/C/S</span></th>
              
            </tr>
        
          </thead>
          <tbody>
            {% for rdate, gate, rank, r_rank, horse, jockey, trainer, r1, d1, c1, s1, r2, d2, c2, s2, r3, d3, c3, s3, r4, d4, c4, s4, r5, d5, c5, s5, r6, d6, c6, s6, r7, d7, c7, s7, r8, d8, c8, s8, r9, d9, c9, s9, r10, d10, c10, s10, r11, d11, c11, s11, r12, d12, c12, s12, r13, d13, c13, s13, r14, d14, c14, s14 in train %}
            {% if rdate == %}
            <tr class="view">

              <td align="center">
                <div style="font-family: Arial; font-size:1.4rem; color:var(--color-main-light);">
                  {{rank}}
                </div>
              </td>

              <td>
                <div align="center" style="font-family: Arial; font-size:1.4rem;">
                {% if rank == 1 %}
                <span style="font-style: italic; color:var(--color-r1); font-weight: 700;">
                  {{gate}}
                </span>
                {% elif rank == 2 %}
                <span style="font-style: italic; color:var(--color-r2); font-weight: 700;">
                  {{gate}}
                </span>
                {% elif rank == 3 %}
                <span style="font-style: italic; color:var(--color-r3); font-weight: 700;">
                  {{gate}}
                </span>
                {% elif rank == 4 %}
                <span style="font-style: italic; color:var(--color-r4); font-weight: 700;">
                  {{gate}}
                </span>
                {% elif rank == 5 %}
                <span style="font-style: italic; color:var(--color-r5); font-weight: 700;">
                  {{gate}}
                </span>
                {% else %}
                <span style="font-style: normal;">
                  {{gate}}
                </span>
                {% endif %}
                
                </div>
              </td>

              <td>
                <div align="left" style="font-family: Arial; font-size:1.3rem;">
                {% if rank == 1 %}
                <span style="font-style: italic; color:var(--color-r1); font-weight: 700;">
                  {{horse}}
                </span>
                {% elif rank == 2 %}
                <span style="font-style: italic; color:var(--color-r2); font-weight: 700;">
                  {{horse}}
                </span>
                {% elif rank == 3 %}
                <span style="font-style: italic; color:var(--color-r3); font-weight: 700;">
                  {{horse}}
                </span>
                {% elif rank == 4 %}
                <span style="font-style: italic; color:var(--color-r4); font-weight: 700;">
                  {{horse}}
                </span>
                {% elif rank == 5 %}
                <span style="font-style: italic; color:var(--color-r5); font-weight: 700;">
                  {{horse}}
                </span>
                {% else %}
                <span style="font-style: normal;">
                  {{horse}}
                </span>
                {% endif %}
                </div>
              </td>

              <td align="center">
                <div style="font-family: Arial; font-size:1.3rem; font-weight: 400;">{{jockey}}</div>
                <div style="font-family: Arial; font-size:1.3rem; color:var(--color-gray); font-weight: 400;">{{trainer}}</div>
              </td>

              <td align="center">
                <div style="font-family: Arial; font-size:1.3rem;">
                  {{d1|add:d2|add:d3|add:d4|add:d5|add:d6|add:d7|add:d8|add:d9|add:d10|add:d11|add:d12|add:d13|add:d14}}
                </div>

                <div style="font-family: Arial; font-size:1.3rem;">
                  <span style="font-family: Arial; color:var(--color-r4);">{{d1|add:d2|add:d3|add:d4|add:d5|add:d6|add:d7|add:d8|add:d9|add:d10|add:d11|add:d12|add:d13|add:d14|div:12|floatformat:0}}</span>
                  <span style="font-family: Arial; color:tomato">{{s1|add:s2|add:s3|add:s4|add:s5|add:s6|add:s7|add:s8|add:s9|add:s10|add:s11|add:s12|add:s13|add:s14}}</span>
                </div>
              </td>

              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r1 == '조' %}
                  <span style="color:red;">{{r1}}</span>
                  {% else %}
                    {% if r1|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r1|slice:"-2:"}}</span>
                    {% elif r1|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r1|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r1 == '관' %}
                      <span style="color:var(--color-gray);">{{r1|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r1|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d1 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d1}}</span>
                    {% if c1 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c1}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c1}}</span>
                    {% endif %}
                    {% if s1 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s1}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s1}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r2 == '조' %}
                  <span style="color:red;">{{r2}}</span>
                  {% else %}
                    {% if r2|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r2|slice:"-2:"}}</span>
                    {% elif r2|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r2|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r2 == '관' %}
                      <span style="color:var(--color-gray);">{{r2|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r2|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d2 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d2}}</span>
                    {% if c2 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c2}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c2}}</span>
                    {% endif %}
                    {% if s2 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s2}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s2}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r3 == '조' %}
                  <span style="color:red;">{{r3}}</span>
                  {% else %}
                    {% if r3|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r3|slice:"-2:"}}</span>
                    {% elif r3|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r3|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r3 == '관' %}
                      <span style="color:var(--color-gray);">{{r3|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r3|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d3 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d3}}</span>
                    {% if c3 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c3}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c3}}</span>
                    {% endif %}
                    {% if s3 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s3}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s3}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r4 == '조' %}
                  <span style="color:red;">{{r4}}</span>
                  {% else %}
                    {% if r4|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r4|slice:"-2:"}}</span>
                    {% elif r4|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r4|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r4 == '관' %}
                      <span style="color:var(--color-gray);">{{r4|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r4|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d4 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d4}}</span>
                    {% if c4 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c4}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c4}}</span>
                    {% endif %}
                    {% if s4 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s4}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s4}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r5 == '조' %}
                  <span style="color:red;">{{r5}}</span>
                  {% else %}
                    {% if r5|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r5|slice:"-2:"}}</span>
                    {% elif r5|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r5|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r5 == '관' %}
                      <span style="color:var(--color-gray);">{{r5|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r5|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d5 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d5}}</span>
                    {% if c5 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c5}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c5}}</span>
                    {% endif %}
                    {% if s5 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s5}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s5}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r6 == '조' %}
                  <span style="color:red;">{{r6}}</span>
                  {% else %}
                    {% if r6|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r6|slice:"-2:"}}</span>
                    {% elif r6|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r6|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r6 == '관' %}
                      <span style="color:var(--color-gray);">{{r6|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r6|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d6 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d6}}</span>
                    {% if c6 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c6}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c6}}</span>
                    {% endif %}
                    {% if s6 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s6}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s6}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r7 == '조' %}
                  <span style="color:red;">{{r7}}</span>
                  {% else %}
                    {% if r7|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r7|slice:"-2:"}}</span>
                    {% elif r7|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r7|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r7 == '관' %}
                      <span style="color:var(--color-gray);">{{r7|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r7|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d7 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d7}}</span>
                    {% if c7 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c7}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c7}}</span>
                    {% endif %}
                    {% if s7 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s7}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s7}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r8 == '조' %}
                  <span style="color:red;">{{r8}}</span>
                  {% else %}
                    {% if r8|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r8|slice:"-2:"}}</span>
                    {% elif r8|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r8|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r8 == '관' %}
                      <span style="color:var(--color-gray);">{{r8|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r8|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d8 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d8}}</span>
                    {% if c8 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c8}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c8}}</span>
                    {% endif %}
                    {% if s8 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s8}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s8}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r9 == '조' %}
                  <span style="color:red;">{{r9}}</span>
                  {% else %}
                    {% if r9|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r9|slice:"-2:"}}</span>
                    {% elif r9|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r9|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r9 == '관' %}
                      <span style="color:var(--color-gray);">{{r9|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r9|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d9 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d9}}</span>
                    {% if c9 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c9}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c9}}</span>
                    {% endif %}
                    {% if s9 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s9}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s9}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r10 == '조' %}
                  <span style="color:red;">{{r10}}</span>
                  {% else %}
                    {% if r10|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r10|slice:"-2:"}}</span>
                    {% elif r10|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r10|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r10 == '관' %}
                      <span style="color:var(--color-gray);">{{r10|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r10|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d10 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d10}}</span>
                    {% if c10 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c10}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c10}}</span>
                    {% endif %}
                    {% if s10 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s10}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s10}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r11 == '조' %}
                  <span style="color:red;">{{r11}}</span>
                  {% else %}
                    {% if r11|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r11|slice:"-2:"}}</span>
                    {% elif r11|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r11|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r11 == '관' %}
                      <span style="color:var(--color-gray);">{{r11|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r11|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d11 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d11}}</span>
                    {% if c11 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c11}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c11}}</span>
                    {% endif %}
                    {% if s11 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s11}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s11}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              <td>                
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if r12 == '조' %}
                  <span style="color:red;">{{r12}}</span>
                  {% else %}
                    {% if r12|slice:"-3:" == jockey|slice:"-3:" %}
                    <span style="color:tomato;">{{r12|slice:"-2:"}}</span>
                    {% elif r12|slice:"-3:" == '(트)' %}
                    <span style="color:yellow">{{r12|slice:"0:3"|slice:"-2:"}}</span>
                    {% else %}
                      {% if r12 == '관' %}
                      <span style="color:var(--color-gray);">{{r12|slice:"-2:"}}</span>
                      {% else %}
                      <span style="color:var(--color-r5);">{{r12|slice:"-2:"}}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <div align="center" style="font-family: Arial; font-size:1.2rem;">
                  {% if d12 == 0 %}-
                  {% else %}
                    <span style="font-family: Arial; font-size:1.2rem;">{{d12}}</span>
                    {% if c12 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{c12}}</span>
                    {% else %}
                    <span style="font-family: Arial; font-size:1.2rem; font-weight: 700;">{{c12}}</span>
                    {% endif %}
                    {% if s12 == 0 %}
                    <span style="font-family: Arial; font-size:1.2rem; color:var(--color-gray);">{{s12}}</span>
                    {% else %}
                    <span class="blink" style="font-family: Arial; font-size:1.2rem; font-weight: 700; color:tomato;">{{s12}}</span>
                    {% endif %}
                  {%endif%}
                </div>
              </td>
              

            </tr>
            <tr class="fold">
              <td colspan="17">
                <div class="fold-content">
                  <table>
                    <thead>
                      <tr>
                        <th colspan="3" rowspan="1"><span class="visible-small" style="color:var(--color-r5);">🐴&nbsp;&nbsp;{{horse}}</span><span class="visible-big" style="color:var(--color-r5);">🐴&nbsp;&nbsp;{{horse}}</span></th>
                        <th><span class="visible-small" title="Insurance number">마체중</span><span class="visible-big">마체중</span></th>

                        <th><span class="visible-small" title="Insurance number">기수</span><span class="visible-big">기수</span></th>
                        <th><span class="visible-small" title="Insurance number">경주전개 기록</span><span class="visible-big">복승율</span></th>
                        <th rowspan="2"><span class="visible-small" title="Insurance number">Dist.</span><span class="visible-big">Dist.</span></th>
                        <th rowspan="2"><span class="visible-small" title="Insurance number">날씨</span><span class="visible-big">날씨</span></th>
                        <th colspan="5"><span class="visible-small" title="Insurance number">경주전개 기록</span><span class="visible-big">경주전개 기록</span></th>
                        <th rowspan="2"><span class="visible-small" title="Current">s1f</span><span class="visible-big">마<br>번</span></th>
                        <th rowspan="2"><span class="visible-small" title="Current">s1f</span><span class="visible-big">코너 전개</span></th>
                        <th rowspan="2"><span class="visible-small" title="Current">s1f</span><span class="visible-big">순<br>위</span></th>
                        <th rowspan="2"><span class="visible-small" title="Current">s1f</span><span class="visible-big">착<br>차</span></th>
                        <th><span class="visible-small" title="Current">단식</span><span class="visible-big">단식</span></th>
                        
                      </tr>
                      <tr>
                        <th colspan="3" rowspan="1"><span class="visible-small" title="t_rday">경주정보</span><span class="visible-big">경주정보</span></th>
                        
                        <th><span class="visible-small" title="Insurance number">부담중량</span><span class="visible-big">부담중량</span></th>

                        <th><span class="visible-small" title="Insurance number">마방</span><span class="visible-big">마방</span></th>
                        <th><span class="visible-small" title="Insurance number">Rate</span><span class="visible-big">Rate</span></th>
                        
                        <th><span class="visible-small" title="Current">s1f</span><span class="visible-big">S1F</span></th>
                        <th><span class="visible-small" title="Current">s1f</span><span class="visible-big">G3F</span></th>
                        <th><span class="visible-small" title="Current">s1f</span><span class="visible-big">G2F</span></th>
                        <th><span class="visible-small" title="Current">s1f</span><span class="visible-big">G1F</span></th>
                        <th rowspan="1"><span class="visible-small" title="Current">기록</span><span class="visible-big">기록</span></th>


                        <th><span class="visible-small" title="Current">s1f</span><span class="visible-big">연식</span></th>
                      </tr>


                    </thead>
                    <tbody>
                      {% for hr in hr_records %}
                      {% if horse == hr.horse and hr.grade != '주행검사' %}

                      <tr align="center" style="font-size: 1.2rem;;">
                        <td>
                          <a href="http://kra.fiveplayer.co.kr/player.php?f={{hr.rdate}}/{% if hr.rcity == '서울' %}s{%else%}b{%endif%}{{hr.rno}}r"
                            onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;">
                          🖥️
                          </a>
                        </td>
                        <td align="center" >

                          <a href="{% url 'race_train' hr.rcity hr.rdate hr.rno hr.horse 0 %}"
                            onclick="window.open(this.href, '_blank', 'width=920, height=1000, toolbars=no, scrollbars=yes'); return false;">
                            <div style="font-size: 1.2rem; font-family: Arial, sans-serif; font-weight: 500; color:ve(--color-main); text-align: left; ">
                              '{{hr.rdate|slice:"2:4" }}.{{hr.rdate|slice:"4:6" }}.{{hr.rdate|slice:"6:8"}}<br>
                            </div>
                            <div style="font-size: 1.1rem; font-family: Arial, sans-serif; color:var(--color-main); font-weight: 500; text-align: right;">
                              {{hr.rcity}}﹆{{hr.rno}}ᴿ
                            </div>
                          </a>
                        </td>
                        
                        <td align="center" data-th="경주 번호"  style="font-size: 1.2rem">
                          {% if hr.grade|slice:"0:2" == '주행'%}
                            <div style="font-size: 1.05rem; text-align: left">{{hr.grade|slice:"0:2"}}</div>
                          {%else%}
                            <div style="font-size: 1.05rem; text-align: left">{{hr.grade|slice:"0:2"}}</div>
                            <div style="font-size: 1.05rem; text-align: right">{{hr.dividing|slice:"0:2"}}</div>
                          {%endif%}

                        </td>

                        
                        <td style="font-size: 1.2rem;">
                          <div style="text-align:left; font-family: Arial;">
                            <span>{{hr.h_weight}}㎏</span>
                            {% if hr.w_change|slice:"0:1" == '-' %}
                            <span style="font-family: Arial; color:var(--color-r1); font-weight: 500;">{{hr.w_change}}</span>
                            {% else %}
                            <span style="font-family: Arial; color:var(--color-r5); font-weight: 500;">{{hr.w_change}}</span>
                            {% endif %}
                          </div>
                          <div style="text-align:right; color:rgb(0, 128, 255); font-weight: 500; font-family: Arial;">{{hr.handycap}}</div>
                        </td>

                        <td style="font-size: 1.2rem">
                          {% if r.jockey == hr.jockey %}
                          <div style="color:var(--color-r1); font-weight: 500; text-align: left;">{{hr.jockey}}</div>
                          {%else%}
                          <div style="text-align: left;">{{hr.jockey}}</div>
                          {%endif%}
                          {% if r.trainer == hr.trainer %}
                          <div style="text-align: right;">{{hr.trainer}}</div>
                          {%else%}
                          <div style="color:var(--color-r1);  text-align: right;">{{hr.trainer}}</div>
                          {%endif%}
                        </td>
                        <td align = 'right'>
                          <div style="font-family: Arial;">{{hr.jockey_w|floatformat:1}}</div>
                          <div style="color:var(--color-r1); font-family: Arial;">r {{hr.rating}}</div>
                        </td>
                        
                        <td style="font-size: 1.2rem; font-family: Arial; font-weight: 500; font-style: italic;">
                          {% if r_condition.distance == hr.distance %}
                          <div style="color:rgb(0, 128, 255); font-weight: 500; text-align: left;">{{hr.distance}}</div>
                          {%else%}
                          <div>{{hr.distance}}</div>
                          {%endif%}
                          <div style="color:rgb(0, 128, 255); font-size: 1.2rem; text-align: right;">ᵐ</div>
                        </td>

                        <td data-th="경주마" style="font-size: 1.2rem">
                          <div style="text-align:right; font-family: Arial;">
                            {% if hr.weather == '맑음' %}☀️
                            {% elif hr.weather == '흐림' %}☁️
                            {% elif hr.weather == '비' %}☔️
                            {% elif hr.weather == '눈' %}☃️
                            {% else %}-
                            {% endif %}
                          </div>
                          <div style="text-align:left; font-family: Arial; font-size: 1.1rem;">{{hr.rstate}}&nbsp;{{hr.rmoisture}}</div>
                        </td>
                        
                        
                        <td style="font-size: 1.2rem;">
                          {% if hr.rs1f %}
                            {% if r_condition.distance == hr.distance %}
                            <div style="color:rgb(0, 128, 255); font-weight: 500; font-family: Arial;">{{hr.rs1f|slice:"-4:"}}</div>
                            {%else%}
                            <div>{{hr.rs1f|slice:"-4:"}}</div>
                            {%endif%}
                          {%endif%}
                            
                          
                        </td>
                        <td style="font-size: 1.2rem;">
                          
                          {% if hr.rg3f %}
                            {% if r_condition.distance == hr.distance %}
                            <div style="color:rgb(0, 128, 255); font-weight: 500; font-family: Arial;">{{hr.rg3f|slice:"-4:"}}</div>
                            {%else%}
                            <div>{{hr.rg3f|slice:"-4:"}}</div>
                            {%endif%}
                          {% endif %}
                            
                          
                        </td>
                        <td style="font-size: 1.2rem;">
                          {% if hr.rg2f %}
                            {% if r_condition.distance == hr.distance %}
                            <div style="color:rgb(0, 128, 255); font-weight: 500; font-family: Arial;">{{hr.rg2f|slice:"-4:"}}</div>
                            {%else%}
                            <div>{{hr.rg2f|slice:"-4:"}}</div>
                            {%endif%}
                          {% endif %}
                            
                          
                        </td>
                        <td style="font-size: 1.2rem;">
                          {% if hr.rg1f %}
                            {% if r_condition.distance == hr.distance %}
                            <div style="color:rgb(0, 128, 255); font-weight: 500; font-family: Arial;">{{hr.rg1f|slice:"-4:"}}</div>
                            {%else%}
                            <div>{{hr.rg1f|slice:"-4:"}}</div>
                            {%endif%}
                          {% endif %}
                            
                          
                        </td>
                        <td>
                          {% if hr.rank == 1 %}
                          <span style="font-style: italic; color:var(--color-r1); font-weight: 500; font-size: 1.25rem; font-family: Arial;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.record|slice:"0:1"}}&nbsp;{{hr.record|slice:"1:6"}} {% endif %}
                          </span>
                          {% elif hr.rank == 2 %}
                          <span style="font-style: italic; color:var(--color-r2); font-weight: 500; font-size: 1.2rem; font-family: Arial;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.record|slice:"0:1"}}&nbsp;{{hr.record|slice:"1:6"}} {% endif %}
                          </span>
                          {% elif hr.rank == 3 %}
                          <span style="font-style: italic; color:var(--color-r3); font-weight: 500; font-size: 1.2rem; font-family: Arial;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.record|slice:"0:1"}}&nbsp;{{hr.record|slice:"1:6"}} {% endif %}
                          </span>
                          
                          {% else %}
                          <span style="font-size: 1.2rem; font-family: Arial;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.record|slice:"0:1"}}&nbsp;{{hr.record|slice:"1:6"}} {% endif %}
                          </span>
                          {% endif %}

                        </td>
                        
                        <td style="font-size: 1.3rem;">
                          {% if hr.rank == 1 %}
                          <span style="font-style: italic; color:var(--color-r1); font-weight: 500; font-size: 1.25rem; font-family: Arial;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.gate}} {% endif %}
                          </span>
                          {% elif hr.rank == 2 %}
                          <span style="font-style: italic; color:var(--color-r2); font-weight: 500; font-size: 1.2rem; font-family: Arial;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.gate}} {% endif %}
                          </span>
                          {% elif hr.rank == 3 %}
                          <span style="font-style: italic; color:var(--color-r3); font-weight: 500; font-size: 1.2rem; font-family: Arial;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.gate}} {% endif %}
                          </span>
                          
                          {% else %}
                          <span style="font-style: normal; font-family: Arial;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.gate}} {% endif %}
                          </span>
                          {% endif %}

                        </td>
                        <td style="font-size: 1.15rem; font-family: Arial;">
                            <div style="color:rgb(0, 128, 255); font-weight: 400; text-align: left; font-style: italic;">
                              {{hr.corners|slice:"0:8"}}
                            </div>
                            <div style="color:rgb(0, 128, 255); font-weight: 400; text-align: right; font-style: italic;">
                              {{hr.corners|slice:"9:20"}}
                            </div>
                        </td>
                        <td style="font-size: 1.2rem; font-family: Arial;">
                          {% if hr.rank == 1 %}
                          <span style="font-style: italic; color:var(--color-r1); font-weight: 500; font-size: 1.4rem;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.rank}} {% endif %}
                          </span>
                          {% elif hr.rank == 2 %}
                          <span style="font-style: italic; color:var(--color-r2); font-weight: 500; font-size: 1.4rem;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.rank}} {% endif %}
                          </span>
                          {% elif hr.rank == 3 %}
                          <span style="font-style: italic; color:var(--color-r3); font-weight: 500; font-size: 1.4rem;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.rank}} {% endif %}
                          </span>
                          
                          {% else %}
                          <span style="font-style: normal;">
                            {% if hr.rank > 20 %}﹆{% else %} {{hr.rank}} {% endif %}
                          </span>
                          {% endif %}
                        </td>

                        <td style="font-size: 1.2rem;">
                        {% if hr.alloc1r != None %}
                          {% if r_condition.distance == hr.distance %}<div style="color:rgb(0, 128, 255); font-weight: 500; font-family: Arial;">{%else%}<div>{%endif%}
                              {{hr.gap}}</div>
                        {%endif%}
                        </td>
                        <td align="right" style="font-size: 1.2rem; font-family: Arial;">
                        {% if hr.alloc1r != None %}
                          {% if r_condition.distance == hr.distance %}
                            <div style="color:rgb(0, 128, 255); font-weight: 500; font-family: Arial;">
                          {%else%}
                            <div style="font-family: Arial;">
                          {%endif%}
                            {{hr.alloc1r}}<br>{{hr.alloc3r}}</div>
                        {%else%}
                        
                        {%endif%}
                        </td>
                        <td align="left" style="font-size: 1.1rem;">
                        {% if hr.gear1 != None %}
                          {% if r_condition.distance == hr.distance %}
                            <div style="color:rgb(0, 128, 255); font-weight: 500; font-family: Arial, sans-serif;">
                          {%else%}
                            <div>
                          {%endif%}
                            {{hr.gear1|slice:"0:4"}}<br>{{hr.gear2|slice:"0:4"}}</div>
                        {%else%}
                        
                        {%endif%}
                        </td>
                        
                      </tr>
                      {%endif%}

                      {% endfor %}

                    </tbody>
                  </table>
                </div>
                
              </td>
            </tr>
            {% endfor %}      
        
          </tbody>
        </table>

      </div>

      <div id="tab-13" class="tab-content1">


      </div>

    </div>
    <!-- Room End -->

    <!-- activities Start -->

    <!-- Activity End -->

  </div>



</main>
{% endblock %}

</html>