<!DOCTYPE html>
{% load static %}

{% load mathfilters %}
{% load humanize %}

<html lang="en">

<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>
  <!-- End Google tag -->
  
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/number-9.png' %}" />

  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>'{{r_condition.rdate|slice:"2:4"}}.{{r_condition.rdate|slice:"4:6"}}.{{r_condition.rdate|slice:"6:8"}}&nbsp;{{r_condition.rcity}}&nbsp;{{r_condition.rno}}경주 🏇 축마 Check&nbsp;</title>

</head>


<body>
  <table>
    <thead>
      <tr>
        <th colspan="5" style="text-align: left; font-size: 1.55rem;">
          <div style="font-size: 1.7rem; padding-bottom: 10px;">📌&nbsp;&nbsp;{{exp011s.gate}}번&nbsp;&nbsp;{{exp011s.jockey}}&nbsp;(최근 999일)</div>
          <div style="font-size: 1.5rem; font-family: Arial;">기수 Gate별 연승률</div>
          <div style="font-size: 1.5rem; font-family: Arial; color:var(--color-r3)">기수 S1F 선두권 일때(3위 이내)</div>
          <div style="font-size: 1.5rem; font-family: Arial; color:var(--color-r1); text-transform: none;">경주마 S1F Rank {{exp011s.s1f_rank}}&nbsp;±&nbsp;1</div>
          <div style="font-size: 1.5rem; font-family: Arial; color:var(--color-r5)">경주거리 {{r_condition.distance}}m</div>
        </th>
      </tr>
      <tr>
        <th style="font-family: Arial; font-size: 1.5rem;">Gate</th>
        <th style="font-family: Arial; font-size: 1.5rem;">Remark</th>
        <th style="font-family: Arial; font-size: 1.5rem;">cnt</th>
        <th style="font-family: Arial; font-size: 1.5rem;">3위권</th>
        <th style="font-family: Arial; font-size: 1.5rem;">3위%</th>
      </tr>
    </thead>
    <tbody>
      {% for gate, cnt, w3rd, w3per, i_cnt, i_w3rd, i_w3per, i2_cnt, i2_w3rd, i2_w3per, i3_cnt, i3_w3rd, i3_w3per  in axis %}
      <tr style="font-weight: normal;">
        {% if gate|mul:1 == exp011s.gate %}
        <td style="text-align: right; background-color: var(--color-dark-medium);">
          <div style="font-family: Arial; font-size: 1.5rem;">{{gate}}</div>
        </td>
        <td style="text-align: right; background-color: var(--color-dark-medium);">
          <div style="font-family: Arial; font-size: 1.5rem;">&nbsp;</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r3);">s1f 선두권</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r4);">{{exp011s.s1f_rank}}&nbsp;±&nbsp;1</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r5);">{{r_condition.distance}}</div>
        </td>
        <td style="text-align: right; background-color: var(--color-dark-medium);">
          <div style="font-family: Arial; font-size: 1.5rem;">{{cnt}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r3);">{{i_cnt}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r1);">
            <span style="font-family: Arial;">&nbsp;&nbsp;{{i2_cnt}}</span>
          </div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r5);">{{i3_cnt}}</div>
        </td>
        <td style="text-align: right; background-color: var(--color-dark-medium);">
          <div style="font-family: Arial; font-size: 1.5rem;">{{w3rd}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r3);">{{i_w3rd}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r1);">{{i2_w3rd}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r5);">{{i3_w3rd}}</div>
        </td>
        <td style="text-align: right; background-color: var(--color-dark-medium);">
          <div style="font-family: Arial; font-size: 1.5rem;">{{w3per|floatformat:1}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r3);">{% if i_w3rd == 0 %}-{% else %}{{i_w3per|floatformat:1}}{% endif %}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r1);">{% if i2_w3rd == 0 %}-{% else %}{{i2_w3per|floatformat:1}}{% endif %}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r5);">{% if i3_w3rd == 0 %}-{% else %}{{i3_w3per|floatformat:1}}{% endif %}</div>
        </td>
        {% elif gate == 'TOT' %}
        <td style="text-align: right; background-color: var(--color-dark);">
          <div style="font-family: Arial; font-size: 1.5rem;">{{gate}}</div>
        </td>
        <td style="text-align: right; background-color: var(--color-dark);">
          <div style="font-family: Arial; font-size: 1.5rem;">&nbsp;</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r3);">s1f 선두권</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r4);">{{exp011s.s1f_rank}}&nbsp;±&nbsp;1</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r5);">{{r_condition.distance}}</div>
        </td>
        <td style="text-align: right; background-color: var(--color-dark);">
          <div style="font-family: Arial; font-size: 1.5rem;">{{cnt}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r3);">{{i_cnt}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r1);">
            <span style="font-family: Arial;">&nbsp;&nbsp;{{i2_cnt}}</span>
          </div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r5);">{{i3_cnt}}</div>
        </td>
        <td style="text-align: right; background-color: var(--color-dark);">
          <div style="font-family: Arial; font-size: 1.5rem;">{{w3rd}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r3);">{{i_w3rd}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r1);">{{i2_w3rd}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r5);">{{i3_w3rd}}</div>
        </td>
        <td style="text-align: right; background-color: var(--color-dark);">
          <div style="font-family: Arial; font-size: 1.5rem;">{{w3per|floatformat:1}}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r3);">{% if i_w3rd == 0 %}-{% else %}{{i_w3per|floatformat:1}}{% endif %}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r1);">{% if i2_w3rd == 0 %}-{% else %}{{i2_w3per|floatformat:1}}{% endif %}</div>
          <div style="font-family: Arial; font-size: 1.5rem; color:var(--color-r5);">{% if i3_w3rd == 0 %}-{% else %}{{i3_w3per|floatformat:1}}{% endif %}</div>
        </td>
        
        {% else %}
        <td style="text-align: right;">
          <div style="font-family: Arial; font-size: 1.5rem;">{{gate}}</div>
        </td>
        <td>

        </td>
        <td style="text-align: right;">
          <div style="font-family: Arial; font-size: 1.5rem;">{{cnt}}</div>
        </td>
        <td style="text-align: right;">
          <div style="font-family: Arial; font-size: 1.5rem;">{{w3rd}}</div>
        </td>
        <td style="text-align: right;">
          <div style="font-family: Arial; font-size: 1.5rem;">{{w3per|floatformat:1}}</div>
        </td>
        
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>



</html>