<!DOCTYPE html>
{% load static %}
{% load my_custom_tags %}
{% load mathfilters %}
{% load humanize %}

<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>Let's Enjoy! - 프로그램 경마! 더더구나?!</title>

  <script>
    $(function () {
      // 테이블 행 접기 기능
      $(".fold-table tr.view").on("click", function () {
        if ($(this).hasClass("open")) {
          $(this).removeClass("open").next(".fold").removeClass("open");
        } else {
          $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
          $(this).addClass("open").next(".fold").addClass("open");
        }
      });
    });
  </script>
</head>

<body>
  <!-- ✅ 검색용 GET 폼 -->
  <header>
    <form class="header__search" method="GET" action="{% url 'race_calculation' %}">
      <label>
        <a href="{% url 'home' %}" class="header__logo">
          <img src="{% static 'images/number-9.png' %}" />
        </a>

        <input style="width: 12rem;" type="date" value={{fdate1}} name="q1" >
        <input style="width: 12rem;" type="date" value={{fdate2}} name="q2" >

        <button class="btn" style="background: var(--color-main);">Search</button>

        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </label>
    </form>
  </header>

  <main>
    <div style="width:800px; margin-top: 2px;">

      <!-- ✅ POST 실행용 폼 -->
      <form method="POST" enctype="multipart/form-data" action="{% url 'race_calculation' %}">

        <input type="checkbox" name="rcheck1" value="ON" checked />&nbsp;&nbsp;기준정보 집계여부&nbsp;&nbsp;&nbsp;&nbsp;
        {% csrf_token %}

        <!-- ✅ GET으로 검색한 q1, q2 값을 hidden input으로 넘김 -->
        <input type="hidden" name="rdate1" value="{{ rdate1 }}" name="rdate1">
        <input type="hidden" name="rdate2" value="{{ rdate2 }}" name="rdate2">

        <input type="hidden" name="q1" value={{fdate1}} name="q1" >
        <input type="hidden" name="q2" value={{fdate2}} name="q2" >

        <style>
          .btn {
            background-color: #87CEEB;
            padding: 5px 10px;
            margin: 5px;
            border: none;
            color: black;
            text-align: center;
            text-decoration: none;
            font-size: 1.4rem;
            display: inline-block;
            cursor: pointer;
            transition-duration: 0.4s;
          }
          .btn1, .btn2:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
                        0 6px 20px 0 rgba(0,0,0,0.19);
          }
        </style>

        <button class="btn btn1" type="submit">경주 집계</button>

        <table class="tt9dark-table">
          <thead>
            <tr>
              <th>선택</th>
              <th>경주일</th>
              <th>경마장</th>
              <th>경주번호</th>
              <th>경주등급</th>
              <th>경주거리</th>
              <th>출주마수</th>
            </tr>
          </thead>

          <tbody>
            {% for rcity, rdate, rno, grade, rname, distance, dividing, rcount in exp010s %}
            <tr class="view">
              <td align="center">
                                  <input type="checkbox" name="rcheck" value="1" checked />
              </td>
              <td>
              <div style="font-style: italic;">
                <a href="{% url 'race_prediction' rcity rdate rno 0 'awardee' %}" onclick="window.open(this.href, 'w_race_prediction', 'width=900, height=1000, top=0, left=0, toolbars=no, scrollbars=yes'); return false;">
                  <span class="tooltip">
                    {% if today <= rdate %}
                    <span style="font-size: 1.2rem; font-weight:normal; font-family: Arial; color: var(--color-r4); border-radius: 7px; background-color: var(--color-bg); padding: 2px 4px;">'{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                    {% else %}
                    <span style="font-size: 1.2rem; font-weight:normal; font-family: Arial;">'{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                    {% endif %}

                    <span style="font-size: 1.2rem; font-weight:normal; font-family: Arial; color:var(--color-light);">{{distance}}</span>

                    {% if 'OPEN' in grade %}
                    <span style="font-size: 1.2rem; font-family: Arial; color:var(--color-r1);">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                    {% else %}
                    <span style="font-size: 1.2rem; font-family: Arial;">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                    {% endif %}

                    <span class="tooltip-text" style="font-size: 1.2rem; font-weight:normal; text-align: left; z-index: 9;">
                      <span style="font-size: 1.2rem; font-weight:normal; padding-bottom: 0.5rem;">🐴&nbsp;Race Info.</span>
                      &nbsp;&nbsp;
                      <span style="font-size: 1.2rem; font-weight:normal; font-family: Arial;">{{rdate|slice:"0:4"}}.{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                      
                      <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <span style="font-size: 1.2rem; font-weight:normal;">{{dividing}}</span>
                    </span>
                  </span>
                </a>
              </div>
              </td>
              <td align="center">{{ distance }}</td>
              <td align="center">{{ rcount }}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>


      </form>

    </div>
  </main>
</body>
</html>