<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>Let's Race! 경주복기 </title>

</head>

{% block content %}
<br>

  <div class="container">
    <div>
      {% for rcity, rdate, rno, rank, gate, horse, r_start, r_corners, r_finish, r_wrapup, r_etc in rec011s %}
        {% if forloop.counter == 1 %}

        <div class="room__top">
          <div class="room__topLeft">
        
            <a href="{% url 'race_report' rcity rdate rno|add:-1 %}">
              <span class="tooltip" style="color:var(--color-main); font-size: 1.5rem;">◀︎
                <span class="tooltip-text" style="font-size:1.4rem; text-align: right; font-family: Arial; z-index: 3;">
                  이전 경주
                </span>
              </span>
            </a>
            <a href="{% url 'race_report' rcity rdate rno|add:1 %}">
              <span class="tooltip" style="color:var(--color-main); font-size: 1.5rem;">▶︎
                <span class="tooltip-text" style="font-size:1.4rem; text-align: right; font-family: Arial; z-index: 3;">
                  다음 경주
                </span>
              </span>
            </a>

            <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{rcity}}</span>
            <span
              style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{rdate|slice:"0:4"}}.{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
            
            <span style="font-size:1.7rem; color: var(--color-main); font-weight: 600;">{{rno}}R</span>
            <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{grade|slice:"0:2"}}</span>
            <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{dividing}}</span>
            <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{rname}} </span>
        
          </div>
        
        </div>
        
        {% endif %}
      {% endfor %}

      <div>
        <form class="form" action="" method="POST" enctype="multipart/form-data">
          
          <table class="table_common">

            <thead>
              <tr>
                <th width="5%">순위</th>
                <th width="5%">마번</th>
                <th width="15%">마명</th>
                <th width="15%">스타트</th>
                <th width="15%">코너전개</th>
                <th width="15%">결승주로</th>
                <th width="15%">총평</th>
                <th width="15%">More.</th>
              </tr>
                              
            </thead>

            <tbody>

              {% csrf_token %}
              {% for rcity, rdate, rno, rank, gate, horse, start, corners, finish, wrapup, etc in rec011s %}
              <tr class="tr_common">
                <td class="td_common" style="text-align: center;">{{rank}}</td>

                <td class="td_common" align="right">{{gate}}&nbsp;</td>
                <td align="left">{{horse}}</td>
              
                <td>
                  <select name="pop_{{gate}}" style="font-size: 1.2rem; width: 120px; border-radius: 5px;">
                    <option value="-" {% if start == '-' %} selected {% endif %}>&nbsp;</option>
                    {% for r_code, r_name in r_start %}
                    <option value="{{r_name}}" {% if start == r_name %} selected {% endif %}>{{r_name}}</option>
                    {% endfor %}
                  </select>
                </td>

                <td>
                  <select name="pop_{{gate}}" style="font-size: 1.2rem; width: 120px; border-radius: 5px;">
                    <option value="-" {% if corners == '-' %} selected {% endif %}>&nbsp;</option>
                    {% for r_code, r_name in r_corners %}
                    <option value="{{r_name}}" {% if corners == r_name %} selected {% endif %}>{{r_name}}</option>
                    {% endfor %}
                  </select>
                </td>

                <!-- <td class="td_common" align="center">
                  <input name="pop_{{race.gate}}" style="text-align:right; font-family: Arial;" type="number" min="0" max="100" step="1" value="{{race.r_rank}}" />
                </td> -->
                
              </tr>

              {% endfor %}
        
            </tbody>
          </table>
          <br>
          <style>
            .table_common {
              font-size: 1.4rem;
              font-family: Arial, Helvetica, sans-serif;
            }
      
            .td_common {
              font-family: Arial, Helvetica, sans-serif;
            }
            input {
              width: 60px;
              height: 24px;
              font-size: 1.3rem;
              border: 0;
              border-radius: 5px;
              outline: none;
              padding-right: 5px;
              background-color:lightgray;
            }
            textarea {
              padding: 10px;
            }
          </style>

          <div class="form__action">
            <a class="btn btn--dark" onclick="window.close()">Cancel</a>
            <button class="btn btn--main" type="submit">Update</button>
          </div>
        </form>
      </div>

    </div>

  </div>



{% endblock content %}