{% load humanize %}
{% load mathfilters %}

<script>
  $(document).ready(function () {

    $('ul.tabs1 li').click(function () {
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs1 li').removeClass('current');
      $('.tab-content1').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    })

  })
</script>

<div class="activities">

  <ul class="tabs1">
    <li class="tab-link current" data-tab="tab-right1">서울</li>
    <li class="tab-link" data-tab="tab-right2">부산</li>
    <li class="tab-link" data-tab="tab-right3">세번째 메뉴</li>
  </ul>

  <div id="tab-right1" class="tab-content1 current">

    <table class="fold-table">
      <thead>
        <tr>
          <th rowspan="1" colspan="2" align="center">🐳</th>
          <th colspan="5" align="center"><span style="color:var(--color-light-gray); font-weight:600;">입상기수(결과)</span></th>
        </tr>

        <tr>
          <th rowspan="1" colspan="2" align="center">경주번호</th>
          <th><span class="visible-small" title="rmonth3">1.</span><span class="visible-big">1.</span></th>
          <th><span class="visible-small" title="rmonth3">2.</span><span class="visible-big">2.</span></th>
          <th><span class="visible-small" title="rmonth3">3.</span><span class="visible-big">3.</span></th>
          
          <th><span class="visible-small" title="rmonth3">1.</span><span class="visible-big">4.</span></th>
          <th><span class="visible-small" title="rmonth3">2.</span><span class="visible-big">5.</span></th>
          
        </tr>
      </thead>

      <tbody>
        {% for r in r_results %}
        {% if r.rcity == '서울' %}
        <tr class="view" align="center">
          <td align="center">
            <a href="http://kra.fiveplayer.co.kr/player.php?f={{r.rdate}}/{% if r.rcity == '서울' %}s{%else%}b{%endif%}{{r.rno}}r"
              onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;">
              <span class="tooltip" style="font-size: 1.3rem; font-weight: 400;">{% if r.rday == 4 %}(금){% elif r.rday == 5 %}(토){%else%}(일){%endif%}
                <span class="tooltip-text">경주영상 보기</span></span>
            </a>
          </td>

          <td>
            <a href="{% url 'prediction_race' r.rcity r.rdate r.rno 0 'awardee' %}" style="text-align: right;">
              <span style="font-size: 1.4rem; font-weight: 400; color:var(--color-main)">{{r.rno}}ᴿ</span>
            </a>
          </td>

          <td>
            {% if r.r_r01 > 0 %} {# 경주결과가 입력되었을때 #}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r1);">{{r.r_jockey1|slice:"0:3"}}</span>
            {%else%}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r1)">-</span>
            {%endif%}
          </td>
          <td>
            {% if r.r_r01 > 0 %} {# 경주결과가 입력되었을때 #}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r2);">{{r.r_jockey2|slice:"0:3"}}</span>
            {%else%}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r2)">-</span>
            {%endif%}
          </td>
          <td>
            {% if r.r_r01 > 0 %} {# 경주결과가 입력되었을때 #}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r3);">{{r.r_jockey3|slice:"0:3"}}</span>
            {%else%}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r3)">-</span>
            {%endif%}
          </td>
          <td>
            {% if r.r_r01 > 0 %} {# 경주결과가 입력되었을때 #}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r4);">{{r.r_jockey4|slice:"0:3"}}</span>
            {%else%}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r4)">-</span>
            {%endif%}
          </td>
          <td>
            {% if r.r_r01 > 0 %} {# 경주결과가 입력되었을때 #}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r5);">{{r.r_jockey5|slice:"0:3"}}</span>
            {%else%}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r5)">-</span>
            {%endif%}
          </td>



          
        </tr>

        <tr class="fold">
          <td colspan="7">
            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr>
                    <th><span class="visible-small" title="Current">예상</span><span class="visible-big">예상</span></th>
                    <th><span class="visible-small" title="Customer name">마번</span><span class="visible-big">마번</span></th>
                    <th><span class="visible-small" title="Insurance number">경주마</span><span class="visible-big">경주마</span></th>
                    <th colspan="2"><span class="visible-small" title="Insurance number">부중</span><span class="visible-big">부중</span></th>
                    <th><span class="visible-small" title="Strategy">기수</span><span class="visible-big">기수</span></th>
                    <th><span class="visible-small" title="Strategy">조교사</span><span class="visible-big">조교사</span></th>
                    <th><span class="visible-small" title="Strategy">S1F</span><span class="visible-big">S1F</span></th>
                    <th><span class="visible-small" title="Strategy">G3F</span><span class="visible-big">G3F</span></th>
                    <th><span class="visible-small" title="Strategy">G2F</span><span class="visible-big">G2F</span></th>
                    <th><span class="visible-small" title="Strategy">G1F</span><span class="visible-big">G1F</span></th>
                    <th><span class="visible-small" title="Strategy">예상</span><span class="visible-big">예상</span></th>
                    
                    <th><span class="visible-small" title="Current">인기도</span><span class="visible-big">인기도</span></th>
                    
                    <th><span class="visible-small" title="Current">결과</span><span class="visible-big">결과</span></th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for rcity, awardee, rdate, rday, rno, gate, rank, r_rank, horse, remark, j_name, t_name, h_name, r_pop, distance, handycap, cs1f, cg3f, cg2f, cg1f, complex, i_pre in race_detail %}
                  {% if r.rcity == rcity and r.rdate == rdate and r.rno == rno  %}
                  <tr>
                    <td align="center" data-th="예상" style="font-size: 1.2rem;">
                      {% if rank == 98 %}신{%else%}
                        {% if rank == 1 %}
                        <span class="cur" style="color:var(--color-r1); font-weight: 600;">{{rank}}</span>
                        {% elif rank == 2 %}
                        <span class="cur" style="color:var(--color-r2); font-weight: 600;">{{rank}}</span>
                        {% elif rank == 3 %}
                        <span class="cur" style="color:var(--color-r3); font-weight: 600;">{{rank}}</span>
                        {% elif rank == 4 %}
                        <span class="cur" style="color:var(--color-r4); font-weight: 600;">{{rank}}</span>
                        {% elif rank == 5 %}
                        <span class="cur" style="color:var(--color-r5); font-weight: 600;">{{rank}}</span>
                        {% else %}
                        <span class="cur">{{rank}}</span>
                        {%endif%}
                      {%endif%}
                    </td>
                    <td align="center" data-th="Gate" style="font-size: 1.2rem;">
                      {% if rank == 1 %}
                      <span class="cur" style="color:var(--color-r1); font-weight: 600;">{{gate}}</span>
                      {% elif rank == 2 %}
                      <span class="cur" style="color:var(--color-r2); font-weight: 600;">{{gate}}</span>
                      {% elif rank == 3 %}
                      <span class="cur" style="color:var(--color-r3); font-weight: 600;">{{gate}}</span>
                      {% elif rank == 4 %}
                      <span class="cur" style="color:var(--color-r4); font-weight: 600;">{{gate}}</span>
                      {% elif rank == 5 %}
                      <span class="cur" style="color:var(--color-r5); font-weight: 600;">{{gate}}</span>
                      {% else %}
                      <span class="cur">{{gate}}</span>
                      {%endif%}
                    </td>
                    <td td align="left" data-th="경주마" style="font-size: 1.2rem;">
                      {% if rank == 1 %}
                      <span class="cur" style="color:var(--color-r1); font-weight: 600;">{{horse|slice:"0:4"}}</span>
                      {% elif rank == 2 %}
                      <span class="cur" style="color:var(--color-r2); font-weight: 600;">{{horse|slice:"0:4"}}</span>
                      {% elif rank == 3 %}
                      <span class="cur" style="color:var(--color-r3); font-weight: 600;">{{horse|slice:"0:4"}}</span>
                      {% elif rank == 4 %}
                      <span class="cur" style="color:var(--color-r4); font-weight: 600;">{{horse|slice:"0:4"}}</span>
                      {% elif rank == 5 %}
                      <span class="cur" style="color:var(--color-r5); font-weight: 600;">{{horse|slice:"0:4"}}</span>
                      {% else %}
                      <span class="cur">{{horse|slice:"0:4"}}</span>
                      {%endif%}
                    </td>

                    <td data-th="부중" style="font-size: 1.0rem">{{handycap}}</td>

                    <td data-th="전경주 대비 차" >
                      {% if i_pre > 0 %}
                      <span style="font-size: 1.0rem; color:var(--color-r5);" align="right">+{{i_pre}}</span>
                      {% elif i_pre < 0 %}
                      <span style="font-size: 1.0rem; color:var(--color-r1);" align="right">{{i_pre}}</span>
                      {% else %}
                      <span style="font-size: 1.0rem" align="right">-</span>
                      {% endif %}
                    </td>

                    <td data-th="기수" style="font-size: 1.2rem">{{j_name}}</td>
                    <td data-th="조교사" style="font-size: 1.2rem"><span class="cur">{{t_name}}</span></td>

                    <td data-th="S1F"><span style="font-size: 1.1rem; font-family: Arial">{{cs1f}}</span></td>
                    <td data-th="G3F"><span style="font-size: 1.1rem; font-family: Arial">{{cg3f}}</span></td>
                    <td data-th="G2F"><span style="font-size: 1.1rem; font-family: Arial">{{cg2f}}</span></td>
                    <td data-th="G1F"><span style="font-size: 1.1rem; font-family: Arial">{{cg1f}}</span></td>

                    <td td align="center" data-th="예상기록" style="font-size: 1.15rem;">
                      {% if rank == 1 %}
                      <span style="color:var(--color-r1); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {% elif rank == 2 %}
                      <span style="color:var(--color-r2); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {% elif rank == 3 %}
                      <span style="color:var(--color-r3); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {% elif rank == 4 %}
                      <span style="color:var(--color-r4); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {% elif rank == 5 %}
                      <span style="color:var(--color-r5); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {% else %}
                      <span style="color:var(--color-gray); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {%endif%}
                    </td>

                    <td align="center" data-th="인기도" style="font-size: 1.2rem">
                      <span style="color:blue">
                        <progress value={{r_pop}} max="100" style="width: 3rem"></progress>
                        <!-- {% if r_pop > 80 %}★
                        {% elif r_pop > 60 and r_pop <= 80 %}◎
                        {% elif r_pop > 40 and r_pop <= 60 %}○
                        {% elif r_pop > 20 and r_pop <= 20 %}▲
                        {% elif r_pop > 0 %}※
                        {% else %}−
                        {% endif %} -->
                      </span>
                    </td>

                    <td align="center" data-th="결과" style="font-size: 1.2rem">
                      <a href="http://kra.fiveplayer.co.kr/player.php?f={{rdate}}/{% if rcity == '서울' %}s{%else%}b{% endif %}{{rno}}r"
                        onclick="window.open(this.href, '_blank', 'width=800, height=600, toolbars=no, scrollbars=yes'); return false;">
                      {% if r_rank == 98 %}New{%else%}
                        {% if r_rank == 1 %}
                        <span class="cur" style="color:var(--color-r1); font-weight: 600;">{{r_rank}}</span>
                        {% elif r_rank == 2 %}
                        <span class="cur" style="color:var(--color-r2); font-weight: 600;">{{r_rank}}</span>
                        {% elif r_rank == 3 %}
                        <span class="cur" style="color:var(--color-r3); font-weight: 600;">{{r_rank}}</span>
                        {% else %}
                        <span class="cur">{{r_rank}}</span>
                        {%endif%}
                      {%endif%}
                    </td>
                    
                  </tr>
                  
                  {% endif %}
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </td>
        </tr>
     
        {%endif%}
        {% endfor %}
    
      </tbody>
    </table>

  </div>

  <div id="tab-right2" class="tab-content1">

    <table class="fold-table">
      <thead>
        <tr>
          <th rowspan="1" colspan="2" align="center">🐳</th>
          <th colspan="5" align="center"><span style="color:var(--color-light-gray); font-weight:600;">입상기수(결과)</span></th>
        </tr>

        <tr>
          <th rowspan="1" colspan="2" align="center">경주번호</th>
          <th><span class="visible-small" title="rmonth3">1.</span><span class="visible-big">1.</span></th>
          <th><span class="visible-small" title="rmonth3">2.</span><span class="visible-big">2.</span></th>
          <th><span class="visible-small" title="rmonth3">3.</span><span class="visible-big">3.</span></th>
          
          <th><span class="visible-small" title="rmonth3">1.</span><span class="visible-big">4.</span></th>
          <th><span class="visible-small" title="rmonth3">2.</span><span class="visible-big">5.</span></th>
          
        </tr>
      </thead>

      <tbody>
        {% for r in r_results %}
        {% if r.rcity !=  '서울' %}
        <tr class="view" align="center">
          <td align="center">
            <a href="http://kra.fiveplayer.co.kr/player.php?f={{r.rdate}}/{% if r.rcity == '서울' %}s{%else%}b{%endif%}{{r.rno}}r"
              onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;">
              <span class="tooltip" style="font-size: 1.3rem; font-weight: 400;">{% if r.rday == 4 %}(금){% elif r.rday == 5 %}(토){%else%}(일){%endif%}
                <span class="tooltip-text">경주영상 보기</span></span>
            </a>
          </td>

          <td>
            <a href="{% url 'prediction_race' r.rcity r.rdate r.rno 0 'awardee' %}" style="text-align: right;">
              <span style="font-size: 1.4rem; font-weight: 400; color:var(--color-main)">{{r.rno}}ᴿ</span>
            </a>
          </td>

          <td>
            {% if r.r_r01 > 0 %} {# 경주결과가 입력되었을때 #}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r1);">{{r.r_jockey1|slice:"0:3"}}</span>
            {%else%}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r1)">-</span>
            {%endif%}
          </td>
          <td>
            {% if r.r_r01 > 0 %} {# 경주결과가 입력되었을때 #}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r2);">{{r.r_jockey2|slice:"0:3"}}</span>
            {%else%}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r2)">-</span>
            {%endif%}
          </td>
          <td>
            {% if r.r_r01 > 0 %} {# 경주결과가 입력되었을때 #}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r3);">{{r.r_jockey3|slice:"0:3"}}</span>
            {%else%}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r3)">-</span>
            {%endif%}
          </td>
          <td>
            {% if r.r_r01 > 0 %} {# 경주결과가 입력되었을때 #}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r4);">{{r.r_jockey4|slice:"0:3"}}</span>
            {%else%}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r4)">-</span>
            {%endif%}
          </td>
          <td>
            {% if r.r_r01 > 0 %} {# 경주결과가 입력되었을때 #}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r5);">{{r.r_jockey5|slice:"0:3"}}</span>
            {%else%}
              <span style="font-size: 1.2rem; font-weight: 400; color:var(--color-r5)">-</span>
            {%endif%}
          </td>



          
        </tr>

        <tr class="fold">
          <td colspan="7">
            <div class="fold-content">
              <table class="small-friendly">
                <thead>
                  <tr>
                    <th><span class="visible-small" title="Current">예상</span><span class="visible-big">예상</span></th>
                    <th><span class="visible-small" title="Customer name">마번</span><span class="visible-big">마번</span></th>
                    <th><span class="visible-small" title="Insurance number">경주마</span><span class="visible-big">경주마</span></th>
                    <th colspan="2"><span class="visible-small" title="Insurance number">부중</span><span class="visible-big">부중</span></th>
                    <th><span class="visible-small" title="Strategy">기수</span><span class="visible-big">기수</span></th>
                    <th><span class="visible-small" title="Strategy">조교사</span><span class="visible-big">조교사</span></th>
                    <th><span class="visible-small" title="Strategy">S1F</span><span class="visible-big">S1F</span></th>
                    <th><span class="visible-small" title="Strategy">G3F</span><span class="visible-big">G3F</span></th>
                    <th><span class="visible-small" title="Strategy">G2F</span><span class="visible-big">G2F</span></th>
                    <th><span class="visible-small" title="Strategy">G1F</span><span class="visible-big">G1F</span></th>
                    <th><span class="visible-small" title="Strategy">예상</span><span class="visible-big">예상</span></th>
                    
                    <th><span class="visible-small" title="Current">인기도</span><span class="visible-big">인기도</span></th>
                    
                    <th><span class="visible-small" title="Current">결과</span><span class="visible-big">결과</span></th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for rcity, awardee, rdate, rday, rno, gate, rank, r_rank, horse, remark, j_name, t_name, h_name, r_pop, distance, handycap, cs1f, cg3f, cg2f, cg1f, complex, i_pre in race_detail %}
                  {% if r.rcity == rcity and r.rdate == rdate and r.rno == rno  %}
                  <tr>
                    <td align="center" data-th="예상" style="font-size: 1.2rem;">
                      {% if rank == 98 %}신{%else%}
                        {% if rank == 1 %}
                        <span class="cur" style="color:var(--color-r1); font-weight: 600;">{{rank}}</span>
                        {% elif rank == 2 %}
                        <span class="cur" style="color:var(--color-r2); font-weight: 600;">{{rank}}</span>
                        {% elif rank == 3 %}
                        <span class="cur" style="color:var(--color-r3); font-weight: 600;">{{rank}}</span>
                        {% elif rank == 4 %}
                        <span class="cur" style="color:var(--color-r4); font-weight: 600;">{{rank}}</span>
                        {% elif rank == 5 %}
                        <span class="cur" style="color:var(--color-r5); font-weight: 600;">{{rank}}</span>
                        {% else %}
                        <span class="cur">{{rank}}</span>
                        {%endif%}
                      {%endif%}
                    </td>
                    <td align="center" data-th="Gate" style="font-size: 1.2rem;">
                      {% if rank == 1 %}
                      <span class="cur" style="color:var(--color-r1); font-weight: 600;">{{gate}}</span>
                      {% elif rank == 2 %}
                      <span class="cur" style="color:var(--color-r2); font-weight: 600;">{{gate}}</span>
                      {% elif rank == 3 %}
                      <span class="cur" style="color:var(--color-r3); font-weight: 600;">{{gate}}</span>
                      {% elif rank == 4 %}
                      <span class="cur" style="color:var(--color-r4); font-weight: 600;">{{gate}}</span>
                      {% elif rank == 5 %}
                      <span class="cur" style="color:var(--color-r5); font-weight: 600;">{{gate}}</span>
                      {% else %}
                      <span class="cur">{{gate}}</span>
                      {%endif%}
                    </td>
                    <td td align="left" data-th="경주마" style="font-size: 1.2rem;">
                      {% if rank == 1 %}
                      <span class="cur" style="color:var(--color-r1); font-weight: 600;">{{horse|slice:"0:4"}}</span>
                      {% elif rank == 2 %}
                      <span class="cur" style="color:var(--color-r2); font-weight: 600;">{{horse|slice:"0:4"}}</span>
                      {% elif rank == 3 %}
                      <span class="cur" style="color:var(--color-r3); font-weight: 600;">{{horse|slice:"0:4"}}</span>
                      {% elif rank == 4 %}
                      <span class="cur" style="color:var(--color-r4); font-weight: 600;">{{horse|slice:"0:4"}}</span>
                      {% elif rank == 5 %}
                      <span class="cur" style="color:var(--color-r5); font-weight: 600;">{{horse|slice:"0:4"}}</span>
                      {% else %}
                      <span class="cur">{{horse|slice:"0:4"}}</span>
                      {%endif%}
                    </td>

                    <td data-th="부중" style="font-size: 1.0rem">{{handycap}}</td>

                    <td data-th="전경주 대비 차" >
                      {% if i_pre > 0 %}
                      <span style="font-size: 1.0rem; color:var(--color-r5);" align="right">+{{i_pre}}</span>
                      {% elif i_pre < 0 %}
                      <span style="font-size: 1.0rem; color:var(--color-r1);" align="right">{{i_pre}}</span>
                      {% else %}
                      <span style="font-size: 1.0rem" align="right">-</span>
                      {% endif %}
                    </td>

                    <td data-th="기수" style="font-size: 1.2rem">{{j_name}}</td>
                    <td data-th="조교사" style="font-size: 1.2rem"><span class="cur">{{t_name}}</span></td>

                    <td data-th="S1F"><span style="font-size: 1.1rem; font-family: Arial">{{cs1f}}</span></td>
                    <td data-th="G3F"><span style="font-size: 1.1rem; font-family: Arial">{{cg3f}}</span></td>
                    <td data-th="G2F"><span style="font-size: 1.1rem; font-family: Arial">{{cg2f}}</span></td>
                    <td data-th="G1F"><span style="font-size: 1.1rem; font-family: Arial">{{cg1f}}</span></td>

                    <td td align="center" data-th="예상기록" style="font-size: 1.15rem;">
                      {% if rank == 1 %}
                      <span style="color:var(--color-r1); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {% elif rank == 2 %}
                      <span style="color:var(--color-r2); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {% elif rank == 3 %}
                      <span style="color:var(--color-r3); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {% elif rank == 4 %}
                      <span style="color:var(--color-r4); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {% elif rank == 5 %}
                      <span style="color:var(--color-r5); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {% else %}
                      <span style="color:var(--color-gray); font-family: Arial, Helvetica, sans-serif;">{{complex|slice:"0:1"}}&nbsp;{{complex|slice:"1:6"}}</span>
                      {%endif%}
                    </td>

                    <td align="center" data-th="인기도" style="font-size: 1.2rem">
                      <span style="color:blue">
                        <progress value={{r_pop}} max="100" style="width: 3rem"></progress>
                        <!-- {% if r_pop > 80 %}★
                        {% elif r_pop > 60 and r_pop <= 80 %}◎
                        {% elif r_pop > 40 and r_pop <= 60 %}○
                        {% elif r_pop > 20 and r_pop <= 20 %}▲
                        {% elif r_pop > 0 %}※
                        {% else %}−
                        {% endif %} -->
                      </span>
                    </td>

                    <td align="center" data-th="결과" style="font-size: 1.2rem">
                      <a href="http://kra.fiveplayer.co.kr/player.php?f={{rdate}}/{% if rcity == '서울' %}s{%else%}b{% endif %}{{rno}}r"
                        onclick="window.open(this.href, '_blank', 'width=800, height=600, toolbars=no, scrollbars=yes'); return false;">
                      {% if r_rank == 98 %}New{%else%}
                        {% if r_rank == 1 %}
                        <span class="cur" style="color:var(--color-r1); font-weight: 600;">{{r_rank}}</span>
                        {% elif r_rank == 2 %}
                        <span class="cur" style="color:var(--color-r2); font-weight: 600;">{{r_rank}}</span>
                        {% elif r_rank == 3 %}
                        <span class="cur" style="color:var(--color-r3); font-weight: 600;">{{r_rank}}</span>
                        {% else %}
                        <span class="cur">{{r_rank}}</span>
                        {%endif%}
                      {%endif%}
                    </td>
                    
                  </tr>
                  
                  {% endif %}
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </td>
        </tr>
     
        {%endif%}
        {% endfor %}
    
      </tbody>
    </table>

  </div>

</div>