{% load humanize %}
{% load mathfilters %}

<script>
  $(document).ready(function () {

    $('ul.tabs1 li').click(function () {
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs1 li').removeClass('current');
      $('.tab-content1').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    })

  })
</script>

<div class="activities">

  <ul class="tabs1">
    <li class="tab-link current" data-tab="tab-right1">서울</li>
    <li class="tab-link" data-tab="tab-right2">부산</li>
    <li class="tab-link" data-tab="tab-right3">세번째 메뉴</li>
  </ul>

  <div id="tab-right1" class="tab-content1 current">



  </div>



</div>