<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/number-9.png' %}" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>🐴&nbsp;{{name}} 금주 출주마 조교현황</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>

</head>

{% load mathfilters %}
{% load humanize %}

{% block content %}

<!-- <main class="create-room layout"> -->
<main class="create-room layout" style="margin-top: 2px;">
  <div class="container">
    
    <!-- <table class="small-friendly" style="background-color:white;"> -->
    <table class="tt9light-table" style="border-radius: 7px;">
        
      <thead>
    
        <tr>
          <th rowspan="1" colspan="2" style="background-color: var(--color-main-medium);">
            {% if awardee == 'jockey' %}
              <span style="font-size: 1.25rem; color:var(--color-r3); font-weight: 500;">🏇</span>
            {% else %}
              <span style="font-size: 1.25rem; color:var(--color-r3); font-weight: 500;">🛖</span>
            {% endif %}
            <span style="font-size: 1.25rem; color:var(--color-dark); font-weight: 500; padding:2px 3px;">{{name|slice:"0:3"}}</span>
          </th>

          <th rowspan="1"><span style="font-size:1.2rem;">마번</span></th>
          <th style="width:4.0%"><span style="font-size:1.2rem;">순위</span></th>

          <th colspan="2" style="width: 14.0%">
              <span style="font-size: 1.2rem; font-weight: 400;">🐴&nbsp;Horse
              </span>
          </th>

          <th rowspan="2" style="vertical-align: middle; width: 5.0%">
            {% if awardee == 'jockey' %}
              <span style="font-size: 1.4rem; font-weight: 550;">🛖</span>
            {% else %}
              <span style="font-size: 1.4rem; font-weight: 550;">🏇</span>
            {% endif %}
            <div style="color:var(--color-r5); font-weight: bold;">J&T</div>
          </th>
          <th rowspan="1" colspan="2" style="width:5.0%;"><span>Tot</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.0}}</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.1}}</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.2}}</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.3}}</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.4}}</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.5}}</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.6}}</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.7}}</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.8}}</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.9}}</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.10}}</span></th>
          <th rowspan="1"><span style="font-size: 1.2rem; color:var(--color-r5);">{{train_title.0.11}}</span></th>

        </tr>
        <tr>
          <th rowspan="1" colspan="2"><span style="vertical-align: middle; text-transform: capitalize;">Race</span></th>
          <th rowspan="1"><span style="font-size: 0.9rem; color:var(--color-light-gray); border-radius: 10px; background-color:var(--color-bg); padding: 2px 4px;">레이팅</span></th>
          <th><span style="font-size:1.2rem;">예상</span></th>

          <th rowspan="1" colspan="2">
              <span style="font-size: 1.2rem; font-weight: 400;">Info.</span>
          </th>

          <th rowspan="1" colspan="2"><span style="font-size: 1.0rem;">수영/습보</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          <th rowspan="1"><span style="font-size:1.1rem;">T/C/S</span></th>
          
        </tr>
    
      </thead>
      <tbody>
        {% for rcity, rdate, rno, rday, gate, rank, r_rank, r_pop, horse, trainer, jockey, jt_per, handycap, j_per, t_per, h_weight, distance, grade, rating, dividing, host, i_prehandy, jockey_old, reason, birthplace, h_sex, h_age, i_cycle, r1, d1, c1, s1, r2, d2, c2, s2, r3, d3, c3, s3, r4, d4, c4, s4, r5, d5, c5, s5, r6, d6, c6, s6, r7, d7, c7, s7, r8, d8, c8, s8, r9, d9, c9, s9, r10, d10, c10, s10, r11, d11, c11, s11, r12, d12, c12, s12, r13, d13, c13, s13, r14, d14, c14, s14, laps in status %}
        <tr {% if horse == hname %} style="background: var(--color-light-gray);" {% endif %}>

          {# 경주번호 / 경주정보 #}
          <td align="center">
            <a href="{% url 'race_prediction' rcity rdate rno horse 0 %}"
              onclick="window.open(this.href, 'w_race_prediction', 'width=900, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
                            
              {# 경주정보 #}
              <div style="font-size: 1.2rem; font-weight: bold; font-style: italic;">
                
                {% if rcity == '서울' %}
                <span style="font-style: normal; padding: 1px 2px; border-radius: 50%; border:1.5px solid tomato; font-size: 0.7rem; color:var(--color-r1);">{{rcity|slice:"0:1"}}</span>
                {% else %}
                <span style="font-style: normal; padding: 1px 2px; border-radius: 50%; border:1.5px solid blue; font-size: 0.7rem; color:var(--color-r5);">{{rcity|slice:"0:1"}}</span>
                {% endif %}
                
                {% if rday == '일' %}
                <span style="font-size: 1.1rem; padding: 2px 1px; color: var(--color-r5);">{{rday}}</span>
                {% else %}
                <span style="font-size: 1.1rem; padding: 2px 1px; color: var(--color-r1);">{{rday}}</span>
                {% endif %}
              </div>

              <div style="text-align: right;">
                <span style="font-size: 1.2rem; font-style: italic; font-family: Arial; color: var(--color-r5); text-decoration: underline;">{{rno}}<sup style="font-size: 0.8rem;">R</sup></span>
              </div>
            </a>
            
          </td>

          {# 경주거리 / 경주정보 #}
          <td align="right"  style="border-left: 0px;"">
            <div style="font-size: 1.2rem; font-family: Arial; color:var(--color-bg); text-align: center; font-style: italic; font-weight: bold;">{{distance}}</div>
            {% if 'O' in grade %}
            <div style="font-size: 1.1rem; color:var(--color-r1);">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</div>
            {% else %}
            <div style="font-size: 1.1rem; color:var(--color-gray);">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</div>
            {% endif %}
          </td>

          {# gate(마번) 레이팅 #}
          <td align="center" style="font-size: 1.3rem; border-radius: 10px;">
            {% if r_rank == 99 %}
            <span style="text-decoration:line-through; color:gray;">{{gate}}</span>
            {% else %}
              {% if r_rank == 1 %}
              <span style="font-family: Arial; border:0.5px solid var(--color-r1); border-radius: 50%; padding: 2px 4px; font-weight: bold; color:var(--color-r1);">
                {{gate}}
              </span>
              {% elif r_rank == 2 %}
              <span style="font-family: Arial; border:0.5px solid var(--color-r2); border-radius: 50%; padding: 2px 4px; font-weight: bold; color:var(--color-r2);">
                {{gate}}
              </span>
              {% elif r_rank == 3 %}
              <span style="font-family: Arial; border:0.5px solid var(--color-r3); border-radius: 50%; padding: 2px 4px; font-weight: bold; color:var(--color-r3);">
                {{gate}}
              </span>
              {% elif r_rank == 4 %}
              <span style="font-family: Arial; border:0.5px solid var(--color-r4); border-radius: 50%; padding: 2px 4px; font-weight: bold; color:var(--color-r4);">
                {{gate}}
              </span>
              {% elif r_rank == 5 %}
              <span style="font-family: Arial; border:0.5px solid var(--color-r5); border-radius: 50%; padding: 2px 4px; font-weight: bold; color:var(--color-r5);">
                {{gate}}
              </span>
              {% else %}
              <span style="font-family: Arial; border:0.5px solid var(--color-bg); border-radius: 50%; padding: 2px 4px; font-weight: bold; ">{{gate}}</span>
              {% endif %}
            {% endif %}
            
            <div style="font-family: Arial; font-size: 1.0rem; text-align: right; ">
              <span style="font-family: Arial; color:var(--color-bg); border-radius: 50%; background-color:var(--color-light); padding: 3px 3px;">{{rating}}</span>
            </div>
          </td>

          {# 순위 / 프로그램 예상순위 #}
          <td align="center" style="font-size: 1.2rem;">

            <div>
              {% if r_rank == 0 %}
              <span style="font-size: 1.0rem; padding: 2px 2px;">
                🥚
              </span>
              {% elif r_rank == 1 %}
              <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r1); color:var(--color-light);">
                {{r_rank}}
              </span>
              {% elif r_rank == 2 %}
              <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r2); color:var(--color-light);">
                {{r_rank}}
              </span>
              {% elif r_rank == 3 %}
              <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r3); color:var(--color-bg);">
                {{r_rank}}
              </span>
              {% elif r_rank == 4 %}
              <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r4); color:var(--color-bg);">
                {{r_rank}}
              </span>
              {% elif r_rank == 5 %}
              <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r5); color:var(--color-light);">
                {{r_rank}}
              </span>
              {% elif r_rank == 99 %}
              <span style="font-size: 0.9rem;">
                🚫
              </span>
              
              {% else %}
              <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color: var(--color-light); color:var(--color-bg);">
                {{r_rank}}
              </span>
              {% endif %}
            </div>
              
            <div style="text-align: right; font-weight: bold;">
              {% if rank == 1 %}
              <span style="font-size: 1.1rem; padding: 1px 3px; font-family: Arial; border-radius: 50%; border:1px solid var(--color-r1); background-color: var(--color-light); color:var(--color-r1);">
                {{rank}}
              </span>
              {% elif rank == 2 %}
              <span style="font-size: 1.1rem; padding: 1px 3px; font-family: Arial; border-radius: 50%; border:1px solid var(--color-r2); background-color: var(--color-light); color:var(--color-r2);">
                {{rank}}
              </span>
              {% elif rank == 3 %}
              <span style="font-size: 1.1rem; padding: 1px 3px; font-family: Arial; border-radius: 50%; border:1px solid var(--color-r3); background-color: var(--color-light); color:var(--color-r3);">
                {{rank}}
              </span>
              {% elif rank == 4 %}
              <span style="font-size: 1.1rem; padding: 1px 3px; font-family: Arial; border-radius: 50%; border:1px solid var(--color-r4); background-color: var(--color-light); color:var(--color-r4);">
                {{rank}}
              </span>
              {% elif rank == 5 %}
              <span style="font-size: 1.1rem; padding: 1px 3px; font-family: Arial; border-radius: 50%; border:1px solid var(--color-r5); background-color: var(--color-light); color:var(--color-r5);">
                {{rank}}
              </span>
              {% elif rank == 98 %}
              <span style="font-size: 0.9rem;">
                🐣
              </span>
              {% else %}
              <span style="font-size: 1.1rem; padding: 1px 3px; font-family: Arial;">
                {{rank}}
              </span>
              {% endif %}
            </div>
          </td>
          
          
          {# 경주마 이름 출주주기, 산지 성별 나이 #}
          <td>
            <div style="font-size: 1.2rem;">

              <a href="{% url 'training_horse' rcity rdate rno horse %}" onclick="window.open(this.href, 'w_training_horse', 'top=0 width=900, height=800, left=window.screen.availWidth - 1000 toolbars=no, scrollbars=yes'); return false;">
              {% if r_rank == 99 %}
                <span style="font-style: italic; text-decoration:line-through; color:gray;">{{horse|slice:"0:6"|rjust:"6"}}</span>
              {% else %}
                {% if rank == 1 %}
                  <span style="font-style: italic; background-color: white; border-radius: 5px; padding:0px 2px; color:var(--color-r1);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                {% elif rank == 2 %}
                  <span style="font-style: italic; background-color: white; border-radius: 5px; padding:0px 2px; color:var(--color-r2);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                {% elif rank == 3 %}
                  <span style="font-style: italic; background-color: white; border-radius: 5px; padding:0px 2px; color:var(--color-r3);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                {% elif rank == 4 %}
                  <span style="font-style: italic; background-color: white; border-radius: 5px; padding:0px 2px; color:var(--color-r4);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                {% elif rank == 5 %}
                  <span style="font-style: italic; background-color: white; border-radius: 5px; padding:0px 2px; color:var(--color-r5);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                {%else%}
                  <span style="font-style: normal; background-color: white; border-radius: 5px; padding:0px 2px; color:var(--color-gray)">{{horse|slice:"0:6"|rjust:"6"}}</span>
                {%endif%}
              {% endif %}
              </a>
            </div>

            <div align="right" style="font-size: 1.2rem; color:var(--color-gray);">

              {# 출주주기 #}
              {% if r_rank == 99 %}
              <span style="font-size: 1.15rem;">&nbsp;</span>
              <span style="font-size:0.9rem; color:gray;">{% if reason %}{{reason|slice:"0:8"}}{% endif %}
              </span>
              {% else %}

                {% if rank >= 20 %}
                <span style="font-size: 1.15rem;">&nbsp;</span>
                {% else %}
                  {% if i_cycle <= 16 %}
                  <span class="blink" style="font-family: Arial; font-size:1.15rem; padding: 1px 1px; color:var(--color-r1);">{{i_cycle|div:7|floatformat:0}}<sup style="font-size:0.7rem;">w</sup></span>
                  {% elif i_cycle >= 68 %}
                  <span class="blink" style="font-family: Arial; font-size:1.15rem; padding: 1px 1px; color:var(--color-r2);">{{i_cycle|div:7|floatformat:0}}<sup style="font-size:0.7rem;">w</sup></span>
                  {% else %}
                  <span style="font-family: Arial; font-size:1.15rem; padding: 1px 1px; color:var(--color-gray); border-radius: 10px;">{{i_cycle|div:7|floatformat:0}}<sup style="font-size:0.7rem;">w</sup></span>
                  {% endif %}
                {% endif %}
                
                {# 출생지 #}
                {% if birthplace == '한' %}
                <span style="font-size: 1.15rem; color:var(--color-gray); padding: 1px 1px;">{{birthplace}}</span>
                {% elif birthplace == '미' %}
                <span style="font-size: 1.15rem; color:var(--color-r2); padding: 1px 1px;">{{birthplace}}</span>
                {%else%}
                  {% if '포' in birthplace %}
                  <span style="font-size: 1.15rem; color:var(--color-r4); padding: 1px 1px;">포</span>
                  {% else %}
                  <span style="font-size: 1.15rem; color:var(--color-r4); padding: 1px 1px;">{{birthplace}}</span>
                  {% endif %}
                {%endif%}
                
                {# 성별 #}
                {% if h_sex == '암' %}
                <span style="font-size: 1.15rem; color:var(--color-r5); padding: 1px 1px;">{{h_sex}}</span>
                {% elif h_sex == '거' %}
                <span style="font-size: 1.15rem; color:var(--color-r1); padding: 1px 1px;">{{h_sex}}</span>
                {%else%}
                <span style="font-size: 1.15rem; color:var(--color-gray); padding: 1px 1px;">{{h_sex}}</span>
                {%endif%}
                
                {# 나이 #}
                {% if h_age >= 5.9 %}
                <span style="font-family: Arial; font-size: 1.1rem; font-style: italic; color:var(--color-r1); padding:1px 1px">{{h_age}}</span>
                {% elif h_age < 3 %}
                <span style="font-family: Arial; font-size: 1.1rem; font-style: italic; color:var(--color-r2); padding:1px 1px">{{h_age}}</span>
                {%else%}
                <span style="font-family: Arial; font-size: 1.1rem; font-style: italic; color:var(--color-gray); padding:1px 1px">{{h_age}}</span>
                {%endif%}

              {% endif %}

            </div>
            
          </td>

          {# 마체중 #}
          <td style="font-size: 1.2rem;">
            {% if h_weight %}
            <div style="text-align:right; font-family: Arial; text-align: left; color:var(--color-gray);">{{h_weight|slice:"0:3"}}</div>
            <div style="text-align:right; font-family: Arial; font-size: 1.1rem;">
              {% if h_weight|slice:"4:5" == '-' %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r1); padding:2px 4px; border-radius: 15px; background-color:var(--color-main-light); ">{{h_weight|slice:"4:"}}</span>
              {% else %}
              <span style="font-family: Arial; font-style: italic; color:var(--color-r5); padding:2px 4px; border-radius: 15px; background-color:var(--color-main-light); ">{{h_weight|slice:"4:"}}</span>
              {% endif %}
            </div>
            
            {% endif %}
          </td>

          <td align="left">
            {% if awardee == 'trainer' %}
            <div style="font-size: 1.15rem;">
              <a href="{% url 'training_awardee' rdate 'jockey' jockey horse %}" onclick="window.open(this.href, 'w_training_awardee', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;">
                
                {% if jockey_old %}   {# 기수변경 #}
                  <span class="tooltip" style="font-style: italic; color:var(--color-r2); border-bottom: 1px solid gray;">{{jockey}}
                    <span class="tooltip-text">
                      🐴 변경사유 : {{reason}}{% if jockey_old %}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;변경전 기수 : {{jockey_old}}{% endif %}
                    </span>
                  </span>
                  
                {% else %}
                  <span style="color:var(--color-bg); border-bottom: 1px solid gray;">{{jockey}}</span>
                {% endif %}
              </a>
                
            </div>
            {% else %}
            
            <div style="font-size: 1.2rem; text-align: left;"> 
              <a href="{% url 'training_awardee' rdate 'trainer' trainer horse %}" onclick="window.open(this.href, 'w_training_awardee', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;">
                {% if awardee == 'jockey' %}
                <span style="font-size: 1.15rem; border-bottom: 1px solid gray; color:var(--color-bg);">{{trainer}}</span>
                {% endif %}
              </a>
            </div>
            {% endif %}

            {% if jockey_old %}
              {# 기수가 변경되었으면 기존 기수의 기록을 삭제 #}
              <div style="font-size: 1.15rem; text-align: right; font-style: italic; font-weight: bold;">
                <a href="{% url 'jt_analysis_multi' rcity rdate|mul:1|sub:10000 rdate jockey trainer '%' '%' '1' '99' '1' '99' '0' '0' '0' rno '%' %}" onclick="window.open(this.href, 'w_jt_analysis_multi', 'width=1250, height=1000, toolbars=no, scrollbars=yes'); return false;">
                {% if jt_per == 100.0 %} 
                <span style="font-family: Arial; color:var(--color-r1); text-decoration: line-through;">{{jt_per|floatformat:0}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span> 
                {% elif jt_per >= 50 %} 
                <span style="font-family: Arial; color:var(--color-r1); text-decoration: line-through;">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                {% elif jt_per >= 40 and jt_per < 50 %} 
                <span style="font-family: Arial; color:var(--color-r2); text-decoration: line-through;">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                {% elif jt_per >= 30 and jt_per < 40 %} 
                <span style="font-family: Arial; color:var(--color-r3); text-decoration: line-through;">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                {% elif jt_per >= 20 and jt_per < 30 %} 
                <span style="font-family: Arial; color:var(--color-r4); text-decoration: line-through;">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                {% elif jt_per >= 10 and jt_per < 20 %} 
                <span style="font-family: Arial; color:var(--color-r5); text-decoration: line-through;">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                {% else %}
                <span style="font-family: Arial; color:var(--color-gray); text-decoration: line-through;">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                {% endif %}
                </a>
              </div>
              
            {% else %}
              <div style="font-size: 1.15rem; text-align: right; font-style: italic; font-weight: bold;">
                <a href="{% url 'jt_analysis_multi' rcity rdate|mul:1|sub:10000 rdate jockey trainer '%' '%' '1' '99' '1' '99' '0' '0' '0' rno '%' %}" onclick="window.open(this.href, 'w_jt_analysis_multi', 'width=1250, height=1000, toolbars=no, scrollbars=yes'); return false;">
                {% if jt_per == 100.0 %} 
                  <span style="font-family: Arial; border-bottom: 1px solid gray; color:var(--color-r1);">{{jt_per|floatformat:0}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span> 
                  {% elif jt_per >= 50 %} 
                  <span style="font-family: Arial; border-bottom: 1px solid gray; color:var(--color-r1);">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                  {% elif jt_per >= 40 and jt_per < 50 %} 
                  <span style="font-family: Arial; border-bottom: 1px solid gray; color:var(--color-r2);">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                  {% elif jt_per >= 30 and jt_per < 40 %} 
                  <span style="font-family: Arial; border-bottom: 1px solid gray; color:var(--color-r3);">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                  {% elif jt_per >= 20 and jt_per < 30 %} 
                  <span style="font-family: Arial; border-bottom: 1px solid gray; color:var(--color-r4);">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                  {% elif jt_per >= 10 and jt_per < 20 %} 
                  <span style="font-family: Arial; border-bottom: 1px solid gray; color:var(--color-r5);">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                  {% else %}
                  <span style="font-family: Arial; border-bottom: 1px solid gray; color:var(--color-gray);">{{jt_per|floatformat:1}}<sup style="color:var(--color-gray); font-size:0.7rem;">%</sup></span>
                  {% endif %}
                </a>
              </div>
            {% endif %}
          
          </td>

          

          <td align="center">
            <div style="font-family: Arial; font-size:1.2rem; font-style: italic;">
              <span style="font-family: Arial; font-size: 1.1rem;">{{d1|add:d2|add:d3|add:d4|add:d5|add:d6|add:d7|add:d8|add:d9|add:d10|add:d11|add:d12|add:d13|add:d14}}</span>
            </div>

            <div style="font-family: Arial; font-size:1.2rem; font-style: italic;">
              {% if laps %}
              <span style="font-family: Arial; font-weight: bold; font-size:1.1rem; color:var(--color-r5); border-radius: 10px; border:1px solid var(--color-r5); padding: 2.5px 3px;">{{laps}}</span>
              {% else %}
              <span>&nbsp;</span>
              {% endif %}
            </div>
            
          </td>
          <td align="center" style="border-left: 0px;">

            <div style="font-family: Arial; font-size:1.2rem; font-style: italic;">
              <span style="font-family: Arial; color:var(--color-bg); font-size: 1.15rem; padding-right: 2px;">{{c1|add:c2|add:c3|add:c4|add:c5|add:c6|add:c7|add:c8|add:c9|add:c10|add:c11|add:c12|add:c13|add:c14}}</span>
            </div>
            
            <div style="font-family: Arial; font-size:1.2rem; font-style: italic;">
              {% if s1|add:s2|add:s3|add:s4|add:s5|add:s6|add:s7|add:s8|add:s9|add:s10|add:s11|add:s12|add:s13|add:s14 == 0 %}
              <span style="font-family: Arial; padding: 2px 4px;"></span>
              {% else %}
              <span style="font-family: Arial; font-weight: bold; font-size:1.1rem; color:var(--color-r1); border-radius: 10px; border:1.5px solid var(--color-r1); padding: 2px 4px;">{{s1|add:s2|add:s3|add:s4|add:s5|add:s6|add:s7|add:s8|add:s9|add:s10|add:s11|add:s12|add:s13|add:s14}}</span>
              {% endif %}
            </div>
          </td>

          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r1 == '조' %}
              <span style="color:red;">{{r1}}</span>
              {% else %}
                {% if r1|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r1|slice:"-2:"}}</span>
                {% elif r1|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r1|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r1 == '관' %}
                  <span style="color:var(--color-gray);">{{r1|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r1|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d1 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d1}}</span>
                {% if c1 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c1}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c1}}</span>
                {% endif %}
                {% if s1 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s1}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s1}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r2 == '조' %}
              <span style="color:red;">{{r2}}</span>
              {% else %}
                {% if r2|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r2|slice:"-2:"}}</span>
                {% elif r2|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r2|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r2 == '관' %}
                  <span style="color:var(--color-gray);">{{r2|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r2|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d2 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d2}}</span>
                {% if c2 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c2}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c2}}</span>
                {% endif %}
                {% if s2 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s2}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s2}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r3 == '조' %}
              <span style="color:red;">{{r3}}</span>
              {% else %}
                {% if r3|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r3|slice:"-2:"}}</span>
                {% elif r3|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r3|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r3 == '관' %}
                  <span style="color:var(--color-gray);">{{r3|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r3|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d3 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d3}}</span>
                {% if c3 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c3}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c3}}</span>
                {% endif %}
                {% if s3 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s3}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s3}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r4 == '조' %}
              <span style="color:red;">{{r4}}</span>
              {% else %}
                {% if r4|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r4|slice:"-2:"}}</span>
                {% elif r4|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r4|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r4 == '관' %}
                  <span style="color:var(--color-gray);">{{r4|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r4|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d4 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d4}}</span>
                {% if c4 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c4}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c4}}</span>
                {% endif %}
                {% if s4 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s4}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s4}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r5 == '조' %}
              <span style="color:red;">{{r5}}</span>
              {% else %}
                {% if r5|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r5|slice:"-2:"}}</span>
                {% elif r5|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r5|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r5 == '관' %}
                  <span style="color:var(--color-gray);">{{r5|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r5|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d5 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d5}}</span>
                {% if c5 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c5}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c5}}</span>
                {% endif %}
                {% if s5 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s5}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s5}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r6 == '조' %}
              <span style="color:red;">{{r6}}</span>
              {% else %}
                {% if r6|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r6|slice:"-2:"}}</span>
                {% elif r6|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r6|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r6 == '관' %}
                  <span style="color:var(--color-gray);">{{r6|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r6|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d6 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d6}}</span>
                {% if c6 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c6}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c6}}</span>
                {% endif %}
                {% if s6 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s6}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s6}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r7 == '조' %}
              <span style="color:red;">{{r7}}</span>
              {% else %}
                {% if r7|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r7|slice:"-2:"}}</span>
                {% elif r7|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r7|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r7 == '관' %}
                  <span style="color:var(--color-gray);">{{r7|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r7|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d7 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d7}}</span>
                {% if c7 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c7}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c7}}</span>
                {% endif %}
                {% if s7 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s7}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s7}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r8 == '조' %}
              <span style="color:red;">{{r8}}</span>
              {% else %}
                {% if r8|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r8|slice:"-2:"}}</span>
                {% elif r8|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r8|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r8 == '관' %}
                  <span style="color:var(--color-gray);">{{r8|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r8|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d8 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d8}}</span>
                {% if c8 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c8}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c8}}</span>
                {% endif %}
                {% if s8 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s8}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s8}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r9 == '조' %}
              <span style="color:red;">{{r9}}</span>
              {% else %}
                {% if r9|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r9|slice:"-2:"}}</span>
                {% elif r9|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r9|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r9 == '관' %}
                  <span style="color:var(--color-gray);">{{r9|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r9|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d9 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d9}}</span>
                {% if c9 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c9}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c9}}</span>
                {% endif %}
                {% if s9 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s9}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s9}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r10 == '조' %}
              <span style="color:red;">{{r10}}</span>
              {% else %}
                {% if r10|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r10|slice:"-2:"}}</span>
                {% elif r10|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r10|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r10 == '관' %}
                  <span style="color:var(--color-gray);">{{r10|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r10|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d10 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d10}}</span>
                {% if c10 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c10}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c10}}</span>
                {% endif %}
                {% if s10 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s10}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s10}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r11 == '조' %}
              <span style="color:red;">{{r11}}</span>
              {% else %}
                {% if r11|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r11|slice:"-2:"}}</span>
                {% elif r11|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r11|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r11 == '관' %}
                  <span style="color:var(--color-gray);">{{r11|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r11|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d11 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d11}}</span>
                {% if c11 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c11}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c11}}</span>
                {% endif %}
                {% if s11 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s11}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s11}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r12 == '조' %}
              <span style="color:red;">{{r12}}</span>
              {% else %}
                {% if r12|slice:"-3:" == jockey|slice:"-3:" %}
                <span style="color:tomato;">{{r12|slice:"-2:"}}</span>
                {% elif r12|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r12|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r12 == '관' %}
                  <span style="color:var(--color-gray);">{{r12|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r12|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d12 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d12}}</span>
                {% if c12 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c12}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c12}}</span>
                {% endif %}
                {% if s12 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s12}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s12}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          
        </tr>
        
        {% endfor %}

      </tbody>
    </table>
      
    
  </div>
</main>
{% endblock %}

{% include 'footer.html' %}

</html>