<!DOCTYPE html>
{% load static %}

{% load mathfilters %}
{% load humanize %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>{{hname}} 출전 경주 조교현황</title>

  <form class="header__search" method="GET" action="{% url 'training_horse' r_condition.rcity r_condition.rdate r_condition.rno hname %}"> 
    {% csrf_token %} 

    <label style="font-size: 1.2rem;">

      <span style="font-family: Arial; font-size:1.4rem; color: var(--color-main); border-radius: 7px; padding: 4px 4px; background-color: var(--color-dark);">
        &nbsp;{{r_condition.rdate|slice:"0:4"}}.{{r_condition.rdate|slice:"4:6"}}.{{r_condition.rdate|slice:"6:8"}}&nbsp;({{r_condition.rday}})&nbsp;
      </span>
      <span style="font-family: Arial; font-size:1.4rem; color: var(--color-main); border-radius: 7px; padding: 4px 4px; background-color: var(--color-dark);">
        &nbsp;{{r_condition.rcity}}&nbsp;&nbsp;{{r_condition.rno}}<sup style="font-size:0.9rem">R</sup>&nbsp;
      </span>

      <span style="font-size:1.3rem; color: var(--color-main-light); padding: 4px 4px;">{{r_condition.grade|slice:"0:2"}}</span>
      <span style="font-size:1.3rem; color: var(--color-main-light); padding: 4px 4px;">{{r_condition.dividing}}</span>
      
      <span style="font-family: Arial; font-size:1.2rem; color: var(--color-main); border-radius: 7px; padding: 4px 4px; background-color: var(--color-dark);">
        &nbsp;🏇&nbsp;&nbsp;{{exp011s.jockey}}&nbsp;
      </span>
      <span style="font-family: Arial; font-size:1.2rem; color: var(--color-main); border-radius: 7px; padding: 4px 4px; background-color: var(--color-dark);">
        &nbsp;🛖&nbsp;&nbsp;{{exp011s.trainer}}&nbsp;
      </span>

      <select name="hname" style="font-size:1.2rem; padding: 0.2rem; text-align: left; border-radius: 7px;">
        {% for j_gate, j_horse in h_names %}
        <option value={{j_horse}} {% if hname == j_horse %} selected {% endif %}>{{j_gate}}&nbsp;&nbsp;{{j_horse}}</option>
        {% endfor%}
      </select>

      &nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn" style="background: var(--color-main);">Go</button>
  
    </label>
  </form>

</head>

<hr style="border: solid 1px black;"> 
{% load mathfilters %}
{% load humanize %}

<div class="container">

  <table class="tt9light-table" style="border-radius: 7px; padding: 0px; content:none;">
    <thead>
    
      <tr>
        <th colspan="3" rowspan="1" style="background-color: var(--color-main-medium);">
          <span>🐴</span>
          <span style="font-size: 1.25rem; color:var(--color-dark); font-weight: 500; padding:2px 3px;">{{hname|slice:"0;6"}}</span>
        </th>
        <th rowspan="1"><span style="font-size:1.2rem;">마번</span></th>
        <th style="width:4.0%"><span style="font-size:1.2rem;">예상</span></th>

        
        <th rowspan="2" style="vertical-align: middle; width:4.0%">
          <span class="tooltip" style="font-size:1.0rem; color:var(--color-r5);">⚖️
            <span class="tooltip-text" style="font-size:1.1rem;">🐴 마체중 증감</span>
          </span>
        </th>
        
        <th style="width:5.5%">
          <a href="{% url 'training_awardee' rdate 'jockey' exp011s.jockey exp011s.horse %}" onclick="window.open(this.href, 'w_training_awardee', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;">
            <span class="tooltip" style="font-size:1.2rem; color:var(--color-r5);">
              🏇<span class="tooltip-text" style="font-size:1.1rem;">🏇&nbsp;[<span style="color:var(--color-r3);"><span style="color:var(--color-r3);">{{jockey}}</span></span>]&nbsp;기수 금주 출주마 조교현황</span>
            </span>
          </a>
        </th>

        <th rowspan="1" colspan="2" style="width:6.0%;"><span>Tot</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-1</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-2</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-3</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-4</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-5</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-6</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-7</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-8</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-9</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-10</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-11</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">D-12</span></th>
      </tr>
      <tr>
        <th colspan="3" rowspan="1"><span style="font-size:1.2rem; text-transform: capitalize;">Race Info.</span></th>
        <th rowspan="1"><span style="font-size: 0.9rem; color:var(--color-light-gray); border-radius: 10px; background-color:var(--color-bg); padding: 2px 4px;">레이팅</span></th>
        <th><span style="font-size:1.2rem;">결과</span></th>


        <th>
          <a href="{% url 'training_awardee' rdate 'trainer' exp011s.trainer exp011s.horse %}" onclick="window.open(this.href, 'w_training_awardee', 'width=900, height=800, toolbars=no, scrollbars=yes'); return false;">
            <span class="tooltip" style="font-size:1.0rem; color:var(--color-r5);">
              🛖<span class="tooltip-text" style="font-size:1.1rem;">🛖&nbsp;[<span style="color:var(--color-r3);">{{trainer}}</span>]&nbsp;마방 금주 출주마 조교현황</span>
            </span>
          </a>
        </th>
        
        <th rowspan="1" colspan="2"><span style="font-size: 1.0rem;">수영/습보</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        <th rowspan="1"><span class="visible-big" style="font-size:1.1rem;">T/C/S</span></th>
        
    
      </tr>
    
    </thead>
    <tbody>
      {% for rcity, rdate, rno, gate, rank, r_rank, r_pop, hname, jockey_a, trainer_a, j_per, t_per, jt_per, h_weight, distance, grade, rating, dividing, i_cycle, reason, jockey_old, birthplace, h_sex, h_age, complex, complex5, r1, d1, c1, s1, r2, d2, c2, s2, r3, d3, c3, s3, r4, d4, c4, s4, r5, d5, c5, s5, r6, d6, c6, s6, r7, d7, c7, s7, r8, d8, c8, s8, r9, d9, c9, s9, r10, d10, c10, s10, r11, d11, c11, s11, r12, d12, c12, s12, r13, d13, c13, s13, r14, d14, c14, s14, laps in train %}
      
      <tr {% if forloop.counter == 1 %} style="background-color: var(--color-light-gray); border-radius: 10px; border: 0.5px solid gray;" {% endif %}>
        {# 경주정보 #}
        <td align="right" style="font-size: 1.2rem; vertical-align: middle;">
          <a href="{% url 'race_prediction' rcity rdate rno 0 'awardee' %}"
                onclick="window.open(this.href, 'w_race_prediction', 'width=10, height=1000, toolbars=no, scrollbars=yes'); return false;">
            <div style="text-align: left; color:var(--color-dark); font-style: italic; text-align: left;">
              <span style="font-size: 1.2rem; font-style: italic; font-family: Arial; color: var(--color-bg); text-decoration: underline; font-weight: bold;">'{{rdate|slice:"2:4" }}.{{rdate|slice:"4:6" }}.{{rdate|slice:"6:8"}}</span>
              
            </div>
          
            {# 경주정보 #}
            <div style="font-size: 1.2rem; color:var(--color-gray); padding-top: 1px;">

              {# 출주주기 #}
              {% if r_rank == 99 %}
              <span style="font-size: 1.15rem;">&nbsp;</span>
              <span style="font-size:0.9rem; color:gray;">{% if reason %}{{reason|slice:"0:8"}}{% endif %}</span>
              {% else %}

                {% if rank >= 20 %}
                <span style="font-size: 1.15rem;">&nbsp;</span>
                {% else %}
                  {% if i_cycle <= 16 %}
                  <span style="font-family: Arial; font-size:1.10rem; color:var(--color-light); background-color: var(--color-r1); border-radius:10px; padding:2px 4px;">{{i_cycle|div:7|floatformat:0}}<sup style="font-size:0.7rem;">w</sup></span>
                  {% elif i_cycle >= 68 %}
                  <span style="font-family: Arial; font-size:1.10rem; color:var(--color-light); background-color: var(--color-r2); border-radius:10px; padding:2px 4px;">{{i_cycle|div:7|floatformat:0}}<sup style="font-size:0.7rem;">w</sup></span>
                  {% else %}
                  <span style="font-family: Arial; font-size:1.15rem; color:var(--color-gray); background-color: var(--color-light); border-radius:10px; padding:2px 4px;">{{i_cycle|div:7|floatformat:0}}<sup style="font-size:0.7rem;">w</sup></span>
                  {% endif %}
                {% endif %}
                
                
                {# 성별 #}
                {% if h_sex == '암' %}
                <span style="font-size: 1.15rem; color:var(--color-r5); padding: 1px 1px; font-weight: bold;">{{h_sex}}</span>
                {% elif h_sex == '거' %}
                <span style="font-size: 1.15rem; color:var(--color-r1); padding: 1px 1px; font-weight: bold;">{{h_sex}}</span>
                {%else%}
                <span style="font-size: 1.15rem; color:var(--color-r4); padding: 1px 1px; font-weight: bold;">{{h_sex}}</span>
                {%endif%}
                
                
              {% endif %}

            </div>
          </a>
        </td>

        <td align="right" style="border-left: 0px; vertical-align: middle;">

          <div style="font-size: 1.2rem;">
            <span style="font-size: 1.2rem; font-style: italic; font-family: Arial; color: var(--color-bg); font-weight: bold;">{{rno}}<sup style="font-size: 0.8rem;">R</sup></span>
          </div>

          {# 나이 #}
          {% if h_age >= 5.9 %}
          <span style="font-family: Arial; font-size: 1.1rem; font-style: italic; color:var(--color-r1);">{{h_age}}</span>
          {% elif h_age < 3 %}
          <span style="font-family: Arial; font-size: 1.1rem; font-style: italic; color:var(--color-r2);">{{h_age}}</span>
          {%else%}
          <span style="font-family: Arial; font-size: 1.1rem; font-style: italic; color:var(--color-gray);">{{h_age}}</span>
          {%endif%}

        </td>

        {# 경주거리 / 경주정보 #}
        <td align="right" style="border-left: 0px; vertical-align: middle;">

          {% if distance == r_condition.distance %}
          <div style="font-size: 1.2rem; font-family: Arial; color:var(--color-r1); text-align: center; font-style: italic; font-weight: bold;">{{distance}}</div>
          {% else %}
          <div style="font-size: 1.2rem; font-family: Arial; color:var(--color-bg); text-align: center; font-style: italic; font-weight: bold;">{{distance}}</div>
          {% endif %}
          
          
          {% if 'O' in grade %}
          <div style="font-size: 1.1rem; padding-top: 0.8px; color:var(--color-r1);">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</div>
          {% else %}
          <div style="font-size: 1.1rem; padding-top: 0.8px; color:var(--color-gray);">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</div>
          {% endif %}
        </td>

        {# gate(마번) 레이팅 #}
        <td align="center" style="font-size: 1.3rem; border-radius: 10px;">
          {% if r_rank >= 90 %}
          <span style="text-decoration:line-through; color:gray;">{{gate}}</span>
          {% else %}
            {% if gate < 10 %}
            <span style="font-family: Arial, Helvetica, sans-serif; border:1px solid var(--color-bg); border-radius: 50%; padding: 2px 5px; font-weight: bold; color:var(--color-bg);">
              {{gate}}
            </span>
            {% else %}
            <span style="font-family: Arial, Helvetica, sans-serif; border:1px solid var(--color-bg); border-radius: 50%; padding: 2px 3px; font-weight: bold; color:var(--color-bg);">{{gate}}</span>
            {% endif %}
          {% endif %}
          
          <div style="font-size: 0.8rem; text-align: right;">
            <span style="font-family: Arial; color:var(--color-bg); border-radius: 50%; background-color:var(--color-light); padding: 3px 3px;">{{rating}}</span>
          </div>

        </td>
        
        {# 인기순위 / 프로그램 예상순위 #}
        <td align="center" style="font-size: 1.2rem;">

          <div style="text-align: left;">
            {% if rank == 1 %}
            <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r1); color:var(--color-light);">
              {{rank}}
            </span>
            {% elif rank == 2 %}
            <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r2); color:var(--color-light);">
              {{rank}}
            </span>
            {% elif rank == 3 %}
            <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r3); color:var(--color-bg);">
              {{rank}}
            </span>
            {% elif rank == 4 %}
            <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r4); color:var(--color-bg);">
              {{rank}}
            </span>
            {% elif rank == 5 %}
            <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r5); color:var(--color-light);">
              {{rank}}
            </span>
            {% elif rank == 98 %}
            <span style="font-size: 0.9rem;">
              🐣
            </span>
            {% else %}
            <span style="font-size: 1.1rem; padding: 1px 3px; font-family: Arial;">
              {{rank}}
            </span>
            {% endif %}
          </div>

          <div style="text-align: right;">
            {% if r_rank == 0 %}
            <span style="font-size: 1.0rem; padding: 2px 2px;">
              🥚
            </span>
            {% elif r_rank == 1 %}
            <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r1); color:var(--color-light);">
              {{r_rank}}
            </span>
            {% elif r_rank == 2 %}
            <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r2); color:var(--color-light);">
              {{r_rank}}
            </span>
            {% elif r_rank == 3 %}
            <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r3); color:var(--color-bg);">
              {{r_rank}}
            </span>
            {% elif r_rank == 4 %}
            <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r4); color:var(--color-bg);">
              {{r_rank}}
            </span>
            {% elif r_rank == 5 %}
            <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color:var(--color-r5); color:var(--color-light);">
              {{r_rank}}
            </span>
            {% elif r_rank == 99 %}
            <span style="font-size: 0.9rem;">
              🚫
            </span>
            
            {% else %}
            <span style="font-size: 1.1rem; padding: 2px 4px; font-family: Arial; border-radius: 50%; background-color: var(--color-light); color:var(--color-bg);">
              {{r_rank}}
            </span>
            {% endif %}
          </div>
            
          
        </td>

        {# 마체중 #}
        <td style="font-size: 1.2rem;">
          {% if h_weight %}
          <div style="text-align:right; font-family: Arial; text-align: left; color:var(--color-bg); font-weight: bold;">{{h_weight|slice:"0:3"}}</div>
          <div style="text-align:right; font-family: Arial; font-size: 1.1rem;">
            {% if h_weight|slice:"4:5" == '-' %}
            <span style="font-family: Arial; font-style: italic; color:var(--color-r1); padding:2px 4px; border-radius: 15px; background-color:var(--color-main-light); ">{{h_weight|slice:"4:"}}</span>
            {% else %}
            <span style="font-family: Arial; font-style: italic; color:var(--color-r5); padding:2px 4px; border-radius: 15px; background-color:var(--color-main-light); ">{{h_weight|slice:"4:"}}</span>
            {% endif %}
          </div>
          
          {% endif %}
        </td>
  
        {# 기수 / 조교사 #}
        <td style="font-size: 1.2rem">
          {% if jockey_a %}
            {% if exp011s.jockey == jockey_a %}
            <div style="text-align: left; color:var(--color-r5); border-bottom: 1px solid var(--color-r5); font-style: bold;">{{jockey_a|slice:"0:3"}}</div>
            {%else%}
            <div style="text-align: left;  color:var(--color-r1);">{{jockey_a|slice:"0:3"}}</div>
            {%endif%}
          {%endif%}
          <div style="text-align: right;">
          {% if trainer_a %}
            {% if exp011s.trainer == trainer_a %}
              <span style="color:var(--color-r5); border-bottom: 1px solid var(--color-r5); font-style: bold;">{{trainer_a}}</span>
            {%else%}
              <span style="color:var(--color-r1); font-size: 1.15rem;">{{trainer_a}}</span>
            {%endif%}
          {%endif%}
          </div>
        </td>
        
        <td align="center">
            <div style="font-family: Arial; font-size:1.2rem; font-style: italic;">
              <span style="font-family: Arial; font-size: 1.15rem;">{{d1|add:d2|add:d3|add:d4|add:d5|add:d6|add:d7|add:d8|add:d9|add:d10|add:d11|add:d12|add:d13|add:d14}}</span>
            </div>

            <div style="font-family: Arial; font-size:1.2rem; font-style: italic;">
              {% if laps %}
              <span style="font-family: Arial; font-weight: bold; font-size:1.1rem; color:var(--color-r5); border-radius: 10px; border:1.5px solid var(--color-r5); padding: 2px 4px;">{{laps}}</span>
              {% else %}
              <span>&nbsp;</span>
              {% endif %}
            </div>
            
          </td>
          <td align="center" style="border-left: 0px;">

            <div style="font-family: Arial; font-size:1.2rem; font-style: italic;">
              <span style="font-family: Arial; color:var(--color-bg); font-size: 1.15rem; padding-right: 2px;">{{c1|add:c2|add:c3|add:c4|add:c5|add:c6|add:c7|add:c8|add:c9|add:c10|add:c11|add:c12|add:c13|add:c14}}</span>
            </div>
            
            <div style="font-family: Arial; font-size:1.2rem; font-style: italic;">
              {% if s1|add:s2|add:s3|add:s4|add:s5|add:s6|add:s7|add:s8|add:s9|add:s10|add:s11|add:s12|add:s13|add:s14 == 0 %}
              <span style="font-family: Arial; padding: 2px 4px;"></span>
              {% else %}
              <span style="font-family: Arial; font-weight: bold; font-size:1.1rem; color:var(--color-r1); border-radius: 10px; border:1.5px solid var(--color-r1); padding: 2px 4px;">{{s1|add:s2|add:s3|add:s4|add:s5|add:s6|add:s7|add:s8|add:s9|add:s10|add:s11|add:s12|add:s13|add:s14}}</span>
              {% endif %}
            </div>
          </td>

          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r1 == '조' %}
              <span style="color:red;">{{r1}}</span>
              {% else %}
                {% if r1|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r1|slice:"-2:"}}</span>
                {% elif r1|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r1|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r1 == '관' %}
                  <span style="color:var(--color-gray);">{{r1|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r1|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d1 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d1}}</span>
                {% if c1 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c1}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c1}}</span>
                {% endif %}
                {% if s1 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s1}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s1}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r2 == '조' %}
              <span style="color:red;">{{r2}}</span>
              {% else %}
                {% if r2|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r2|slice:"-2:"}}</span>
                {% elif r2|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r2|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r2 == '관' %}
                  <span style="color:var(--color-gray);">{{r2|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r2|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d2 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d2}}</span>
                {% if c2 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c2}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c2}}</span>
                {% endif %}
                {% if s2 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s2}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s2}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r3 == '조' %}
              <span style="color:red;">{{r3}}</span>
              {% else %}
                {% if r3|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r3|slice:"-2:"}}</span>
                {% elif r3|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r3|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r3 == '관' %}
                  <span style="color:var(--color-gray);">{{r3|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r3|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d3 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d3}}</span>
                {% if c3 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c3}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c3}}</span>
                {% endif %}
                {% if s3 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s3}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s3}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r4 == '조' %}
              <span style="color:red;">{{r4}}</span>
              {% else %}
                {% if r4|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r4|slice:"-2:"}}</span>
                {% elif r4|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r4|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r4 == '관' %}
                  <span style="color:var(--color-gray);">{{r4|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r4|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d4 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d4}}</span>
                {% if c4 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c4}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c4}}</span>
                {% endif %}
                {% if s4 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s4}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s4}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r5 == '조' %}
              <span style="color:red;">{{r5}}</span>
              {% else %}
                {% if r5|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r5|slice:"-2:"}}</span>
                {% elif r5|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r5|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r5 == '관' %}
                  <span style="color:var(--color-gray);">{{r5|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r5|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d5 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d5}}</span>
                {% if c5 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c5}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c5}}</span>
                {% endif %}
                {% if s5 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s5}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s5}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r6 == '조' %}
              <span style="color:red;">{{r6}}</span>
              {% else %}
                {% if r6|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r6|slice:"-2:"}}</span>
                {% elif r6|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r6|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r6 == '관' %}
                  <span style="color:var(--color-gray);">{{r6|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r6|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d6 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d6}}</span>
                {% if c6 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c6}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c6}}</span>
                {% endif %}
                {% if s6 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s6}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s6}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r7 == '조' %}
              <span style="color:red;">{{r7}}</span>
              {% else %}
                {% if r7|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r7|slice:"-2:"}}</span>
                {% elif r7|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r7|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r7 == '관' %}
                  <span style="color:var(--color-gray);">{{r7|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r7|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d7 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d7}}</span>
                {% if c7 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c7}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c7}}</span>
                {% endif %}
                {% if s7 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s7}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s7}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r8 == '조' %}
              <span style="color:red;">{{r8}}</span>
              {% else %}
                {% if r8|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r8|slice:"-2:"}}</span>
                {% elif r8|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r8|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r8 == '관' %}
                  <span style="color:var(--color-gray);">{{r8|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r8|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d8 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d8}}</span>
                {% if c8 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c8}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c8}}</span>
                {% endif %}
                {% if s8 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s8}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s8}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r9 == '조' %}
              <span style="color:red;">{{r9}}</span>
              {% else %}
                {% if r9|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r9|slice:"-2:"}}</span>
                {% elif r9|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r9|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r9 == '관' %}
                  <span style="color:var(--color-gray);">{{r9|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r9|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d9 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d9}}</span>
                {% if c9 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c9}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c9}}</span>
                {% endif %}
                {% if s9 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s9}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s9}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r10 == '조' %}
              <span style="color:red;">{{r10}}</span>
              {% else %}
                {% if r10|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r10|slice:"-2:"}}</span>
                {% elif r10|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r10|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r10 == '관' %}
                  <span style="color:var(--color-gray);">{{r10|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r10|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d10 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d10}}</span>
                {% if c10 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c10}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c10}}</span>
                {% endif %}
                {% if s10 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s10}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s10}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r11 == '조' %}
              <span style="color:red;">{{r11}}</span>
              {% else %}
                {% if r11|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r11|slice:"-2:"}}</span>
                {% elif r11|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r11|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r11 == '관' %}
                  <span style="color:var(--color-gray);">{{r11|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r11|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d11 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d11}}</span>
                {% if c11 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c11}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c11}}</span>
                {% endif %}
                {% if s11 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s11}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s11}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
          <td>                
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if r12 == '조' %}
              <span style="color:red;">{{r12}}</span>
              {% else %}
                {% if r12|slice:"-3:" == jockey_a|slice:"-3:" %}
                <span style="color:tomato;">{{r12|slice:"-2:"}}</span>
                {% elif r12|slice:"-3:" == '(트)' %}
                <span style="color:var(--color-r3);">{{r12|slice:"0:3"|slice:"-2:"}}</span>
                {% else %}
                  {% if r12 == '관' %}
                  <span style="color:var(--color-gray);">{{r12|slice:"-2:"}}</span>
                  {% else %}
                  <span style="color:var(--color-r5);">{{r12|slice:"-2:"}}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div align="center" style="font-family: Arial; font-size:1.10rem;">
              {% if d12 == 0 %}-
              {% else %}
                <span style="font-family: Arial;">{{d12}}</span>
                {% if c12 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{c12}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 700;">{{c12}}</span>
                {% endif %}
                {% if s12 == 0 %}
                <span style="font-family: Arial; color:var(--color-gray);">{{s12}}</span>
                {% else %}
                <span style="font-family: Arial; font-weight: 400; color:var(--color-r1); border: 1px solid var(--color-r1); border-radius: 7px; padding:1px 2px;">{{s12}}</span>
                {% endif %}
              {%endif%}
            </div>
          </td>
      </tr>
      
      {% endfor %}
  
    </tbody>
  </table>
  
</div>





{% include 'footer.html' %}
