<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>{% if awardee == 'jockey' %}기수{% else %}조교사{% endif %}&nbsp; 연승율 현황 - '{{r_condition.rdate|slice:"4:6"}}.{{r_condition.rdate|slice:"6:8"}}&nbsp;({{r_condition.rday}})</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>

</head>

{% load mathfilters %}
{% load humanize %}

{% block content %}

<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script>

<script>
  $(document).ready(function () {

    $('ul.tabs1 li').click(function () {
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs1 li').removeClass('current');
      $('.tab-content1').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    })

  })
</script>

<!-- <main class="create-room layout"> -->
<main class="create-room layout">
  <!-- <div class="room" style="height: 100.5vh;"> -->
  <div class="container">

    <div class="container" >

      <div class="room__top" style="z-index:1">
      
        <div class="room__topLeft">
          <a class="header__logo" style="height:2.0rem; width: 2.2rem; cursor: pointer;" onclick="window.close()">
            <!-- <a href="{% url 'home' %}" class="header__logo" style="height:2.0rem; width: 2.2rem;"> -->
            <img src="{% static 'images/number-9.png' %}" />
          </a>&nbsp;

          <span style="font-family: Arial, Helvetica, sans-serif; font-size:1.4rem; color: var(--color-main-light); font-weight: 500;">
            '{{r_condition.rdate|slice:"4:6"}}.{{r_condition.rdate|slice:"6:8"}}&nbsp;({{r_condition.rday}})
          </span>
      
          <span style="font-size:1.4rem; color: var(--color-main-light); font-weight: 500;">{{r_condition.rcity}}&nbsp;&nbsp;{{r_condition.rno}}®</span>
      
          <span class="tooltip" style="font-size:1.4rem; color: var(--color-main); font-weight: 500;">&nbsp;&nbsp;{{r_condition.grade|slice:"0:2"}}&nbsp;&nbsp;{{r_condition.rcon1}}&nbsp;&nbsp;
            <span class="tooltip-text" style="font-size:1.3rem; color: var(--color-main); font-weight: 500;">
              {{r_condition.rname}} <br>
              {{r_condition.rcon2}}
            </span>
          </span>
      
          <span style="font-size:1.4rem; color: var(--color-main-light); font-weight: 500;">{{r_condition.dividing}}</span>
          <span class="tooltip" style="color:var(--color-light); font-size: 1.4rem; font-family: Arial, Helvetica, sans-serif;">&nbsp;&nbsp;💵 {{r_condition.r1award|intcomma}}
            <span class="tooltip-text" style="text-align: right; font-family: Arial;">
              <table>
                <thead>
                  <th style="font-family: Arial; font-size: 1.2rem;">순위</th>
                  <th style="font-family: Arial; font-size: 1.2rem;">상금</th>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">1</td>
                    <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r1award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">2</td>
                    <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r2award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">3</td>
                    <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r3award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">4</td>
                    <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r4award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">5</td>
                    <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r5award|intcomma}}</td>
                  </tr>
                </tbody>
      
              </table>
      
            </span>
          </span>
          &nbsp;
          <a href="http://kra.fiveplayer.co.kr/player.php?f={{r_condition.rdate}}/{% if r_condition.rcity == '서울' %}s{%else%}b{%endif%}{{r_condition.rno}}r"
            onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;">
            <span class="tooltip">🖥️&nbsp;&nbsp;
              <span class="tooltip-text" style="font-size:1.4rem; color: var(--color-main); font-weight: 600;">경주결과
                영상</span></span>
          </a>
      
        </div>
      
      
      
        <div class="room__topRight">
      
          {%if r_condition.r2alloc %}
          <span class="tooltip" style="color:var(--color-r2); font-size: 1.4rem;">복승: {{r_condition.r2alloc|slice:"2:10"|rjust:10}}
            <span class="tooltip-text" style="text-align: left; font-family: Arial;">
              <table>
                <thead>
                  <tr>
                    <th style="font-family: Arial,; font-size: 1.2rem;">승식</th>
                    <th style="font-family: Arial,; font-size: 1.2rem;">배당율</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-family: Arial,; font-size: 1.2rem;">복승</td>
                    <td style="font-family: Arial,; font-size: 1.2rem; text-align: right;">{{r_condition.r2alloc|slice:"2:"}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial,; font-size: 1.2rem;">삼복승</td>
                    <td style="font-family: Arial,; font-size: 1.2rem; text-align: right;">{{r_condition.r333alloc|slice:"3:"}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial,; font-size: 1.2rem;">삼쌍승</td>
                    <td style="font-family: Arial,; font-size: 1.2rem; text-align: right;">{{r_condition.r123alloc|slice:"3:"}}</td>
                  </tr>
      
                </tbody>
              </table>
            </span>
          </span>
          {%endif%}
        </div>
      
        <div class="room__topRight">
          <span style="font-size:1.4rem; color: var(--color-main-light); font-family: Arial; padding:0.4rem; ">{{r_condition.distance}}𝓂</span>
        </div>
      
      
      
      </div>

      <hr style="border: solid 1px black;">
      
        <table class="fold-table">
          <thead>

            <tr>
      
              <th rowspan="2" width="6%" valign="center"><span class="visible-small">예상<br>순위.</span><span class="visible-big" style="padding:0.95rem">예상<br>순위</span></th>
              <th rowspan="1" width="5%"><span class="visible-small">마번</span><span class="visible-big">마번</span></th>
              <th rowspan="1" width="10%"><span class="visible-small">Horse</span><span class="visible-big">Horse</span></th>
              <th rowspan="1" width="9%"><span class="visible-small">이름(나이)</span><span class="visible-big">이름(나이)</span></th>
      
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.0.0}}</span><span class="visible-big">{{trend_title.0.0}}</span></th>
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.1.0}}</span><span class="visible-big">{{trend_title.1.0}}</span></th>
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.2.0}}</span><span class="visible-big">{{trend_title.2.0}}</span></th>
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.3.0}}</span><span class="visible-big">{{trend_title.3.0}}</span></th>
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.4.0}}</span><span class="visible-big">{{trend_title.4.0}}</span></th>
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.5.0}}</span><span class="visible-big">{{trend_title.5.0}}</span></th>
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.6.0}}</span><span class="visible-big">{{trend_title.6.0}}</span></th>
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.7.0}}</span><span class="visible-big">{{trend_title.7.0}}</span></th>
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.8.0}}</span><span class="visible-big">{{trend_title.8.0}}</span></th>
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.9.0}}</span><span class="visible-big">{{trend_title.9.0}}</span></th>
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.10.0}}</span><span class="visible-big">{{trend_title.10.0}}</span></th>
              <th rowspan="2" width="5.5%"><span class="visible-small">{{trend_title.11.0}}</span><span class="visible-big">{{trend_title.11.0}}</span></th>
      
            </tr>
            <tr>
              <th rowspan="1"><span class="visible-small">(실순)</span><span class="visible-big">(실순)</span></th>
              <th rowspan="1"><span class="visible-small">인기도(데뷔)</span><span class="visible-big">인기도(데뷔)</span></th>
              <th rowspan="1"><span class="visible-small">총1위_금주</span><span class="visible-big">총1위_금주</span></th>
      
      
      
            </tr>
      
          </thead>
          <tbody>
            {% for rank, gate, r_rank, r_pop, horse, jockey, debut, k01, k02, k03, k04, k05, k06, k07, k08, k09, k10, k11, k12, w01, w02, w03, w04, w05, w06, w07, w08, w09, w10, w11, w12 in trend_j %}
      
            <tr class="view">
      
              <td align="center">
                <div style="font-family: Arial; font-size:1.4rem; color:var(--color-main-light);">
                  {% if rank > 20 %}🐣{% else %} {{rank}} {% endif %}
                </div>
              </td>
      
              <td>
                <div align="center" style="font-size:1.4rem;">
                  {% if rank == 1 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r1); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 2 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r2); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 3 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r3); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 4 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r4); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 5 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r5); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% else %}
                  <span style="font-family: Arial; font-style: normal;">
                    {{gate}}
                  </span>
                  {% endif %}
      
                </div>
      
                {% if r_rank %}
                {% if r_rank == 1 %}
                <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r1); text-align: right;">{{r_rank}}</div>
                {% elif r_rank == 2 %}
                <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r2); text-align: right;">{{r_rank}}</div>
                {% elif r_rank == 3 %}
                <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r3); text-align: right;">{{r_rank}}</div>
                {% elif r_rank == 4 %}
                <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r4); text-align: right;">{{r_rank}}</div>
                {% elif r_rank == 5 %}
                <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r5); text-align: right;">{{r_rank}}</div>
                {% else %}
                <div style="font-family: Arial; font-size:1.1rem; font-style: italic; color:var(--color-gray); text-align: right;">{{r_rank}}</div>
                {% endif %}
                {% endif %}
      
              </td>
      
              <td>
                <div align="left" style="font-family: Arial; font-size:1.3rem;">
                  {% if rank == 1 %}
                  <span style="font-style: italic; color:var(--color-r1); font-weight: 700;">
                    {{horse}}
                  </span>
                  {% elif rank == 2 %}
                  <span style="font-style: italic; color:var(--color-r2); font-weight: 700;">
                    {{horse}}
                  </span>
                  {% elif rank == 3 %}
                  <span style="font-style: italic; color:var(--color-r3); font-weight: 700;">
                    {{horse}}
                  </span>
                  {% elif rank == 4 %}
                  <span style="font-style: italic; color:var(--color-r4); font-weight: 700;">
                    {{horse}}
                  </span>
                  {% elif rank == 5 %}
                  <span style="font-style: italic; color:var(--color-r5); font-weight: 700;">
                    {{horse}}
                  </span>
                  {% else %}
                  <span style="font-style: normal;">
                    {{horse}}
                  </span>
                  {% endif %}
                </div>
      
                <div style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); text-align: right;">
      
                  <progress value={{r_pop}} max="100" style="width: 3rem"></progress>
                  <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-light-gray);font-size: 1.05rem;">({{debut|slice:"0:4"}})</span>
                </div>
              </td>
      
              <td>
      
                <div style="font-size: 1.25rem; text-align: left;">
                  <span style="color:var(--color-light_gray);">{{jockey|slice:"0:3"}}</span>
                  <span style="font-size: 1.0rem; color:var(--color-gray);">({{debut|slice:"11:13"}})</span>
                </div>
                <div style="font-size: 1.05rem; text-align: right;">
                  <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-r2);">{{debut|slice:"14:"}}</span>
                  <!-- <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-light-gray);font-size: 1.0rem;">({{debut|slice:"0:4"}})</span> -->
                </div>
      
              </td>
      
              <td align="right">
                {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w01 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w01|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w01 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w01|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w01|div:10}}</div>
                {% endif %}

                {% if k01|slice:"2:" == '0`0`0' %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k01}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k01}}</div>
                {% endif %}
              </td>
              <td align="right">
                {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w02 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w02|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w02 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w02|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w02|div:10}}</div>
                {% endif %}
                {% if k02|slice:"2:" == '0`0`0' %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k02}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k02}}</div>
                {% endif %}
              </td>
              <td align="right">
                {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w03 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w03|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w03 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w03|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w03|div:10}}</div>
                {% endif %}

                {% if k03|slice:"2:" == '0`0`0' %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k03}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k03}}</div>
                {% endif %}
              </td>
              <td align="right">
                {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w04 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w04|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w04 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w04|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w04|div:10}}</div>
                {% endif %}

                {% if k04|slice:"2:" == '0`0`0' %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k04}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k04}}</div>
                {% endif %}
              </td>
              <td align="right">
                {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w05 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w05|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w05 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w05|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w05|div:10}}</div>
                {% endif %}

                {% if k05|slice:"2:" == '0`0`0' %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k05}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k05}}</div>
                {% endif %}
              </td>
              <td align="right">
                {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w06 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w06|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w06 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w06|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w06|div:10}}</div>
                {% endif %}

                {% if k06|slice:"2:" == '0`0`0' %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k06}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k06}}</div>
                {% endif %}
              </td>
              <td align="right">
                {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w07 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w07|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w07 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w07|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w07|div:10}}</div>
                {% endif %}

                {% if k07|slice:"2:" == '0`0`0' %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k07}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k07}}</div>
                {% endif %}
              </td>
              <td align="right">
                {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w08 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w08|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w08 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w08|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w08|div:10}}</div>
                {% endif %}

                {% if k08|slice:"2:" == '0`0`0' %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k08}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k08}}</div>
                {% endif %}
              </td>
              <td align="right">
                {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w09 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w09|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w09 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w09|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w09|div:10}}</div>
                {% endif %}

                {% if k09|slice:"2:" == '0`0`0' %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k09}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k09}}</div>
                {% endif %}
              </td>
              <td align="right">
                {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w10 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w10|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w10 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w10|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w10|div:10}}</div>
                {% endif %}

                {% if k10|slice:"2:" == '0`0`0' %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k10}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k10}}</div>
                {% endif %}
              </td>
              <td align="right">
                {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w11 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w11|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w11 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w11|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w11|div:10}}</div>
                {% endif %}

                {% if k11|slice:"2:" == '0`0`0' %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k11}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k11}}</div>
                {% endif %}
              </td>
              <td align="right">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 == w12 %}
                  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w12|div:10}}</div>
                  {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w12 %}
                  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w12|div:10}}</div>
                  {% else %}
                  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w12|div:10}}</div>
                  {% endif %}

                  {% if k12|slice:"2:" == '0`0`0' %}
                  <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k12}}</div>
                  {% else %}
                  <div style="font-family: Arial; font-size: 1.0rem;">{{k12}}</div>
                  {% endif %}
                </div>
      
              </td>
      
            </tr>
      
            <tr class="fold">
              <td colspan="16">
                <div class="fold-content">
                  <table class="small-friendly">
                    <thead style="font-size:1.2rem;">
                      <tr>

                        
                      </tr>


                    </thead>
                    <tbody>
                      {% for rcity, rdate, rno, distance, grade, dividing, weather, rstate, rmoisture, r1award, r2alloc, race_speed, gate, rank, horse_a, h_weight, w_change, jockey_a, trainer_a, host_a, rating, handycap, record, corners, gap, gap_b, p_record, p_rank, pop_rank, alloc1r, alloc3r, rs1f, rg3f, rg2f, rg1f in solidarity %}
                      {% if jockey_a == jockey|slice:"0:3" %}

                      <tr align="center" style="font-size: 1.1rem;">

                        <td>
                            <div style="text-align: left; color:dodgerblue; font-style: italic; text-align: left;">
                              <span style="font-size: 1.2rem; font-family: Arial;">'{{rdate|slice:"2:4" }}.{{rdate|slice:"4:6" }}.{{rdate|slice:"6:8"}}</span>
                              {% if r_condition.distance == distance %}
                              <span style="font-size: 1.2rem; font-family: Arial; color:tomato; font-weight: 700;">{{distance}}ᵐ</span>
                              {%else%}
                              <span style="font-size: 1.2rem; font-family: Arial; font-weight: 300;">{% if distance %}{{distance}}ᵐ{% else %}취소{% endif %}</span>
                              {%endif%}
                              &nbsp;
                            </div>
                        </td>
                        
                        <td>
                          
                            {# 경주정보 #}
                            <div style="text-align: right; font-style: italic;">
                            
                              {% if grade %}
                                {% if grade|slice:"0:2" == '주행'%}
                                <span style="font-size: 1.1rem; color:var(--color-r4)">{{grade|slice:"0:2"}}</span>
                                {%else%}

                                  {% if grade|slice:"0:2" == r_condition.grade|slice:"0:2" %}
                                  <span style="font-size: 1.1rem; color:tomato;">{{grade|slice:"0:2"}}</span>
                                  {% else %}
                                  <span style="font-size: 1.1rem;">{{grade|slice:"0:2"}}</span>
                                  {% endif %}
                                  
                                  {% if dividing|slice:"0:2" == r_condition.dividing|slice:"0:2"%}
                                  <span style="font-size: 1.1rem; color:tomato;">{{dividing|slice:"0:1"}}</span>
                                  {% else %}
                                  <span style="font-size: 1.1rem;">{{dividing|slice:"0:1"}}</span>
                                  {% endif %}

                                {%endif%}
                              {%endif%}
                              
                            </div>
 
                        </td>
                        
                        {# 마명 / 체중 #}
                        <td style="font-size: 1.2rem">
                          {% if horse == horse_a %}
                            <div style="color:var(--color-r1); text-align: left;">{{horse_a|slice:"0:4"}}</div>
                          {% else %}
                            <div style="color:var(--color-gray); text-align: left;">{{horse_a|slice:"0:4"}}</div>
                          {% endif %}
                        </td>
                        <td>
                            <div style="font-size: 1.1rem; font-family: Arial, Helvetica, sans-serif; text-align: left;">&nbsp;&nbsp;&nbsp;{{h_weight}}&nbsp;{{w_change}}</div>
                            
                        </td>

                        {# 부담중량 #}
                        <td style="font-size: 1.2rem; text-align: center;">
                          <div style="font-size: 1.2rem; text-align:left; font-family: Arial;">{% if handycap %}{{handycap}}{% endif %}</div>
                        </td>

                        {# 조교사 / 마주 #}
                        <td style="font-size: 1.15rem">
                            {% if trainer_a == jockey|slice:"5:8" %}
                            <div style="color:var(--color-r1); text-align: left;">{{trainer_a}}</div>
                            {%else%}
                            <div style="color:var(--color-gray); text-align: left;">{{trainer_a}}</div>
                            {%endif%}
                        </td>
                        <td>
                            {% if host_a == jockey|slice:"10:" %}
                            <div style="color:var(--color-r1); text-align: left;">&nbsp;&nbsp;{{host_a|slice:"0:4"}}</div>
                            {%else%}
                            <div style="color:var(--color-gray); text-align: left;;">&nbsp;&nbsp;{{host_a|slice:"0:4"}}</div>
                            {%endif%}
                        </td>
                        
                        <td data-th="경주마" style="font-size: 1.2rem">
                          
                          {% if weather %}
                          <div style="text-align:left; font-family: Arial;">
                            {% if weather|slice:"0:1" == '맑' %}☀️
                            {% elif weather|slice:"0:1" == '흐' %}☁️
                            {% elif weather|slice:"0:1" == '비' %}☔️
                            {% elif weather|slice:"0:1" == '눈' %}☃️
                            {% else %}﹆
                            {% endif %}
                          </div>
                          
                          {% endif %}

                        </td>
                        <td>
                          {% if rstate == '불량' or rstate == '포화' %}
                          <div style="text-align:right; font-family: Arial; font-size: 1.1rem; color:tomato;">{{rstate}}</div>
                          {% else %}
                          <div style="text-align:right; font-family: Arial; font-size: 1.1rem;">{% if handycap %}{{rstate}}{% endif %}</div>
                          {% endif %}

                        </td>
                        <td>
                          {% if rstate == '불량' or rstate == '포화' %}
                          <div style="text-align:right; font-family: Arial; font-size: 1.1rem; color:tomato;">{{rmoisture}}</div>
                          {% else %}
                          <div style="text-align:right; font-family: Arial; font-size: 1.1rem;">{% if handycap %}{{rmoisture}}{% endif %}</div>
                          {% endif %}

                        </td>

                        <td>
                          {% if rank == 1 %}
                          <div style="font-style: italic; color:var(--color-r1); font-weight: 500; font-size: 1.25rem; font-family: Arial;">
                            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
                          </div>
                          {% elif rank == 2 %}
                          <div style="font-style: italic; color:var(--color-r2); font-weight: 500; font-size: 1.2rem; font-family: Arial;">
                            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
                          </div>
                          {% elif rank == 3 %}
                          <div style="font-style: italic; color:var(--color-r3); font-weight: 500; font-size: 1.2rem; font-family: Arial;">
                            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
                          </div>
                          
                          {% else %}
                          <div style="font-style: italic; font-size: 1.2rem; font-family: Arial;">
                            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
                          </div>
                          {% endif %}

                        </td>
                        
                        <td style="font-size: 1.25rem;">
                          
                          <span style="font-family: Arial; border-radius: 10px; background-color:bisque; padding: 3px;">
                            {% if rank > 20 %}﹆{% else %} {{gate}} {% endif %}
                          </span>
                          
                        </td>
                        <td style="font-size: 1.0rem; font-family: Arial;">
                          {% if corners %}
                            <div style="color:rgb(0, 128, 255); text-align: center; font-style: italic; font-family: Arial;">
                              {{corners}}
                            </div>
                          {% endif %}
                        </td>
                        <td style="font-size: 1.2rem; font-family: Arial;">
                          {% if rank == 1 %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:aqua; padding: 3px;"">
                            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
                          </span>
                          {% elif rank == 2 %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:aqua; padding: 3px;"">
                            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
                          </span>
                          {% elif rank == 3 %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:aqua; padding: 3px;"">
                            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
                          </span>
                          
                          {% else %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:bisque; padding: 3px;">
                            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
                          </span>
                          {% endif %}
                        </td>

                        <td>
                          {% if gap %}
                          <div style="font-size: 1.1rem; font-weight: 500; font-family: Arial;">{% if rank < 20 %}{{gap}}{% endif %}</div>
                          {%endif%}
                        </td>
                        <td>
                          {% if gap_b %}
                          <div style="font-size: 1.1rem; font-weight: 500; font-family: Arial;">{% if rank < 20 %}{{gap_b}}{% endif %}</div>

                          {%endif%}
                        </td>

                        <td style="text-align: center;">
                          {% if pop_rank %}
                          {% if grade|slice:"0:2" == '주행' %}
                          {% else %}
                            {% if pop_rank == 1 %}
                            <span style="font-style: italic; color:var(--color-r1); font-size: 1.1rem;">
                              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
                            </span>
                            {% elif pop_rank == 2 %}
                            <span style="font-style: italic; color:var(--color-r2); font-size: 1.1rem;">
                              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
                            </span>
                            {% elif pop_rank == 3 %}
                            <span style="font-style: italic; color:var(--color-r3); font-size: 1.1rem;">
                              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
                            </span>
                            {% else %}
                            <span style="font-style: normal; font-size: 1.1rem;">
                              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
                            </span>
                            {% endif %}

                            <span>/</span>
                            {% if p_rank %}
                              {% if p_rank == 1 %}
                              <span style="font-style: italic; color:var(--color-r1); font-size: 1.1rem; text-align: right;">
                                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                              </span>
                              {% elif p_rank == 2 %}
                              <span style="font-style: italic; color:var(--color-r2); font-size: 1.1rem; text-align: right;">
                                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                              </span>
                              {% elif p_rank == 3 %}
                              <span style="font-style: italic; color:var(--color-r3); font-size: 1.1rem; text-align: right;">
                                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                              </span>
                              {% else %}
                              <span style="font-style: normal; font-size: 1.1rem; text-align: right;">
                                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                              </span>
                              {% endif %}
                            {% endif %}
                          {% endif %}
                          {% endif %}
                        </td>

                        
                        <td align="right">
                        {% if alloc1r != None %}
                          {% if r_condition.distance == distance %}
                            <div style="font-size: 1.1rem; color:rgb(0, 128, 255); font-weight: 500; font-family: Arial;">
                          {%else%}
                            <div style="font-size: 1.1rem; font-family: Arial;">
                          {%endif%}
                            {{alloc3r}}</div>
                        {%else%}
                        
                        {%endif%}
                        </td>

                        <td align="right" style="font-size: 1.1rem;">
                          <div style="font-family: Arial;">{{r2alloc|slice:"2:"}}</div>
                        </td>

                      </tr>
                      {%endif%}

                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </td>
            </tr>

      
            {% endfor %}
          </tbody>
        </table>
      
      
      


    </div>

  </div>

</main>
{% endblock %}

{% include 'footer.html' %}

</html>