<!DOCTYPE html>
{% load static %}
<html lang="en">

<div class="loader" style="z-index: 999;">
</div>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>{% if awardee == 'jockey' %}기수{% else %}조교사{% endif %}&nbsp; 연승율 현황 - '{{r_condition.rdate|slice:"4:6"}}.{{r_condition.rdate|slice:"6:8"}}&nbsp;({{r_condition.rday}})&nbsp;{{r_condition.rno}}R</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>
  

</head>

{% load mathfilters %}
{% load humanize %}

{% block content %}

<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script>

<!-- <main class="create-room layout"> -->
<main class="create-room layout">
  <!-- <div class="room" style="height: 100.5vh;"> -->

  <div class="container" >

    <div class="roomList" style="height: auto;">
    {# Header #}
    {% include 'base/m_header_of_common.html' %}

      <hr style="border: solid 1px black;">
      
        <table class="fold-table">
          <thead>
            <tr>
              {% if trend_j.0.2 %}
              <th rowspan="1" width="5.0%"><span>예상</span></th>
              {% else %}
              <th rowspan="2" width="5.0%" style="vertical-align: middle;"><div>예상<br>순위</div></th>
              {% endif %}
              <th rowspan="2" width="4%" style="vertical-align: middle;"><span class="visible-big">마번</span></th>
              <th colspan="1"  width="13%">
                <a href="{% url 'status_stable' r_condition.rcity r_condition.rdate r_condition.rno %}"
                  onclick="window.open(this.href, 'w_status_stable', 'width=900, height=880, toolbars=no, scrollbars=yes'); return false;">
                  <span class="tooltip" style="font-size: 1.2rem; font-weight: 400;">🐴&nbsp;Horse
                    <span class="tooltip-text">마방 경주마 보유현황 🔑</span>
                </a>
              </th>
              <th rowspan="1" width="8%"><span class="visible-big">이름(나이)</span></th>
              <th colspan="10">
                <span class="visible-big">
                  🏇&nbsp;&nbsp;최근 99일 경주성적 필터링: &nbsp;
                  {% if awardee == 'jockey' %}
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '1' %}">1위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '2' %}">2위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '3' %}">3위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '4' %}">4위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '5' %}">5위</a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '99' %}">ALL</a>
                  {% else %}
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '1' %}">1위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '2' %}">2위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '3' %}">3위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '4' %}">4위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '5' %}">5위</a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '99' %}">ALL</a>
                  {% endif %}

                </span>
              </th>
              <th colspan="2" style="background-color: var(--color-bg); color:var(--color-main); border-radius: 4px;"><span>1년전</span></th>
              
      
            </tr>
            <tr>
              {% if trend_j.0.2 %} {# 경주결과가 입력되었으면 #}
              <th rowspan="1"><span style="font-size: 0.9rem; color:var(--color-gray); border-radius: 10px; background-color:var(--color-bg); padding: 2px 2px;">실순</span></th>
              {% endif %}

              <th rowspan="1">
                <span class="visible-big" style="font-size:1.2rem;">총 승 [데뷔년도]</span>
              </th>
              <th rowspan="1"><span class="visible-big" style="font-size:1.2rem;">금주입상</span></th>

              <th rowspan="1" width="5.5%" style="border-radius: 7px; background-color: var(--color-bg); color:var(--color-main);"><span class="visible-big">{{trend_title.11.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.10.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.9.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.8.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.7.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.6.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.5.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.4.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.3.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.2.0}}</span></th>
              <th rowspan="1" width="5.5%" style="background-color: var(--color-bg); color:var(--color-main); border-radius: 4px;"><span class="visible-big">{{trend_title.1.0}}</span></th>
              <th rowspan="1" width="5.5%" style="background-color: var(--color-bg); color:var(--color-main); border-radius: 4px;"><span class="visible-big">{{trend_title.0.0}}</span></th>
            </tr>
      
          </thead>
          <tbody>
            {% for rank, gate, r_rank, r_pop, horse, t_awardee, debut, k01, k02, k03, k04, k05, k06, k07, k08, k09, k10, k11, k12, w01, w02, w03, w04, w05, w06, w07, w08, w09, w10, w11, w12 in trend_j %}
      
            <tr class="view">
      
              <td align="center">
                <div style="font-family: Arial; font-size:1.3rem; color:var(--color-main-light);">
                  {% if rank > 20 %}<span style="font-size: 1.1rem;">🐣</span>{% else %} {{rank}} {% endif %}
                </div>
                
                <div style="font-family: Arial; font-size:1.0rem; font-style: italic; color:var(--color-r1); text-align: right;">
                {% if r_rank %}
                  
                  {% if r_rank == 1 %}
                  <span style="font-family: Arial; font-size:1.0rem; color:var(--color-main-light); text-align: right; padding:2px 4px; border-radius: 7px; background-color: var(--color-r1);">{{r_rank}}</span>
                  {% elif r_rank == 2 %}
                  <span style="font-family: Arial; font-size:1.0rem; color:var(--color-light); text-align: right; padding:2px 4px; border-radius: 7px; background-color: var(--color-r2);">{{r_rank}}</span>
                  {% elif r_rank == 3 %}
                  <span style="font-family: Arial; font-size:1.0rem; color:var(--color-bg); text-align: right; padding:2px 4px; border-radius: 7px; background-color: var(--color-r3);">{{r_rank}}</span>
                  {% elif r_rank == 4 %}
                  <span style="font-family: Arial; font-size:1.0rem; color:var(--color-r4); text-align: right; padding:2px 4px; border-radius: 7px; border: 1px solid var(--color-r4);">{{r_rank}}</span>
                  {% elif r_rank == 5 %}
                  <span style="font-family: Arial; font-size:1.0rem; color:var(--color-r5); text-align: right; padding:2px 4px; border-radius: 7px; border: 1px solid var(--color-r5);">{{r_rank}}</span>
                  {% elif r_rank == 99 %}
                  <span style="font-family: Arial; font-size:.9rem; color:var(--color-gray); text-align: right; padding:2px 4px; border-radius: 7px;">🚫</span>
                  {% else %}
                  <span style="font-family: Arial; font-size:1.0rem; color:var(--color-gray); text-align: right; padding:2px 4px; border-radius: 7px;">{{r_rank}}</span>
                  {% endif %}
                {% endif %}
                </div>

              </td>
              
              {# gate(마번) 착순 #}
              <td align="center" style="font-size: 1.4rem; border-radius: 10px; border: 0.5px solid gray;">
                {% if r_rank == 99 %}
                <span style="font-style: italic; text-decoration:line-through; color:gray;">{{gate}}</span>
                {% else %}
                  {% if rank == 1 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r1); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 2 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r2); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 3 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r3); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 4 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r4); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 5 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r5); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% else %}
                  <span style="font-family: Arial; font-style: normal; ">{{gate}}</span>
                  {% endif %}
                {% endif %}
              </td>
      
              {# 경주마 인기도 #}
              <td>
                <div align="left" style="font-family: Arial; font-size:1.3rem;">
                  
                  {% if r_rank == 99 %}
                    <span style="font-style: italic; text-decoration:line-through; color:gray;">{{horse|slice:"0:6"|rjust:"6"}}</span>
                  {% else %}
                    {% if rank == 1 %}
                      <span style="font-style: italic; color:var(--color-r1);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {% elif rank == 2 %}
                      <span style="font-style: italic; color:var(--color-r2);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {% elif rank == 3 %}
                      <span style="font-style: italic; color:var(--color-r3);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {% elif rank == 4 %}
                      <span style="font-style: italic; color:var(--color-r4);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {% elif rank == 5 %}
                      <span style="font-style: italic; color:var(--color-r5);">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {%else%}
                      <span style="font-style: normal;">{{horse|slice:"0:6"|rjust:"6"}}</span>
                    {%endif%}
                  {% endif %}
                </div>
      
                <div style="font-family: Arial; font-size:1.15rem; color:var(--color-r5); text-align: right;">
                  {% with wcnt=debut|slice:"14:-8" %}
                  {% if wcnt|mod:100 >= 96 %}
                  <span style="font-family: Arial; font-size: 1.10rem; padding: 2px 4px; color: var(--color-r1); border-radius: 5px; background-color: var(--color-bg);">{% if wcnt|slice:"-1:" == '_' %}{{wcnt|slice:":-1"}}{% else %}{{wcnt}}{% endif %}</span>
                  {% elif wcnt|mod:100 >= 91 and wcnt|mod:100 < 96 %}
                  <span style="font-family: Arial; font-size: 1.10rem; padding: 2px 4px; color: var(--color-r3); border-radius: 5px; background-color: var(--color-bg);">{% if wcnt|slice:"-1:" == '_' %}{{wcnt|slice:":-1"}}{% else %}{{wcnt}}{% endif %}</span>
                  {% else %}
                  <span style="font-family: Arial; font-size: 1.10rem; padding: 2px 4px; color: var(--color-light-gray); border-radius: 5px; background-color: var(--color-bg);">{% if wcnt|slice:"-1:" == '_' %}{{wcnt|slice:":-1"}}{% else %}{{wcnt}}{% endif %}</span>
                  {% endif %}
                  <!-- <span style="font-family: Arial; font-size:1.15rem; color:var(--color-r5);">{{twin}}</span> -->
                  {% endwith %}
                  <span>&nbsp;</span>
                  <span style="font-family: Arial; color:var(--color-light-gray);font-size: 1.05rem;">[ {{debut|slice:"0:4"}} ]</span>
                </div>
              </td>
      
              {# 이름(나이) #}
              <td>
                <div style="font-size: 1.2rem; text-align: left;">
                  {% with man=t_awardee|slice:"0:4" %}
                  {% if awardee == 'jockey' %}
                  <a href="{% url 'jt_analysis_multi' r_condition.rcity r_condition.rdate|mul:1|sub:10000 r_condition.rdate man '%' '%' '%' '1' '99' '1' '99' '0' '0' '0' r_condition.rno '%' %}" onclick="window.open(this.href, 'w_jt_analysis_multi', 'width=1250, height=1000, toolbars=no, scrollbars=yes'); return false;">
                  {% else %}
                  <a href="{% url 'jt_analysis_multi' r_condition.rcity r_condition.rdate|mul:1|sub:10000 r_condition.rdate '%' man '%' '%' '1' '99' '1' '99' '0' '0' '0' r_condition.rno '%' %}" onclick="window.open(this.href, 'w_jt_analysis_multi', 'width=1250, height=1000, toolbars=no, scrollbars=yes'); return false;">
                  {% endif %}
                    <span style="color:var(--color-light); border-bottom: 1px solid var(--color-gray);">{{t_awardee|slice:"0:3"}}</span>
                    <span style="font-size: 1.0rem; color:var(--color-light-gray);">({{debut|slice:"11:13"}})</span>
                  </a>
                  {% endwith %}
                  
                </div>
                <div style="font-size: 1.05rem; text-align: right;">
                  {% if debut|slice:"-5:" == '0`0`0' %}
                  <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-gray);">{% if debut|slice:"-8:"|slice:"0:1" == '_' %}{{debut|slice:"-7:"}}{% else %}{{debut|slice:"-8:"}}{% endif %}</span>
                  {% else %}
                  <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-r2);">{% if debut|slice:"-8:"|slice:"0:1" == '_' %}{{debut|slice:"-7:"}}{% else %}{{debut|slice:"-8:"}}{% endif %}</span>
                  {% endif %}
                  
                </div>
      
              </td>
              {# w12 #}
              <td align="right" style="border-radius: 10px; border: 0.5px solid gray;">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if w11 == w12 %}
                  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w12}}</div>
                  {% elif w11 > w12 %}
                  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w12}}</div>
                  {% else %}
                  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w12}}</div>
                  {% endif %}
              
                  {% if k12|slice:"-5:" == '0`0`0' %}
                  {% if k12 == '0`0`0`0' %}
                  <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                  {% else %}
                  <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k12}}</div>
                  {% endif %}
                  {% else %}
                  <div style="font-family: Arial; font-size: 1.0rem;">{{k12}}</div>
                  {% endif %}
                </div>
              
              </td>
              {# w11 #}
              <td align="right">
                {% if w10 == w11 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w11}}</div>
                {% elif w10 > w11 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w11}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w11}}</div>
                {% endif %}
              
                {% if k11|slice:"-5:" == '0`0`0' %}
                {% if k11 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k11}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k11}}</div>
                {% endif %}
              </td>
              {# w10 #}
              <td align="right">
                {% if w09 == w10 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w10}}</div>
                {% elif w09 > w10 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w10}}</div>
                {% endif %}
              
                {% if k10|slice:"-5:" == '0`0`0' %}
                {% if k10 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k10}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k10}}</div>
                {% endif %}
              </td>
              {# w09 #}
              <td align="right">
                {% if w08 == w09 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w09}}</div>
                {% elif w08 > w09 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w09}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w09}}</div>
                {% endif %}
              
                {% if k09|slice:"-5:" == '0`0`0' %}
                {% if k09 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k09}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k09}}</div>
                {% endif %}
              </td>
              {# w08 #}
              <td align="right">
                {% if w07 == w08 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w08}}</div>
                {% elif w07 > w08 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w08}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w08}}</div>
                {% endif %}
              
                {% if k08|slice:"-5:" == '0`0`0' %}
                {% if k08 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k08}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k08}}</div>
                {% endif %}
              </td>
              {# w07 #}
              <td align="right">
                {% if w06 == w07 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w07}}</div>
                {% elif w06 > w07 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w07}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w07}}</div>
                {% endif %}
              
                {% if k07|slice:"-5:" == '0`0`0' %}
                {% if k07 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k07}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k07}}</div>
                {% endif %}
              </td>
              {# w06 #}
              <td align="right">
                {% if w05 == w06 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w06}}</div>
                {% elif w05 > w06 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w06}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w06}}</div>
                {% endif %}
              
                {% if k06|slice:"-5:" == '0`0`0' %}
                {% if k06 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k06}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k06}}</div>
                {% endif %}
              </td>
              {# w05 #}
              <td align="right">
                {% if w04 == w05 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w05}}</div>
                {% elif w04 > w05 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w05}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w05}}</div>
                {% endif %}
              
                {% if k05|slice:"-5:" == '0`0`0' %}
                {% if k05 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k05}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k05}}</div>
                {% endif %}
              </td>
              {# w04 #}
              <td align="right">
                {% if w03 == w04 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w04}}</div>
                {% elif w03 > w04 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w04}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w04}}</div>
                {% endif %}
              
                {% if k04|slice:"-5:" == '0`0`0' %}
                {% if k04 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k04}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k04}}</div>
                {% endif %}
              </td>
              {# w03 #}
              <td align="right">
                {% if w02 == w03 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w03}}</div>
                {% elif w02 > w03 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w03}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w03}}</div>
                {% endif %}
              
                {% if k03|slice:"-5:" == '0`0`0' %}
                {% if k03 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k03}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k03}}</div>
                {% endif %}
              </td>
              {# w02 #}
              <td align="right" style="border-radius: 10px; border: 0.5px solid gray;">
                {% if w01 == w02 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w02}}</div>
                {% elif w01 > w02 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w02}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w02}}</div>
                {% endif %}
                {% if k02|slice:"-5:" == '0`0`0' %}
                {% if k02 == '0`0`0`0' %}
                  <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                  {% else %}
                  <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k02}}</div>
                  {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k02}}</div>
                {% endif %}
              </td>
              {# w01 #}
              <td align="right">
                {% if w12 == w01 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w01}}</div>
                {% elif w12 > w01 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r5);">{{w01}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w01}}</div>
                {% endif %}
              
                {% if k01|slice:"-5:" == '0`0`0' %}
                {% if k01 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k01}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k01}}</div>
                {% endif %}
              </td>
              
            </tr>
      
            <tr class="fold">
              <td colspan="16">
                {# include 'base/m_solidarity.html' #}

                <div class="fold-content">
                    <table class="tt9light-table" style="width: 100%; border-radius: 10px; border: 0.5px solid gray;">
                      <thead>
                        <tr style="background-color:var(--color-dark-medium); color:var(--color-light-gray);">
                          <th colspan="3" style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">Race</span></th>
                          <th><span class="visible-big" style="font-size: 1.1rem;">마<br>번</span></th>
                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">Horse</span></th>
                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">Dist.</span></th>
                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">부중</span></th>
                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">기수</span></th>
                          <th colspan="2" style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">%&nbsp;(횟수)</span></th>
                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">조교사</span></th>
                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">마주</span></th>
                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">최근7경주 순위</span></th>

                          <th><span class="visible-big" style="font-size: 1.1rem;">예<br>상</span></th>
                          <th><span class="visible-big" style="font-size: 1.1rem;">결<br>과</span></th>
                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">연승</span></th>


                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">S1F</span></th>
                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">Corners</span></th>
                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">G3F</span></th>
                          <th style="vertical-align:middle"><span class="visible-big" style="font-size: 1.1rem;">G1F</span></th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for rcity, awardee, rdate, rday, rno, grade, dividing, gate, rank, r_rank, horse_name, remark, j_name, t_name, h_name, r_pop, distance, handycap, jt_per, jt_cnt, remark, s1f_rank, corners, g3f_rank, g1f_rank, alloc3r, jockey_old, reason in race_detail %}
                        
                        {% if t_awardee|slice:"0:3"|cut:" " == j_name|slice:"0:3"|cut:" " or t_awardee|slice:"0:3"|cut:" " == t_name|slice:"0:3"|cut:" " %}
                        
                        <tr>
                          
                          <td align="center">
                            <a href="{% url 'race_prediction' rcity rdate rno horse 'awardee' %}">
                              {% if rday == '일' %}
                              <span style="font-size: 1.15rem; font-family: Arial, Helvetica, sans-serif; color:var(--color-dark);">'{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                              <span style="font-size: 1.15rem; color:var(--color-r5);">{{rday}}</span>

                              {% else %}
                              <span style="font-size: 1.15rem; font-family: Arial, Helvetica, sans-serif; color:var(--color-dark);">'{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                              <span style="font-size: 1.15rem; color:var(--color-r2);">{{rday}}</span>

                              {% endif %}
                            </a>
                          </td>

                          <td align="center">
                            <a href="{% url 'race_prediction' rcity rdate rno horse 'awardee' %}">
                              <div>
                                <span style="font-family: Arial; font-size: 1.15rem; text-decoration-line: underline;">{{rno}}<sup style="font-size: 0.9rem;">R</sup></span>
                              </div>
                                
                            </a>
                          </td>

                          <td align="center">
                              <div>
                                {% if 'O' in grade %}
                                <span style="font-size: 1.1rem; color: var(--color-r1);">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                                {% else %}
                                <span style="font-size: 1.1rem;">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                                {% endif %}
                              </div>
                          </td>

                          <td align="center" style="font-size: 1.1rem;">
                            {% if jockey_old %}
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size:1.1rem; border-radius: 10px; background-color:var(--color-r3); padding: 2px 4px; color:var(--color-bg);">
                              {{gate}}
                            </span>
                            {% else %}
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size:1.1rem; border-radius: 10px; background-color:aquamarine; padding: 2px 4px; color:var(--color-bg);">{{gate}}</span>
                            {% endif %}
                          </td>

                          <td align="left" style="font-size: 1.15rem; font-family: Arial;">
                            {% if horse == horse_name %}
                            <span class="blink" style="color:var(--color-r1); font-style: italic; font-weight: 500;">{{horse_name}}</span>
                            {% else %}
                            <span>{{horse_name}}</span>
                            {% endif %}
                          </td>

                          <td align="center" style="font-size: 1.1rem;">
                            {% if r_condition.distance == distance %}
                            <span style="font-family: Arial; color:var(--color-r1); font-style: italic; font-weight: 500;">{{distance}}</span>
                            {% else %}
                            <span style="font-family: Arial; color:var(--color-gray);">{{distance}}</span>
                            {% endif %}
                          </td>
                          
                          <td align="center">

                            <span style="font-family: Arial; font-size:1.12rem; color:var(--color-gray);">{{handycap}}</span>

                          </td>
                          <td>
                            {% if jockey_old %}
                              {% if jockey == j_name %}
                              <span class="tooltip" style="font-size: 1.1rem; color:var(--color-r5); font-style: italic; font-weight: 500;">{{j_name}}
                                <span class="tooltip-text" style="font-size: 1.1rem; color:var(--color-light-gray); font-style: italic; font-weight: 500;">변경전 기수&nbsp;: &nbsp;({{jockey_old}})</span>
                              </span>
                              {% else %}
                              <span class="tooltip" style="font-size: 1.1rem; color:var(--color-r5);">{{j_name}}
                                <span class="tooltip-text" style="font-size: 1.1rem; color:var(--color-light-gray); font-style: italic; font-weight: 500;">변경전 기수&nbsp;: &nbsp;({{jockey_old}})</span>
                              </span>
                              {% endif %}
                            {% else %}
                              {% if jockey == j_name %}
                              <span style="font-size: 1.1rem; color:var(--color-r1); font-style: italic; font-weight: 500;">{{j_name}}
                              </span>
                              {% else %}
                              <span style="font-size: 1.1rem">{{j_name}}
                              </span>
                              {% endif %}
                            {% endif %}
                          </td>

                          <td align="right">
                            <a href="{% url 'jt_analysis_multi' rcity rdate|mul:1|sub:10000 rdate j_name t_name '%' '%' '1' '99' '1' '99' '0' '0' '0' rno '%' %}" onclick="window.open(this.href, 'w_jt_analysis_multi', 'width=1250, height=1000, toolbars=no, scrollbars=yes'); return false;">
                            {% if jockey_old %}
                            <span style="font-size: 1.1rem; font-family: Arial, Helvetica, sans-serif; color:var(--color-gray); text-decoration-line: line-through;">{% if jt_per >= 100 %}100{% else %}{{jt_per}}{% endif %}</span>
                            {% else %}

                              {% if jt_per >= 100 %}
                              <span style="text-decoration: underline; font-size: 1.1rem; font-family: Arial, Helvetica, sans-serif; color:var(--color-r1);">100</span>  
                              {% elif jt_per >= 50 and jt_per < 100 %}
                              <span style="text-decoration: underline; font-size: 1.1rem; font-family: Arial, Helvetica, sans-serif; color:var(--color-r1);">{{jt_per}}</span>
                              {% elif jt_per >= 30 and jt_per < 50 %}
                              <span style="text-decoration: underline; font-size: 1.1rem; font-family: Arial, Helvetica, sans-serif; color:var(--color-r3);">{{jt_per}}</span>
                              {% elif jt_per >= 10 and jt_per < 30 %}
                              <span style="text-decoration: underline; font-size: 1.1rem; font-family: Arial, Helvetica, sans-serif; color:var(--color-r5);">{{jt_per}}</span>
                              {% else %}
                              <span style="text-decoration: underline; font-size: 1.1rem; font-family: Arial, Helvetica, sans-serif; color:var(--color-gray);">{{jt_per}}</span>
                              {% endif %}
                            {% endif %}
                            </a>

                          </td>
                          
                          <td align="right">
                            <a href="{% url 'jt_analysis_multi' rcity rdate|mul:1|sub:10000 rdate j_name t_name '%' '%' '1' '99' '1' '99' '0' '0' '0' rno '%' %}" onclick="window.open(this.href, 'w_jt_analysis_multi', 'width=1250, height=1000, toolbars=no, scrollbars=yes'); return false;">
                              {% if jockey_old %}
                              <span style="text-decoration: underline; font-family: Arial; font-size: 1.1rem; color:var(--color-gray); text-decoration-line: line-through;">{{jt_cnt}}</span>
                              {% else %}
                              <span style="text-decoration: underline; font-family: Arial; font-size: 1.1rem; color:var(--color-r5)">{{jt_cnt}}</span>
                              {% endif %}
                            </a>
                          </td>

                          <td>
                            {% if trainer == t_name %}
                            <span style="font-size: 1.1rem; color:var(--color-r1); font-style: italic; font-weight: 500;">{{t_name}}</span>
                            {% else %}
                            <span style="font-size: 1.1rem">{{t_name}}</span>
                            {% endif %}
                          </td>

                          <td>
                            {% if host == h_name %}
                            <span style="font-size: 1.1rem; color:var(--color-r1); font-style: italic; font-weight: 500;"><span>{{h_name|slice:"0:3"}}</span>
                            {% else %}
                            <span style="font-size: 1.1rem"><span>{{h_name|slice:"0:3"}}</span>
                            {% endif %}
                          </td>

                          <td align="center" style="font-size: 1.1rem">
                            {% if remark == '1' %}
                            <div style="font-weight: 700; font-size: 1.0rem; color:var(--color-r1);">{{remark}}</div>
                            {% elif remark == '2' %}
                            <div style="font-weight: 700; font-size: 1.0rem; color:var(--color-r2);">{{remark}}</div>
                            {% elif remark == '3' %}
                            <div style="font-weight: 700; font-size: 1.0rem; color:var(--color-r3);">{{remark}}</div>
                            {% else %}
                              {% if remark|slice:"0:1" == '1' and remark|slice:"1:2" == '-' %}
                              <div style="font-size: 1.0rem; color:var(--color-r1);">{{remark}}</div>
                              {% elif remark|slice:"0:1" == '2' and remark|slice:"1:2" == '-' %}
                              <div style="font-size: 1.0rem; color:var(--color-r2);">{{remark}}</div>
                              {% elif remark|slice:"0:1" == '3' and remark|slice:"1:2" == '-' %}
                              <div style="font-size: 1.0rem; color:var(--color-r3);">{{remark}}</div>
                              {% elif remark|slice:"0:1" == '4' and remark|slice:"1:2" == '-' %}
                              <div style="font-size: 1.0rem; color:var(--color-r4);">{{remark}}</div>
                              {% elif remark|slice:"0:1" == '5' and remark|slice:"1:2" == '-' %}
                              <div style="font-size: 1.0rem; color:var(--color-r5);">{{remark}}</div>
                              {% else %}
                              <div style="font-size: 1.0rem; color:var(--color-gray);">{{remark}}</div>
                              {% endif %}
                            {% endif %}
                          </td>
                          
                          {# 프로그램 예상순위 #}
                          <td align="center" style="font-size: 1.0rem">
                            {% if rank == 1 %}
                            <span style="font-family: Arial, Helvetica, sans-serif; background-color:var(--color-r1); color:var(--color-light); padding:2px 4px; border-radius: 7px;">{{rank}}</span>
                            {% elif rank == 2 %}
                            <span style="font-family: Arial, Helvetica, sans-serif; background-color:var(--color-r2); color:var(--color-light); padding:2px 4px; border-radius: 7px;">{{rank}}</span>
                            {% elif rank == 3 %}
                            <span style="font-family: Arial, Helvetica, sans-serif; background-color:var(--color-r3); color:var(--color-bg); padding:2px 4px; border-radius: 7px;">{{rank}}</span>
                            {% elif rank == 4 %}
                            <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-r4);">{{rank}}</span>
                            {% elif rank == 5 %}
                            <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-r5);">{{rank}}</span>
                            {% elif rank == 98 %}
                            <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-r3);">🐥</span>
                            {% else %}
                            <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-gray);">{{rank}}</span>
                            {% endif %}
                          </td>
                          {# 경주결과(순위) #}
                          <td align="center" style="font-size: 1.0rem">
                            {% if r_rank %}
                              {% if r_rank == 1 %}
                              <span style="font-family: Arial, Helvetica, sans-serif; background-color:var(--color-r1); color:var(--color-light); padding:2px 4px; border-radius: 7px;">{{r_rank}}</span>
                              {% elif r_rank == 2 %}
                              <span style="font-family: Arial, Helvetica, sans-serif; background-color:var(--color-r2); color:var(--color-light); padding:2px 4px; border-radius: 7px;">{{r_rank}}</span>
                              {% elif r_rank == 3 %}
                              <span style="font-family: Arial, Helvetica, sans-serif; background-color:var(--color-r3); color:var(--color-bg); padding:2px 4px; border-radius: 7px;">{{r_rank}}</span>
                              {% elif r_rank == 4 %}
                              <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-r4);">{{r_rank}}</span>
                              {% elif r_rank == 5 %}
                              <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-r5);">{{r_rank}}</span>
                              {% elif r_rank > 90 %}
                              <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-r3);">🚫</span>
                              {% else %}
                              <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-gray);">{{r_rank}}</span>
                              {% endif %}
                            {% endif %}
                          </td>

                          <td align="center" style="font-size: 1.0rem; font-family: Arial; color:var(--color-r2);">
                            {% if alloc3r %}
                              {% if r_rank == 1 %}
                              <span style="font-family: Arial; background-color:var(--color-r1); color:var(--color-light); padding:2px 4px; border-radius: 7px;">{{alloc3r}}</span>
                              {% elif r_rank == 2 %}
                              <span style="font-family: Arial; background-color:var(--color-r2); color:var(--color-light); padding:2px 4px; border-radius: 7px;">{{alloc3r}}</span>
                              {% elif r_rank == 3 %}
                              <span style="font-family: Arial; background-color:var(--color-r3); color:var(--color-bg); padding:2px 4px; border-radius: 7px;">{{alloc3r}}</span>
                              {% else %}
                              <span style="font-family: Arial; color:var(--color-gray);">{{alloc3r}}</span>
                              {% endif %}
                            {% endif %}
                          </td>

                          <td align="center" style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5);">{% if s1f_rank %}{{s1f_rank}}{% endif %}</td>
                          <td align="center" style="font-size: 1.1rem; font-family: Arial; color:var(--color-bg);">{% if corners %}{{corners}}{% endif %}</td>
                          <td align="center" style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5);">{% if g3f_rank %}{{g3f_rank}}{% endif %}</td>
                          <td align="center" style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5);">{% if g1f_rank %}{{g1f_rank}}{% endif %}</td>                          
                          
                        </tr>
                        
                        {% endif %}
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
              </td>
            </tr>

      
            {% endfor %}
          </tbody>
        </table>
      
    </div>
  </div>
</main>

<script>
  $(window).on('load', function () {
    $('.loader').fadeOut();
  });
</script>

{% endblock %}

{% include 'footer.html' %}

</html>