<!DOCTYPE html>
{% load static %}
<html lang="en">

<div class="loader" style="z-index: 999;">
</div>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>{% if awardee == 'jockey' %}기수{% else %}조교사{% endif %}&nbsp; 연승율 현황 - '{{r_condition.rdate|slice:"4:6"}}.{{r_condition.rdate|slice:"6:8"}}&nbsp;({{r_condition.rday}})</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>
  

</head>

{% load mathfilters %}
{% load humanize %}

{% block content %}

<script>
  $(function () {
    $(".fold-table tr.view").on("click", function () {
      if ($(this).hasClass("open")) {
        $(this).removeClass("open").next(".fold").removeClass("open");
      } else {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
      }
    });
  });

</script>

<script>
  $(document).ready(function () {

    $('ul.tabs1 li').click(function () {
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs1 li').removeClass('current');
      $('.tab-content1').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    })

  })
</script>

<!-- <main class="create-room layout"> -->
<main class="create-room layout">
  <!-- <div class="room" style="height: 100.5vh;"> -->

    

  <div class="container">

    <div class="container" >

      <div class="room__top" style="z-index:1">
      
        <div class="room__topLeft">
          <a class="header__logo" style="height:2.0rem; width: 2.2rem; cursor: pointer;" onclick="window.close()">
            <!-- <a href="{% url 'home' %}" class="header__logo" style="height:2.0rem; width: 2.2rem;"> -->
            <img src="{% static 'images/number-9.png' %}" />
          </a>&nbsp;

          {% if awardee == 'jockey' %}
          <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno|add:-1 'jockey' '99' %}">
            <span class="tooltip">◀︎
              <span class="tooltip-text" style="font-size:1.4rem; text-align: right;">
                이전 경주
              </span>
            </span>
          </a>
          <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno|add:1 'jockey' '99' %}">
            <span class="tooltip">▶︎
              <span class="tooltip-text" style="font-size:1.4rem; text-align: right;">
                다음 경주
              </span>
            </span>
          </a>
          {% else %}
          <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno|add:-1 'trainer' '99' %}">
            <span class="tooltip">◀︎
              <span class="tooltip-text" style="font-size:1.4rem; text-align: right;">
                이전 경주
              </span>
            </span>
          </a>
          <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno|add:1 'trainer' '99' %}">
            <span class="tooltip">▶︎
              <span class="tooltip-text" style="font-size:1.4rem; text-align: right;">
                다음 경주
              </span>
            </span>
          </a>
          {% endif %}

          &nbsp;

          <span style="font-family: Arial, Helvetica, sans-serif; font-size:1.4rem; color: var(--color-main-light); font-weight: 500;">
            '{{r_condition.rdate|slice:"4:6"}}.{{r_condition.rdate|slice:"6:8"}}&nbsp;({{r_condition.rday}})
          </span>
      
          <span style="font-size:1.4rem; color: var(--color-main-light); font-weight: 500;">{{r_condition.rcity}}&nbsp;&nbsp;{{r_condition.rno}}®</span>
      
          <span class="tooltip" style="font-size:1.4rem; color: var(--color-main); font-weight: 500;">&nbsp;&nbsp;{{r_condition.grade|slice:"0:2"}}&nbsp;&nbsp;{{r_condition.rcon1}}&nbsp;&nbsp;
            <span class="tooltip-text" style="font-size:1.3rem; color: var(--color-main); font-weight: 500;">
              {{r_condition.rname}} <br>
              {{r_condition.rcon2}}
            </span>
          </span>
      
          <span style="font-size:1.4rem; color: var(--color-main-light); font-weight: 500;">{{r_condition.dividing}}</span>
          <span class="tooltip" style="color:var(--color-light); font-size: 1.4rem; font-family: Arial, Helvetica, sans-serif;">&nbsp;&nbsp;💵 {{r_condition.r1award|intcomma}}
            <span class="tooltip-text" style="text-align: right; font-family: Arial;">
              <table>
                <thead>
                  <th style="font-family: Arial; font-size: 1.2rem;">순위</th>
                  <th style="font-family: Arial; font-size: 1.2rem;">상금</th>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">1</td>
                    <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r1award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">2</td>
                    <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r2award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">3</td>
                    <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r3award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">4</td>
                    <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r4award|intcomma}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial; font-size: 1.2rem; text-align: center;">5</td>
                    <td style="font-family: Arial; font-size: 1.2rem;">{{r_condition.r5award|intcomma}}</td>
                  </tr>
                </tbody>
      
              </table>
      
            </span>
          </span>
          &nbsp;
          <!-- <a href="http://kra.fiveplayer.co.kr/player.php?f={{r_condition.rdate}}/{% if r_condition.rcity == '서울' %}s{%else%}b{%endif%}{{r_condition.rno}}r"
            onclick="window.open(this.href, '_blank', 'width=1024, height=1000, toolbars=no, scrollbars=yes'); return false;"> -->
          <a href="https://kraplayer.starplayer.net/kra/vod/starplayer.php?meet={% if r_condition.rcity == '서울' %}1{%else%}3{%endif%}&rcdate={{r_condition.rdate}}&rcno={{r_condition.rno}}&vod_type=r"
            onclick="window.open(this.href, '_blank', 'width=1400, height=700, toolbars=no, scrollbars=yes'); return false;">
            <span class="tooltip">🖥️&nbsp;&nbsp;
              <span class="tooltip-text" style="font-size:1.4rem; color: var(--color-main); font-weight: 600;">경주결과
                영상</span></span>
          </a>
      
        </div>
      
      
      
        <div class="room__topRight">
      
          {%if r_condition.r2alloc %}
          <span class="tooltip" style="color:var(--color-r2); font-size: 1.4rem;">복승: {{r_condition.r2alloc|slice:"2:10"|rjust:10}}
            <span class="tooltip-text" style="text-align: left; font-family: Arial;">
              <table>
                <thead>
                  <tr>
                    <th style="font-family: Arial,; font-size: 1.2rem;">승식</th>
                    <th style="font-family: Arial,; font-size: 1.2rem;">배당율</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-family: Arial,; font-size: 1.2rem;">복승</td>
                    <td style="font-family: Arial,; font-size: 1.2rem; text-align: right;">{{r_condition.r2alloc|slice:"2:"}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial,; font-size: 1.2rem;">삼복승</td>
                    <td style="font-family: Arial,; font-size: 1.2rem; text-align: right;">{{r_condition.r333alloc|slice:"3:"}}</td>
                  </tr>
                  <tr>
                    <td style="font-family: Arial,; font-size: 1.2rem;">삼쌍승</td>
                    <td style="font-family: Arial,; font-size: 1.2rem; text-align: right;">{{r_condition.r123alloc|slice:"3:"}}</td>
                  </tr>
      
                </tbody>
              </table>
            </span>
          </span>
          {%endif%}
        </div>
      
        <div class="room__topRight">
          <span style="font-size:1.4rem; color: var(--color-main-light); font-family: Arial; padding:0.4rem; ">{{r_condition.distance}}𝓂</span>

          <span style="color: var(--color-main); padding:0.4rem;">
            {% if request.user.username == 'admin' %}
            <a href="{% url 'race_report' r_condition.rcity r_condition.rdate r_condition.rno %}"
              onclick="window.open(this.href, '_blank', 'width=900, height=800, top=0, left=0, toolbars=no, scrollbars=yes'); return false;">
              <span class="tooltip" style="font-size: 1.35rem; font-weight: 400;">⏰&nbsp;&nbsp;{{r_condition.rtime}}
                <span class="tooltip-text">경주복기</span>
              </span>
            </a>
          
            {% else %}
            ⏰&nbsp;&nbsp;{{r_condition.rtime}}
            {% endif %}
          </span>
        </div>
      
      
      
      </div>

      <hr style="border: solid 1px black;">
      
        <table class="fold-table">
          <thead>

            <tr>
      
              <th rowspan="2" width="6%" valign="center"><span class="visible-big" style="padding-bottom: 0.95rem;">예상<br>순위</span></th>
              <th rowspan="1" width="5%"><span class="visible-big">마번</span></th>
              <th rowspan="1" width="10%"><span class="visible-big">Horse</span></th>
              <th rowspan="1" width="9%"><span class="visible-big">이름(나이)</span></th>
              <th colspan="12">
                <span class="visible-big">
                  🏇&nbsp;&nbsp;최근 99일 경주성적 필터링: &nbsp;
                  {% if awardee == 'jockey' %}
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '1' %}">1위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '2' %}">2위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '3' %}">3위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '4' %}">4위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '5' %}">5위</a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'jockey' '99' %}">ALL</a>
                  {% else %}
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '1' %}">1위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '2' %}">2위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '3' %}">3위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '4' %}">4위</a>&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '5' %}">5위</a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{% url 'trend_winning_rate' r_condition.rcity r_condition.rdate r_condition.rno 'trainer' '99' %}">ALL</a>
                  {% endif %}

                </span>
              </th>
      
              
      
            </tr>
            <tr>
              <th rowspan="1"><span class="visible-big">(실순)</span></th>
              <th rowspan="1"><span class="visible-big">인기도(데뷔)</span></th>
              <th rowspan="1"><span class="visible-big">총1위_금주</span></th>

              <th rowspan="1" width="5.5%" style="border-radius: 7px; background-color: var(--color-bg); color:var(--color-main);"><span class="visible-big">{{trend_title.11.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.10.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.9.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.8.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.7.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.6.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.5.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.4.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.3.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.2.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.1.0}}</span></th>
              <th rowspan="1" width="5.5%"><span class="visible-big">{{trend_title.0.0}}</span></th>
            </tr>
      
          </thead>
          <tbody>
            {% for rank, gate, r_rank, r_pop, horse, t_awardee, debut, k01, k02, k03, k04, k05, k06, k07, k08, k09, k10, k11, k12, w01, w02, w03, w04, w05, w06, w07, w08, w09, w10, w11, w12 in trend_j %}
      
            <tr class="view">
      
              <td align="center">
                <div style="font-family: Arial; font-size:1.4rem; color:var(--color-main-light);">
                  {% if rank > 20 %}🐣{% else %} {{rank}} {% endif %}
                </div>
              </td>
      
              <td>
                <div align="center" style="font-size:1.4rem;">
                  {% if rank == 1 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r1); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 2 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r2); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 3 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r3); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 4 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r4); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% elif rank == 5 %}
                  <span style="font-family: Arial; font-style: italic; color:var(--color-r5); font-weight: 700;">
                    {{gate}}
                  </span>
                  {% else %}
                  <span style="font-family: Arial; font-style: normal;">
                    {{gate}}
                  </span>
                  {% endif %}
      
                </div>
      
                {% if r_rank %}
                {% if r_rank == 1 %}
                <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r1); text-align: right;">{{r_rank}}</div>
                {% elif r_rank == 2 %}
                <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r2); text-align: right;">{{r_rank}}</div>
                {% elif r_rank == 3 %}
                <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r3); text-align: right;">{{r_rank}}</div>
                {% elif r_rank == 4 %}
                <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r4); text-align: right;">{{r_rank}}</div>
                {% elif r_rank == 5 %}
                <div style="font-family: Arial; font-size:1.1rem; font-weight: 700; font-style: italic; color:var(--color-r5); text-align: right;">{{r_rank}}</div>
                {% else %}
                <div style="font-family: Arial; font-size:1.1rem; font-style: italic; color:var(--color-gray); text-align: right;">{{r_rank}}</div>
                {% endif %}
                {% endif %}
      
              </td>
      
              <td>
                <div align="left" style="font-family: Arial; font-size:1.3rem;">
                  {% if rank == 1 %}
                  <span style="font-style: italic; color:var(--color-r1); font-weight: 700;">
                    {{horse}}
                  </span>
                  {% elif rank == 2 %}
                  <span style="font-style: italic; color:var(--color-r2); font-weight: 700;">
                    {{horse}}
                  </span>
                  {% elif rank == 3 %}
                  <span style="font-style: italic; color:var(--color-r3); font-weight: 700;">
                    {{horse}}
                  </span>
                  {% elif rank == 4 %}
                  <span style="font-style: italic; color:var(--color-r4); font-weight: 700;">
                    {{horse}}
                  </span>
                  {% elif rank == 5 %}
                  <span style="font-style: italic; color:var(--color-r5); font-weight: 700;">
                    {{horse}}
                  </span>
                  {% else %}
                  <span style="font-style: normal;">
                    {{horse}}
                  </span>
                  {% endif %}
                </div>
      
                <div style="font-family: Arial; font-size:1.1rem; color:var(--color-r5); text-align: right;">
      
                  <progress value={{r_pop}} max="100" style="width: 3rem"></progress>
                  <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-light-gray);font-size: 1.05rem;">({{debut|slice:"0:4"}})</span>
                </div>
              </td>
      
              <td>
      
                <div style="font-size: 1.25rem; text-align: left;">
                  <span style="color:var(--color-light_gray);">{{t_awardee|slice:"0:3"}}</span>
                  <span style="font-size: 1.0rem; color:var(--color-gray);">({{debut|slice:"11:13"}})</span>
                </div>
                <div style="font-size: 1.05rem; text-align: right;">
                  {% if debut|slice:"-5:" == '0_0_0' %}
                  <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-r5);">{{debut|slice:"14:"}}</span>
                  {% else %}
                  <span style="font-family: Arial, Helvetica, sans-serif; color:var(--color-r2);">{{debut|slice:"14:"}}</span>
                  {% endif %}
                  
                </div>
      
              </td>
              {# w12 #}
              <td align="right" style="border-radius: 10px;">
                <div style="font-size: 1.25rem; text-align: right;">
                  {% if w11 == w12 %}
                  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w12|div:10}}</div>
                  {% elif w11 > w12 %}
                  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w12|div:10}}</div>
                  {% else %}
                  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w12|div:10}}</div>
                  {% endif %}
              
                  {% if k12|slice:"-5:" == '0`0`0' %}
                  {% if k12 == '0`0`0`0' %}
                  <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                  {% else %}
                  <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k12}}</div>
                  {% endif %}
                  {% else %}
                  <div style="font-family: Arial; font-size: 1.0rem;">{{k12}}</div>
                  {% endif %}
                </div>
              
              </td>
              {# w11 #}
              <td align="right">
                {% if w10 == w11 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w11|div:10}}</div>
                {% elif w10 > w11 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w11|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w11|div:10}}</div>
                {% endif %}
              
                {% if k11|slice:"-5:" == '0`0`0' %}
                {% if k11 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k11}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k11}}</div>
                {% endif %}
              </td>
              {# w10 #}
              <td align="right">
                {% if w09 == w10 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w10|div:10}}</div>
                {% elif w09 > w10 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w10|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w10|div:10}}</div>
                {% endif %}
              
                {% if k10|slice:"-5:" == '0`0`0' %}
                {% if k10 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k10}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k10}}</div>
                {% endif %}
              </td>
              {# w09 #}
              <td align="right">
                {% if w08 == w09 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w09|div:10}}</div>
                {% elif w08 > w09 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w09|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w09|div:10}}</div>
                {% endif %}
              
                {% if k09|slice:"-5:" == '0`0`0' %}
                {% if k09 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k09}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k09}}</div>
                {% endif %}
              </td>
              {# w08 #}
              <td align="right">
                {% if w07 == w08 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w08|div:10}}</div>
                {% elif w07 > w08 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w08|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w08|div:10}}</div>
                {% endif %}
              
                {% if k08|slice:"-5:" == '0`0`0' %}
                {% if k08 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k08}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k08}}</div>
                {% endif %}
              </td>
              {# w07 #}
              <td align="right">
                {% if w06 == w07 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w07|div:10}}</div>
                {% elif w01|add:w02|add:w03|add:w04|add:w05|add:w06|add:w07|add:w08|add:w09|add:w10|add:w11|add:w12|div:12 > w07 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w07|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w07|div:10}}</div>
                {% endif %}
              
                {% if k07|slice:"-5:" == '0`0`0' %}
                {% if k07 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k07}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k07}}</div>
                {% endif %}
              </td>
              {# w06 #}
              <td align="right">
                {% if w05 == w06 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w06|div:10}}</div>
                {% elif w05 > w06 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w06|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w06|div:10}}</div>
                {% endif %}
              
                {% if k06|slice:"-5:" == '0`0`0' %}
                {% if k06 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k06}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k06}}</div>
                {% endif %}
              </td>
              {# w05 #}
              <td align="right">
                {% if w04 == w05 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w05|div:10}}</div>
                {% elif w04 > w05 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w05|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w05|div:10}}</div>
                {% endif %}
              
                {% if k05|slice:"-5:" == '0`0`0' %}
                {% if k05 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k05}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k05}}</div>
                {% endif %}
              </td>
              {# w04 #}
              <td align="right">
                {% if w03 == w04 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w04|div:10}}</div>
                {% elif w03 > w04 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w04|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w04|div:10}}</div>
                {% endif %}
              
                {% if k04|slice:"-5:" == '0`0`0' %}
                {% if k04 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k04}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k04}}</div>
                {% endif %}
              </td>
              {# w03 #}
              <td align="right">
                {% if w02 == w03 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w03|div:10}}</div>
                {% elif w02 > w03 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w03|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w03|div:10}}</div>
                {% endif %}
              
                {% if k03|slice:"-5:" == '0`0`0' %}
                {% if k03 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k03}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k03}}</div>
                {% endif %}
              </td>
              {# w02 #}
              <td align="right">
                {% if w01 == w02 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w02|div:10}}</div>
                {% elif w01 > w02 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w02|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w02|div:10}}</div>
                {% endif %}
                {% if k02|slice:"-5:" == '0`0`0' %}
                {% if k02 == '0`0`0`0' %}
                  <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                  {% else %}
                  <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k02}}</div>
                  {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k02}}</div>
                {% endif %}
              </td>
              {# w01 #}
              <td align="right">
                {% if w12 == w01 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-light_gray);">{{w01|div:10}}</div>
                {% elif w12 > w01 %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-gray);">{{w01|div:10}}</div>
                {% else %}
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; color:var(--color-r3);">{{w01|div:10}}</div>
                {% endif %}
              
                {% if k01|slice:"-5:" == '0`0`0' %}
                {% if k01 == '0`0`0`0' %}
                <div style="color:var(--color-r1); font-family: Arial; font-size: 1.0rem;">xxxx</div>
                {% else %}
                <div style="color:var(--color-r5); font-family: Arial; font-size: 1.0rem;">{{k01}}</div>
                {% endif %}
                {% else %}
                <div style="font-family: Arial; font-size: 1.0rem;">{{k01}}</div>
                {% endif %}
              </td>
              
            </tr>
      
            <tr class="fold">
              <td colspan="16">
                <div class="fold-content">
                  <table class="small-friendly">

                    <thead>
                      <tr>
                        <th colspan="3" style="font-size: 1.2rem;">
                          <span style="color:var(--color-r2);">{{t_awardee|slice:"0:5"|cut:" "}}&nbsp;&nbsp;</span>
                          <span>경주정보</span>
                        </th>
                        <th colspan="1" style="font-size: 1.2rem;"><span>Horse</span></th>
                        <th colspan="1" style="font-size: 1.2rem;"><span>마체중</span></th>

                        <th colspan="1" style="font-size: 1.2rem;"><span>부중</span></th>

                        <th colspan="2" >
                          <span style="font-size: 1.2rem;">{% if awardee == 'jockey' %}조교사{% else %}기수{% endif %}</span>
                          <span style="font-size: 1.0rem;">(연대)</span></th>
                        <th colspan="1" style="font-size: 1.2rem;"><span>마주</span></th>
                        <th colspan="1" style="font-size: 0.9rem;"><sup style="background-color: var(--color-bg); border-radius: 7px; color:var(--color-main-light); padding: 2px 4px;">주기</sup></th>
                        <th colspan="2" style="font-size: 1.2rem;"><span>날씨/주로</span></th>
                        <th colspan="1" style="font-size: 1.2rem;"><span>기록</span></th>
                        <th colspan="1" style="font-size: 1.2rem;"><span>G</span></th>
                        <th colspan="1" style="font-size: 1.2rem;"><span>코너전개</span></th>
                        <th colspan="1" style="font-size: 1.2rem;"><span>R</span></th>
                        <th colspan="1" style="font-size: 1.2rem;"><span>착차</span></th>
                        <th colspan="1" style="font-size: 0.9rem; padding:0 9;"><sup>인기</sup><sub>예상</sub></th>
                        <th colspan="1" style="font-size: 1.2rem;"><span>연식</span></th>
                        <th colspan="1" style="font-size: 0.9rem;"><sup style="background-color: var(--color-bg); border-radius: 7px; color:var(--color-main-light); padding: 2px 4px;">빠르기</sup></th>
                        
                      </tr>


                    </thead>

                    <tbody>
                      {% for rcity, rdate, rno, distance, grade, dividing, weather, rstate, rmoisture, r1award, r2alloc, race_speed, gate_a, rank, horse_a, h_weight, w_change, jockey_a, trainer_a, host_a, rating, handycap, record, corners, gap, gap_b, p_record, p_rank, pop_rank, alloc1r, alloc3r, rs1f, rg3f, rg2f, rg1f, i_cycle, jt_per, adv_track in solidarity %}
                      
                      {% if t_awardee|slice:"0:3"|cut:" " == jockey_a|slice:"0:3"|cut:" " or t_awardee|slice:"0:3"|cut:" " == trainer_a|slice:"0:3"|cut:" " %}

                      <tr align="center">

                        <td align="left">
                          <a href="{% url 'race_result' rcity rdate rno horse_a r_condition.rcity r_condition.rdate r_condition.rno %}"
                            onclick="window.open(this.href, 'w_result', 'width=1000, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
                            <div style="text-align: left;">
                              <span style="font-size: 1.1rem; font-family: Arial; font-style: italic; color:var(--color-r5);">'{{rdate|slice:"4:6" }}.{{rdate|slice:"6:8"}}</span>

                              {% if r_condition.rcity == rcity %}
                              <span style="font-size: 0.8rem; font-family: Arial;color:var(--color-r5)">{{rcity|slice:"0:1"}}</span>
                              {% else %}
                              <span style="font-size: 0.8rem; font-family: Arial; border-radius: 10px; padding: 3px; background-color: var(--color-r3); color:gray">{{rcity|slice:"0:1"}}</span>
                              {% endif %}
                              <span style="font-size: 1.1rem; font-family: Arial;color:var(--color-r5)">{{rno}}</span>
                            </div>
                          </a>
                        </td>

                        <td align="center">
                          
                          {% if r_condition.distance == distance %}
                          <span style="font-size: 1.1rem; font-family: Arial; color:tomato; font-weight: 600; font-style: italic;">{{distance}}</span>
                          {%else%}
                          <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-gray)">{% if distance %}{{distance}}{% else %}취소{% endif %}</span>
                          {%endif%}
                        </td>
                        
                        <td>
                          
                          {# 경주정보 #}
                          <div style="text-align: center; font-style: normal;">
                          
                            {% if grade %}
                              {% if grade|slice:"0:2" == '주행'%}
                              <span style="font-size: 1.0rem; color:var(--color-r4)">{{grade|slice:"0:2"}}</span>
                              {%else%}

                                {% if grade|slice:"0:2" == r_condition.grade|slice:"0:2" %}
                                <span style="font-size: 1.0rem; color:tomato;">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                                {% else %}
                                  {% if grade|slice:"1:2" == 'O' %}
                                  <span style="font-size: 1.0rem; background-color: var(--color-r3); padding: 1px; border-radius: 4px;">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                                  {% else %}
                                  <span style="font-size: 1.0rem;">{{grade|slice:"0:2"}}{{dividing|slice:"0:1"}}</span>
                                  {% endif %}
                                {% endif %}
                                
                                <!-- {% if dividing|slice:"0:2" == r_condition.dividing|slice:"0:2"%}
                                <span style="font-size: 1.1rem; color:tomato;">{{dividing|slice:"0:1"}}</span>
                                {% else %}
                                <span style="font-size: 1.1rem;">{{dividing|slice:"0:1"}}</span>
                                {% endif %} -->

                              {%endif%}
                            {%endif%}
                            
                          </div>

                        </td>
                        
                        {# 마명 / 체중 #}
                        <td style="font-size: 1.15rem">
                          {% if horse == horse_a %}
                            <div style="color:var(--color-r1); text-align: left;">{{horse_a|slice:"0:5"}}</div>
                          {% else %}
                            <div style="text-align: left;">{{horse_a|slice:"0:5"}}</div>
                          {% endif %}
                        </td>

                        <td>
                          <sub style="font-size: 1.1rem; font-family: Arial; text-align: center;">{{h_weight}}</sub>

                          <sup style="font-size: 1.1rem; font-family: Arial; text-align: right;">{{w_change}}</sup>
                        </td>

                        

                        {# 부담중량 #}
                        <td style="font-size: 1.0rem; text-align: center;">
                          <div style="font-size: 1.0rem; text-align:left; font-family: Arial;">{% if handycap %}{{handycap}}{% endif %}</div>
                        </td>

                        

                        {# 조교사 or 기수 #}
                        {% if awardee == 'jockey' %}
                        <td style="font-size: 1.1rem">
                          <a href="{% url 'get_race_awardee' r_condition.rdate 'trainer' trainer_a jockey_a trainer_a host_a %}"
                            onclick="window.open(this.href, '_blank', 'width=1000, height=700, toolbars=no, scrollbars=yes'); return false;">
                            {% if trainer_a|cut:" " == t_awardee|slice:"5:8"|cut:" " %}
                            <div style="color:var(--color-r1); text-align: left;">{{trainer_a|slice:"0:3"}}</div>
                            {%else%}
                            <div style="color:var(--color-gray); text-align: left;">{{trainer_a|slice:"0:3"}}</div>
                            {%endif%}
                          </a>
                        </td>
                        {# 기수 조교사 연대 복승율 #}
                        <td>
                          <div style="font-size: 1.0rem; text-align:right; font-family: Arial; color:dodgerblue">{% if jt_per %}{{jt_per}}{% endif %}</div>
                        </td>
                        {% else %}
                        <td style="font-size: 1.1rem">
                          <a href="{% url 'get_race_awardee' r_condition.rdate 'jockey' jockey_a jockey_a trainer_a host_a %}"
                            onclick="window.open(this.href, '_blank', 'width=1000, height=700, toolbars=no, scrollbars=yes'); return false;">
                            {% if jockey_a|cut:" " == t_awardee|slice:"5:8"|cut:" " %}
                            <div style="color:var(--color-r1); text-align: left;">{{jockey_a}}</div>
                            {%else%}
                            <div style="color:var(--color-gray); text-align: left;">{{jockey_a}}</div>
                            {%endif%}
                          </a>
                        </td>
                        {# 기수 조교사 연대 복승율 #}
                        <td>
                          <div style="font-size: 1.0rem; text-align:right; font-family: Arial; color:dodgerblue">{% if jt_per %}{{jt_per}}{% endif %}</div>
                        </td>
                        {% endif %}

                        {# 마주 #}
                        <td style="font-size: 1.1rem">
                          <a href="{% url 'get_race_awardee' r_condition.rdate 'host' host_a jockey_a trainer_a host_a %}"
                            onclick="window.open(this.href, '_blank', 'width=1000, height=700, toolbars=no, scrollbars=yes'); return false;">
                            {% if host_a|cut:" " == t_awardee|slice:"10:"|cut:" " %}
                            <div style="color:var(--color-r1); text-align: left;">{{host_a|slice:"0:3"}}</div>
                            {%else%}
                            <div style="color:var(--color-gray); text-align: left;;">{{host_a|slice:"0:3"}}</div>
                            {%endif%}
                          </a>
                        </td>
                        
                        <td>
                          {% if i_cycle <= 18 or i_cycle >= 70 %}
                            <div style="font-family: Arial; color:var(--color-r1); border-radius: 10px; background-color: var(--color-main);">{{i_cycle|div:7|floatformat:0}}</div>
                          {% else %}
                          <div style="font-family: Arial; color:var(--color-gray);">{{i_cycle|div:7|floatformat:0}}</div>
                          {% endif %}
                        </td>
                        
                        <td style="font-size: 1.1rem">
                          
                          {% if weather %}
                          <div>
                            {% if weather|slice:"0:1" == '맑' %}☀️
                            {% elif weather|slice:"0:1" == '흐' %}☁️
                            {% elif weather|slice:"0:1" == '비' %}☔️
                            {% elif weather|slice:"0:1" == '눈' %}☃️
                            {% else %}﹆
                            {% endif %}
                          </div>
                          
                          {% endif %}

                        </td>
                        <td align="left">
                          {% if rstate == '불량' or rstate == '포화' %}
                          <sub style="font-family: Arial; font-size: 1.1rem; color:tomato;">{{rstate|slice:"0:1"}}</sub>
                          <sup style="font-family: Arial; font-size: 1.0rem; color:tomato;">{{rmoisture}}</sup>
                          {% else %}
                          <sub style="font-family: Arial; font-size: 1.1rem;">{% if handycap %}{{rstate|slice:"0:1"}}{% endif %}</sub>
                          <sup style="font-family: Arial; font-size: 1.0rem;">{% if handycap %}{{rmoisture}}{% endif %}</sup>
                          {% endif %}

                        </td>

                        <td>
                          {% if rank == 1 %}
                          <div style="font-style: italic; color:var(--color-r1); font-weight: 500; font-size: 1.1rem; font-family: Arial;">
                            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
                          </div>
                          {% elif rank == 2 %}
                          <div style="font-style: italic; color:var(--color-r2); font-weight: 500; font-size: 1.1rem; font-family: Arial;">
                            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
                          </div>
                          {% elif rank == 3 %}
                          <div style="font-style: italic; color:var(--color-r3); font-weight: 500; font-size: 1.1rem; font-family: Arial;">
                            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
                          </div>
                          
                          {% else %}
                          <div style="font-style: italic; color:var(--color-gray); font-size: 1.1rem; font-family: Arial;">
                            {% if rank > 20 %}﹆{% else %} {{record|slice:"0:1"}}&nbsp;{{record|slice:"1:6"}} {% endif %}
                          </div>
                          {% endif %}

                        </td>
                        
                        <td style="font-size: 1.1rem;">
                          {% if gate == gate_a %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:aquamarine; padding: 2px 4px;">
                            {% if rank > 20 %}﹆{% else %} {{gate_a}} {% endif %}
                          </span>
                          {% else %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:bisque; padding: 2px 4px;">
                            {% if rank > 20 %}﹆{% else %} {{gate_a}} {% endif %}
                          </span>
                          {% endif %}
                          
                        </td>
                        <td style="font-size: 1.0rem; font-family: Arial;">
                          {% if corners %}
                            <div style="color:rgb(0, 128, 255); text-align: center; font-style: italic; font-family: Arial;">
                              {{corners}}
                            </div>
                          {% endif %}
                        </td>

                        <td style="font-size: 1.1rem; font-family: Arial;">
                          {% if rank == 1 %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:var(--color-r1); color:var(--color-light); padding: 2px 4px;">
                            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
                          </span>
                          {% elif rank == 2 %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:var(--color-r2); color:var(--color-light); padding: 2px 4px;">
                            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
                          </span>
                          {% elif rank == 3 %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:var(--color-r3); color:var(--color-bg); padding: 2px 4px;">
                            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
                          </span>
                          {% elif rank == 4 %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:var(--color-r4); color:var(--color-bg); padding: 2px 4px;">
                            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
                          </span>
                          {% elif rank == 5 %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:var(--color-r5); color:var(--color-light); padding: 2px 4px;">
                            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
                          </span>
                          
                          {% else %}
                          <span style="font-family: Arial; border-radius: 10px; background-color:bisque; padding: 2px 4px;">
                            {% if rank > 20 %}﹆{% else %} {{rank}} {% endif %}
                          </span>
                          {% endif %}
                        </td>

                        <td align="center">
                          {% if gap %}
                          <sup style="font-size: 0.9rem; font-family: Arial;">
                            {% if rank < 20 %}{{gap}}{% endif %}
                            
                          </sup>
                          {%endif%}
                          <span style="color: var(--color-r1);">◦</span>
                          {% if gap_b %}
                          <sub style="font-size: 0.9rem; font-family: Arial;">
                            {% if rank < 20 %}{{gap_b}}{% endif %}
                          </sub>
                          {%endif%}
                        </td>

                        

                        <td style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
                          <sup>
                          {% if pop_rank %}
                          {% if grade|slice:"0:2" == '주행' %}
                          {% else %}
                            {% if pop_rank == 1 %}
                            <span style="font-style: italic; color:var(--color-r1); font-size: 1.1rem;">
                              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
                            </span>
                            {% elif pop_rank == 2 %}
                            <span style="font-style: italic; color:var(--color-r2); font-size: 1.1rem;">
                              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
                            </span>
                            {% elif pop_rank == 3 %}
                            <span style="font-style: italic; color:var(--color-r3); font-size: 1.1rem;">
                              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
                            </span>
                            {% else %}
                            <span style="font-style: normal; color:var(--color-gray); font-size: 1.1rem;">
                              {% if pop_rank > 20 %}﹆{% else %} {{pop_rank}} {% endif %}
                            </span>
                            {% endif %}
                          </sup>

                            <span style="color:var(--color-r5);">◦</span>

                          <sub>
                            {% if p_rank %}
                              {% if p_rank == 1 %}
                              <span style="font-style: italic; color:var(--color-r1); font-size: 1.1rem; text-align: right;">
                                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                              </span>
                              {% elif p_rank == 2 %}
                              <span style="font-style: italic; color:var(--color-r2); font-size: 1.1rem; text-align: right;">
                                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                              </span>
                              {% elif p_rank == 3 %}
                              <span style="font-style: italic; color:var(--color-r3); font-size: 1.1rem; text-align: right;">
                                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                              </span>
                              {% else %}
                              <span style="font-style: normal; color:var(--color-gray); font-size: 1.1rem; text-align: right;">
                                {% if p_rank > 20 %}﹆{% else %} {{p_rank}} {% endif %}
                              </span>
                              {% endif %}
                            {% endif %}
                          {% endif %}
                          {% endif %}
                          </sub>
                        </td>
                        
                        
                        <td align="right" style="font-size: 1.15rem; font-family: Arial;">
                        {% if alloc1r %}
                          {% if rank <= 3 %}
                            <span style="color:var(--color-r1); font-weight: 500; font-family: Arial;">{{alloc3r}}</span>
                          {%else%}
                            <span style="font-family: Arial; color:var(--color-gray);">{{alloc3r}}</span>
                          {%endif%}
                        {%endif%}
                        </td>

                        <td align="right" style="border-radius: 10px; background-color:var(--color-light);"> {# 주로빠르기 #}
                          {% if race_speed == '③' %}
                          <sub style="font-size: 1.1rem; font-family: Arial; color:var(--color-r1);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub><sup style="font-family: Arial; font-size: 1.1rem; color:var(--color-r1);">&nbsp;3</sup>
                          {% elif race_speed == '④' %}
                          <sub style="font-size: 1.1rem; font-family: Arial; color:var(--color-r2);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub><sup style="font-family: Arial; font-size: 1.1rem; color:var(--color-r1);">&nbsp;4</sup>
                          {% elif race_speed == '⑤' %}
                          <sub style="font-size: 1.1rem; font-family: Arial; color:var(--color-bg);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub><sup style="font-family: Arial; font-size: 1.1rem; color:var(--color-r1);">&nbsp;5</sup>
                          {% elif race_speed == '⑥' %}
                          <sub style="font-size: 1.1rem; font-family: Arial; color:var(--color-gray);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub><sup style="font-family: Arial; font-size: 1.1rem; color:var(--color-r1);">&nbsp;6</sup>
                          {% elif race_speed == '⑦' %}
                          <sub style="font-size: 1.1rem; font-family: Arial; color:var(--color-r3);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub><sup style="font-family: Arial; font-size: 1.1rem; color:var(--color-r1);">&nbsp;7</sup>
                          {% elif race_speed == '⑧' %}
                          <sub style="font-size: 1.1rem; font-family: Arial; color:var(--color-r4);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub><sup style="font-family: Arial; font-size: 1.1rem; color:var(--color-r1);">&nbsp;8</sup>
                          {% else %}
                          <sub style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5);">{% if adv_track == 0 %}&nbsp;{% else %}{{adv_track|floatformat:0}}{% endif %}</sub><sup style="font-family: Arial; font-size: 1.1rem; color:var(--color-r1);">&nbsp;{% if race_speed %}{{race_speed}}{% else %}&nbsp;{% endif %}</sup>
                          {% endif %}
                        </td>

                      </tr>
                      {%endif%}

                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </td>
            </tr>

      
            {% endfor %}
          </tbody>
        </table>
      
    </div>

  </div>

</main>

<script>
  $(window).on('load', function () {
    $('.loader').fadeOut();
  });
</script>

{% endblock %}

{% include 'footer.html' %}

</html>