<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>Let's Enjoy! 인기도 입력</title>


</head>

{% block content %}
<br>
<br>

  <div class="container">
    <div>
      
      {% for race in exp011s %}
        {% if forloop.counter == 1 %}

        <div class="room__top">
          <div class="room__topLeft">
        
            <a href="{% url 'update_popularity' race.rcity race.rdate race.rno|add:-1 %}">
              <span class="tooltip" style="color:var(--color-main); font-size: 1.5rem;">◀︎
                <span class="tooltip-text" style="font-size:1.4rem; text-align: right; font-family: Arial; z-index: 3;">
                  이전 경주
                </span>
              </span>
            </a>
            <span class="tooltip" style="font-size: 1.5rem;">🏇</span>
            <a href="{% url 'update_popularity' race.rcity race.rdate race.rno|add:1 %}">
              <span class="tooltip" style="color:var(--color-main); font-size: 1.5rem;">▶︎
                <span class="tooltip-text" style="font-size:1.4rem; text-align: right; font-family: Arial; z-index: 3;">
                  다음 경주
                </span>
              </span>
            </a>

            <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{race.rcity}}</span>
            <span
              style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{race.rdate|slice:"0:4"}}.{{race.rdate|slice:"4:6"}}.{{race.rdate|slice:"6:8"}}</span>
            
            <span style="font-size:1.7rem; color: var(--color-main); font-weight: 600;">{{race.rno}}R</span>
            <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{race.grade|slice:"0:2"}}</span>
            <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{race.dividing}}</span>
            <span style="font-size:1.5rem; color: var(--color-main); font-weight: 600;">{{race.rname}} </span>
        
          </div>
        
          <div class="room__topRight" style="color: var(--color-main); font-weight: 600;">
            <a href="{% url 'update_popularity' race.rcity race.rdate race.rno|add:1 %}">
              <span class="tooltip" style="color:var(--color-main); font-size: 1.5rem;">▶︎
                <span class="tooltip-text" style="font-size:1.4rem; text-align: right; font-family: Arial; z-index: 3;">
                  다음 경주
                </span>
              </span>
            </a>
          </div>
        
        
        </div>
        
        {% endif %}
      {% endfor %}



      <div>
        <form class="form" action="" method="POST" enctype="multipart/form-data">
          
          <table class="rwd-table">

            <thead>
              <tr>
                              <th>마번</th>
                              <th>마명</th>
                              <th>예상순위</th>
                              <th>예상기록</th>
                              <th>조교사</th>
                              <th>기수</th>
                              <th>출주마 인기도</th>
                              <th>경주순위</th>
              </tr>
                              
            </thead>
            <tbody>
        
              {% csrf_token %}
              {% for race in exp011s %}
              <tr align="middle">
                <td>{{race.gate}}</td>
                <td align="right">{{race.horse}}</td>
                <td>{{race.rank}}</td>
                <td>{{race.complex}}</td>

                <td align="left">{{race.trainer}}</td>
        
                <td align="left">{{race.jockey}}</td>
        
                <td>
                  <div style="font-family: Arial;">
                    <input name="pop_{{race.gate}}" style="text-align:right;" type="number" min="0" max="100" value="{{race.r_pop}}" />
                  </div>
                </td>
                <td>
                  <div style="font-family: Arial;">
                    <input name="pop_{{race.gate}}" style="text-align:right;" type="number" min="0" max="100" value="{{race.r_rank}}" /></div>
                </td>
        
              </tr>
              {% endfor %}
        
            </tbody>
          </table>

          <input name="pop_{{race.jockey}}" style="text-align:right;" type="number" min="0" max="100" value="{{race.r_rank}}" />

          <br>

          <div class="form__action">
            <a class="btn btn--dark" href="{% url 'home' %}">Cancel</a>
            <button class="btn btn--main" type="submit">Update</button>
          </div>
        </form>
      </div>

    </div>

  </div>



{% endblock content %}