<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/number-9.png' %}" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>&nbsp;입상마 경주전개 현황</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>

</head>

{% load mathfilters %}
{% load humanize %}

{% block content %}

<!-- <main class="create-room layout"> -->
<main class="create-room layout">
  <div class="container">
    <div class="container">

      {# Header #}
      <div class="room__top" style="z-index:1; border-radius: 5px; background-color: var(--color-dark);">
        <div class="room__topLeft" style="z-index:1; border-radius: 5px; background-color: var(--color-dark);">

          <a href="#" class="header__logo" style="height:3.3rem; width: 3.3rem; padding-top: 0.9rem;">
            <span class="tooltip" onclick="location.reload();">
              <img src="{% static 'images/top_left.png' %}" style="border-radius:50%" />
            
              <span class="tooltip-text" style="z-index: 9; font-style: normal; font-size: 1.2rem;">🔄&nbsp;&nbsp;새로고침</span>
            </span>
          </a>

          <span style="font-family: Arial, Helvetica, sans-serif; font-size: 1.4rem; color:var(--color-light); padding-bottom: 0.4rem;">&nbsp;입상마 경주전개 현황</span>
        </div>
      </div>

      <hr style="border: solid 1px black;">

      {% include 'base/m_thethe9_ranks.html' %}

    </div>
  </div>
</main>
{% endblock %}

{% include 'footer.html' %}

</html>