<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/number-9.png' %}" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>&nbsp;입상마 경주전개 현황</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>

</head>

{% load mathfilters %}
{% load humanize %}

{% block content %}

<!-- <main class="create-room layout"> -->
<main class="create-room layout">
  <div class="container">
    <div class="container">

      {# Header #}
      <div class="room__top" style="z-index:1; border-radius: 5px;">
        <div class="room__topLeft" style="font-size: 1.3rem;">

          <span>🔂</span>
          <span style="font-size: 1.3rem; color:var(--color-light)">{{status.0.0}}&nbsp;{{status.0.1|slice:"0:4"}}.{{status.0.1|slice:"4:6"}}.{{status.0.1|slice:"6:8"}}&nbsp;입상마 경주전개 현황</span>

        </div>

      </div>

      <hr style="border: solid 1px black;">

      {% include 'base/m_thethe9_ranks.html' %}


    </div>
</main>
{% endblock %}

{% include 'footer.html' %}

</html>