<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/number-9.png' %}" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <script src="{% static 'js/script.js' %}"></script>

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>

  <title>&nbsp;입상마 경주전개 현황</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFZZL101LZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BFZZL101LZ');
  </script>

</head>

{% load mathfilters %}
{% load humanize %}

{% block content %}

<!-- <main class="create-room layout"> -->
<main class="create-room layout">
  <div class="container">
    <div class="container">

      {# Header #}
      <div class="room__top" style="z-index:1; border-radius: 5px;">
        <div class="room__topLeft" style="font-size: 1.3rem;">

          <span>🔂</span>
          <span style="font-size: 1.3rem; color:var(--color-light)">{{status.0.0}}&nbsp;{{status.0.1|slice:"0:4"}}.{{status.0.1|slice:"4:6"}}.{{status.0.1|slice:"6:8"}}&nbsp;입상마 경주전개 현황</span>

        </div>

      </div>

      <hr style="border: solid 1px black;">

      <table class="rwd-table" style="background-color: var(--color-dark); z-index: 0;">
          <tr>

            <th colspan="2" style="font-size: 1.2rem;">
              <span>경주정보</span>
            </th>
            
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><span>Horse</span></th>
            <th colspan="2" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><span>마체중</span></th>
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><span>부중</span></th>
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><span>기수</span></th>
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><span>J&T</span></th>
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><span>조교사</span></th>
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><span>P.R</span></th>
            <th colspan="1" style="font-size: 0.9rem; background-color: var(--color-dark); border-radius: 7px;"><span>thethe9</span></th>
            <th colspan="1" style="font-size: 0.9rem; background-color: var(--color-dark); border-radius: 7px;"><span>-</span></th>
            <th colspan="1" style="font-size: 0.9rem; background-color: var(--color-dark); border-radius: 7px;"><span>record</span></th>
            <th colspan="1" style="font-size: 1.2rem;"><span>연식</span></th>
            <th colspan="1" style="font-size: 1.2rem;"><span>주기</span></th>
            <th colspan="1" style="font-size: 1.2rem;"><span>Pop.</span></th>
            <th colspan="1" style="font-size: 1.2rem;"><span>R</span></th>
            <th colspan="1" style="font-size: 1.2rem;"><span>G</span></th>
            <th colspan="1" style="font-size: 1.2rem;"><sup style="font-size: 0.9rem; color:var(--color-r3);">s1f_r</sup></th>
            <th colspan="1" style="font-size: 1.2rem;">Corners</th>
            <th colspan="1" style="font-size: 1.2rem;"><sup style="font-size: 0.9rem; color:var(--color-r3);">g1f_r</sup></th>
            <th colspan="1" style="font-size: 1.2rem;"><sup style="font-size:0.9rem;">r</sup><span>S1F</span></th>
            <th colspan="1" style="font-size: 1.2rem;"><sup style="font-size:0.9rem;">r</sup><span>G3F</span></th>
            <th colspan="1" style="font-size: 1.2rem;"><sup style="font-size:0.9rem;">r</sup><span>G1F</span></th>
            
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><sup style="font-size:0.9rem;">p</sup><span>S1F</span></th>
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><sup style="font-size:0.9rem;">p</sup><span>G3F</span></th>
            <th colspan="1" style="font-size: 1.2rem; background-color: var(--color-dark); border-radius: 7px;"><sup style="font-size:0.9rem;">p</sup><span>G1F</span></th>
            
          </tr>

          {% for rcity, rdate, rno, rday, distance, grade, dividing, horse, jockey, trainer, host, h_weight, handycap, gate, rank, r_rank, corners, r_s1f, r_g3f, r_g1f, s1f_rank, g3f_rank, g2f_rank, g1f_rank, cs1f, cg3f, cg1f,i_cycle, r_pop, alloc1r, alloc3r, complex, r_record, track, jt_per, jt_cnt, jt_1st, jt_2nd, jt_3rd, jockey_old, reason in status %}
          
          {% if forloop.counter0|divisibleby:3 %}
          <tr style="border-top: 1px solid gray;" >
          {% else %}
          <tr>
          {% endif %}

            {# 경주번호 #}
            <td style="border-right: 1px solid var(--color-bg);">
              {% if forloop.counter0|divisibleby:3 %}
              <a href="{% url 'race_result' rcity rdate rno horse 0 0 0 %}"
                onclick="window.open(this.href, 'w_result', 'width=1000, height=1000, top=10,left=10 toolbars=no, scrollbars=yes' ); return false;">
                <div style="text-align: left;">
                  <span style="font-size: 1.1rem; font-family: Arial;">'{{rdate|slice:"4:6"}}.{{rdate|slice:"6:8"}}</span>
                  <span style="font-size: 1.1rem; font-family: Arial;">({{rday}})</span>

                  <span width="10px" style="font-size: 1.1rem; font-family: Arial; width:100px; text-align: right;">
                    {{rno}}ᴿ
                  </span>
                </div>
              </a>
              {% else %}
              {% endif %}
            </td>

            {# distance #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              {% if forloop.counter0|divisibleby:3 %}
              <span style="font-size: 1.1rem; font-family: Arial; color: var(--color-light);">{{distance}}</span>
              {% endif %}
            </td>
            
            
            
            {# 마명 #}
            <td align="left" style="font-size: 1.1rem; border-right: 1px solid var(--color-bg);">
              <a href="{% url 'get_race_horse' rdate 'horse' horse jockey trainer host %}">
                <div style="font-family: Arial; text-align: left;">
                  {{horse|slice:"0:5"}}
                </div>
              </a>
            </td>

            {# 체중 #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              <div style="font-family: Arial; font-size:1.15rem;">
                {% if h_weight|slice:"0:3" <= '440' %}
                <span style="font-family: Arial; color:var(--color-r5);">{{h_weight|slice:"0:3"}}</span>
                {% elif h_weight|slice:"0:3" >= '500' %}
                <span style="font-family: Arial; color:var(--color-r2);">{{h_weight|slice:"0:3"}}</span>
                {% else %}
                <span style="font-family: Arial; color:var(--color-gray);">{{h_weight|slice:"0:3"}}</span>
                {% endif %}
              </div>
            </td>

            <td style="border-right: 1px solid var(--color-bg);">
              <div style="font-family: Arial; text-align: right;">
                {% if h_weight|slice:"4:" %}
                  {% if h_weight|slice:"4:5" == '+' %}
                  <div style="text-align:right; font-style: italic; font-size: 1.1rem;  color:var(--color-r5);">
                    <span style="font-family: Arial; border-radius: 7px; background-color: var(--color-bg); padding:0px 4px;">{{h_weight|slice:"4:"}}</span>
                  </div>
                  {% else %}
                  <div style="text-align:right; font-style: italic; font-size: 1.1rem;  color:var(--color-r1);">
                    <span style="font-family: Arial; border-radius: 7px; background-color: var(--color-bg); padding:1px 4px;">{{h_weight|slice:"4:"}}</span>
                  </div>
                  {% endif %}
                {% endif %}
              </div>
            </td>

            {# 부담중량 #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              {% for j_name, load_in in loadin %}
                {% if j_name == jockey %}
                  {% if handycap|floatformat:0 <= load_in|mul:1|floatformat:0 %}
                  <span style="padding:2px 4px; font-family: Arial; font-style:italic; font-size:1.05rem; color:var(--color-r3); border-radius:7px; background-color:var(--color-bg);">{{handycap}}</span>
                  {% elif handycap|floatformat:0 <= load_in|mul:1|add:1|floatformat:0 %}
                  <span style="padding:2px 4px; font-family: Arial; font-style:italic; font-size:1.05rem; color:var(--color-light); border-radius:7px; background-color:var(--color-dark-medium);">{{handycap}}</span>
                  {% else %}
                  <span style="font-family: Arial; font-size:1.12rem; color:var(--color-gray);">{{handycap}}</span>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </td>

            {# 기수 #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              <div style="font-size: 1.1rem; text-align: left; ">
        
                {% if jockey_old %} {# 기수변경 #}
                <span class="tooltip" style="font-style: italic; color:var(--color-r2);">{{jockey|slice:"0:3"}}
                  <span class="tooltip-text">
                    🐴 변경사유 : {{reason}}{% if jockey_old%}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;변경전 기수 : {{jockey_old}}{% endif %}
              
                  </span>
                </span>
              
                {% else %}
                <span class="tooltip" style="color:var(--color-light-gray);">{{jockey|slice:"0:3"}}              
                </span>
                {%endif %}
              
              </div>
            </td>

            <td style="border-right: 1px solid var(--color-bg);">
              {% if jockey_old %}
                {# 기수가 변경되었으면 기존 기수의 기록을 삭제 #}
                {% if jt_cnt %}
                <div class="tooltip" style="font-size: 1.1rem; text-align: right;">
                  {% if jt_3rd|mul:100|div:jt_cnt > 50 %}
                  <span style="font-family: Arial; color: var(--color-r1); text-decoration:line-through;">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                  {% elif jt_3rd|mul:100|div:jt_cnt > 20 and jt_3rd|mul:100|div:jt_cnt <= 50 %} 
                  <span style="font-family: Arial; color: var(--color-r3); text-decoration:line-through;">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                  {% else %}
                  <span style="font-family: Arial; color:var(--color-gray); text-decoration:line-through;">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                  {% endif %}
                  <sup style="color:var(--color-gray); font-size:1.0rem; text-decoration:line-through;">%</sup>
                    <span class="tooltip-text" style="font-family: Arial; font-size: 1.1rem;">
                      <div style="font-family: Arial; color:var(--color-main); text-align:center;">👥 {{jockey}}﹆{{trainer}}</div>
                      <div style="font-family: Arial; color:var(--color-main); text-align: left;">
                        <span style="font-family: Arial; color:var(--color-light)">최근 1년 출주 횟수</span>:
                        <span style="font-family: Arial; color:var(--color-r2); font-size: 1.2rem;">{{jt_cnt}}</span>/
                        <span style="font-family: Arial; color:var(--color-r3)">{{jt_1st}}</span>/
                        <span style="font-family: Arial; color:var(--color-r3)">{{jt_2nd|sub:jt_1st}}</span>/
                        <span style="font-family: Arial; color:var(--color-r3)">{{jt_3rd|sub:jt_2nd}}</span>
                      </div>
                      <div style="font-family: Arial; color:var(--color-main); text-align: left;">복승률 : {{jt_per}}</div>
                    </span>
                </div>

                {% endif %}

              {% else %}
                {% if jt_cnt %}
                  <div class="tooltip" style="font-size: 1.1rem; text-align: right;">
                    {% if jt_3rd|mul:100|div:jt_cnt > 50 %}
                    <span style="font-family: Arial; color: var(--color-r1);">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                    {% elif jt_3rd|mul:100|div:jt_cnt > 20 and jt_3rd|mul:100|div:jt_cnt <= 50 %} 
                    <span style="font-family: Arial; color: var(--color-r3);">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                    {% else %}
                    <span style="font-family: Arial; color: var(--color-light-gray);">{{jt_3rd|mul:100|div:jt_cnt|floatformat:"1"}}</span>
                    {% endif %}
                    <sup style="color:var(--color-gray); font-size:1.0rem;">%</sup>
                    <span class="tooltip-text" style="font-family: Arial; font-size: 1.1rem;">
                      <div style="font-family: Arial; color:var(--color-main); text-align:center;">👥 {{jockey}}﹆{{trainer}}</div>
                      <div style="font-family: Arial; color:var(--color-main); text-align: left;">
                        <span style="font-family: Arial; color:var(--color-light)">최근 1년 출주 횟수</span>:
                        <span style="font-family: Arial; color:var(--color-r2); font-size: 1.2rem;">{{jt_cnt}}</span>/
                        <span style="font-family: Arial; color:var(--color-r3)">{{jt_1st}}</span>/
                        <span style="font-family: Arial; color:var(--color-r3)">{{jt_2nd|sub:jt_1st}}</span>/
                        <span style="font-family: Arial; color:var(--color-r3)">{{jt_3rd|sub:jt_2nd}}</span>
                      </div>
                      <div style="font-family: Arial; color:var(--color-main); text-align: left;">복승률 : {{jt_per}}</div>
                    </span>
                  </div>

                {% endif %}
              
              {% endif %}
            </td>

            {# 조교사 #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              <div style="font-size: 1.1rem; font-family: Arial;">{{trainer|slice:"0:3"}}</div>
            </td>

            {# 예상순위 #}
            <td style="border-right: 1px solid var(--color-bg);">
              {% if rank == 1 %}
              <span style="color:var(--color-r1); font-size: 1.1rem; background-color: var(--color-bg); color: var(--color-r1); border-radius: 7px; padding: 2px 6px;">
                {% if rank > 20 %}🐥{% else %} {{rank}} {% endif %}
              </span>
              {% elif rank == 2 %}
              <span style="color:var(--color-r2); font-size: 1.1rem; background-color: var(--color-bg); color: var(--color-r2); border-radius: 7px; padding: 2px 6px;">
                {% if rank > 20 %}🐥{% else %} {{rank}} {% endif %}
              </span>
              {% elif rank == 3 %}
              <span style="color:var(--color-r3); font-size: 1.1rem; background-color: var(--color-bg); color: var(--color-r3); border-radius: 7px; padding: 2px 6px;">
                {% if rank > 20 %}🐥{% else %} {{rank}} {% endif %}
              </span>
              {% elif rank == 4 %}
              <span style="color:var(--color-r3); font-size: 1.1rem; color: var(--color-r4);">
                {% if rank > 20 %}🐥{% else %} {{rank}} {% endif %}
              </span>
              {% elif rank == 5 %}
              <span style="color:var(--color-r3); font-size: 1.1rem; color: var(--color-r5);">
                {% if rank > 20 %}🐥{% else %} {{rank}} {% endif %}
              </span>
              {% else %}
              <span style="font-style: normal; color:var(--color-gray); font-size: 1.1rem; padding: 2px 4px;">
                {% if rank > 20 %}🐥{% else %} {{rank}} {% endif %}
              </span>
              {% endif %}
            </td>

            {# complex #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              {% if rank == 1 %}
              <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r1);">
                {{complex}}
              </div>
              {% elif rank == 2 %}
              <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r2);">
                {{complex}}
              </div>
              {% elif rank == 3 %}
              <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r3);">
                {{complex}}
              </div>
              {% elif rank == 4 %}
              <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r4);">
                {{complex}}
              </div>
              {% elif rank == 5 %}
              <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5);">
                {{complex}}
              </div>
              
              {% else %}
              <div style="font-size: 1.1rem; font-family: Arial; color: var(--color-gray);">
                {{complex}}
              </div>
              {% endif %}
            </td>

            {# track #}
            <td align="right" style="border-right: 1px solid var(--color-bg);">
              <div style="font-size: 1.0rem; font-family: Arial;">{{track|floatformat:0}}</div>
            </td>

            {# record #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              {% if r_record %}
              {% if r_rank == 1 %}
              <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r1);">
                {{r_record}}
              </div>
              {% elif r_rank == 2 %}
              <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r2);">
                {{r_record}}
              </div>
              {% elif r_rank == 3 %}
              <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r3);">
                {{r_record}}
              </div>
              {% elif r_rank == 4 %}
              <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r4);">
                {{r_record}}
              </div>
              {% elif r_rank == 5 %}
              <div style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5);">
                {{r_record}}
              </div>
              
              {% else %}
              <div style="font-size: 1.1rem; font-family: Arial; color: var(--color-gray);">
                {{r_record}}
              </div>
              {% endif %}
              {% endif %}

            {# 연식 #}
            <td style="border-right: 1px solid var(--color-bg);">
              {% if alloc3r %}
                {% if alloc3r|mul:1 >= 3.0 %}
                <div style="font-family: Arial; font-size: 1.1rem; color:var(--color-r1); text-align: right;">{{alloc3r}}</div>
                {% elif alloc3r|mul:1 >= 2.0 %}
                <div style="font-family: Arial; font-size: 1.1rem; color:var(--color-r3); text-align: right;">{{alloc3r}}</div>
                {% else %}
                <div style="font-family: Arial; font-size: 1.1rem; color:var(--color-light-gray); text-align: right;">{{alloc3r}}</div>
                {% endif %}
              {% endif %}
            </td>
            
            {# 출주주기 #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              {% if i_cycle <= 18 or i_cycle >= 70 %}
              <div style="font-family: Arial; font-size: 1.0rem; color:var(--color-r1); border-radius: 10px; background-color: var(--color-bg);">{{i_cycle|div:7|floatformat:0}}</div>
              {% else %}
              <div style="font-family: Arial; font-size: 1.0rem; color:var(--color-gray);">{{i_cycle|div:7|floatformat:0}}</div>
              {% endif %}
            </td>

            {# 인기 #}
            <td style="text-align: center; font-family: Arial, Helvetica, sans-serif; border-right: 1px solid var(--color-bg);">
              {% if r_pop %}
              <span style="font-style: normal; color:var(--color-gray); font-size: 1.1rem;">
                <progress value={{r_pop}} max="99" style="width: 2.4rem">{{r_pop}}%</progress>
              </span>
              {% endif %}
            </td>

            {# Rank #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              {% if r_rank %}
                {% if r_rank == 1 %}
                <span style="color:var(--color-r1); font-size: 1.1rem; background-color: var(--color-bg); color: var(--color-r1); border-radius: 7px; padding: 2px 6px;">
                  {% if r_rank > 20 %}﹆{% else %} {{r_rank}} {% endif %}
                </span>
                {% elif r_rank == 2 %}
                <span style="color:var(--color-r1); font-size: 1.1rem; background-color: var(--color-bg); color: var(--color-r2); border-radius: 7px; padding: 2px 6px;">
                  {% if r_rank > 20 %}﹆{% else %} {{r_rank}} {% endif %}
                </span>
                {% elif r_rank == 3 %}
                <span style="color:var(--color-r1); font-size: 1.1rem; background-color: var(--color-bg); color: var(--color-r3); border-radius: 7px; padding: 2px 6px;">
                  {% if r_rank > 20 %}﹆{% else %} {{r_rank}} {% endif %}
                </span>
                {% elif r_rank == 4 %}
                <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-r4);">
                  {% if r_rank > 20 %}﹆{% else %} {{r_rank}} {% endif %}
                </span>
                {% elif r_rank == 5 %}
                <span style="font-size: 1.1rem; font-family: Arial; color:var(--color-r5);">
                  {% if r_rank > 20 %}﹆{% else %} {{r_rank}} {% endif %}
                </span>
              
                {% else %}
                <span style="font-size: 1.1rem; font-family: Arial; color: var(--color-gray);">
                  {% if r_rank > 20 %}﹆{% else %} {{r_rank}} {% endif %}
                </span>
                {% endif %}
              {% endif %}
            </td>
            <td align="center" style="border-right: 1px solid var(--color-bg);">
            
              <span style="font-family: Arial; font-size: 1.1rem; color: var(--color-light);">
                {% if r_rank > 20 %}﹆{% else %} {{gate}} {% endif %}
              </span>
            
            </td>

            {# s1f_rank #}
            <td align="right" style="font-size: 1.0rem; border-right: 1px solid var(--color-bg);">
              {% if s1f_rank >= 6 %}
              <span style="font-size: 1.05rem; font-family: Arial; color:var(--color-gray);">{{s1f_rank}}</span>
              {% elif s1f_rank >= 3 and s1f_rank < 6 %}
              <span style="font-size: 1.05rem; font-family: Arial; color:var(--color-r2);">{{s1f_rank}}</span>
              {% elif s1f_rank > 0 and s1f_rank < 3 %}
              <span style="font-size: 1.05rem; font-family: Arial; color:var(--color-r1);">{{s1f_rank}}</span>
              {% else %}
              <span style="font-size: 1.05rem; font-family: Arial; color:var(--color-gray);">-</span>
              {% endif %}
            </td>

            {# corners #}
            <td style="font-size: 1.0rem; border-right: 1px solid var(--color-bg);">
              <div style="text-align: center; font-family: Arial;">
                
                <span style="font-family: Arial, Helvetica, sans-serif;">
                  {% if corners %}
                    {% if corners|slice:"0:1" == '1' and corners|slice:"1:2" == '-' %}
                    <span style="font-size: 1.0rem; color:var(--color-r1);">{{corners}}</span>
                    {% elif corners|slice:"0:1" == '2' and corners|slice:"1:2" == '-' %}
                    <span style="font-size: 1.0rem; color:var(--color-r2);">{{corners}}</span>
                    {% elif corners|slice:"0:1" == '3' and corners|slice:"1:2" == '-' %}
                    <span style="font-size: 1.0rem; color:var(--color-r3);">{{corners}}</span>
                    {% else %}
                    <span style="font-size: 1.0rem; color:var(--color-gray);">{{corners}}</span>
                    {% endif %}
                  {% else %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color:var(--color-light-gray); border-radius: 7px; background-color: var(--color-bg); padding:2px 4px;">{% if g3f_rank %}{{g3f_rank|floatformat:1}}{% endif %}</span>
                    <span style="color:var(--color-light-gray); border-radius: 7px; background-color: var(--color-bg); padding:2px 4px;">{% if g2f_rank %}{{g2f_rank|floatformat:1}}{% endif %}</span>
                  {% endif %}
                </span>
                
              </div>
            </td>

            {# g1f_rank #}
            <td align="right" style="font-size: 1.0rem; border-right: 1px solid var(--color-bg);">
              {% if g1f_rank >= 6 %}
              <span style="font-size: 1.05rem; font-family: Arial; color:var(--color-gray);">{{g1f_rank}}</span>
              {% elif g1f_rank >= 3 and g1f_rank < 6 %}
              <span style="font-size: 1.05rem; font-family: Arial; color:var(--color-r2);">{{g1f_rank}}</span>
              {% elif g1f_rank > 0 and g1f_rank < 3 %}
              <span style="font-size: 1.05rem; font-family: Arial; color:var(--color-r1);">{{g1f_rank}}</span>
              {% else %}
              <span style="font-size: 1.05rem; font-family: Arial; color:var(--color-gray);">-</span>
              {% endif %}
            </td>

            {# s1f 결과 #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              <div>
                {% if r_s1f %}
                  {% if r_s1f > cs1f %}
                  <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-gray);">{{r_s1f}}</span>
                  {% elif r_s1f == cs1f %}
                  <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-light);">{{r_s1f}}</span>
                  {% else %}
                  <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-r3);">{{r_s1f}}</span>
                  {% endif %}
                {% endif %}
              </div>
            </td>
            {# g3f 결과 #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              <div>
                {% if r_g3f %}
                  {% if r_g3f > cg3f %}
                  <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-gray);">{{r_g3f}}</span>
                  {% elif r_g3f == cs1f %}
                  <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-light);">{{r_g3f}}</span>
                  {% else %}
                  <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-r3);">{{r_g3f}}</span>
                  {% endif %}
                {% endif %}
              </div>
            </td>
            {# g1f 결과 #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              <div>
                {% if r_g1f %}
                  {% if r_g1f > cg1f %}
                  <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-gray);">{{r_g1f}}</span>
                  {% elif r_g1f == cs1f %}
                  <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-light);">{{r_g1f}}</span>
                  {% else %}
                  <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-r3);">{{r_g1f}}</span>
                  {% endif %}
                {% endif %}
              </div>
            </td>
            
            
            
            {# s1f 예상 #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              <div>
                <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-light-gray);">{{cs1f}}</span>
              </div>
            </td>
            {# g3f 예상 #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              <div>
                <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-light-gray);">{{cg3f}}</span>
              </div>
            </td>
            {# g1f 예상 #}
            <td align="center" style="border-right: 1px solid var(--color-bg);">
              <div>
                <span style="font-family: Arial; font-size: 1.1rem; color:var(--color-light-gray);">{{cg1f}}</span>
              </div>
            </td>
            
            
          </tr>


          {% endfor %}
      </table>


    </div>
</main>
{% endblock %}

{% include 'footer.html' %}

</html>